[2015-07-24 15:06] s0undt3ch commented on #562
What version of the bootstrap script?

[2015-07-24 15:23] s0undt3ch commented on #632
I believe you must update your vagrant file to include `bootstrap_options: "-P"`

[2015-07-24 15:25] s0undt3ch commented on #635
Your initial  command was:

[code]

The error told you to include `-P`. So your initial command would become:

[code]

[2015-07-24 15:29] cryptolukas commented on #635
here  it works better for beginners

http://docs.saltstack.com/en/latest/topics/installation/ubuntu.html

[2015-07-24 15:29] #635 closed, assigned to nobody

[2015-07-24 15:32] Moulde commented on #562
Actually i don't really know. I use the default vagrant salt provisioner.
I am trying out your suggestion about adding bootstrap_options: "-P" to my vagrant file right at this moment.

[2015-07-24 15:37] s0undt3ch commented on #562
That has no interaction regarding the above urllib3 problem, which got fixed yesterday, so maybe the script is not yet up to date?

Can you make vagrant use the development version of the script?

[2015-07-24 16:54] Moulde commented on #562
I think i got it working by copying the develop bootstrap script from https://bootstrap.saltstack.com/develop to my project, and altering the vagrantfile by defining what bootstrap script it should use like so

[code]

Thank you for your help s0undt3ch :+1:

Now i just got to fix the next error... :)
https://github.com/mitchellh/vagrant/issues/5973

[2015-07-24 17:08] s0undt3ch commented on #562
Super!

[2015-07-24 21:43] dmick commented on #630
Why wouldn't this be fixed in the salt sources rather than opening the huge can of dependency worms of replacing a standard package and its dependencies with a ppa?

It's pretty easy to look for the text attribute on the Response object and cope if it's not present, and be compatible with both styles of python-requests.  Puzzled at the choice.

(and it's still not fixed, even after this, and 631,

[2015-07-24 22:09] jf commented on #630
Feel free to enlighten me here, guys, but... who is this Chris Lea, and how is he involved?

[2015-07-24 22:11] dmick commented on #630
all I know is he's some guy that maintains PPAs, and he's involved because he has a later revision of python-requests.  he wouldn't be, if the fix had been made to the salt source.

[2015-07-24 22:16] jf commented on #630
Gotcha, Dan. Well now if he simply goes about doing his stuff without an eye to Salt....

[2015-07-25 00:06] jfindlay opened #636 "Salt bootstrap of v2015.8.0rc2 puts files in /usr/local/bin, init.d script refers to /usr/bin"
### _Copy of https://github.com/saltstack/salt/issues/25692_

Running bootstrap-salt.sh to install on Amazon Linux

Using parameters:

[code]

Edited output:

[code]

[code]

[code]

[2015-07-25 00:06] jfindlay commented on #636
Fixed by writing an /etc/default/salt

[code]

[2015-07-25 05:53] jrosskopf opened #637 "Bootstrapping fails on a newly installed Ubuntu 12.04 Precise Machine"
I use Vagrant to provision (Ubuntu 12.04 Precise boxes)[https://atlas.hashicorp.com/ubuntu/boxes/precise64]. In this boxes the salt provisioner is used to confige the box. Since some days this bootstrapping action fails. After downloading and calling the bootstrap script I get the following output:

First the download

[code]

Then the actual bootstrap

[code]

So there is no viable package source

[2015-07-25 11:47] s0undt3ch commented on #636
We should instead do the install with `--prefix=/usr`

[2015-07-25 16:50] cdarwin commented on #637
It's being discussed 0b55243 and mitchellh/vagrant#6029

[2015-07-25 17:13] tedski commented on #637
A workaround is to force the `-P` flag in the Vagrantfile like so:

[code]

[2015-07-27 10:14] #636 closed, assigned to nobody

[2015-07-27 19:52] bradthurber opened #639 "salt-bootstrap fails with latest salt develop branch on RHEL 6.6"
I had to install the develop branch of salt on RHEL 6.6 to test a PR. After install I received the following error:

[code]

It took quite a bit of remove/install work to get the minion to startup on latest develop. Listing what I did here in case it is helpful to someone:

[code]

[2015-07-27 20:15] b4hand commented on #632
@s0undt3ch: Actually, I think the Vagrant salt provisioner hard codes the URL for the salt bootstrap script to be the stable version:

https://github.com/mitchellh/vagrant/blob/master/plugins/provisioners/salt/bootstrap-salt.sh#L5

[2015-07-28 08:47] Deshke opened #640 "salt-minon install bug on ubuntu 14.04 tornado>=4.0"
from https://github.com/saltstack/salt-bootstrap/commit/0b5524317258a715f2ceb4c69e89530f15bfe05f

trying to install the minion on a freshly installed ubuntu 14.04

[code]

broken at

[code]

[2015-07-28 11:12] dkerkow commented on #637
The -P flag workaround does not work for me. Instead I added an inline shell provisioner **before** the salt provisioner:

[code]

[2015-07-28 15:57] Moulde commented on #632
I downloaded the develop bootstrap-salt script and configured vagrant to use the downloaded script instead of downloading the stable one.

The changes i made to the vagrantfile:

[code]

This seems to fix the issue for me.

[2015-07-28 15:57] Moulde commented on #637
Adding -P worked for me, but i also had to use the develop version of the bootstrap-salt script.

I downloaded the develop bootstrap-salt script and configured vagrant to use the downloaded script instead of downloading the stable one.

The changes i made to the vagrantfile:

[code]

This seems to fix the issue for me.

[2015-07-29 00:00] VynceMontgomery opened #641 "Salt bootstrap documentation is out of date"
running the bootstrap script with no argument fails for me on ubuntu 14.04, saying i must specify -P. In addition, something is unclear here:

[code]

[2015-07-29 09:53] JordanP commented on #640
Confirmed on a fresh Ubuntu 14.04 with the -P option. But the installation continues and is successful.

[2015-07-30 22:43] johntron commented on #637
There are two issues here. Yes, Vagrant's gem needs to include the `-P` flag, but there also appears to be some dependency problems with Chris's python-requests package. Read carefully, and you'll see @jrosskopf is running the bootstrap (downloaded by Vagrant) manually from inside his VM with the `-P` flag.

[2015-07-31 22:10] mickadoo commented on #631
Should this have been fixed in develop? I'm still new to salt but running

[code]

From a VM running vivid still results in this error for me

[code]

[2015-08-03 23:14] Phlip commented on #632
here to confirm @Moulde 's workaround, on Vivid Vervet on amd64

[2015-08-04 20:18] benhosmer opened #643 "Bootstrap install of 2015.8.0rc2 fails on CentOS 6.6"
Related possible to #639 too, although the solution from that case didn't fix it for me:

[code]

[2015-08-04 20:19] benhosmer commented on #643
Quite likely related to: https://github.com/saltstack/salt/issues/25502

[2015-08-04 20:21] benhosmer commented on #643
The solution from https://github.com/saltstack/salt/issues/25502 solved this for me:

[code]

[2015-08-04 20:21] #643 closed, assigned to nobody

[2015-08-04 20:38] s0undt3ch commented on #643
Yep! We need a newer packaged pycrypto. It's going to be packaged and made available by SaltStack.

[2015-08-04 22:39] benhosmer commented on #643
Is anyone assigned or working on that actively right now? I assume we only need this for 6, since 7 installed fine for me. I'd be willing to help out with that if no one is actively working on it. You're talking about a COPR repo too correct?

[2015-08-05 08:08] s0undt3ch commented on #643
By the time Beryllium is out, so will be the dependency chain in a SaltStack hosted repository.

[2015-08-05 13:03] benhosmer commented on #643
So, at the risk of being told "when it's ready", what's the estimate for Beryllium?

[2015-08-05 13:29] oldskool commented on #631
I'm also still having this problem, despite the update in https://github.com/dmick/salt-bootstrap/commit/7ece1993d83db0dd2395d570782e4321b98b8d17

[2015-08-05 13:32] DavidJFelix commented on #631
Just stating for the record: My solution was to not use salt-bootstrap. It's a complex bash script and if it's not going to consistently work, I can't afford to base my work on it. I was able to replace it in my workflow with 4 individual scripts per platform which were each < 10 LOC.

[2015-08-05 13:36] edouardb opened #644 "#630 introduces regression on ARMHF"
Hello,

The modification in  `salt/cloud/deploy/bootstrap-salt.sh` that solved issue #630 commit https://github.com/s0undt3ch/salt/commit/165f9ae659c906ce3772cd1aef81e1e8f0b5349b  create a new one on ARMHF.

The Chris Lea's PPA doesn't contain binary ARM package for `python-requests` and `python-chardet`

Following is what I get:

[code]

[2015-08-05 15:03] AmitChotaliya opened #645 "not working with salt-cloud shows unknown locale error"
I am using salt-cloud to create instances and passing a specific version for salt-minion as script argument.

[code]

I am getting the following error.

[code]

[2015-08-06 04:57] AmitChotaliya commented on #645
I even tried without passing any script args and it still does not work. I used it without passing any script args a month back It worked then.

[2015-08-06 10:14] jpic commented on #632
For some reason that doesn't work on travis: https://travis-ci.org/saltstack-formulas/jenkins-formula/jobs/74122862

Any idea ?

saltstack-formulas/jenkins-formula#26

[2015-08-06 12:19] #645 closed, assigned to nobody

[2015-08-06 13:15] s0undt3ch commented on #631
Yes, it is a complex script which tries to handle many scenarios in many distributions, but I'm glad you could get around this latest breakage.

[2015-08-06 13:21] s0undt3ch commented on #641
The documentation states some scenarios, and when required versions are not available as system packages, the -P is used to allow installation of packages from PyPi which should be explicitly passed. This is the case with the latest stable release but next stable release might have already overcome that necessity.

Regarding you comment about being unclear, `stable` is used for stable releases, co

[2015-08-06 13:21] #641 closed, assigned to nobody

[2015-08-06 13:35] #640 closed, assigned to nobody

[2015-08-06 13:44] s0undt3ch commented on #601
We have dropped support for Ubuntu EOL versions. All Ubuntu version before 12.04.

[2015-08-06 13:44] #601 closed, assigned to nobody

[2015-08-06 13:45] s0undt3ch commented on #594
We have dropped support for Ubuntu EOL versions. All Ubuntu version before 12.04.

[2015-08-06 13:45] #594 closed, assigned to nobody

[2015-08-06 13:45] s0undt3ch commented on #512
We have dropped support for Ubuntu EOL versions. All Ubuntu version before 12.04.

[2015-08-06 13:45] #512 closed, assigned to nobody

[2015-08-06 13:46] s0undt3ch commented on #637
A new stable release is out which addresses this. You still need the `-P` flag though.

[2015-08-06 13:46] #637 closed, assigned to nobody

[2015-08-06 13:51] s0undt3ch commented on #632
The next travis build, as long as it pulls the latest stable, should run(make sure to pass `-P` to the bootstrap script.

[2015-08-06 14:26] DavidJFelix commented on #631
No, you misunderstood. My workaround was that I'm not using salt-bootstrap any more. I'm manually bootstrapping it myself using distro-specific install instructions listed in the wiki.

[2015-08-06 14:32] johntron commented on #637
Thanks @s0undt3ch!

[2015-08-06 16:06] s0undt3ch commented on #631
Yes, I did understand :smile:

[2015-08-11 16:58] gruaig opened #646 "Systemd ubuntu 15.04 error"
Hey we are using ubuntu 15.04 with up-start and not systemd which is enabled by default.
The problem occurs here  line 2016

[code]

As installing up-start does not remove the files the bootstrap will actually fail after this. To get around this I removed the /bin/systemctl file. Works fine afterwards.

Maybe we should put in a better check to see if its upstart or systemd that is actually enabled

[2015-08-12 21:48] rallytime commented on #603
@s0undt3ch We didn't need to pass `-Z` before...why do we need to pass that in now? Is there no way to go back to the previous behavior?

It works if you pass in the `-Z`, but does not work without it.

[2015-08-12 21:59] s0undt3ch commented on #603
I only enforce -Z because its an external repo. Once we host our dep chain, we won't need that flag anymore.

[2015-08-12 22:00] rallytime commented on #603
OK sounds good. I wondered if we could just do what we were doing before, but that makes sense. Hopefully that will be soon. :)

[2015-08-12 22:01] s0undt3ch commented on #603
Though, we do use other external repos without requiring a flag...

[2015-08-12 22:03] rallytime commented on #603
Yeah...

[2015-08-21 22:07] v6 commented on #512
// , Sounds good.

[2015-08-23 20:52] ghost opened #647 "Ubuntu 15.04 packages for 2015.5.3 not available."
Hi,
I am getting `libnacl import error` errors in Ubuntu 15.04 using 2015.5.0 (https://github.com/saltstack/salt/issues/21191). But I can't upgrade to 2015.5.2+. Can you please add 2015.5.3 packages for Ubuntu 15.04 ?

https://launchpad.net/~saltstack/+archive/ubuntu/salt?field.series_filter=vivid

Thanks.

[2015-08-25 01:54] #647 closed, assigned to nobody

[2015-08-25 12:21] syphernl opened #648 "Bootstrap fails on Ubuntu 14.04 via Vagrant provisioner"
With recent changes it is required to add the following to the Vagrantfile:

[code]

Pretty annoying to have this, since we have a large number of boxes and fresh installs are causing issues.

However, even with the `-P` flag it isn't properly provisioning either:

[code]

The second run of `vagrant provision` results in:

[code]

Since we use Salt (with Vagrant) on a daily basis this is causing q

[2015-08-25 12:50] s0undt3ch commented on #648
Have you tried starting the minion by hand on that vagrant box? What's on the minion's log file?

[2015-08-25 13:00] syphernl commented on #648
After a clean provision:

[code]

Since it is missing the configuration it is communicating with the production-master instead. Or at least trying to..

Perhaps this is more of a Salt-Vagrant provisioning issue rather than one for the Bootstrap although it was working fine before earlier and only started whenever the `-P` flag was introduced / required.

Having just the `-P` flag for `salt.install

[2015-08-25 20:47] tehmaspc commented on #648
+1 on having this issue; sucky; breaks my vagrant/serverspec testing of salt; i'm sad :(

(going to try workaround)

[2015-08-28 13:06] johngrasty opened #649 "SmartOS pkgsrc dependency"
Installed 2015.5.3 via bootstrap script. `salt-call pkg.installed tmux` failed. Debug output is below. I resolved that error with `pkgin in py27-cElementTree`

Adding `py27-cElementTree` to [line 4204](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L4204) of the script should fix this.

[2015-08-28 13:07] johngrasty commented on #649
Ahhh. I forgot the debug output:

[code]

[2015-08-28 13:47] saltstack-bot opened #650 "Bootstrap fails on Ubuntu 14.04 via Vagrant provisioner"
<a href="https://github.com/saltstack-bot"><img src="https://avatars.githubusercontent.com/u/13677987?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [saltstack-bot](https://github.com/saltstack-bot)**
_Fri Aug 28 13:46:06 2015_
_Originally opened as https://github.com/saltstack/salt/issues/26731_

---

<a href="https://github.com/syphernl"><img src="https://avatars.gith

[2015-08-28 13:48] #650 closed, assigned to nobody

[2015-08-28 13:48] #649 closed, assigned to nobody

[2015-08-28 17:06] thenewwazoo commented on #648
This appears to be yet another regression of #370

[2015-08-31 14:15] bemeyert opened #651 "Bootstrapping in CentOS not possible because COPR was down."
Today copr was down for some time. At this time I wasn't able to bootstrap any of my CentOS Vagrant-boxes. Here the last few lines:

[code]

Digging through the code I found out that the COPR repo files must be downloaded. Otherwise the scrip fails. Is this the desired behaviour?

[2015-08-31 15:55] s0undt3ch commented on #651
It is the desired behavior, but we're getting close to provide a more stable source for the packages we need for the several distributions that we support.

[2015-08-31 17:16] bemeyert commented on #651
@s0undt3ch Thanks a lot for the info. There's a light somewhere :-)

[2015-08-31 17:16] bemeyert commented on #651
Damn, forgot to close this one....

[2015-08-31 17:16] #651 closed, assigned to nobody

[2015-09-04 19:01] rallytime opened #652 "Bootstrap Fails on Joyent Ubuntu 14.04 images"
This appears to be something going on with upstart on these particular images, as I don't see this on EC2 or Linode Ubuntu images. Basically the daemons fail to start because upstart doesn't think salt exists, even though the files are there.

Running `/sbin/initctl reload-configuration` manually on the box and then `start salt-minion` allows the minion to start successfully.

I tried adding this

[2015-09-14 14:05] NoKriK commented on #644
Hi,

I'm also affected by this issue, it doesn't work anymore on armhf. :(

When will this regression be fixed?

[2015-09-14 14:07] moul commented on #644
:+1:

[2015-09-17 15:00] saltstack-bot opened #655 "Add bootstrap -b flag (don't install dependencies)"
<a href="https://github.com/eyj"><img src="https://avatars.githubusercontent.com/u/9105111?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [eyj](https://github.com/eyj)**
_Thu Sep 17 14:04:18 2015_
_Originally opened as https://github.com/saltstack/salt/pull/27190_

---

We are currently dealing with an environment where we are using our own apt package snapshot servers,

[2015-09-17 15:02] s0undt3ch commented on #655
This issue was moved to the bootstrap repository because this is where the changes should happen. Can I please ask you to re-submit your pull request against the develop branch of this repo @eyj? Thanks!

[2015-09-17 15:16] eyj commented on #655
I resubmitted it, so this issue can be closed, I think. BtW, are you aware that there are some differences between the script in salt-bootstrap and salt?

[2015-09-17 15:58] s0undt3ch commented on #655
Yes, and thats precisely why I asked you to submit your PR against this repo. Salt only gets the stable releases of the script. Your change is on the develop version which will soon end up in stable and then merged into salt.

[2015-09-17 15:59] #655 closed, assigned to nobody

[2015-09-19 03:46] samhamilton opened #659 "Debian 8 Bootstrap points to old reop"
If you run `# salt-cloud -m cloud.map` for a Debian 8 minion then the bootstrap script uses the old repo address of http://debian.saltstack.com instead of the updated address http://repo.saltstack.com as per your [docs here](https://docs.saltstack.com/en/latest/topics/installation/debian.html) which then means it installed Salt 2015.5.3 instead of the latest 2105.8 which the master (also on Debian

[2015-09-19 08:39] jfindlay commented on #659
@samhamilton, thanks for the report.

[2015-09-19 10:14] s0undt3ch commented on #659
The migration of the script to the new repository is scheduled and should soon be complete.

[2015-09-25 13:28] alxbse commented on #659
I'm currently stuck on a use-case with this as a blocker. Is there a time estimate on when i might be resolved? Anything I can do to help?

[2015-09-25 18:45] gerhardqux commented on #659
here's a temporary patch to get it to work on jessie.
  https://gist.github.com/gerhardqux/099dd81cf424e8757f36

[2015-09-25 19:08] s0undt3ch commented on #659
While the work us not complete and it doesn't land in the stable branch, use this:

https://github.com/s0undt3ch/salt-bootstrap/blob/develop/bootstrap-salt.sh

[2015-09-28 16:23] bastienk opened #661 "Hostname based on minion id"
Hello,

Would you be interested by a feature who changes the hostname based on the minion id in the bootstrap-salt.sh? If yes, I can do a pull request.

Thank you

[2015-10-01 16:21] joechang316 opened #664 "Install the salt on Enterprise Suse Linux SP3 after execute the command salt-call state.highstate -l debug "
2015-10-01 12:05:24,542 [salt.loader      ][DEBUG   ][19946] Error loading module.ifttt: IFTTT Secret Key Unavailable, not loading.
2015-10-01 12:05:24,699 [salt.loader      ][DEBUG   ][19946] Error loading module.ipmi: No module named pyghmi.ipmi
2015-10-01 12:05:24,760 [salt.loader      ][DEBUG   ][19946] Error loading module.victorops: No VictorOps api key found.
2015-10-01 12:05:26,562 [salt.l

[2015-10-02 19:16] gravyboat commented on #648
This error also happens to me with centos 6.6, same error.

[2015-10-05 03:37] bemosior commented on #651
I encountered this error this evening. In case it's helpful to anyone, I checked http://status.fedoraproject.org/, and there was an entry for COPR stating it would be down for maintenance: https://fedorahosted.org/fedora-infrastructure/ticket/4908

[2015-10-05 16:02] rallytime opened #667 "Don't require -P"
Based on [this comment](https://github.com/saltstack/salt/issues/27670#issuecomment-145524301), but tracking it here.

[2015-10-05 19:45] rallytime opened #668 "CentOS 6 points to old repo"
Similar to #659, the bootstrap script points to the [COPR repo](https://copr.fedoraproject.org/coprs/saltstack/salt/) instead of the new updated address http://repo.saltstack.com. This means that 2015.5.2 is getting installed for CentOS 6 (and likely other versions as well) instead of 2015.8.0 or newer.

[2015-10-05 21:06] sjmh opened #669 "Bootstrap script requires python-jinja2 before installing Salt COPR"
When using the bootstrap script to install onto a RHEL6 box, the script tries to verify that python-jinja2 is available. Normally, this is in the RHEL Optionals channel, but the Salt COPR repo now has python-jinja2 in it.

Seems it would make more sense to configure the Salt COPR yum repo before attempting to check if python-jinja2 is available to cut back on the amount of configuration needed for

[2015-10-05 21:12] rallytime commented on #669
This is related to #668, and when the bootstrap script is moved to http://repo.saltstack.com, this issue might not be as relevant anymore, as I believe we'll be handling those dependencies there. However, we definitely should make sure these issues are addressed when that happens.

Thoughts @s0undt3ch or @dmurphy18?

[2015-10-07 04:24] virtualguy commented on #539
+1 for feature request
+1 works for me

[2015-10-08 11:47] isbm commented on #664
Your Python is too old. Please update it to the latest 2.7.8 available. But then you potentially will get the same error from the other side, where python-pygit2 will be required to be compiled through the same cffi. :wink: To fix that, simply remove python-pygit2 completely, or install gcc, python-dev and all related git stuff.

[2015-10-08 11:48] isbm commented on #664
@joechang316 anyways, this is _not_ a Salt's problem, but 3rd party packages. We are going to fix this soon in our buildservice.

[2015-10-09 22:37] stardust85 commented on #661
Hi, I would definitively love such feature! Please do it! :)

[2015-10-09 22:56] s0undt3ch commented on #661
I can only say yes if its done for all the OS's that the script supports. Just adding support to one of the supported OS's will make someone else implement that same feature for the remaining distros. I don't currently have the time bandwidth to do it...

[2015-10-09 22:57] s0undt3ch commented on #661
Also, once the minion is up, salt can better do that for us...

[2015-10-12 08:58] stardust85 commented on #661
Makes sense. I forgot that I can do it in the state.

[2015-10-13 02:21] joechang316 commented on #664
ok, thanks a lot!

[2015-10-13 02:21] #664 closed, assigned to nobody

[2015-10-13 17:34] gibsonje commented on #580
Encountering this problem as well on Ubuntu 14.04.

Edit: Apparently my bootstrap script was outdated, updating it solved this.

[2015-10-15 12:42] trebortech commented on #585
Looks like this was added to bootstrap script. Thanks for pointing this out, helped me find my issue.

 -H  Use the specified http proxy for the installation

[2015-10-15 22:10] dferramosi opened #672 "Migrate to new Ubuntu repo to allow installation of 2015.8"
The old ppa doesn't have it.

[2015-10-16 03:13] alexhayes commented on #648
Experienced this also, I needed to use the following (which requires Vagrant >= 1.7.4)

[code]

[2015-10-20 17:18] HeisenbergTP commented on #635
You can close this all you want but it doesn't solve the actual problem.

[2015-10-23 14:04] marek-obuchowicz opened #675 "Debian 8 Jessie uses old apt repository"
While installing on debian 8.0 (jessie), salt-bootsrap uses apt repository:
`deb http://debian.saltstack.com/debian jessie-saltstack main`

which has only 2015.5.3 at the moment.
Official saltstack repository is now:
`deb http://repo.saltstack.com/apt/debian/latest jessie main`

(instead of latest, `2015.8` or `2015.5` can be used to install specific version)

[2015-10-23 17:09] jfindlay commented on #605
@dgn, thanks for the report.  This problem should have been fixed a while ago.  Can you confirm?

[2015-10-23 17:14] jfindlay commented on #648
When #674 is merged, bootstrap should no longer need `-P`.  I have tested this against ubuntu 12/14, CentOS 5/6/7 and FreeBSD 10.  None of them needed `-P`.

[2015-10-23 17:16] jfindlay commented on #659
@samhamilton, @alxbse, #674, updates bootstrap to work with repo.saltstack.com.

[2015-10-23 17:16] jfindlay commented on #667
This should be fixed by #674.

[2015-10-23 17:17] jfindlay commented on #668
This should be fixed by #674.

[2015-10-23 17:19] jfindlay commented on #669
@sjmh, with #674, we should be able to migrate away from COPR for RHEL 5/6/7.  While this does not fix the issue directly, COPR should no longer be needed now that we're providing packages on repo.saltstack.com.

[2015-10-23 17:24] jfindlay commented on #672
@dferrantelli, thanks for the report.  With 2015.8.0 and beyond we're providing packages from https://repo.saltstack.com/.  #674 points bootstrap to repo.saltstack.com for the latest ubuntu versions.

[2015-10-23 17:24] jfindlay commented on #675
@marek-obuchowicz, thanks for the report.  This should be fixed by #674.

[2015-10-23 17:28] s0undt3ch commented on #648
#674 was merged. Closing. Please re-open if necessary.

[2015-10-23 17:28] #648 closed, assigned to nobody

[2015-10-23 17:28] s0undt3ch commented on #659
#674 was merged. Closing. Please re-open if necessary.

[2015-10-23 17:28] #659 closed, assigned to nobody

[2015-10-23 17:28] s0undt3ch commented on #667
#674 was merged. Closing. Please re-open if necessary.

[2015-10-23 17:28] #667 closed, assigned to nobody

[2015-10-23 17:28] s0undt3ch commented on #668
#674 was merged. Closing. Please re-open if necessary.

[2015-10-23 17:28] #668 closed, assigned to nobody

[2015-10-23 17:28] s0undt3ch commented on #669
#674 was merged. Closing. Please re-open if necessary.

[2015-10-23 17:29] s0undt3ch commented on #672
#674 was merged. Closing. Please re-open if necessary.

[2015-10-23 17:29] #672 closed, assigned to nobody

[2015-10-23 17:29] s0undt3ch commented on #675
#674 was merged. Closing. Please re-open if necessary.

[2015-10-23 17:29] #675 closed, assigned to nobody

[2015-10-23 22:24] sjmh commented on #669
@s0undt3ch and @jfindlay - not sure if this should be closed.

This is less 'Stop relying on COPR' and more 'Stop testing for the Optionals channel for an RPM that you don't need from it'.

Case in point:

New RHEL6u6 VM with barebones install (@Core, @Base) and no yum repos configured.  Bootstrap will fail, looking for python-jinja2 to see if the Optionals channel exists.

If you remove the test

[2015-10-24 11:25] s0undt3ch commented on #669
I've reopened the issue to address your concerns. I say we move whatever is necessary to SaltStack's repo...

[2015-10-24 13:35] jchv commented on #635
As of 20 hours ago, this infuriating problem actually is finally solved. It's not on the bootstrap /develop version, so you'll need to pull it from GitHub, something like this:

[code]

After that, remove your `script_args` from your cloud provider if you're using Salt-cloud and you should be all good. If you're not, just run the script with no arguments and you should have the very latest version

[2015-10-24 20:34] sjmh commented on #669
That'd be my vote as well - it appears these would need to be added:

python-backports-ssl_match_hostname
python-backports
python-msgpack
python-ordereddict

msgpack and ordereddict come from EPEL, which is installed by the bootstrap script - but everything should be in repo.saltstack.com, would need to move those as well.  The backport RPMs are the only ones that are required from Optionals.

Tes

[2015-10-26 23:16] neduma commented on #644
Same here..

[code]

[2015-10-27 15:49] tehmaspc commented on #648
thanks for fixing!

[2015-10-27 22:52] jfindlay commented on #635
@johnwchadwick, I have checked this morning that https://bootstrap.saltstack.com/develop and https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh both point to the same script, being that available at the HEAD of the salt-bootstrap/develop branch.  I do not know how this gets updated, but I assumed it was always pointing to the head of the branch.  @s0undt3ch will v

[2015-10-28 01:34] s0undt3ch commented on #635
We've had some SSL certificate issues in  the past when we redirected to GitHub to get the latest HEAD, because of that, we're now hosting the copies of the script behind our own servers. Right now, this is a semi-manual process, hence the delay, specially because we had the weekend in between.
In the future, we want to fully automate the process to make sure that situations like this one don't ha

[2015-10-28 05:58] tony opened #679 "Can you build packages for FreeBSD:11 / CURRENT?"
http://repo.saltstack.com/freebsd/

ATM the install script has the function to attempt a freebsd install, but it will end up not not finding a repo since there is only 10 packages.

Is the system used to build the packages kept on gh?

[2015-10-28 08:38] jchv commented on #635
Just to be clear, `/develop` not being automatically up to date isn't much of an inconvenience to me personally. Almost everything I said was with regards to #674 because this issue is the first one that you come across when Googling the error message caused by it and I wanted to make sure there were clear instructions on solving the problem somewhere here. (But of course thanks for fixing `/devel

[2015-10-29 05:04] sjmh commented on #669
Ah, looks like msgpack and ordereddict are already in repo.saltstack.com - so just the backports are missing.

[2015-10-29 23:18] jfindlay commented on #679
@tony, thanks for the report.  @cedwards is our FreeBSD maintainer, so I would ask him.  I think we should get FreeBSD 11 support soon in any case.

[2015-10-29 23:21] jfindlay commented on #635
@LukasDoe, we are about to make a new salt-bootstrap release, which corresponds to merging bootstrap-salt.sh into the salt codebase.  The next salt release will come out in a few weeks and will definitely include this new bootstrap release.

[2015-10-29 23:30] cedwards commented on #679
I can take care of this. I'll try to have it done for you by this weekend..

[2015-10-29 23:34] s0undt3ch commented on #679
@cedwards Rocks!

[2015-10-29 23:47] cinterloper commented on #411
+1

[2015-10-30 17:06] cedwards commented on #679
I've got packages built for 9, 10 and 11 now. I just need @UtahDave to replicate them out to the public repo server. Note: These packages are untested as I currently only have 10.x systems.

[2015-11-02 11:56] dgn commented on #605
nope, abandoned salt-cloud. you can close if you like

[2015-11-02 12:09] #605 closed, assigned to nobody

[2015-11-03 12:48] eliasp opened #681 "Fails to build with `-P` on Ubuntu 15.10"
Bootstrap process with `-P` fails on Ubuntu 15.10 (without `-P` it fails too because of a non-satisfied dependency on a newer tornado version).

How to reproduce:
- Create Ubuntu 15.10 filesystem using `debootstrap` (and fix stale `resolv.conf` symlink which causes trouble with older `systemd-nspawn` releases):

[code]
- Launch container from filesystem and bootstrap it:

[code]

  It'll run into

[2015-11-03 15:19] bytebae opened #682 "salt bootstrap fails on vanilla debian jessie 8"
Hi,

The following was performed:

[code]

[code]

O/P:

[code]

ending with

[code]

Let me know what else you'd like me to share regarding this.

[2015-11-03 15:47] bytebae commented on #682
[code]

[2015-11-03 16:36] bytebae commented on #682
Apparently, commenting out the line: Type=notify, from the salt-master.service file gets the master running after a restart.

[code]

[2015-11-03 16:39] jakehilton commented on #635
I'm also having issues.. and as reccomended above I use the "ubuntu installation for beginners".. I get the following error:

# apt-get install salt-master

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that som

[2015-11-03 17:14] dmurphy18 commented on #635
@jakehilton Can you post the output of running 'apt-cache policy salt-master' and 'apt-cache policy python-msgpack'.  The problem is due to python-msgpack is not installable, but also python-crypto should be 2.6.1 or higher, which it is not here.
The repository with the latest salt-master and it's dependencies for Ubuntu 14.04 is available from repo.saltstack.com.

[2015-11-03 21:23] jakehilton commented on #635
Well I worked through that initial error.. whoever had setup the server had some weird entries in the sources.list. So I blew it away and started it from scratch.

So now when I run the install I get the following error:

`Unpacking salt-common (2015.8.1+ds-1) ...
dpkg: error processing archive /var/cache/apt/archives/salt-common_2015.8.1+ds-1_all.deb (--unpack):
 trying to overwrite '/var/log', w

[2015-11-03 21:28] jakehilton commented on #635
I think I've worked it out.. will report back.

[2015-11-03 21:47] syedaali commented on #635
When I attempt to deploy an instance using salt-cloud using 'salt-cloud --profile=ec2 my instance', I am getting an error: \* ERROR: You need to allow pip based installations (-P) in order to install the python package 'tornado >= 4.0'. This error occurs after the instance is created in AWS and salt-cloud tries to install salt-minion.

I am using the below versions. I guess I need to specify -P in

[2015-11-03 22:14] syedaali commented on #635
I found the options:

script: bootstrap-salt
script_args: -P

[2015-11-03 22:16] syedaali opened #683 "Unable to start minion"
During the last stage of bootstrap when using salt-cloud, I am getting the below error:

Configuration file '/etc/salt/minion'
 ==> File on system created by you or by a script.
 ==> File also in package provided by package maintainer.
 ==> Using current old file as you requested.
salt-minion start/running, process 8726
Processing triggers for libc-bin (2.19-0ubuntu6.6) ...
Processing triggers for

[2015-11-03 23:49] jfindlay commented on #681
@eliasp, thanks for the report.  What happens if you use https://bootstrap.saltstack.com/develop?

[2015-11-03 23:51] jfindlay commented on #682
@hubricode, thanks for the report.  Do you have the same problems with `wget -O install_salt.sh https://bootstrap.saltstack.com/develop`?

[2015-11-04 05:17] syedaali commented on #683
So the problem was the the master is running 2015.8.1 and it was installing 2015.5.3 on the minion. The line 'master_type: str' in /etc/salt/minion is not compatible with 2015.5.3. I forced 2015.8.1. client install using 'script_args: -P git v2015.8.1' in cloud.providers.d and it started to work.

[2015-11-04 05:17] #683 closed, assigned to nobody

[2015-11-04 07:45] gravyboat commented on #681
Could possibly be related to this: https://github.com/saltstack/salt-bootstrap/issues/596

[2015-11-04 11:17] bytebae commented on #682
Nope. Still getting this:

[code]

Commands run were:

[code]

[2015-11-04 11:46] bytebae commented on #682
Seems to be happening with 2015.5.6 as well:

[code]

This is happening with both

[code]

and

[code]

Something seems to be the matter with restarting daemons in the install script.

[2015-11-04 12:23] saltstack-bot opened #684 "Latest boot strap doesn't create private keys."
<a href="https://github.com/ldelossa"><img src="https://avatars.githubusercontent.com/u/5642902?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ldelossa](https://github.com/ldelossa)**
_Mon Nov  2 18:25:23 2015_
_Originally opened as https://github.com/saltstack/salt/issues/28499_

---

I'm using the following commands:

[code]

This is consistently not placing the pki

[2015-11-04 16:31] jakehilton commented on #635
All is working for me now. Thank you.

[2015-11-04 18:55] gravyboat commented on #684
@s0undt3ch Weird. I've used the bootstrap to do an install from the develop branch in the past and it worked fine. Was there an addition or regression that broke this?

[2015-11-04 19:24] ldelossa commented on #684
Everything worked before Monday of this week.

On Wed, Nov 4, 2015 at 1:55 PM, Forrest notifications@github.com wrote:

[2015-11-05 15:13] cedwards commented on #679
These repositories are now available at https://repo.saltstack.com/freebsd/. Please, if you can, verify that the 11.x packages work as expected and then I think we can close this ticket.

[2015-11-05 16:44] tony commented on #679
Yep.

11-CURRENT adds the package repo and installs everything nicely.

As always thanks for this software @cedwards and the saltstack team.

[2015-11-05 16:44] #679 closed, assigned to nobody

[2015-11-05 20:22] pass-by-value opened #686 "Bootstrap error while installing on Ubuntu 14.04 (lxc template)"
Seeing an error when trying to install salt via salt bootstrap within an lxc container

[code]

Using a Ubuntu 14.04 template

[code]

With the following version of salt bootstrap

[code]

[2015-11-05 23:45] yannis666 opened #687 "salt installation from salt-repo broken on OEL5"
Was following the instructions on:
https://docs.saltstack.com/en/latest/topics/installation/rhel.html#installation-from-the-saltstack-repository

The installation fails with `Error: Missing Dependency: python26-ordereddict`

[code]

[2015-11-06 04:33] timcharper opened #688 "regression: salt-bootstrap stable no longer installs libzmq3"
I installed saltmaster via the following command on `Debian Jessie 8`:

[code]

It reported success. However, 0mq didn't install properly:

[code]

I reverted back to an earlier `install_salt.sh` script I'd downloaded, `Oct 29 16:07` (UTC), with md5sum `013273b3abbfe22798ba1b611669c0f9`, and was able to install successfully. This script was working properly at this point in time.

I'm betting this

[2015-11-07 05:00] mathrick opened #689 "Bootstrap fails on Ubuntu with no wget"
Bootstrapping on Ubuntu 14.04 with only curl installed and no wget fails with the following:

[code]

This is, as far as I can tell, a new issue in 2015.11.04, 2015.08.06 worked fine in this regard (although it failed in different places because of saltstack/salt#27820). The offending commit seems to be 26b82c94099f748ee42188d00096151cdbdf002f

[2015-11-07 14:58] nasenbaer13 commented on #689
Duplicate of #686

[2015-11-09 15:52] s0undt3ch commented on #689
Closing since it's a duplicate

[2015-11-09 15:52] #689 closed, assigned to nobody

[2015-11-09 16:23] s0undt3ch commented on #686
This is not fixed in the develop branch of the script, releasing a stable soon.

[2015-11-09 16:23] #686 closed, assigned to nobody

[2015-11-09 19:29] #687 closed, assigned to nobody

[2015-11-10 19:32] A-merpact commented on #103
Amazon Linux, AMI 2015.09.1

Running command: sh install_salt.sh -P -M

 *  INFO: sh install_salt.sh -- Version 2015.11.09

 *  INFO: System Information:
 *  INFO:   CPU:          GenuineIntel
 *  INFO:   CPU Arch:     x86_64
 *  INFO:   OS Name:      Linux
 *  INFO:   OS Version:   3.14.48-33.39.amzn1.x86_64
 *  INFO:   Distribution: Amazon Linux AMI 2015.03

 *  INFO: Installing minion
 *  INFO:

[2015-11-10 19:54] kai-zh commented on #103
Get following error on Amazon Linux 2015.9.1

Complete!
-  INFO: Running install_amazon_linux_ami_stable_post()
-  INFO: Running install_amazon_linux_ami_restart_daemons()
  Starting salt-minion daemon: [CRITICAL] Unable to import msgpack or msgpack_pure python modules
                                                         [  OK  ]
  Starting salt-master daemon: [CRITICAL] Unable to import msgpa

[2015-11-11 21:15] jfindlay commented on #683
https://github.com/saltstack/salt/issues/25335

[2015-11-11 23:42] jfindlay commented on #688
Thanks for the report, @timcharper.

[2015-11-12 00:03] jfindlay commented on #686
https://github.com/saltstack/salt-bootstrap/releases/tag/v2015.11.09

[2015-11-12 00:25] avanov commented on #596
I'm getting this error with the newly released bootstrap script:

[code]

[2015-11-12 17:18] alfredopalhares opened #690 "Fail to bootstrap Ubuntu 14.04"
Hello,

Currently its not possible to bootstrap 14.04 Ubuntu machines:

[code]

[2015-11-13 01:22] thusoy opened #691 "Plaintext HTTP redirect"
The 301 from `https://bootstrap.saltstack.com` redirects to `http://bootstrap.saltstack.com/stable/bootstrap-salt.sh`. Either the script should be served directly from root (preferable, no need for the redirect), or redirect to a HTTPS URL.

[2015-11-14 00:46] almoore commented on #690
Have you tried installing using the git version?

sh bootstrap-salt.sh -D -P git v2015.8.1

[2015-11-18 03:50] timcharper commented on #688
@jfindlay FYI If I simply run `apt-get install -y python-zmq` on the bootstrapped instance, then everything works fine.

[2015-11-18 03:59] timcharper commented on #688
`python-apt` was also missing; is it because I specified to use PIP dependencies, and none of the PIP dependencies installed?

[2015-11-19 01:12] abednarik commented on #690
Same error here. Looks like is related to django version which is a dependency for salt-common.

[2015-11-19 15:57] jfindlay commented on #688
I looked over the source and I wouldn't be surprised if this is what happens.

[2015-11-19 16:19] jfindlay commented on #690
@abednarik, can you post some output that explains what you mean by django being a dependency for salt-common?  Thanks.

[2015-11-20 02:33] abednarik commented on #690
Sorry for the mistake, is related to tornado not django :(.

 After script fail, I try to install salt-minion manually for debug purpose

[code]

Looking at the repository, that version is present

[code]

S I try to install that package to found out what's going on here

[code]

[code]

There you have the current issue, I think. Let me know if I can provide more information or anything else I can

[2015-11-21 02:37] gtmanfred opened #694 "[Feature Request] install Extra Packages first"
https://github.com/saltstack/salt/issues/29094

This would help allow getting around this issue, for rhel 5 at least, so that you can specify the correct package that is missing in the dependency chain and everything can work

[2015-11-23 11:37] alfredopalhares commented on #690
@almoore Yes, the problem persists.

Same problem as @abednarik

[2015-11-24 07:06] mtippett opened #695 "Install Failures With Raspbian Jessie"
On attempting to install on raspbian jessie, the following errors are found, they actually appear three times during the different apt-get update stages.

[code]

The installation fails with the final message.

[2015-11-24 07:06] mtippett commented on #695
Note that sh `./install_salt.sh -P -b git v2015.8.1` does work

[2015-11-24 19:51] rbjorklin opened #696 "Script flag to enable and use the saltstack provided repos"
For some of the bigger distributions Saltstack provides [repositories](https://docs.saltstack.com/en/latest/topics/installation/debian.html) with the latest version. It would be good if there was a flag to the bootstrap script to enable these before installation.

[2015-11-26 15:40] ghost opened #697 "Bootstrap fails with Debian 8.2 Docker image."
I'm not 100% sure if this issue is related to the bootstrap script. I figured this was the best place to start. Thanks!

[code]

[2015-11-29 19:54] arnisoph opened #698 "Installation fails on centos 7 in a Docker container"
Dockerfile for reference:

[code]

[code]

[2015-11-29 21:16] arnisoph commented on #698
not a salt issue..

[2015-11-29 21:16] #698 closed, assigned to nobody

[2015-12-04 06:26] wolfpackmars2 commented on #695
Doesn't appear the newer repository has the ARM packages available.

The old repository doesn't have the new release of Salt (past 2015.5)

The workaround is to install from Git.  Depending on the level of support for Raspbian, the bootstrapper either needs to be updated to handle Raspbian Jessie to install from git or the ARMHF packages need to be added to the repository.

Old repo:
http://debian

[2015-12-04 07:00] wolfpackmars2 commented on #690
One temporary workaround is to preinstall python-tornado 4 using pip
http://tutorialforlinux.com/2013/07/19/how-to-install-getting-started-with-tornado-3-python-serverframework-on-linux-ubuntu-13-04-raring-i386amd64-step-by-step-easy-guide/

Longer term fix would be to add this workaround into the bootstrap script if the Trusty repos aren't expected to update to Tornado 4.

[2015-12-04 07:16] wolfpackmars2 commented on #696
I believe this is already the behavior, unless you explicitly install from GIT using the git option.  By default, the bootstrap script will determine which OS you are using and set up the package repositories accordingly.

[2015-12-04 07:22] wolfpackmars2 commented on #697
Did you try passing '-D' to the bootstrap script?  If you try running
service salt-minion start
do you get any errors?

Try running salt-minion in the foreground to see any errors
"salt-minion -l debug"

This is assuming that salt-minion was actually installed.

[2015-12-04 07:29] wolfpackmars2 commented on #688
I was reviewing the debian bootstrap code and found a potential problem.  I've suggested a pull request which I believe will fix this problem.

If I'm right, the problem is with line 2394 of the current bootstrap script.

[2015-12-04 12:23] rbjorklin commented on #696
@wolfpackmars2 I tried using the script on Debian 8 and it installed the packages from the Debian repos and not the ones provided by Saltstack which is why I submitted this ticket.

[2015-12-04 15:47] fredvd commented on #601
Ok, great, so an old lucid server which worked perfectly and where the latest salt-minion was installed where I performend a remove/install now suddenly cannot install any salt-minion anymore.

Perfeclty fine to drop support, but removing the packages for the older versions that are still functioning an function for people, ahem. Don't just remove older versions for any packages on a distribution

[2015-12-04 16:58] dmurphy18 commented on #695
@wolfpackmars2 At present SaltStack is only building Intel based packages for repo.saltstack.com.  There is a new layout, with backwards support for the previous layout (tried to make sure we didn't break it this time).  Older versions are archived, e.g. http://repo.saltstack.com/staging/apt/debian/8/amd64/archive/2015.5.6

It is intended that other architectures shall be supported (hence the arch

[2015-12-04 19:11] albdv opened #701 "bootstrap script is not available"
Faced with an issue when bootstarp script is not available.
Could you please fix that somehow?

![screenshot from 2015-12-04 19-57-26](https://cloud.githubusercontent.com/assets/8123372/11598562/f8faf9a0-9ac2-11e5-9de7-acdd30e62509.png)

At first time see the issue at 6:10 pm utc+2 and still(8:10 pm utc+2) got the same.

[2015-12-04 21:35] jtchoi commented on #701
Seems to be working again

[2015-12-07 09:27] wolfpackmars2 commented on #701
Could also link directly to the current git version of the script in case the redirect is ever down:

https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh

Confirmed that the redirect link is working at this moment.

[2015-12-07 09:37] wolfpackmars2 commented on #696
The script installs updates and dependencies from the official debian repositories.  It then adds the salt repos to apt, updates the cache, and installs salt.  I don't believe there is a copy of saltstack available in the repositories.  If a salt package was installed on your system, it came from SaltStacks repos.

When you ran the bootstrap script, you should have seen something like this:
Get:20

[2015-12-07 09:45] wolfpackmars2 commented on #688
@timcharper my changes have been merged with the latest copy of the bootstrap - see if that has resolved the problem you were seeing.

Also, make sure you are referencing the development copy of the script.  bootstrap.saltstack.org currently references the stable version of the bootstrap, which doesn't include the dependency fix.

[2015-12-07 10:17] s0undt3ch commented on #688
If you pass `/develop` you should get the develop version....
And, if that one isn't up to date, the GitHub raw link always is...

[2015-12-07 10:17] wolfpackmars2 commented on #688
The development version currently fails when trying to install libzmq3-dev

Output:

pciutils is already the newest version.
procps is already the newest version.
python-apt is already the newest version.
python-zmq is already the newest version.
python-zmq set to manually installed.
libzmq3 is already the newest version.
libzmq3 set to manually installed.
python-requests is already the newest ver

[2015-12-07 10:38] wolfpackmars2 commented on #103
Looking at the current develop version of the bootstrap, python-zmq package should have been installed.  As far as I can tell, the bootstrap finished the installation, but couldn't start the daemons.  In this case, it's either due to a problem with the salt code in master.py or that zmq was not installed.

https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L3758

If possibl

[2015-12-07 10:53] wolfpackmars2 commented on #462
Another option, if there is a package that can be installed on Centos5 that resolves this (but isn't part of the official cent5 repos?) then the bootstrap can be updated to install that dependency for Cent5 distributions.

[2015-12-07 10:55] wolfpackmars2 commented on #482
Can probably be closed if no new information

[2015-12-07 10:57] wolfpackmars2 commented on #491
There have been updates to the instructions, and the bootstrap.saltstack.com link seems to break from time to time.  However, it works at the moment.

This issue can probably be closed

[2015-12-07 12:02] albdv commented on #701
some software like packer is using bootstrap.saltstack.com to bootstrap salt and to change the source of the shell bootstrap script is not an option in that case.
I believe right now issue might be closed.

[2015-12-07 12:53] s0undt3ch commented on #701
We have redirected DNS directly to GitHub before, however, we've had some SSL certificate complaints when doing that.

To avoid all those valid complaints, we now host a copy of the script(stable and develop versions) ourselves.

This work is being done by our distribution repositories hosting infrastructure which is still being actively developed to avoid failures like the one reported here.

Sin

[2015-12-07 12:53] #701 closed, assigned to nobody

[2015-12-07 22:16] francoisvdv opened #703 "Broken on Amazon Linux AMI 2015.09"
Hi,

I get the following:
-  INFO: sh install_salt.sh -- Version 2015.11.09
  -  INFO: System Information:
  -  INFO:   CPU:          GenuineIntel
  -  INFO:   CPU Arch:     x86_64
  -  INFO:   OS Name:      Linux
  -  INFO:   OS Version:   3.14.35-28.38.amzn1.x86_64
  -  INFO:   Distribution: Amazon Linux AMI 2015.09
  -  INFO: Installing minion
  -  INFO: Found function install_amazon_linux_ami_

[2015-12-08 00:53] timcharper commented on #688
I just tried, got this failure:

[code]

[2015-12-08 01:16] rallytime opened #704 "salt-cloud install_ubuntu_git() is using a "to be deprecated" option"
When attempting to install an AWS instance from salt-cloud here is one the warning messages:

[code]

I am installing salt-minion from the git repo on version 2015.8.1.

[code]

[code]

ping @syedaali

References https://github.com/saltstack/salt/issues/28869

[2015-12-08 02:06] abednarik commented on #703
HI @francoisvdv

 Looks like is falling during salt dependencies installation. Sadly I can't try myself since Amazon Linux is only available in AWS.

Can you please run that script in  _debug_ mode to gather more information?

[code]

Also you can pass -D to the script, since there is a debug mode.

Cheers.

[2015-12-08 02:33] abednarik commented on #690
Looks like this issue is fixed now. Python tornado 4.2 is now available. At least for me is working

[code]

[2015-12-08 08:48] francoisvdv commented on #703
Hi,

Thanks for your reply - but it works again. It seemed the Fedora COPR repository was down and thus the script was not able to download the salt minion...

Kind regards!

[2015-12-08 08:48] #703 closed, assigned to nobody

[2015-12-08 19:06] aboe76 opened #706 "Switch repositories for Suse/OpenSuse/Sles etc."
I want to switch the current download repository for all suse packages from the old repository:
"http://download.opensuse.org/repositories/devel:/languages:/python/${DISTRO_REPO}/devel:languages:python.repo"

to the new repository:
"http://download.opensuse.org/repositories/systemsmanagement:/saltstack/${DISTRO_REPO}/saltstack.repo"

This repo will be to new upstream development project for all sa

[2015-12-08 19:08] aboe76 commented on #706
see also https://github.com/saltstack/salt/issues/29194

[2015-12-09 22:27] alvaroarb opened #707 "Bootstrap fails for Centos 5 systems"
Hi, i'd like to report a fail when trying to install salt-minion on Centos 5 systems only (Centos 6 installed just fine), the script finishes with the following message:
-  INFO: sh install_salt.sh -- Version 2015.11.09
-  INFO: System Information:
-  INFO:   CPU:          GenuineIntel
-  INFO:   CPU Arch:     x86_64
-  INFO:   OS Name:      Linux
-  INFO:   OS Version:   2.6.18-371.12.1.el5
-  IN

[2015-12-10 12:16] bemeyert opened #708 "Bootstrap fails for CentOS 7"
I provision a CentOS 7 box with Vagrant. The salt provisioning (via salt-bootstrap) runs with the following options: `-F -c /tmp/ -g /vagrant/salt-source -G -D git v2014.7.6`.

Here is the log output to the console:

[code]

I think the important mesage is:

[code]

Is this a problem with the repository?

[2015-12-10 12:27] bemeyert commented on #708
It seems that the Salt version which is provided as argument hast nothing to do with this problem. While installing `v2015.8` the same error appeared.

[2015-12-15 13:57] bemeyert commented on #708
I'm not sure what happened or what was wrong. But since last Sunday it works again. So I close this one.

[2015-12-15 13:57] #708 closed, assigned to nobody

[2015-12-17 01:07] sjmh opened #709 "RHEL6 repodata incorrect"
The RHEL6 repodata is incorrect - it still has the devel packages listed in the filelists.  May need to regenerate that.

We mirror the repo down locally, since we need it on our provisioning networks, which don't have access to the internet and the syncs are failing due to the missing RPMs.

[2015-12-17 02:02] sjmh opened #710 "Add option for custom repos and to disable optional repo check"
We install salt during the kickstart process on our provisioning networks.  These networks don't have access to the internet, so we clone down the yum repo and host it on the provisioning servers.

Right now, we install salt via a simple yum command, but it'd be nice to use the bootstrap script to do it, since it does other things, like setting up the configuration and such.

Maybe adding a '-r' o

[2015-12-17 02:08] dmurphy18 commented on #709
@sjmh Thanks for the report.  What url are you using for Redhat 6 ?. The best url to use would be http://repo.saltstack.com/yum/redhat/6/x86_64/latest for the most current version of SaltStack for Redhat 6. If you want a permanent url to a particular version of SaltStack, I recommend using the following for 2015.8.3:
http://repo.saltstack.com/yum/redhat/6/x86_64/archive/2015.8.3
This url should re

[2015-12-17 02:51] sjmh commented on #709
@dmurphy18 - I tried both the http://repo.saltstack.com/yum/redhat/6/x86_64/latest and http://repo.saltstack.com/yum/redhat/6Server/x86_64/latest.  The issue appears to be that the 'devel' packages were deleted from the repo, but the repodata wasn't updated - I verified this by downloading the filelists in the repodata and taking a look - it still lists them.

When you try and do a yum sync of the

[2015-12-17 03:13] dmurphy18 commented on #709
@sjmh I see what you are saying, when the packages were moved from the staging area to the deploy area, the xxx-develop named packages did not get moved. I shall need to review what else our deploy scripts also did not move for all of our various distributions.  This may explain some of the other issues being reported about our repo website.  Thanks for bring this to our attention.

[2015-12-17 16:26] dmurphy18 commented on #709
@sjmh whoops, I should have typed _-devel_, I can see the packages there, but I shall dig a little deeper into why they could not be retrieved

[2015-12-17 20:13] dmurphy18 opened #712 "Packages with '-dev' in their name cannot be downloaded from repo.saltstack.com"
Packages with '-dev' in their name cannot be downloaded from repo.saltstack.com.
There are a number of issues open detailing this and it occurs with both Debian and Redhat packages.  It is only occuring on the deploy and not the staging area, and there is nothing special about the rights of the packages, just the '-dev' in their name:

For example:
wget http://repo.saltstack.com/yum/redhat/6/x86_6

[2015-12-17 20:16] dmurphy18 commented on #712
Closing this wrong repo, see salt repo  #29812

[2015-12-17 20:16] #712 closed, assigned to UtahDave

[2015-12-18 03:56] dove-young opened #713 "Salt-master & salt is not installed on Fedora 22"
Here is my environment.

[code]

Install from bootstrap script, it only installs <code>salt</code> and <code>salt-minion</code>.  After bootstrap installation, there is no <code>salt</code> command actually.

[code]

But Fedora's official repository works well.  Clean up environment, include remove installed RPMs and remove salt repository, and try install again via Fedora's official repository, e

[2015-12-18 05:08] cetanu opened #714 "Problems installing on SLES 12"
Hi all,
### What was attempted

Created a new server in AWS using `salt-cloud`, with the image `ami-b90e6283` which is SLES 12.
### Result

salt-cloud was able to do everything except bootstrap salt because of `No dependencies installation function found.`
### How I went about fixing it manually

I had to manually follow the steps here:
https://docs.saltstack.com/en/latest/topics/installation/suse

[2015-12-18 07:39] furlongm commented on #706
If this is happening soon, it would be good. Currently the opensuse 42.1 repo is broken:

[code]

It should be at

http://download.opensuse.org//repositories/devel:/languages:/python/openSUSE_Leap_42.1/

not at

http://download.opensuse.org//repositories/devel:/languages:/python/openSUSE_42.1/

[2015-12-18 07:47] furlongm opened #715 "dependencies broken on opensuse 42.1"
When the broken python repository is fixed, dependencies are still not found/installed on opensuse 42.1 and the bootstrap fails.

[code]

[2015-12-18 09:59] aboe76 commented on #706
@furlongm that's another issue, please report it so it can be tracked seperatly

[2015-12-18 17:40] timcharper opened #716 "size mismatch on debian repo http://repo.saltstack.com/apt/debian/latest/"
Been seeing this for a couple of days:

[code]

Looks like the index for the debian apt mirror needs to be refreshed?

[2015-12-18 18:29] dmurphy18 commented on #716
@timcharper see See bootstrap repo #709 and #29477,  #29812
Problem is with web access and downloading

[2015-12-18 18:30] dmurphy18 commented on #716
@timcharper given the duplication, could this issue be closed in favor of the above issues which are tracking it.
Thanks

[2015-12-18 21:00] timcharper commented on #716
Duplicate of #709

[2015-12-18 21:00] #716 closed, assigned to nobody

[2015-12-22 10:18] vutny commented on #707
Hi,

Old `rpm` binary from RHEL/CentOS 5 has horrible HTTP downloading support. Sometimes it fails to fetch from http://dl.fedoraproject.org/ even without 302 redirects.

Maybe upgrading `rpm` package before bootstrapping could fix this.

I suggest the following patch:

[code]

We could have the advantage of nearby Fedora mirrors if dl.fedoraproject.org will be (temporarily) unreachable.

@saltsta

[2015-12-22 10:36] vutny commented on #697
Hi,

[code]

This is the root cause of the problem.
It means that you have systemd in your container installed (because it's Debian 8) but you're unable to start it (and any daemon with it).

When you build an image, provide `-X` option to the bootstrap script. It will prevent salt-minion to start during build process.

Run your new container like this:

[code]

[2015-12-22 10:40] vutny commented on #691
I'm voting for HTTPS redirect on `bootstrap.saltstack.com` too!

[2015-12-22 11:14] vutny commented on #616
Hi,

This is because in official centos image for docker the file `/etc/yum.conf` contains the line:

[code]

It prevents the package `man-db` from installing in container, and git requires `man` command to display help pages by default.

The following patch fixes the issue with missing `man` executable:

[code]

[2015-12-22 11:22] vutny commented on #661
Very generic SLS for doing this:

[code]

[2015-12-22 11:32] vutny commented on #713
Hi @dove-young,

`salt` command is the part of `salt-master` package, bootstrap script installs only `salt-minion` package by default (with `salt-call` binary).
Give `-M` option to bootstrap script for installing `salt-master` package along with `salt-minion`.

[2015-12-22 15:29] ghost commented on #697
Thanks for the update!  Was using the debian build from docker hub.  I'll just close this up if it is not really an issue with the script.

[2015-12-22 15:29] #697 closed, assigned to nobody

[2015-12-22 18:32] jfindlay commented on #707
@vutny, I think that will be a good change to have.  Are you able to open a pull request?

[2015-12-22 19:48] liquidblack commented on #103
Busted using both stable and develop version of code on recent 2015.11.09 Amazon AMI - this tested on a super vanilla, fresh as a daisy box

Initial digging looks related to how amazon is using priorities on their yum repos https://aws.amazon.com/amazon-linux-ami/faqs/

[code]

[2015-12-23 08:10] vutny commented on #616
@alexanderilyin, does this solve your issue? Thanks for any feedback!

[2015-12-23 08:59] vutny commented on #669
Hi @sjmh,

[code]

I assume that RHEL 6.7 also contains all necessary packages in its base repos.

[2015-12-23 16:39] sjmh commented on #669
@vutny Yeah, the packages were added in the last few weeks.

With those packages in the repo now, we shouldn't need the optionals repo from RHEL anymore, but the bootstrap script is still checking for it.

[2015-12-24 01:47] alexanderilyin commented on #616
@vutny works [as expected](https://gist.github.com/alexanderilyin/504d7063921ed542eeef) :tada:

[2015-12-24 07:44] vutny commented on #616
@alexanderilyin This is great! I think you can close the issue.

[2015-12-24 07:58] vutny commented on #707
@alvaroarb Does latest bootstrap version from `develop` solve your issue? Thanks for you feedback!

[2015-12-24 08:50] vutny commented on #669
@sjmh I did a fresh bootstrap on CentOS 6.7 minimal container.

[code]

I've looked through CentOS Install Functions code in the latest 'develop' version, there are no additional repositories checked and configured except `epel` and `repo-saltstack-el6` for CentOS 6.
But for RHEL and Oracle, we have `__test_rhel_optionals_packages()` which checks for `server-releases-optional` repo, so it's little

[2015-12-24 09:05] vutny commented on #661
@Cramix, does the SLS from above solve your needs?

[2015-12-24 09:13] vutny commented on #491
Yeah, it's too old. @jbeda could you be so kind to close the issue, please?

[2015-12-24 09:32] vutny commented on #462
@wolfpackmars2

[code]

You just need to keep `openssl` up-to-date. But sometimes it is not very "fresh"...
If you need to get lastet CA bundle here and now, this is a dirty way:

[code]

I think this issue could be closed.

[2015-12-24 09:57] vutny commented on #694
@gtmanfred This is interesting, but I personally think that doing such feature especially to get a workaround for other issues is generally a bad practice.
If you able to bootstrap a machine, it means that you're able to login on it and have enough privileges to install anything you want prior to running bootstrap script as a workaround for any pending issues.

[2015-12-24 14:17] vutny commented on #669
Nevermind, I see that `python-backports-ssl_match_hostname` is now in `repo-saltstack-el6` and it will be installed by dependency with  `python-tornado`.

[2015-12-24 16:23] vutny commented on #669
Created PR. Verified that `rhui-*-server-releases-optional` repo is neither checked nor enabled.
Tested on RHEL 6.6: https://gist.github.com/vutny/d413aeda143742103843

[2015-12-24 16:58] vutny commented on #690
@masterkorp Could you please be so kind to close this issue if it works for you?

[2015-12-24 19:23] jfindlay commented on #616
Thanks, @vutny.

[2015-12-24 19:23] #616 closed, assigned to nobody

[2015-12-24 19:24] #491 closed, assigned to nobody

[2015-12-24 19:39] jfindlay commented on #669
@vutny, if that is where `python-backports-ssl_match_hostname` needs to come from, then it makes sense to check for it.

[2015-12-25 10:25] vutny commented on #669
@jfindlay As I said before, `python-backports-ssl_match_hostname` is not a direct dependency for now. It will be installed when `yum` resolve the following dependency chain `salt-minion --> salt --> python-tornado --> python-backports-ssl_match_hostname`:

[code]

I clearly see that package file is present in the repo:
http://repo.saltstack.com/yum/rhel6/python-backports-ssl_match_hostname-3.4.0.2

[2015-12-25 10:41] vutny commented on #694
@gtmanfred I believe saltstack/salt#29094 is already fixed with latest repo updates and bootstrap develop branch. I've got everything work smoothly on both RHEL5 and RHEL7:
- https://gist.github.com/vutny/d710993c13bca9f53fba
- https://gist.github.com/vutny/54a2d09b2b8f8f8b6fd5

Does it work for you? Thanks for any feedback!

[2015-12-25 11:11] vutny commented on #709
@dmurphy18
Only `zeromq-devel` packages are not available for now:

[code]

[2015-12-25 11:22] vutny commented on #669
@jfindlay Hey, looks like `python-backports-ssl_match_hostname` was copied to `base` repo in CentOS 6 too!

[code]

So you just need to remove it from http://repo.saltstack.com/yum/rhel6/.
I think this is no longer the issue.

[2015-12-25 11:31] vutny commented on #688
@timcharper Looks like it was fixed.

[code]

I think the issue should be closed.

[2015-12-25 12:39] vutny commented on #684
@s0undt3ch @jfindlay Looks like this is an issue with Salt itself and not related to bootstrap.
I've installed stable version from packages and got exactly the same Tracebacks with Exception ValueError never ending.

[code]

[2015-12-25 13:03] vutny commented on #704
@rallytime Not only `install_ubuntu_git()`, but those are as well:
- install_debian_git()
- install_fedora_git()
- install_centos_git()
- install_arch_linux_git()
- install_freebsd_git()
- install_smartos_git()
- install_opensuse_git()

[2015-12-25 14:41] gtmanfred commented on #694
I am in Atlanta this week, I will check them when I get back to San Antonio
next week.

On Fri, Dec 25, 2015 at 5:41 AM Denys Havrysh notifications@github.com
wrote:

[2015-12-25 19:34] jfindlay commented on #669
thanks, @vutny.  Ping @dmurphy18.

[2015-12-25 19:39] #704 closed, assigned to nobody

[2015-12-28 16:14] rallytime commented on #704
@vutny Can you make a new issue for those other options? I don't think the commit that fixed this issue addressed those other install configurations.

@abednarik - This may be something you want to be aware of as well.

[2015-12-28 16:16] #688 closed, assigned to nobody

[2015-12-28 16:16] timcharper commented on #688
It was! Working now on my end. Thank you!

[2015-12-28 16:24] abednarik commented on #704
Hi @rallytime

 I already made the update to include all those functions and PR was merged https://github.com/saltstack/salt-bootstrap/pull/705

:) Thanks.

[2015-12-28 16:26] vutny commented on #704
@rallytime This issue is not Ubuntu or any other platform specific. It's only the matter of order in which `setup.py` parses its own command line arguments.
Anyhow, PR #705 was merged, so the issue could be closed.

@abednarik, many thanks.

[2015-12-28 16:30] rallytime commented on #704
Thanks everyone!

[2015-12-29 10:46] vutny commented on #713
@dove-young Does this answer your question? If yes, could you be so kind to close the issue, please?

[2016-01-03 00:30] computator commented on #690
This is not fixed yet

[code]

[2016-01-03 02:05] computator commented on #690
This seems to be related to missing packages for non amd64 architectures per https://github.com/saltstack/salt/issues/27437

[2016-01-04 19:44] dmurphy18 commented on #709
@vutny Have  #29812 tracking this issue, can this one be closed since it is a duplicate

[2016-01-05 18:31] jfindlay commented on #713
@vutny's answer should be correct for bootstrap not installing the `salt` command by default, so I am going to close this after waiting for a response.

[2016-01-05 18:31] #713 closed, assigned to nobody

[2016-01-06 14:05] vutny commented on #709
@sjmh Could you be so kind to close this issue? saltstack/salt#29812 is closed already.

[2016-01-06 14:05] vutny commented on #709
Thank you @dmurphy18

[2016-01-06 15:08] vutny commented on #694
@gtmanfred Have you had a chance check your issues on RHEL systems with latest bootsrap?
I think this issue could be closed anyhow and reopened if you'll really demand this feature.

[2016-01-06 15:12] vutny commented on #669
@dmurphy18 Could you please remove the `python-backports-ssl_match_hostname` from RHEL6 repo? It's not in the repodata right now, and the same package is already exists in standard RHEL/CentOS repos.

Thanks in advance!

[2016-01-06 17:16] sjmh commented on #669
@vutny - why would we want to remove this?  The boot strap repos should contain all RPMs needed to install Salt - not just ones that are not in the RHEL standard repos.

[2016-01-06 17:47] #709 closed, assigned to dmurphy18

[2016-01-06 17:54] #669 closed, assigned to nobody

[2016-01-06 18:04] jfindlay commented on #694
@gtmanfred, also be aware that https://bootstrap.saltstack.com/develop is updated manually (@utahdave is doing this right now).

[2016-01-06 18:55] sjmh opened #724 "Remove EPEL repository for RedHat/Centos installs"
With the inclusion of all dependent RPMs into repo.saltstack.com, EPEL is no longer necessary.  In a new install, the only thing that is grabbed from EPEL is msgpack and ordereddict ( this is on RHEL 6.6, with only @Core )

[code]

If I modify the bootstrap:

[code]

And then run it on a brand new system ( again, just @Core installed ) -

[code]

A lot of other systems use the install_centos_stabl

[2016-01-06 19:54] aboe76 commented on #714
@cetanu The python-singledispatch en python-backports_abc is fixed within the devel:languages:python repo, and should work, problem was within the python-tornado package, which didn't have the new depencies, and both packages weren't ready in the repo.

please test it again and see if everything is fixed.

(ps, I'm the package maintainer for openSuse and help out with the sles packaging)

[2016-01-06 20:03] aboe76 commented on #715
that strange should report libzmq5 on Leap instead of libzmq3

see this code:

[code]

[2016-01-07 19:43] aboe76 commented on #715
@furlongm is this fixed with the latest update https://github.com/saltstack/salt-bootstrap/pull/725

[2016-01-07 19:57] aboe76 commented on #706
Needed to keep this somewhere:
This diff should work to change the repo's for opensuse en SLES

[code]

[2016-01-08 09:06] vutny commented on #669
@sjmh Obviously because we want to get updates and bug-fixes from the Red Hat or any other vendor. Also, other software on your machine could possibly depend on the newer version of the package, and you will end up locked on the Salt repo to be always in sync with latest OS patch-level.
Otherwise Salt would need to ship its own Python interpreter and a lot of system core utils :-)

[2016-01-08 09:12] sjmh commented on #669
@vutny - except that that the RHEL @Core image already has all that.  Right now, the repo has everything you need to install Salt onto a vanilla RHEL box.

I'd argue that Salt wants to control the dependencies.  If I'm using the RPM versions that Salt provides, rather than from my RHEL repos, which may update to versions that break things in Salt, then you end up with more issues.

It's the way ve

[2016-01-08 09:22] vutny commented on #669
@sjmh Completely agree with you. This particular package we talked above is the part of RHEL `@Core` and CentOS `@base` repos now. Recently I've did a bootstrap on RHEL6 official AMI, everything works just fine and straightforward. No additional RHN subscriptions required.
See my log here: https://gist.github.com/vutny/d413aeda143742103843

[2016-01-08 09:25] sjmh commented on #669
@vutny  python-backports-ssl_match_hostname isn't in RHEL's @Core.  See #724.  On a no-base install, RHEL still needs that package via the repo.

[2016-01-08 10:51] vutny commented on #669
@sjmh Ah, I guess I misunderstood your point from the start. You mentioned the pre-installed group of packages while I was thinking about the actual repository where they came from.
Now it makes sense to me.

[code]

`rhui-REGION-rhel-server-releases` repository is a main RHEL repo for EC2.

My concern is that Salt requires some of system packages which may need to be installed/upgraded during the

[2016-01-08 11:27] vutny commented on #707
I guess this could be closed.

[2016-01-08 11:34] vutny commented on #639
@bradthurber  `python-crypto` packages for RHEL systems were updated recently on SaltStack main repo: https://repo.saltstack.com/yum/. Looks like that workaround is no longer required, so issue can be closed.

[2016-01-08 20:33] timcharper opened #728 "Feature suggestion: Flag to specify custom repository URL"
Since the debian repo lacks a way to lock to a consistent major version, I'd like to snapshot a version of the repository and use it (occasionally have been burned by surprise upgrades).

There doesn't seem to be a way to specify that a different apt repository should be used. I'd like to add the option but wanted to ask for opinions on it, first.

[2016-01-08 22:39] #707 closed, assigned to nobody

[2016-01-09 22:26] #694 closed, assigned to nobody

[2016-01-11 11:44] cetanu commented on #714
No dice I'm afraid.

[code]

I then ssh'd into the machine, ran a `zypper update`, then tried `zypper install salt-minion`, but still doesn't work without adding the repo as above

[2016-01-11 13:09] aboe76 commented on #714
in the last line:

[code]

why install salt from git develop??

should be ok when just running default salt-bootstrap.sh...

[2016-01-11 13:45] cetanu commented on #714
Same deal without git args:

[code]

Ran with debug, no new information was output.

I've now just checked my bootstrap script, and it's from 3/sep/2015, so I've downloaded the latest boostrap file and testing again...... and the same result.

To be clear, at this point I don't think it's related to single-dispatch or any of those pip installs that I had to do.
It seems to be that repo that I need

[2016-01-11 23:44] HeathNaylor opened #729 "Failed to run install_ubuntu_check_services()!!!"
My Dockerfile:

[code]

Error generated:

[code]

[2016-01-13 03:21] furlongm commented on #715
@aboe76 yes this is fixed for me now.

[2016-01-13 03:21] #715 closed, assigned to nobody

[2016-01-13 03:33] furlongm opened #730 "zypp repo added twice if repo name does not match devel_languages_python"
The zypp repo devel_languages_python is added a second time if the repo name does not match "devel_languages_python".

[2016-01-14 17:56] rbjorklin commented on #696
Could have sworn this wasn't working when I reported it but it seems to be working now.

[2016-01-14 17:56] #696 closed, assigned to nobody

[2016-01-16 23:14] ajmarsh commented on #681
Same problem here.

[2016-01-18 23:32] alvaroarb opened #735 "Python-Tornado for PPC64"
Hi, never used github before (i'm not a developer but a sysadmin), i don't know if this is the right place to do this, but i want to contribute something to this wonderful community.
Recently i was tasked to set up a number of IBM Power 8 Servers with RHEL 7, since they all need to have the same exact configuration i turned to salt for this task, but when trying to install my minions with bootstra

[2016-01-19 18:03] jfindlay commented on #735
@alvaroarb, excellent, thanks for the contribution.  I'm going to move this to salt-pack, as it should be a more appropriate place to discuss this issue.

[2016-01-19 18:03] #735 closed, assigned to nobody

[2016-01-20 00:27] marun opened #736 "Install on fedora 23 creates invalid salt repo file"
After successfully bootstrapping on a Fedora 23 host, the following repo file was created at `/etc/yum.repos.d/saltstack-salt-fedora-23.repo`:

[code]

A subsequent 'dnf update' resulted in the following warning message:

[code]

It appears that salt is distributed by Fedora >= 23 and the extra repo is no longer created or required.

[2016-01-20 05:26] darkseas commented on #681
`sudo sh install_salt.sh -P git develop` works for me.

[2016-01-22 05:46] simonluijk opened #737 "Install failing: Caused by fedoraproject.org moving to fedorainfracloud.org"
For now I run this just after downloading install_salt.sh:

[code]

I have seen other PR's that seem to suggest embedding saltstack-salt-epel-6.repo so leaving this as an issue rather than a PR.

[2016-01-25 05:59] anandnevase opened #740 "How to remotely install Salt minion on already existing Windows VM from master"
I wanted to to remotely installed Salt minion on already existing Windows VM from Salt master running on Debian server. Can any one tell me how can I do that?

[2016-01-25 16:25] dennisfoconnor opened #742 "Non-Development Script Broken on Amazon Linux"
When using the stable script on amazon linux this happend:

[code]

The installation works fine using the develop script.

The issue appears to be with the /etc/yum.repos.d/saltstack-salt-epel-6.repo file.

[2016-01-25 16:45] federicobaldo commented on #742
I suppose this is related to https://github.com/saltstack/salt-bootstrap/commit/f8715cb97fe18349567ef03bf37c130e53a27b49 Any chance that commit can be moved to the stable script?

[2016-01-25 16:47] tskinn commented on #742
I can confirm this issue. The exact same thing is happening in our systems.

[2016-01-25 17:55] scsinutz commented on #742
Confirmed as well. This is breaking our automation.

cat /etc/yum.repos.d/saltstack-salt-epel-6.repo

[code]

[2016-01-25 21:10] jfindlay commented on #740
Ping @thebigbear, @twangboy, @UtahDave.

[2016-01-25 21:16] jfindlay commented on #742
Thanks for the info.  I will be working on a new stable bootstrap version this week.

[2016-01-25 21:17] jfindlay commented on #742
Until then you can work around this by running `salt-cloud --update-bootstrap` or similar.

[2016-01-25 21:50] TheBigBear commented on #740
@anandxoriant what version of Debian server? Your best bet is probably to get a compiled version of `winexe` from `'http://sourceforge.net/projects/winexe/'`, and then run it using the silent switches on the installer. This is just an idea, I have not tested it. Please let me know how you got on.

[2016-01-26 08:45] vutny commented on #661
@Cramix @s0undt3ch I think this issue could be closed.

[2016-01-26 09:44] pupapaik commented on #737
Same issue here. Can you fix it please. It broke up Kubernetes vagrant provisioning.

[2016-01-26 10:06] s0undt3ch commented on #661
Thabks!

[2016-01-26 10:06] #661 closed, assigned to nobody

[2016-01-26 11:28] mlalpho commented on #737
Fixed by #738 ?

[2016-01-26 11:48] vutny commented on #173
@s0undt3ch Looks like this was resolved long time ago :-)

[2016-01-26 12:11] vutny commented on #362
@donatello @s0undt3ch I think this could be closed as outdated issue.

[2016-01-26 12:13] danielgblanco commented on #742
I've just done a  `salt-cloud --update-bootstrap` but I still have version `2015.11.09` with the old COPR URL's...

[2016-01-26 12:18] vutny commented on #562
@pitatus @s0undt3ch I think this could be closed as outdated.

[2016-01-26 14:40] simonluijk commented on #737
Thank you.

[2016-01-26 14:40] #737 closed, assigned to nobody

[2016-01-26 14:42] mlalpho commented on #742
fixed by #738 ?

[2016-01-26 14:47] mlalpho commented on #742
@danielgblanco You can also manually maintain the file `/etc/salt/cloud.deploy.d/bootstrap-salt.sh` on your salt-cloud machine.  :+1:

[2016-01-26 14:53] danielgblanco commented on #742
Will that not get overwritten at some point?

[2016-01-26 14:54] mlalpho commented on #742
only if you were to use salt-cloud cli to force the update.. which should prompt you before it overwrites

[2016-01-26 15:36] vutny commented on #588
There is also an issue with downloading bootstrap script itself in the "official" way: #691

[2016-01-26 16:03] danielgblanco commented on #742
Thanks :+1: just did that and everything's working again.

[2016-01-26 22:01] #362 closed, assigned to nobody

[2016-01-26 22:01] #562 closed, assigned to nobody

[2016-01-27 09:24] anandnevase commented on #740
@TheBigBear : I am using Debian 8.2 and  winexe-static-081123.bz2.
When I am bootstrap VM from template using VMware driver,  VM start with minion installed on it. But currently for Windows VM we can't assign Static IP address, for that I am boot vm in power off mode, then through pyvmomi I am assign Static IP then start VM, but Salt minion not bootstrapped here. So I want to externally bootstrap

[2016-01-27 11:53] vutny commented on #462
@alexthegraham, @jfindlay this seems like not a bootstrap issue and could be closed.

[2016-01-27 11:56] vutny commented on #466
@mike-ainsworth This looks outdated. I had no problems bootstrapping RHEL systems in EC2 with recent `develop` version.

[2016-01-27 11:58] vutny commented on #474
@storysj Looks like it was resolved some time ago. I haven't experienced any EPEL issues while bootstrapping recently. I think this could be closed.

[2016-01-27 14:25] storysj commented on #474
works for me

[2016-01-27 14:28] amalaguti commented on #740
Yesterday I wrote this "very simple" script, there's room for improvement, it mounts the Windows C$ drive in Linux, copy the Minion installer to the mounted C$ and remotely execute a silent installation using winexe (the minion name is not set in the command line, I'm taking the computer name). Took me a while to get winexe compiled on my Ubuntu platform, but finally got it working.
[winminion-dep

[2016-01-27 14:43] vutny commented on #474
@storysj That's great! Please could you be so kind to close the issue?

[2016-01-27 14:50] #474 closed, assigned to nobody

[2016-01-27 15:41] TheBigBear commented on #740
@anandxoriant I am not sure I follow your logic or exact problem a 100%, what is to stop you from having the minions doing a intial connect and handshake using the automatic and dyna,ic IP, and then once you have them in the salt master, yhou can go about changing and setting the fixed IP they shoudl be getting? But anyway, this is probably not relevant anymore seeing that @amalaguti has solved wh

[2016-01-28 18:27] scsinutz commented on #742
How to get around this issue with Packer? The Packer salt provisioner calls "curl -L https://bootstrap.saltstack.com" to get salt installed.

[2016-01-29 22:45] jfindlay commented on #462
Also, bootstrap is hosted at https://bootstrap.saltstack.com/ (whereas http://bootstrap.saltstack.org still redirects to github).

[2016-01-29 22:45] #462 closed, assigned to nobody

[2016-01-30 23:34] dearing commented on #742
provision.sh

[code]

[code]
- https://www.packer.io/docs/provisioners/salt-masterless.html#skip_bootstrap

[2016-02-01 20:30] scsinutz commented on #742
dearing, That fixed it! Thank you!

[2016-02-03 10:33] vutny commented on #724
@sjmh Looks reasonable. @saltstack team even updated documentation to highlight this:

saltstack/salt@dfc1f7a57d208998678c72d83b0ac444772039dd

[code]

[2016-02-03 14:49] vutny commented on #492
@devopstuts This is not an issue with salt bootstrap. It means that your instance has IPv6 interface enabled but it's not routed to the world and curl deceptively resolves AAAA DNS records instead of A.
Old story here: https://bugzilla.redhat.com/show_bug.cgi?id=548269

Seems like your instance has too old curl installed.
You could also try to disable IPv6 support completely,  but I'd not recommen

[2016-02-03 22:24] pschipitsch commented on #742
This is breaking our Packer builds using salt-masterless.

[2016-02-03 22:27] scsinutz commented on #742
pschipitsch, I had the same problem but dearing comment fixed it for me.

give it a try...

[2016-02-04 03:50] youngnick opened #747 "installing on debian jessie using bootstrap from repo.saltstack.com broken after 2015.8.4 release"
Hi,

Looks like something similar to #709 has recurred post the 2015.8.4 release - when doing a bootstrap since the release, I get the following:

[code]

Maybe something has got confused during the package build process? The same config was bootstrapping just fine with salt-cloud last Friday.

Salt master is debian jessie running on AWS, minions being bootstrapped are also debian jessie.

[2016-02-04 12:18] vutny commented on #742
@dennisfoconnor `stable` branch of `salt-bootstrap` is outdated. Better to use `develop` for now.
I'm looking forward for all recent changes to be merged into `stable`.
https://bootstrap.saltstack.com redirects to http://bootstrap.saltstack.com/stable/bootstrap-salt.sh. You can use https://bootstrap.saltstack.com/develop.

Also, we still need #691 to be resolved.

[2016-02-04 14:19] XceligentITDept opened #749 "Failure on salt-minion apt-get install"
apt-get install salt-minion
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following extra packages will be installed:
  dctrl-tools debconf-utils libmysqlclient18 libpgm-5.1-0 libzmq3 mysql-common
  python-crypto python-dateutil python-jinja2 python-mako python-markupsafe
  python-msgpack python-mysqldb python-tornado python-zmq salt-common
Suggested

[2016-02-04 20:54] jfindlay commented on #747
@youngnick, I created a new debian 8 VM and ran `curl -L https://bootstrap.saltstack.com/ | sh -s -- stable` on it, which worked for me.  We have been updating the repos with newer versions, so you might have encountered a transient inconsistent state.

[2016-02-04 23:39] youngnick commented on #747
Yep, confirmed from me as well. Sorry about the noise, just realised it was probably a cache problem on my end.

[2016-02-04 23:39] #747 closed, assigned to nobody

[2016-02-05 09:54] vutny commented on #288
@ruimarinho Now salt bootstrap (`develop` branch) is not purging temporary Git checkout directory, but make an attempt to fetch, `reset --hard` and `pull --rebase` if necessary. So there is no special upgrade strategy for Git-based installations.

I hope that helps. Please could you be so kind to close this issue?

[2016-02-05 10:19] vutny commented on #710
Hi @sjmh,

Another way is to install from self-hosted Git repo with `-g` option. Looks solid:

[code]

[2016-02-05 10:24] vutny commented on #173
@jfindlay How about to close this? Thanks.

[2016-02-05 10:30] vutny commented on #466
@jfindlay I thinks this could be closed too and reopened if necessary.

[2016-02-05 10:31] vutny commented on #482
Yeah, looks outdated. Ping @jfindlay

[2016-02-05 20:40] kshenk1 commented on #742
Maybe I'm not understanding. I thought we could use the `develop` version?

I pulled https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh to `/etc/salt/cloud.deploy.d/bootstrap-salt.sh`, and salt-cloud still fails for me

[code]

[2016-02-05 22:08] jfindlay commented on #749
@XceligentITDept, will you describe how you are running bootstrap and what version of bootstrap you are running?  Thanks.

[2016-02-05 22:44] jfindlay commented on #173
@vutny, it is possible.  @s0undt3ch, did you intend to create deb and rpm packages for bootstrap itself?

[2016-02-05 22:45] #466 closed, assigned to nobody

[2016-02-05 22:45] #482 closed, assigned to nobody

[2016-02-05 22:56] s0undt3ch commented on #173
It was an idea when we didn't host the script through HTTPS. But this never really got interest from anyone. Let's close it.

[2016-02-05 22:56] #173 closed, assigned to nobody

[2016-02-05 23:07] jfindlay commented on #691
Ping @UtahDave, @s0undt3ch.

[2016-02-05 23:09] ssgward opened #752 "Trying to install salt-v2016.3.0rc1 using bootstrap fails"
When trying to install salt-v2016.3.0rc1 using bootstrap it fails.

Running these commands:
`wget -O /tmp/install_salt.sh https://bootstrap.saltstack.com`
`sh /tmp/install_salt.sh -M -P git v2016.3.0rc1`

I get this error message:
`* ERROR: Failed to run install_centos_git()!!! - using Cent7`
`* ERROR: Failed to run install_ubuntu_git()!!! - using Ubu14`

If I use `v2016.3.0rc0` it is working fine

[2016-02-06 02:58] #730 closed, assigned to nobody

[2016-02-06 15:51] mlalpho commented on #742
This started showing up from EPEL recently:
[code]

[2016-02-06 15:52] mlalpho commented on #742
A run of `./deploy.sh` from the failed minion is a success. Perhaps a retcode issue there??

[2016-02-06 15:55] mlalpho commented on #742
[code]

[2016-02-06 17:13] mlalpho commented on #742
@kshenk1 I'm not sure if your issue is related.

I tried to run your install with script args: -G -Z git v2015.5.1  on a Centos6 image

I ended up getting a bunch of python lib conflicts:

[code]

If I change the script_args to `-U -G -Z git v2015.5.1`, so that yum updates before anything.. It works! :+1:

Let me know if that helps at all .. Cheers! :beers:

[2016-02-06 17:37] ruimarinho commented on #288
Sounds good to me! Thanks!

[2016-02-06 17:37] #288 closed, assigned to nobody

[2016-02-07 04:01] kshenk1 commented on #742
Soooo... I'm almost embarrassed to say that this turned out to be my proxy, which I just didn't think about because the particular instance I was provisioning has a public interface, but proxy's all provisioning. A proxy for the interactive shell wasn't yet in place on the instance - so when I'd ssh in I could pull the saltstack repo key just fine, however; the bootstrap script couldn't seem to ge

[2016-02-10 17:32] yamamushi opened #757 "Salt-Cloud bootstrap to RHEL7 in AWS fails (GPG Keys)"
I don't know if this is related to #724 , however it does look related to https://github.com/saltstack/salt/issues/29094 .

It was suggested that an issue be opened here, so I apologize if this is really just a duplicate of #724

Using salt-cloud to spin up a new RHEL7 instance in AWS results in the following error:

[code]

I've seen several workarounds suggested for people who are manually setti

[2016-02-10 18:03] dmurphy18 commented on #757
@yamamushi Please use https://repo.saltstack.com/yum/redhat/7/x86_64/SALTSTACK-GPG-KEY.pub
and http://repo.saltstack.com/yum/redhat/7/x86_64/latest/base/RPM-GPG-KEY-CentOS-7

The pciutils are located in the base sub-directory, hence the correct key for these is RPM-GPG-KEY-CentOS-7.  The packages in the base sub-directory are provided as a convenience for those installations which disable updates,

[2016-02-10 19:02] yamamushi commented on #757
@dmurphy18 We can't use the rpm packages for installing salt, as there is an issue that prevents Windows R2 Instances from being configured properly (in AWS) that has only been resolved through the bootstrap installation method.

https://github.com/saltstack/salt/issues/30167

Perhaps when a new RPM is available the issue will be resolved.

How would I go about using that GPG key through salt-clou

[2016-02-10 21:00] dmurphy18 commented on #757
@yamamushi have update your bootstrap script with a 'salt-cloud -u' ?

Note, there is work being done for win.exe for RH7 by a contributor, which should help with this issue, win.exe for RH 6 is available since 2015.8.5.  It was added to the repo.saltstack.com to address Windows R2 issues with AWS, unfortunately time ran out on getting RH 7 to work before the point release.

[2016-02-10 21:08] yamamushi commented on #757
@dmurphy18 , I've tried updating with 'salt-cloud -u' but I get the same issues as I reported above :-/

I was hoping there was a flag or a config change I could pass in to get around the problem, but a look through the salt-cloud documentation doesn't mention anything obvious I could try to get around the issue.

[2016-02-12 21:17] terminalmage opened #758 "Add a flag to cleanup a git-based install"
Transitioning from a git-based install to a repo-based install is not a clean process right now. We should add a `--record /salt.manifest` (or some other path) to the `setup.py install` command (if not using pip), and then add a flag so that salt-bootstrap can be invoked to remove the files that are written to the path specified by the `--record` argument.

[2016-02-16 00:53] cro opened #759 "Bootstrap, develop branch, failure on Tumbleweed"
From Tumbleweed installed 2016-02-09--this is the develop bootstrap.sh:

[code]

[2016-02-16 19:51] pwhack commented on #103
Getting the following error when using the 2015.11.09 version of the bootstrap script:
[failed_ec2_deploy.txt](https://github.com/saltstack/salt-bootstrap/files/133179/failed_ec2_deploy.txt)

The erroneous contents of /etc/yum.repos.d/saltstack-salt-epel-6.repo are:
[erroneous_repo_content.txt](https://github.com/saltstack/salt-bootstrap/files/133181/erroneous_repo_content.txt)

[2016-02-17 20:38] rterbush opened #762 "Install on FreeBSD 10.2 fails to find provided git tag"
Attempting to install on FreeBSD 10.2 fails to find the provided tag as follows:
install_salt.sh is current as of 2/16/2016

[code]

[2016-02-18 21:10] unicolet opened #763 "Install git develop fails on Centos 6/7 (pull 1b16dd9 into stable)"
Install fails with current stable branch of salt-bootstrap but works with develop.

The culprit seem to be [this](https://github.com/saltstack/salt-bootstrap/blob/stable/bootstrap-salt.sh#L3173) line: The prefix option needs to be moved after install.

Salt-bootstrap in the develop branch does not present the issue, so this ticket is more of a friendly reminder to pull [1b16dd9](https://github.com

[2016-02-19 02:46] adubkov commented on #411
:+1:

[2016-02-22 08:40] sjorge opened #764 "git install ends up with broken build for develop and 2016.3 on smartos"
[code]

Someone mentioned this to me on IRC, I checked and it looks to indeed be broken.

[2016-02-22 08:58] sjorge commented on #764
`pip install -U futures` fixes it.,

which is very weird as this is in `requirements/base.txt` so it should get installed :confused:

[2016-02-22 14:00] vutny commented on #714
@cetanu There were some improvements for bootstrapping Suse systems in `develop` branch recently.
Please try again to fetch latest bootstrap script using command:

[code]

I guess that it should resolve your issues.

[2016-02-22 15:56] vutny commented on #144
@robinsmidsrod @s0undt3ch This issue is too old. I guess you can close it now and reopen if necessary.

[2016-02-22 15:59] vutny commented on #652
@rallytime Is this still an issue?

[2016-02-22 16:04] vutny commented on #492
Ping @jfindlay

[2016-02-22 16:12] vutny commented on #531
@ferricoxide I guess there are many-many packages need to be installed for all modules and states to work out the box after bootstrap. It's better to manage such dependencies with Salt (add/enable necessary repos, install specific versions and so on). Or as alternative you can use `-p` option:

[code]

I think it should be closed.

[2016-02-22 16:13] vutny commented on #639
Ping @jfindlay

[2016-02-22 18:42] bradthurber commented on #639
@vutny I'm using latest "develop" version of salt-bootstrap without issue on RHEL 6.7 systems. Agree this can be closed.

[2016-02-22 18:42] #639 closed, assigned to nobody

[2016-02-22 19:40] ferricoxide commented on #531
For a properly constructed RPM of the salt-packages, there should probably be a `requires:` for the two missing packages (`libsemanage-python` and/or `policycoreutils-python`) in the SPEC file. Yum will take care to resolve the sub-dependencies associated with the `libsemanage-python` and/or `policycoreutils-python` packages.

[2016-02-22 20:31] robinsmidsrod commented on #144
Unfortunately, I've stopped using OmniOS, so I don't have the environment around anymore to test it out. Feel free to reopen if you have both a test environment and a problem with the issue.

[2016-02-22 20:31] #144 closed, assigned to nobody

[2016-02-23 08:04] vutny commented on #531
@ferricoxide I just wanted to say that SELinux packages are not the hard requirements for Salt to start up, run and perform its main job. To unlock some modules functionality, you need to install additional software.
For example, to make [git module](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.git.html) work, you obviously should install `git` package on the target system bef

[2016-02-23 08:12] vutny commented on #757
Hi @yamamushi
This issue is probably a duplicate of saltstack/salt#31193

[2016-02-23 13:34] ferricoxide commented on #531
What I'm saying is that one of the beauties of RPM/yum is that dependencies are generally auto-resolved. If packages are properly constructed, one never runs into an issue where they go to execute a given function within packaged and that function fails due to an unsatisfied dependency. That's why system owners love RPM/yum.

I can understand leaving dependency-resolution to the system owner if yo

[2016-02-23 15:48] vutny commented on #531
@ferricoxide Yeah, you're totally right about that the dependencies resolution is the package manager software job.
The problem here is that Salt rpm just cannot require all packages to make all available modules to work out of the box (not just `selinux`). Mostly because there are many software which Salt is able to manage, but the packages are not the part of RHEL/CentOS/EPEL/Fedora repos, for e

[2016-02-23 21:49] ferricoxide commented on #531
No worries. At the time I opened the bug, I was using the `curl`bootstrap script. Recently switched to using the Salt RPM method that includes the Salt-specific repos (rather than the EPEL ones).

At this point, it's mostly wishlisting. While it's easy enough for me to put in my documentation to our ops team and the self-service users to "do X, Y and Z" (where "Z" is the "install the Salt RPMs" st

[2016-02-24 08:53] vutny commented on #531
@ferricoxide By the way, recent _develop_ version of `bootstrap-salt.sh` (fetched from https://bootstrap.saltstack.com/develop) is doing all this stuff for you: configure Salt corporate repositories and install latest stable packages from there (and even additional ones as I mentioned before) with shell one-liner. Check it out, that should save you from additional manual work.
Few things should be

[2016-02-24 08:57] vutny commented on #691
Thanks guys! I see it's resolved now:

[code]

This issue should be closed.

[2016-02-24 09:06] vutny commented on #684
@gravyboat @s0undt3ch I believe this is no longer an issue, at least with bootstrap and could be closed.

[2016-02-24 10:59] s0undt3ch commented on #684
Thank You for getting back. Closing.

[2016-02-24 10:59] #684 closed, assigned to nobody

[2016-02-24 11:34] s0undt3ch commented on #691
Thanks You. Closing as resolved.

[2016-02-24 11:34] #691 closed, assigned to nobody

[2016-02-24 13:05] ferricoxide commented on #531
Oop. Sorry. Thought only you guys could close (or otherwise modify issues) once opened.

[2016-02-24 13:05] #531 closed, assigned to nobody

[2016-02-24 13:27] vutny commented on #749
Looks like this was repository metadata issue, not related to the bootstrap.
@jfindlay @s0undt3ch I think it could be safely closed and reopened if needed.

[2016-02-24 13:37] vutny commented on #695
@dmurphy18 I think we should mention explicitly in documentation the fact, that Salt binary dependencies for Debian only provided for `amd64` architecture from corporate repo.

[2016-02-24 16:08] vutny commented on #736
@marun Looks like this issue has been resolved in the `develop` branch. Please could you close it?

[2016-02-24 16:16] vutny commented on #690
Looks like this is an repository layout issue, nothing really related to the bootstrap script. Should be closed as duplicate.

[2016-02-24 16:26] vutny commented on #585
@steverweber And there is `-G` option:

[code]

I think this issue could be closed as resolved.

[2016-02-24 16:50] dmurphy18 commented on #695
@vutny I shall bring the issue up. It also applies for Ubuntu as well.

[2016-02-24 18:03] #736 closed, assigned to nobody

[2016-02-24 19:54] steverweber commented on #585
thanks!

so something like...

[code]

perhaps an example like this might be good in the readme.

[2016-02-25 08:34] vim-zz commented on #695
i have been able to install latest salt only after using the following packages from raspbian:
http://archive.raspbian.org/raspbian/pool/main/s/salt/salt-common_2015.8.5%2bds-1_all.deb
http://archive.raspbian.org/raspbian/pool/main/s/salt/salt-minion_2015.8.5%2bds-1_all.deb

which then also requires to use jessie-backports as python-tornado 4 is not included in jessie

[2016-02-25 09:20] vutny commented on #690
Submitted PR to reflect this in the documentation: saltstack/salt#31477

[2016-02-25 09:22] vutny commented on #695
@dmurphy18 I've submitted couple of PRs with documentation update for Debian and Ubuntu. One of them is already merged, but the site still contains the old version: https://docs.saltstack.com/en/latest/topics/installation/debian.html
Should it be updated automatically or not?

[2016-02-25 09:30] vutny commented on #695
@vim-zz As I see, Raspbian Stretch distribution (current testing) also includes recent Salt version like main Debian archive. Great. At least we could update the documentation to reflect this. Maybe installing packages from _testing_ on _stable_ as well...

[2016-02-25 09:31] vutny commented on #690
Ping @dmurphy18

[2016-02-26 14:41] vutny commented on #757
@yamamushi This is already fixed in latest `develop`.
Just download https://github.com/saltstack/salt-bootstrap/raw/develop/bootstrap-salt.sh to `/etc/salt/cloud.deploy.d/bootstrap-salt.sh` and everything should be good.

I think this issue could be closed. Thanks!

[2016-02-26 15:19] vutny commented on #695
@mtippett @vim-zz Unfortunately, current salt-bootstrap doen't support installation on Raspbian, but at least we got documentation updated with `salt-minion` installation instructions for Jessie from official Raspbian repo (Stretch package). Check it out (should be updated on the site soon): https://github.com/saltstack/salt/blob/2015.8/doc/topics/installation/debian.rst

[2016-02-26 15:33] yamamushi commented on #757
@vutny Using the develop branch is exactly what SaltStack support told our organization not to do, so we will have to wait for the fixes to be merged into a stable branch hopefully sometime in the near future.

[2016-02-26 15:51] vutny commented on #757
@yamamushi That's maybe true for the whole saltstack/salt project, but I can assure you that current `develop` version of `bootstrap-salt.sh` script is actually far more stable than `stable` branch :smile: There are tons of fixes merged recently. Anyhow, I'm looking forward for real `stable` version to be produced.

[2016-02-26 16:03] vutny commented on #749
Ping @s0undt3ch

[2016-02-26 16:08] vutny commented on #492
Ping @s0undt3ch

[2016-02-26 16:17] s0undt3ch commented on #492
Closing as requested.

[2016-02-26 16:17] #492 closed, assigned to nobody

[2016-02-26 16:18] s0undt3ch commented on #749
Closing as requested.

[2016-02-26 16:18] #749 closed, assigned to nobody

[2016-02-27 15:16] AndreiPashkin opened #767 "False error "The git revision being installed does not match a Salt version tag.""
Invocation of the script (2015.11.09) with parameters `-P git 2015.8` results to such error:

[code]

And full cloning of the Salt repo.
While a branch with the name `2015.8` is exists.

[2016-02-27 15:20] s0undt3ch commented on #767
A branch exists, but if you notice the error it mentions a tag, and a tag by that name does not exist.

[2016-02-27 15:41] AndreiPashkin commented on #767
@s0undt3ch, I forgot to mention, that command `git --depth 1 --branch 2015.8 https://github.com/saltstack/salt.git` - actually works. It doesn't require a tag.

[2016-02-27 15:43] AndreiPashkin commented on #767
@s0undt3ch, [docs](https://docs.saltstack.com/en/latest/topics/tutorials/salt_bootstrap.html#example-usage) are also states, that you can specify branch as a parameter (CTRL-F "mybranch")

[2016-02-27 16:03] s0undt3ch commented on #767
Yes, of course you can, to both statements. :)

But in order to get the correct version information for salt, we need to either clone the full repo and fetch tags, or clone a specific tag.

[2016-02-27 16:16] AndreiPashkin commented on #767
What if I want to always install latest minor version using `git` installation method and not wasting time on full clones?

[2016-02-27 16:22] AndreiPashkin commented on #767
Why, actually? Interface of the script defines this command as:

[code]

It's not says `version`, it says `branch_or_tag`.

[2016-02-27 16:23] s0undt3ch commented on #767
The script will not support such behavior(shallow clone from branches) because we the proper version information.

[2016-02-27 17:45] AndreiPashkin commented on #767
So, what is the input argument for `git` - Salt version or Git refspec?

[2016-02-27 18:58] s0undt3ch commented on #767
Salt gets its version information from `git describe` that's why it either needs a full clone, or a shallow clone _from a git tag_.

[2016-02-28 07:05] AndreiPashkin commented on #767
I think, it is also possible to find appropriate tag for given version, by using `git ls-remote`.

[2016-02-28 20:03] vim-zz commented on #695
@vutny great

[2016-02-29 00:27] cetanu commented on #714
Tried again with the following:

[code]

All failed with the same error:

[code]

[2016-02-29 08:28] vutny commented on #695
Small corrections from PR saltstack/salt#31536 should be applied...

[2016-02-29 12:22] vutny commented on #767
@AndrewPashkin Latest script from `develop` allows shallow cloning for version branches. Also you could try passing `-f` option (force shallow cloning for git installations). Check it out.

@s0undt3ch Salt version will be displayed almost correctly :-) Like: `2015.8.0-n/a-commithash`.
I think that's acceptable for "non-released" code taken from branch, and we have the speed advantage of shallow cl

[2016-02-29 13:46] s0undt3ch commented on #767
The problem with almost is when users get back to report bugs, we won't have a clear idea of the version. And I also think that its almost only for recent enough git versions(older git versions will probably be totally off). Git describe needs to be told to get branch information relative to first parent branch...

[2016-02-29 14:53] vutny commented on #767
@s0undt3ch Yeah, sounds reasonable. At least, only with major version and commit hash we are able to determine exact version from Git tree.

@AndrewPashkin I think this issue could be closed. Thank you.

[2016-02-29 15:04] AndreiPashkin commented on #767
Yes, I'm closing it.

By the way, I solved my problem, using that obscure shell expression:

[code]

It retrieves a tag, that corresponds to latest minor version for given `SALT_VERSION`. And this tag could be fed to `salt-bootstrap.sh git` subcommand.

[2016-02-29 15:04] #767 closed, assigned to nobody

[2016-02-29 15:10] vutny commented on #767
@AndrewPashkin Nice trick!
But that will only suit if you need latest _released_ version, because there could be some pending changes ahead of tagged revision in `2015.8` branch for example.

[2016-02-29 15:20] AndreiPashkin commented on #767
In that case, you can specify `2015.8` as an argument and use `-f` option, I guess.

[2016-03-01 07:44] vutny commented on #714
@cetanu Yeah, `salt-cloud -u` will not work as I figured out recently.
Try this on your host with`salt-cloud` installed:

[code]

Or:

[code]

There was a documentation update and it should appear on the site soon.

[2016-03-01 15:30] vutny commented on #757
@yamamushi @dmurphy18 I guess this issue is resolved and should be closed.

[2016-03-01 16:25] yamamushi commented on #757
What is the ETA for the develop branch being merged into stable and pushed up to https://bootstrap.saltstack.com ?

[2016-03-02 08:45] vutny commented on #757
All of us are looking forward to that moment!

[2016-03-02 15:44] cro commented on #757
We typically try to cut a new release whenever we release a new version of Salt.  We're getting ready to cut release candidates of 2016.3 now, so an updated bootstrap should be forthcoming in March.

I'm going to close this ticket, feel free to comment and we can re-open if needed.

[2016-03-02 15:44] #757 closed, assigned to nobody

[2016-03-03 00:25] BretFisher commented on #764
Same happens with upgrade from 2015.5.6 to 2015.8.7. Install's fine, but receive that error when running salt-minion.

`curl -L https://bootstrap.saltstack.com | sudo sh -s -- -P git v2015.8.7`

[2016-03-04 13:14] aanriot commented on #682
Hello,

I noted that it can fail when a previous installation has been run, i.e. through APT.

Have you tried on a fresh system or on one which has been cleaned up?

Best regards,

[2016-03-04 21:01] BretFisher commented on #764
had to do this first so it would work for me:

[code]

[2016-03-09 09:15] arthurzenika opened #770 "ERROR: Failed to run install_debian_8_deps()!!!"
[code]

[2016-03-09 09:22] arthurzenika commented on #770
Disabling my apt-cacher-ng proxy fixes this.

I think this is because the files on repo.saltstack.com have changed but you are keeping the same versions. This should never happen in a debian repo. You should have a new file with a debian package version different (for example python-urllib3_1.10.4-1_all.deb becomes python-urllib3_1.10.4-2_all.deb).

If these packages are backports or different fro

[2016-03-09 10:14] vutny commented on #714
@cetanu Does those commands work for you? Thanks for any feedback!

[2016-03-09 12:49] pkruithof commented on #596
Any news on this? I can't even install the salt master on 15.10 :/

[2016-03-09 16:39] dmurphy18 commented on #770
@arthurlogilab the Debian files are rebuilt from the Debian sources utilizing the dsc file etc.  They are unchanged from the sources downloaded, only built using pbuilder.

If the packages are only rebuilt, why should the version number for the package change.  I understand that compiler and linker versions may be different from when the original Debian package was built, but functionally it shoul

[2016-03-10 09:05] JensRantil opened #772 "Preseeding of key"
Is it possible to preseed a key with `salt-bootstrap`? Would it work to simply
1. `mkdir -p /etc/salt/pki/minion`
2. Put the preseeded `minion.pem` and `minion.pub` in the above directory.
3. Calling `salt-bootstrap`. Or will `salt-bootstrap` override the files?

I could obviously, run `salt-bootstrap` and then replace the pregenerated key. They problem is that `salt-bootstrap` starts the minion w

[2016-03-10 09:06] JensRantil commented on #772
A workaround:
1. Run `salt-bootstrap`, specifying a non-existing master hostname.
2. Stop minion.
3. Update the correct master in configuration.
4. Replace with my preseeded keys.
5. Start minion.

[2016-03-11 05:45] cetanu commented on #714
Hello @vutny ,

Still no luck.

I'm using the following profile:

[code]

ran the above commands and got the same error as above, but I can ssh into the machine and install the packages with zypper :\

[2016-03-11 08:25] vutny commented on #588
#691 was fixed.
This is no longer a case, was removed in develop:
https://github.com/saltstack/salt-bootstrap/blob/ab3dac2c275308e06739450b7ab10bf1f75a97b4/bootstrap-salt.sh#L2684
This is also has been fixed:
https://github.com/saltstack/salt-bootstrap/blob/ab3dac2c275308e06739450b7ab10bf1f75a97b4/bootstrap-salt.sh#L2676

Dealing with Debian and Suse becomes more complicated....
Repositories layou

[2016-03-11 08:49] vutny commented on #690
Ping @jfindlay

[2016-03-14 21:42] valentin2105 opened #774 "Unable to find expected entry 'main/binary-armhf/Packages'"
### Description of Issue/Question

Hi,
I found a problem with Salt on Armhf (on Scaleway instances),
When bootstraping Salt, I got this on output (block at `apt-get update` after repo adding) :

[code]

I have trying on Ubuntu and Debian, with Salt-Cloud or directly by SSH (by adding salt's repo).

I have trying with "-P" flag and with "git version" flag too.

Here the full error from `salt-cloud

[2016-03-14 23:40] jquast opened #775 "Amazon Linux on develop raises ImportError: No module named concurrent"
Hello,

When using a new Amazon OS ec2 instance, the stable bootstrap script fails for existing issue #742.

As suggested there, using the develop branch instead, a different error occurs.

It seems **the version of tornado installed is incompatible with salt**, Package `python-tornado.noarch 0:2.2.1-7.el6`, raising exception:

[code]
## release details

[code]
## log output

Uploaded as gist, htt

[2016-03-15 08:32] vutny commented on #714
@cetanu Sad to hear that.
As a last resort, could you please try to re-run bootstrap script manually on the instance?
Like this:

[code]

This will help to identify on which step it was failed exactly.

P.S. Installing from `git develop` could be possibly broken...

[2016-03-15 15:13] dmurphy18 commented on #775
@jquast Thanks for the information, it appears that python-futures is missing as a dependency.

Note, you can also install on Amazon with an install repo rpm, see: http://repo.saltstack.com/#amzn

[2016-03-16 09:34] cetanu commented on #714
That installed a whole bunch of python modules, but then got stuck with this error:

[code]

[2016-03-16 17:45] beardedeagle opened #776 "Salt-cloud config options not being passed by salt-bootstrap"
## Description of Issue/Question

When using the latest `bootstrap-salt.sh` it does not honor config options passed via salt-cloud, at least for _**Openstack**_. This is only broken within the last couple of months.
## Setup

Example /etc/salt/cloud.provider.d/base-provider.conf (vastly shortened):

[code]

Example /etc/salt/cloud.profile.d/base-profile.conf (vastly shortened as the file has 2485

[2016-03-17 11:50] ryanwalder opened #777 "FreeBSD 9/10 install does not use copied configs"
When bootstrapping FreeBSD 10.2 the script will move the copied minion config (specified with `-c /tmp`) to `/usr/local/etc/salt/minion` as expected but then it looks like the `install_freebsd_9_stable_post` function just [copies over the sample config](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L4342) rather than checking/using `_TEMP_CONFIG_DIR`.

[2016-03-20 20:33] bissei opened #778 "Manjaro Linux not supported/cannot install"
Hi,

Cannot install Salt to Manjaro. Please, add support for this. Thanks!

[code]

[2016-03-22 19:29] frogunder opened #780 "Installing salt fails using bootstrap on opensuse-cloud"
I span up a opensuse cloud and tried to install salt using bootstrap, it fails.

https://gist.github.com/frogunder/6836035b6965307dea87

[2016-03-22 19:29] frogunder opened #781 "Installing salt fails using bootstrap on fedora-cloud"
I span up a fedora cloud and tried to install salt using bootstrap, it fails.

https://gist.github.com/frogunder/b27ea53bbe0a1e91fca3

[2016-03-23 00:07] ninjada opened #782 "Bootstrap and Links & Documentation still broken due to fedoraproject redirect to fedorainfracloud.org"
Guys,

The issues since the fedoraproject.org redirect to fedorainfracloud.org with the bootstraps are still broken for me...

At least this is the case for Amazon Linux.. I just tried the simple task of quickly bootstrapping a bunch of servers over ssh for some super quick testing and ended up bashing my head against a wall for half an hour getting things working...

Any documentation I hit, the

[2016-03-25 16:08] vutny commented on #729
This is because bootstrap script tries to start and check Salt services _during image build time_.
`upstart` should be up and running for Salt init configuration to work.
You need to use `-d` flag if you're going to bootstrap Salt while creating an image:

[code]

Like this:

[code]

I guess README needs an update about using Docker with Salt Bootstrap.

[2016-03-25 16:11] vutny commented on #729
Even better to use this option:

[code]

[2016-03-25 21:02] #780 closed, assigned to nobody

[2016-03-26 19:51] archcloudlabs opened #784 "Lack of HTTPS support for RPM download"
[Line 3050](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh) shows files being insecurely downloaded from download.fedoraproject.org over HTTP.  I've issued a pull request [here](https://github.com/saltstack/salt-bootstrap/pull/783) addressing the issue.

[2016-03-28 20:21] discotroy opened #786 "Bootstrap fails on Ubuntu 15.10"
Possibly a duplicate, but I couldn't find any other issues which didn't include other potential complicating factors.

I'm attempting to bootstrap an Ubuntu 15.10 VM provisioned via salt-cloud on VMWare.  The inital provisioning works (after some hoops were jumped through), but the bootstrapping of Salt fails with a message about problems with "install_ubuntu_deps_stable".  This appears to be link

[2016-03-29 13:25] gdm85 commented on #588
@vutny yes, sorry for not including the commit hash in OP links..

Shall I review the current version of the scripts? Or are there other issues open to track the remaining problems?

**Edit:** I see there are still plenty of cleartext HTTP downloads of yum repository sources (which are not verified against a signature/hash AFAIK), thus I would be inclined to **not** close this issue as it's not fi

[2016-03-30 07:35] vutny commented on #588
@gdm85 Feel free to study current develop version and put on the table any concern you will find.
I believe many things we have for now could (and should) be deprecated, and if there would be more reasons to do that, the sooner we'll get the improvements.
I am personally interested in making bootstrap secure and reliable. You have all good points.

[2016-03-30 09:13] manikantag commented on #596
I m not able to install tomcat8 due to this same error.

[code]

OS details:

[code]

[2016-03-30 12:14] #585 closed, assigned to nobody

[2016-03-30 12:17] #781 closed, assigned to nobody

[2016-03-30 16:59] gdm85 commented on #588
@vutny I will make a pull request to show how this could be tackled.

My perspective is the one of anybody willing to integrate this in their system; if you have a requirement of security that prevents this type of MiTM to be in the code anywhere, then he/she will have to fix it themselves anyway via a fork or patch.

[2016-03-30 17:35] gdm85 commented on #588
I have added a pull request that adds a `FIXME` for each of the remaining MiTM vulnerabilities and closes the gap for two of them by using:
1. md5sum + size validation
2. HTTPS over HTTP (for anonscm.debian.org access)

The first one is exemplary to show how issue could be tackled with pinning.

[2016-03-31 12:45] msiebeneicher opened #789 "Bootstrap fails on FreeBSD 10.2"
Hi,

it's looks like that the python dependencies changed not a long time ago. Without any changes of the bootstrap scripts we aren't able to install salt under a Vagrant FreeBSD 10.2 box:

[code]

After a manual installation of `py27-msgpack-python-0.4.7` the minion could start and everything worked fine again:

[code]

[2016-04-07 21:57] EliRibble opened #792 "Bootstrap does not detect CoreOS correctly"
[code]

[2016-04-08 10:01] valentin2105 commented on #644
Any idea of How to fix the problem ?
Scaleway doesn't work anymore with Salt-Cloud

[2016-04-09 13:34] vutny commented on #588
@gdm85 I love an idea of checking remote file hash. By the way, Salt does exactly the same in `file.manage` state module. I think it would be better to use SHA256 or even SHA512 checksum. With these strong hashes we don't need to perform additional size validation.

Or maybe, do you have some concerns about the file size?

[2016-04-10 05:00] #777 closed, assigned to nobody

[2016-04-10 07:46] gdm85 commented on #588
@vutny the combination of MD5 + file length was used there exclusively because it is usually available on many systems out-of-the-box, but otherwise I would use SHA256 for hash pinning

[2016-04-10 14:23] gdm85 commented on #588
@vutny feel free to close this when issues have been addressed. Shall I update or close #788? I guess you could cherry-pick and adjust as needed, or just reproduce some parts, no need to credit me for such small things :)

[2016-04-10 18:48] vutny commented on #588
@gdm85 :+1: Your feedback was much appreciated. Personally I would like to keep both this issue and PR #788 open as a reminder and some kind of TODO list :-)

[2016-04-11 05:43] gdm85 commented on #588
Alright! Will keep an eye on this then :)

[2016-04-11 09:00] vutny commented on #784
I've discovered that `epel-release` packages are already uploaded to the _extras_ repos in recent releases of CentOS:
http://mirror.centos.org/centos/5/extras/x86_64/RPMS/epel-release-5-4.noarch.rpm
http://mirror.centos.org/centos/6/extras/x86_64/Packages/epel-release-6-8.noarch.rpm
http://mirror.centos.org/centos/7/extras/x86_64/Packages/epel-release-7-5.noarch.rpm

Hooray! Finally we are able to

[2016-04-11 09:13] vutny commented on #724
By the way, we have special `testing` installation type available for RHEL systems family which configures and enables `epel-testing` repository. So, the latest and greatest packages which Salt requires would be installed from there. Of course, SaltStack corporate repo will be configured as well.

This method is somehow useful if you would like to have fresher versions of python modules built for

[2016-04-11 15:09] vutny commented on #714
Hmm... Looks like an `systemd` related issue to me. Unfortunately, I didn't work closely with SUSE, so can't be sure. @cetanu Have you run bootstrap with `stable` installation type?

[2016-04-11 20:55] Titerote opened #796 "epel repository name for rhel"
I have a corporate satelite, which has a different name for the epel repository. I have tested hacking the variable _EPEL_REPO on the bootstrap script, and it works .

I don't know if there are any plans to provide a way to do this.

[2016-04-11 22:45] matthayes commented on #782
I ran into this same issue on Amazon Linux and worked around it by setting BS_CURL_ARGS so that curl redirects to the new destination.  Why isn't `-L` used by default?

[code]

[2016-04-12 11:44] #729 closed, assigned to nobody

[2016-04-12 12:11] vutny commented on #652
@rallytime bump

[2016-04-12 15:59] rallytime commented on #652
I'm not sure. I haven't had a chance to test this again, but I'll try to get to it in the next couple of days.

[2016-04-12 17:28] benhosmer opened #802 "SALT-Cloud fails to bootstrap if using a custom configuration location"
Using something like this:

`# salt-cloud -m /path/to/my/map -c /srv/salt`

`deploy.sh` fails to be copied to the newly created minion and the minion is never installed.

I worked around it by adding a `cloud.deploy.d/` with a `deploy.sh` script in `/srv/salt`.

It would be helpful is salt-bootstrap produced an error or at least told the user that this was the problem.

I would get this far:

[cod

[2016-04-12 21:36] rallytime commented on #652
Woo! This works now. Thanks for the bump @vutny. Closing.

[2016-04-13 07:52] vutny commented on #784
I guess this is already resolved by #798. Ping @s0undt3ch

[2016-04-13 07:58] vutny commented on #588
I guess the only thing left to be secured is SUSE stuff...

[2016-04-13 17:53] jfindlay commented on #802
@benhosmer, thanks for reporting.

[2016-04-14 20:29] jfindlay commented on #260
Now that debian.saltstack.com is superseded by repo.saltstack.com, I'm going to close this issue.  Installing from the latter repo uses different code.

[2016-04-14 20:29] #260 closed, assigned to nobody

[2016-04-14 20:41] jfindlay commented on #451
Support for this was added for ubuntu with #666, which also added a base mechanism that other distros could use for pip (and virtualenv) installs.

[2016-04-14 20:56] jfindlay commented on #784
@vutny, we should probably change bootstrap to install the `epel-release` packages.

[2016-04-14 21:05] jfindlay commented on #524
@gravyboat, since repo.saltstack.com, we've been moving away from depending on EPEL, this should not be a problem for saltstack repo installs.  RHEL 5, 6, and 7 now do not depend on EPEL, from what I remember, and once the `${_DOWNSTREAM_PKG_REPO}` flag is adopted by the RHEL family, EPEL support should be removed from them.  This still leaves the problem for installing from EPEL, though.

[2016-04-14 21:18] jfindlay commented on #539
@mventimi, are you able to test the fix from @virtualguy?  I am going to close this, but if it doesn't work, you are welcome to reopen.

[2016-04-14 21:18] #539 closed, assigned to nobody

[2016-04-14 21:22] jfindlay commented on #551
This looks like an upstream problem to me between bash and libiconv.  @The-Loeki, do you know if this is still a problem?

[2016-04-14 21:39] jfindlay commented on #554
@freimer, I'm confused about what you mean.  In a normal multimaster setup, the redundant masters [share the same key](https://docs.saltstack.com/en/latest/topics/tutorials/multimaster.html#summary-of-steps).

[2016-04-14 21:42] jfindlay commented on #588
@vutny, that has also been fixed with #791.  In my testing, HTTPS is supported by repo.saltstack.com, but not by download.opensuse.org.  Is there anything else that needs to be done here?

[2016-04-14 21:45] jfindlay commented on #596
I think I've reproduced the same error that @avanov reported.  I am going to investigate this.

[2016-04-14 22:17] jfindlay commented on #596
Also, the saltstack PPA is deprecated by repo.saltstack.com.

[2016-04-14 22:37] jfindlay commented on #690
This seems to have been fixed with the creation of repo.saltstack.com.  If anyone is still finding problems bootstrapping 14.04, please open a new issue, thanks.

[2016-04-14 22:37] #690 closed, assigned to nobody

[2016-04-14 22:40] jfindlay commented on #706
@aboe76, thanks for your work on this.

[2016-04-14 22:40] #706 closed, assigned to nobody

[2016-04-14 22:43] jfindlay commented on #714
@cetanu, I am able to bootstrap both SLES 11 and SLES 12 on AWS with the latest version of bootstrap.  Can you try using the develop version of bootstrap?

[2016-04-14 22:50] jfindlay commented on #728
@timcharper, with the merge of #797, you should be able to install a specific version (from packages!) on debian 8 from repo.saltstack.com with `stable 2015.8.8`.

[2016-04-14 22:54] jfindlay commented on #740
There's also https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.ps1, that we can think about reworking into a more general purpose windows bootstrapper.

[2016-04-14 22:56] jfindlay commented on #742
Since this is fixed with the develop version of the script, which will be released in a few days, I'm going to close this issue.  If anyone is still finding problems with the develop version, please comment here with the details and I'll reopen it.

[2016-04-14 23:00] jfindlay commented on #763
@unicolet, thanks for reporting.  The next release of bootstrap will come out this week, so I am going to close this.

[2016-04-14 23:00] #763 closed, assigned to nobody

[2016-04-14 23:08] jfindlay commented on #770
@arthurlogilab, thanks for reporting.  If this happens again, would you mind reopening at [salt-pack](https://github.com/saltstack/salt-pack/issues/new/)?  Thanks.

[2016-04-14 23:08] #770 closed, assigned to nobody

[2016-04-14 23:20] timcharper commented on #728
Dancing cartwheels! Great news, @jfindlay !

[2016-04-14 23:21] timcharper commented on #728
oh, the request was for something else; leaving open.

[2016-04-14 23:24] jfindlay commented on #772
@JensRantil, it seems that you can preseed a bootstrapped master with minion keys with the `-k` option but not anything else.  The challenge is to get the key onto the VM in a secure manner.  The bootstrap script is intended to run on a single new VM without performing any complex orchestration tasks against remote systems.  If you have a way to generate the minion key independently of bootstrappi

[2016-04-14 23:31] jfindlay commented on #774
@valentin2105, thanks for moving the issue here.  The main part of the work to this is adding ARM support to salt-pack and repo.saltstack.com, but it seems there are corresponding edits to bootstrap as well.

[2016-04-14 23:35] jfindlay commented on #775
@jquast, I am able to install and use salt packages on amazon linux with the latest develop version.

[code]

If you are still having problems, please reopen the issue.

[2016-04-14 23:35] #775 closed, assigned to nobody

[2016-04-14 23:39] jfindlay commented on #778
@bissei, thanks for reporting.

[2016-04-14 23:41] jfindlay commented on #782
@ninjada, @matthayes, thanks for reporting.  We should get this fixed.

[2016-04-14 23:42] #784 closed, assigned to nobody

[2016-04-14 23:49] jfindlay commented on #786
@discotroy, thanks for reporting.  This looks related to #596.

[2016-04-14 23:51] jfindlay commented on #789
@msiebeneicher, thanks for reporting.  This seems to be fixed on the development version of the script, which will be released this week, so I'm going to close the issue.  If you still have problems after upgrading, you are welcome to reopen.

[2016-04-14 23:52] jfindlay commented on #792
@EliRibble, thanks for the info.  We should work on getting this supported.

[2016-04-14 23:59] jfindlay commented on #796
@Titerote, thanks for reporting.  We have [plans](https://github.com/saltstack/salt-bootstrap/issues/728) to provide for overriding the saltstack repo with a private mirror, but not for epel.  You are welcome to submit a pull request to support this.

[2016-04-15 00:26] jquast commented on #775
Hmm, I have a different experience.  Seems an XML file is received rather than the repo file expected,

[code]

[code]

[code]

We might wish for curl to use --location argument?

[2016-04-15 04:34] jfindlay commented on #775
@jquast, https://bootstrap.saltstack.com is the stable version.  If you want the latest develop version, you should use https://bootstrap.saltstack.com/develop.  However, this is different from the actual develop, located at https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh.  (I'll need to talk to @UtahDave later about how frequently that is updated.)

What happe

[2016-04-15 06:55] The-Loeki commented on #551
Hi, no idea. At the time we severely trashed multiple boxes with this problem, but as I mentioned then I have no idea what exactly happened other than something during upgrading going horribly wrong ;)

I think we can close it since no one reported the same issue for now, we can always reopen if we re-encounter it.

[2016-04-15 06:55] #551 closed, assigned to nobody

[2016-04-15 07:21] gdm85 commented on #588
@jfindlay If you look for `FIXME`s in the code, I see the OpenSuse one and one about the mirrors list:

[code]

Perhaps this is not an issue if **every** download coming from any OpenBSD FTP server is also verified with signatures? I do not know about that.

[2016-04-15 07:34] JensRantil commented on #772
@jfindlay Thanks for input!

My proposal is to keep it simple at first: Simply allow referencing a local file will do and have it up to the operator to decide how that key will end up on disk.

My idea here is to have a script auto-accept a minion with a certain key. This could obviously be done by simply preseeding a key on the master in a more static way, too.

[2016-04-15 16:38] hickey commented on #681
Same issue here. The stable installs are failing because there is no repo to pull the packages from. During the run of install_salt.sh, the script installs repo.saltstack.com as a repo source, but then tries to pull from the following URL:

[code]

Nicely formatted URL, but there is not an ubuntu15 directory under /apt/ubuntu. ubuntu12 and ubuntu14 are there (which begs the question what about rar

[2016-04-15 16:50] jfindlay commented on #681
@hickey, the next bootstrap release will be released in the next few days.  I am running release testing right now.  Let me know if there is anything specific you want me to look at.

[2016-04-15 21:25] hickey commented on #681
Good to know. Thank you!

It occurred to me a little while ago (given what I saw on the repo server) that maybe Saltstack is only officially supporting the LTS releases through the stable branch. Not sure if I have ever seen it documented that way. If that is the case, then I apologize for being a little hard on you earlier.

[2016-04-15 21:34] jfindlay commented on #681
@hickey, no problem.  I definitely understand your frustration, but we probably need to message that better.  The support for the latest non-LTS ubuntu I would characterize as best-effort at this point rather than full.  Ultimately, we want to support everything that Canonical supports.

[2016-04-18 12:17] msiebeneicher commented on #789
@jfindlay nice - i will remove our workaround and try it again after the upcoming release. I give you then a feedback if everything working fine in our setup.

[2016-04-18 18:04] jfindlay opened #815 "Bootstrapping "git tag" unnecessarily installs and removes stable from repository"
_copied from saltstack/salt#32631_
### Description of Issue

Using salt-cloud profile "script_args" to deploy a git version on a new instance of FreeBSD 10.3 ends up with the correct version installed, but during the bootstrap the stable version is unnecessarily downloaded, installed and then removed before the git version gets installed.
### Setup
#### /usr/local/etc/salt/cloud.profiles.d/gce-fre

[2016-04-18 18:31] jfindlay commented on #789
@msiebeneicher, excellent, thanks.

[2016-04-18 18:31] #789 closed, assigned to nobody

[2016-04-18 19:52] mjgorman commented on #609
Same Issue on Amazon Linux.

[2016-04-19 10:14] samson-jerome commented on #524
Hi all,
It seems that the repo has changed again from 7.5 to 7.6 and it needs to be reflected in the bootstrap...
`http://download.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-6.noarch.rpm`

[2016-04-19 15:38] BlueMonday opened #819 "https://bootstrap.saltstack.com is broken for CentOS 7"
### Description of Issue/Question

The script available at `bootstrap.saltstack.com` refers to an epel RPM which no longer exists. Attempting to bootstrap salt from CentOS 7 currently is not possible. I am attempting to use Packer to provision a virtual machine using salt.

I noticed that there are two urls `bootstrap.saltstack.org` and `bootstrap.saltstack.com`. The `.org` url contains a much mor

[2016-04-19 16:06] replicant0wnz commented on #819
Verified wget against the rpm doesn't work:

➜  ~  wget http://download.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm
--2016-04-19 09:05:55--  http://download.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm
Resolving download.fedoraproject.org (download.fedoraproject.org)... 152.19.134.198, 209.132.181.16, 66.35.62.162, ...
Connecting to download.fedoraproject

[2016-04-19 16:06] asachs commented on #819
+1 seeing the same here

[2016-04-19 16:07] cachedout commented on #819
Thanks. Investigating.

[2016-04-19 16:08] replicant0wnz commented on #819
Verified:

[root@ip-10-244-0-87 ~]# sh bootstrap_salt.sh
-  INFO: sh bootstrap_salt.sh -- Version 2015.11.09
-  INFO: System Information:
-  INFO:   CPU:          GenuineIntel
-  INFO:   CPU Arch:     x86_64
-  INFO:   OS Name:      Linux
-  INFO:   OS Version:   3.10.0-327.10.1.el7.x86_64
-  INFO:   Distribution: CentOS 7.2
-  INFO: Installing minion
-  INFO: Found function install_centos_stable_

[2016-04-19 16:13] replicant0wnz commented on #819
rpm release version change, it's now epel-release-7-6.noarch.rpm

[2016-04-19 16:17] cachedout commented on #819
We've identified the problem and we're working on getting things updated right now. Apologies for the breakage here. We'll have it right shortly.

[2016-04-19 16:35] asachs commented on #819
Verified working now - thanks for the quick turnaround

[2016-04-19 16:38] cachedout commented on #819
Sure thing. @BlueMonday could you close this when you're ready? Thanks.

[2016-04-19 16:41] jfindlay commented on #819
https://bootstrap.saltstack.com/ has been updated, and I have verified by bootstrapping a CentOS 7 VM.

[2016-04-19 16:44] BlueMonday commented on #819
Thank you for the quick turnaround!
Have fun at salt conf!

[2016-04-19 16:44] #819 closed, assigned to nobody

[2016-04-19 18:13] mooperd commented on #524
Isn't there a way of getting a computer to do this or something?

[2016-04-19 18:14] thehunmonkgroup opened #820 "Bootstrap installs outdated version of python-tornado package on Debian Jesse"
It appears commit 05df2e4186 in the Salt repository broke installs on Debian Jessie.

`from tornado.httputil import parse_response_start_line, HTTPInputError` throws an error.

Jessie includes the python-tornado 3.2.x series in package form, and `parse_response_start_line` doesn't look like it was added until 4.x. I can fix the error by upgrading tornado via pip, and, curious if this should be con

[2016-04-20 03:33] boboli opened #821 "Bootstrap fails on old Ubuntu images due to lack of `apt-get update`"
### Description of Issue/Question

When using an old Ubuntu base image and trying to provision using the salt bootstrap script (pointing to a git version), I run into the following error:

[code]

I suspect this is because the bootstrap script doesn't call `apt-get update` before trying to install git. I hopped onto the Vagrant box and ran `sudo apt-get update` manually, and then was able to `apt-

[2016-04-20 03:56] boboli opened #822 "Bootstrap fails on Salt version 2014.7.1 due to unknown command line argument --salt-config-dir"
### Description of Issue/Question

I'm trying to use an older version of salt (v2014.7.1), and the bootstrap script (using git installation) seems to just fail due to the bootstrap script using a command line argument (`--salt-config-dir`) that wasn't supported in that version.
### Setup

I'm on OS X using the latest `ubuntu/trusty64` Vagrant image.
### Steps to Reproduce Issue

Run `vagrant up` w

[2016-04-20 08:35] msiebeneicher commented on #789
@jfindlay : All changes worked as expected 👍 The only left workaround is now the installation of the ca_root_nss package - thx :)

[2016-04-20 22:51] jfindlay commented on #524
@samson-jerome, this has been updated in the latest bootstrap version, https://github.com/saltstack/salt-bootstrap/releases/tag/v2016.04.18.  @mooperd, the problem is that not all RHEL derivatives have the `epel-release` package available, so the hardcoded url logic needs to be a fallback for those cases.  I have not yet submitted this for lack of time.  If you would like to do it, that would be f

[2016-04-21 01:50] seshenli opened #823 "salt-api issue in _get_event method"
### Description of Issue/Question

when i call salt-api ,an error occurred,
TypeError: unsupported operand type(s) for +: 'float' and 'unicode'
File "/usr/lib/python2.6/site-packages/salt-2016.3.0-py2.6.egg/salt/utils/event.py", line 465, in _get_event
in line timeout_at = start + wait
add
if isinstance(wait, basestring):
            wait = float(wait)

[2016-04-21 02:35] hubez opened #824 "No package python-zmq available when bootstrapping using via git"
### Description of Issue/Question

Installing salt from git does not install the salt yum repo correctly such that package python-zmq cannot be found, and thus salt will not run.
### Setup

Fresh EC2 instance using Amazon Linux
### Steps to Reproduce Issue

$ bootstrap-salt.sh -X -G git v2015.8.8

You will eventually see the "No package python-zmq available" error:

[code]
### Versions and Systems

[2016-04-21 04:14] audleman commented on #580
@gibsonje How did you update your bootstrap script? I only know how to peg a version of salt; I assume it picks up the proper bootstrap script. Is that wrong?

[2016-04-21 08:53] sollie opened #826 "Support for Ubuntu 16.04"
salt-bootstrap does not currently support Ubuntu 16.04.
As there currently is no 16.04 specific version of Salt, could a temporary workaround be to default to the 14.04 build for users wanting to test out Xenial in their environments?
### Steps to Reproduce Issue

Install Ubuntu 16.04.
Download and run bootstrap.sh
### Versions and Systems

./bootstrap -- Version 2016.04.18

Last bit of output fro

[2016-04-21 13:04] siccrusher commented on #820
Running into the same problem. From my pov its a bug, as its a version mismatch. The `requirements/base.txt` defines the requirement like this: `tornado>=4.2.1`so it should be fine, if the bootstrap would install salts requirements correctly.

[2016-04-21 14:26] samson-jerome commented on #524
@jfindlay: thanks for the update, I saw that there had been an update and our install scripts are working fine.

[2016-04-21 20:09] dmurphy18 commented on #826
@sollie Ubuntu 16.04 is scheduled to be released today.  SaltStack has built salt 2015.8.8 for Ubuntu 16.04 Beta 2 (which actually shipped with Salt version 2015.8.7 as part of the ISO).  We shall have a version of Salt available for Ubuntu 16.04 LTS in the next point release which should be quite soon, once SaltConf finishes today.

[2016-04-21 20:17] gibsonje commented on #580
@audleman It all depends on your setup. I was encountering this issue locally using vagrant and salt. In that setup you specify the path to the bootstrap script.

A snippet of my vagrant file:

[code]

I just re-downloaded the latest bootstrap script from the repository (NOT the develop branch) and it worked.

If you're using salt-cloud or some other means, you'll have to look into where you're sp

[2016-04-22 17:45] cnk commented on #826
@dmurphy18 Fabulous. Looking forward to salt-bootstrap working for the new 16.04 LTS release. Thanks for maintaining this service.

[2016-04-26 15:54] strzelecki-maciek commented on #826
anxiously waiting for the 16.04 fix too ;-)

[2016-04-27 05:01] boboli opened #830 "Bootstrap script doesn't preserve existing /etc/salt/minion"
### Description of Issue/Question

When using the latest bootstrap script on a machine that already has salt installed, the existing /etc/salt/minion file gets overwritten by the default minion config file that comes with a fresh install.
### Setup

(Please provide relevant configs (Be sure to remove sensitive info).)
I tried this in a freshly provisioned vagrant ubuntu/trusty64 box.
### Steps to

[2016-04-27 19:21] twangboy commented on #740
Depending on the version of salt you are using you can use `pkg.install` to update salt.

[2016-04-28 00:41] colhom opened #831 "SSL certificate for bootstrap.saltstack.com is expired"
SSL certificate for bootstrap.saltstack.com is expired

[code]

[2016-04-28 00:43] cro commented on #831
We are updating it right this minute.  Thanks for the heads up.

[2016-04-28 01:01] cro commented on #831
OK, should be fixed.  @colhom would you close this if it looks good from your end?

[2016-04-28 01:09] colhom commented on #831
All good on my end.

[2016-04-28 01:09] #831 closed, assigned to nobody

[2016-04-28 09:42] sollie commented on #826
@dmurphy18 I'm just so used to having old versions shipped with the OS that I never checked what they had packaged for 16.04, that's my bad. Happy to report that I just installed 2015.8.8 from the official ubuntu repos.

It would still be nice eventually having support for it in salt-bootstrap for compatibility with existing deployment setups.

[2016-04-29 20:33] kmkramer opened #833 "SL 6.x bootstrap and yum repo install issues"
on SL 6.x $releasever returns both the major and minor strings for the release, whereas SL 7.2 returns just the major version. this borks salt from being installed.
this will return yum VARS: python -c 'import yum, pprint; yb = yum.YumBase();  \ pprint.pprint(yb.conf.yumvar, width=1)'

[code]

basically SL6 and SL7 differ in how they report the DISTRO\* vars

[2016-04-29 21:25] kmkramer commented on #833
https://repo.saltstack.com/yum/redhat/6.5/x86_64/latest/repodata/repomd.xml: [Errno 14] PYCURL ERROR 22 - "The requested URL returned error: 404 Not Found"

[2016-04-30 03:50] cetanu commented on #714
Can you let me know of a public SLES12 AMI that you have used to do this? I've tried at least 3, standard install, git install, develop version, updated bootstrap script, rinse and repeat, and still no luck.

[2016-04-30 18:20] audleman commented on #821
I'm getting the same error trying to spin up EC2 images based on Ubuntu 14.04. Did you find a fix?

[2016-04-30 18:29] JarenGlover commented on #821
Not ideal .. But force a "apt-get update" before your salt install via your VagrantFile 

On Sat, Apr 30, 2016 at 11:20 AM Kevin Audleman

<
mailto:Kevin Audleman notifications@github.com

I'm getting the same error trying to spin up EC2 images based on Ubuntu 14.04. Did you find a fix?

—

You are receiving this because you are subscribed to this thread.

Reply to this email directly or
https://g

[2016-04-30 19:14] audleman commented on #821
I found a fix for my situation too, though it's not very elegant. I created a new AMI where I had already run `sudo apt-get update` and used it as my base box.

[2016-05-01 04:09] jfindlay commented on #714
@cetanu, I've tested with [ami-7f2e6015](https://aws.amazon.com/marketplace/pp/B007O0H35O/) and [ami-48b63120](https://aws.amazon.com/marketplace/pp/B00PMM99PI/).  What is the debug (`-D`) bootstrap output you're getting with the latest bootstrap release, or the develop version?

[2016-05-03 12:21] mafrosis opened #836 "Bootstrap fails using Docker Python image with specific git tag"
### Description of Issue/Question

I need to build a Docker image with a specific Salt version, but it fails with an odd error. Please review the console output which anyone can try at home. The bootstrap command is:

[code]

And the interesting bit of the log is:

[code]
### Steps to Reproduce Issue

[code]

And an example `Dockerfile` for completeness:

[code]

[2016-05-05 09:16] l0ris opened #837 "Error installing on OpenSuse 13.1"
*_Bootstrap fails on OpenSuse 13.1 *_
### Setup
-  INFO:  /tmp/bootstrap_salt.sh -- Version 1.5.2
-  INFO: System Information:
-  INFO:   CPU:          GenuineIntel
-  INFO:   CPU Arch:     x86_64
-  INFO:   OS Name:      Linux
-  INFO:   OS Version:   3.12.53-40-default
-  INFO:   Distribution: openSUSE project 13.1

Executing the command:

/tmp/bootstrap_salt.sh  -P -c /tmp -c /tmp -M -N stable

[2016-05-05 11:44] Talkless opened #838 "Bootstrap does not use repo.bootstrap.com for Debian 7 Wheezy"
I just used script from https://bootstrap.saltstack.com to install 2015.8 minion on Wheezy, but actually got only 2015.5.

repo.bootstrap.com has 2015.8 for Wheezy prepared, but bootstrap uses debian.saltstack.com instead:
https://github.com/saltstack/salt-bootstrap/blob/v2016.04.18/bootstrap-salt.sh#L2680

[2016-05-05 16:52] justinta commented on #837
@l0ris This is because we only have support for 13.2 in our repo, http://repo.saltstack.com/opensuse/. Unfortunately right now we only have 12 and 13.2. I believe we just mirror the official Suse repo's here. So it's something that  @dmurphy18 can say more about, I think.

@UtahDave

[2016-05-05 23:44] shorawitz commented on #714
I just tested using "suse-sles-12-v20141023-pv-ssd-x86_64 (ami-c5440af5)" with salt-cloud on 2015.8.8.2 and I'm getting:

[code]

[2016-05-06 09:15] l0ris commented on #837
@jtand Reproduced with OpenSUSE 13.2, but I got the same error

/tmp/bootstrap_salt.sh  -P -c /tmp -c /tmp -M -N stable

Stdout from the command:
-  INFO:  /tmp/bootstrap_salt.sh -- Version 1.5.2
-  INFO: System Information:
-  INFO:   CPU:          GenuineIntel
-  INFO:   CPU Arch:     x86_64
-  INFO:   OS Name:      Linux
-  INFO:   OS Version:   3.16.7-35-default
-  INFO:   Distribution: openSU

[2016-05-06 18:42] 0x5d commented on #822
:+1: !

[2016-05-11 06:09] jfindlay opened #844 "ubuntu 16.04 packages"
### Description of Issue/Question

Need to support ubuntu 16.04 stable install type (with packages from https://repo.saltstack.com/)
### Setup

[code]
### Steps to Reproduce Issue

[code]
### Versions and Systems

2016.05.10

[2016-05-11 06:15] jfindlay opened #845 "amazon linux stack trace: No module named concurrent"
### Description of Issue/Question

amazon linux fails to bootstrap tornado dependencies
### Setup

[code]
### Steps to Reproduce Issue

[code]
### Versions and Systems

2016.05.10

[2016-05-11 06:20] jfindlay opened #846 "SLES 12 git install type tries to add repo.saltstack.com"
### Description of Issue/Question

SLES 12 git install type tries to add repo.saltstack.com, which may not be necessary, and also fails
### Setup

[code]
### Steps to Reproduce Issue

[code]
### Versions and Systems

2016.05.10

[2016-05-11 19:29] rallytime commented on #830
Thank you for letting us know, @boboli. I have fixed this issue with pull request #848.

[2016-05-11 20:19] #830 closed, assigned to rallytime

[2016-05-12 17:05] rallytime commented on #830
This fix was included in the most recent release of bootstrap, `2016.05.11`, which was cut yesterday.

[2016-05-16 20:47] jfindlay commented on #820
Thanks for reporting, @thehunmonkgroup, @siccrusher.  Can either of you verify if the fix from @vutny fixes the issue?

[2016-05-16 20:57] jfindlay commented on #821
Thanks for reporting.  I was going to say that I wonder how many users would be unhappy if we ran `apt-get update` as part of bootstrap, but clearly bootstrapping a sufficiently old image is a problem.  This is problematic in other ways, but that burden is more on the user than salt-bootstrap.  Then I saw that this is done already in [`install_ubuntu_deps`](https://github.com/saltstack/salt-bootst

[2016-05-16 21:04] jfindlay commented on #822
@boboli, thanks for reporting.  2014.7.1 is an old, unsupported salt release except for [limited paid support](https://saltstack.com/product-support-lifecycle/), and I recommend upgrading if you can.  The best I can suggest otherwise is to use an old or custom bootstrap version.

[2016-05-16 21:04] #822 closed, assigned to nobody

[2016-05-16 21:09] boboli commented on #821
Yup, I think that if part of the bootstrap requires git to be installed, then the `apt-get update` should definitely happen, to make sure no `apt-get install`s can fail because of an outdated index.

[2016-05-16 21:09] jfindlay commented on #823
@seshenli, will you reopen this at [salt](https://github.com/saltstack/salt/issues/new/) and also include information such as the master config you're using and the specific query you're sending to salt-api?  Thanks.

[2016-05-16 21:09] #823 closed, assigned to nobody

[2016-05-16 21:12] jfindlay commented on #824
@hubez, thanks for reporting.  Is it possible for you to retry with the [latest release](https://raw.githubusercontent.com/saltstack/salt-bootstrap/v2016.05.11/bootstrap-salt.sh)?  If not it is fine.

[2016-05-16 21:17] jfindlay commented on #833
@kmkramer, thanks for reporting.  Is SL Scientific Linux?  @dmurphy18, I wonder if we should add `6.5` as a symlink in the package repositories to `6` for situations like this.

[2016-05-16 21:20] jfindlay commented on #836
@mafrosis, thanks for the report.

[2016-05-16 21:21] audleman commented on #821
@jfindlay I'm not sure what the issues are with running `apt-get -y upgrade,` but I am in favor of the salt bootstrap script running it.

[2016-05-16 21:22] jfindlay commented on #837
@l0ris, thanks for reporting.  Can you post the output of bootstrap with the `-D` (debug) option?

[2016-05-16 21:22] jfindlay commented on #838
@Talkless, thanks for the report.

[2016-05-16 21:25] UtahDave commented on #821
doesn't the   -U     flag to the bootstrap script do a system upgrade first?

On Mon, May 16, 2016 at 3:21 PM, Kevin Audleman notifications@github.com
wrote:

[2016-05-16 21:37] audleman commented on #821
@UtahDave I can't quite remember right now, but the problem occurs when Salt Cloud initially copies `/etc/salt/cloud.deploy.d/bootstrap-salt.sh` to the remote server. Either it doesn't run or starts to but fails. I can check tonight if it's useful.

[2016-05-16 22:02] kmkramer commented on #833
correct SL=Scientific Linux

On Mon, May 16, 2016 at 4:17 PM, Justin Findlay notifications@github.com
wrote:

[2016-05-16 23:16] dmurphy18 commented on #833
@jfindlay @kmkramer Added a symlink for 6.5 -> 6 as requested, should be available with the next point release which is very soon.

[2016-05-16 23:20] dmurphy18 commented on #833
@kmkramer Upon reflection what about the other versions of Scientific Linux, 6.0 - 6.6. and 6.7 ?

Adding symlinks for all minion versions of SL 6.x is going to look a little messy.

[2016-05-17 02:12] kmkramer commented on #833
We only use 6.5 and will migrate to 7.x at some point. Whatever you
officially support probably needs to be addressed.

On Monday, May 16, 2016, David Murphy notifications@github.com wrote:

[2016-05-17 09:45] siccrusher commented on #820
@jfindlay Checked this PR locally in a fresh environment. It worked quite fine.

[2016-05-17 14:17] vutny commented on #782
@ninjada @matthayes I believe this issue was fixed some time ago in `develop`, and now it is already merged into `stable`. So, `salt-cloud` also should use updated version.

Could you please try again?

[2016-05-17 14:19] thehunmonkgroup commented on #820
also confirmed as working here, using the PR and latest debian 8.x release

[2016-05-17 15:54] dmurphy18 commented on #833
@kmkramer it will be available with the next point release.  Made symbolic links for all SL 6.x releases and got out ahead of the 6.8 release that is probably soon since Redhat just released 6.8

[2016-05-17 16:03] dmurphy18 commented on #833
@kmkramer Have made the changes and the next update of staging to live for repo.saltstack.com will show the symbolic links.  Hence I would like to close this issue if that is acceptable

[2016-05-17 16:44] jfindlay commented on #820
Excellent, thanks for the confirmation.

[2016-05-17 18:43] kmkramer commented on #833
yes thanks

On Tue, May 17, 2016 at 11:04 AM, David Murphy notifications@github.com
wrote:

[2016-05-17 21:31] #833 closed, assigned to dmurphy18

[2016-05-18 19:47] jfindlay commented on #844
Related to #826.

[2016-05-20 07:20] vutny commented on #820
Cool, looking forward to get #828 merged.

[2016-05-20 20:14] jfindlay commented on #820
Ping @s0undt3ch, @rallytime.

[2016-05-20 20:34] Ch3LL commented on #652
I'm re-opening this again because I'm seeing this error with the bootstrap only on joyent ubuntu14 image:

[code]

Here is my profile information:

[code]

[2016-05-21 17:49] sjmh commented on #710
@vutny - We don't install git on our systems - they all have yum already anyways, so it's quite a bit easier for us to just sync from an mirror of the salt yum repo, rather than the git one.

[2016-05-22 20:29] jamesob commented on #844
Seeing this as well.

[2016-05-23 17:32] Ch3LL opened #853 "Cannot install salt based off of a commit hash when specifying a different repo"
### Description of Issue/Question

It seems I cannot install salt with the bootstrap when using a commit hash from a different repo.
### Steps to Reproduce Issue
1. `sh bootstrap-salt.sh -g https://github.com/jfindlay/salt.git -M -P git cf81afab477ce03177a46a5f5f3eb89df92a2576`.
2. And you will see this error:

[code]
### Versions and Systems

[code]

[2016-05-24 12:30] themalkolm opened #856 "What is the purpose of changing default master/minion names?"
This scripts gives another default values for minion id and master address. Is there really a good reason to do so? In salt configuration we see that default master address is `salt` and minion id is its hostname. This bootstrap script silently changes them to `master` and `salt-minion`. Why?

[code]

[2016-05-24 13:44] s0undt3ch commented on #856
/CC @twangboy

[2016-05-24 15:25] twangboy commented on #856
@themalkolm  I agree. This should probably only send parameters to the installer if they are passed. That way installer defaults will be used... which would be hostname for the minion id and salt for the master id. I'll take a look at it.

[2016-05-24 17:01] themalkolm commented on #856
Thanks!

[2016-05-24 19:49] twangboy commented on #856
@themalkolm I submitted a PR to address this issue. I also fixed another issue that was causing the config layed down by the installer to be overwritten by a config copied from a Vagrant environment.

[2016-05-24 20:52] themalkolm commented on #856
@twangboy is there some kind of automatic tests for Windows bootstrap script? Do you test manually on your PC?

[2016-05-24 23:04] twangboy commented on #856
Yeah, I don't think there are any tests. Especially for the powershell script. I just test on my box.

[2016-05-25 21:06] code42fr commented on #802
Hello, where is the original deploy.sh script ?

[2016-05-25 22:39] vernondcole commented on #844
Me, too.
`vagrant up` will not work for 16.04 until this is fixed.
(To be more specific, vagrant cannot use SaltStack to provision a new machine. The provisioning process uses bootstrap.)

[2016-05-26 01:47] marccardinal commented on #821
Any particular reason why https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2400 has

[code]

Running 14.04 here and an `apt-get update` would need to be run as part of `bootstrap-salt.sh -P git`

[2016-05-26 08:00] vutny commented on #820
@thehunmonkgroup #828 was finally merged. Thanks @s0undt3ch. This issue could be closed.

[2016-05-26 09:10] #820 closed, assigned to nobody

[2016-05-26 09:35] ghost opened #861 "ERROR: Failed to run install_centos_stable_deps()!!!"
### Description of Issue/Question

The bootstrap script appears to be looking for http://mirror.centos.org/centos/6/SCL/x86_64/repodata/repomd.xml
and this is no longer available.
### LOG

[code]

Anyone know how to fix this?

[2016-05-26 15:59] jfindlay commented on #802
@code42fr, you can find the version of bootstrap that ships with salt at `<prefix>/salt/cloud/deploy/bootstrap-salt.sh`, where `<prefix>` is the directory salt is installed, usually something like `/usr/lib/python2.7/site-packages`.

[2016-05-26 21:31] andreselliku opened #862 "__ubuntu_codename_translation function missing codename translation for Ubuntu 16.04 LTS"
### Description of Issue/Question

The function __ubuntu_codename_translation is missing a translation case for Ubuntu 16.04 LTS although the packages are up at repo.saltstack.com. Due to this an incorrect trusty codename is written to the /etc/apt/sources.list.d/saltstack.list file, breaking the script.
### Steps to Reproduce Issue

(Include debug logs if possible, `bootstrap-salt.sh -D`.)
Downlo

[2016-05-27 06:23] code42fr commented on #802
@jfindlay, thanks for your answer. It was a misunderstood, i didn't manage to install salt minion 2015.8.10 to debian 7 with the bootstrap process. So i've add into my map file : `script_args: stable 2015.8` .
Have a nice day

[2016-05-27 10:35] vutny commented on #838
@jfindlay I've fixed that in PR #864. Waiting for it to be merged.

[2016-05-27 10:48] vutny commented on #682
@hubricode I believe this already fixed in latest bootstrap `develop`. Could you please try again?

[2016-05-27 16:09] Talkless commented on #838
Thank you @vutny !

[2016-05-28 08:53] andreselliku commented on #862
Fix would be to merge pull request #852

[2016-05-31 16:26] rallytime commented on #826
@sollie This should be fixed by the changes in PR #852, which was just merged into the develop branch. I'll close this for now, but if anything pops up, let us know and we'll be happy to take another look.

[2016-05-31 16:26] #826 closed, assigned to rallytime

[2016-05-31 16:26] rallytime commented on #844
This is fixed in the develop branch with the changes made in #852. Thanks everyone!

[2016-05-31 16:26] #844 closed, assigned to nobody

[2016-05-31 16:27] rallytime commented on #862
@andreselliku Hi! I just merged #852 into develop. Can this issue be closed?

[2016-05-31 17:16] #838 closed, assigned to nobody

[2016-05-31 17:18] rallytime commented on #802
@code42fr The change in #864 should help resolve this issue for you. It's now in the `develop` branch of salt-bootstrap and will be available in the next official release.

[2016-06-01 15:18] vutny commented on #774
@valentin2105 I've added a workaround for this issue in PR #867.
It should be possible to bootstrap Salt on Debian 8 `armhf` using git installation method with `-r` option.

First you need to update bootstrap script up to the version from my PR on your machine with `salt-cloud` installed :

[code]

Provision the target VM (put your own `profile` and `minionname`):

[code]

I would be happy to know

[2016-06-01 17:58] andreselliku commented on #862
@rallytime Yep, closing it.

[2016-06-01 17:58] #862 closed, assigned to nobody

[2016-06-02 14:19] vutny commented on #774
Small correction (add `-P` option -- allow `pip` installation):

[code]

[2016-06-03 11:11] JensRantil commented on #772
Ping. Any input @s0undt3ch?

[2016-06-16 14:10] mrichar1 opened #872 "bootstrap-salt.sh fails in chroot environment"
I'm trying to run `bootstrap-salt.sh` on an ubuntu 16.04 client as part of a `preseed`, running the script as part of a `preseed` `late_command` script. This involves chroot-ing into the final install image and running the script there.

When `systemctl`is called to start the salt daemons, it returns `Running in chroot, ignoring request.` and the salt services aren't started. Worse, `systemctl` re

[2016-06-16 14:45] vutny commented on #872
Hi @mrichar1

Just provide `-X -d` options to `bootstrap-salt.sh` script:

[code]

[2016-06-16 15:03] mrichar1 commented on #872
Ahh, thanks - that should fix things.

[2016-06-16 18:06] syphernl opened #873 "Bootstrap script adds repo 16.04 as "trusty" not "xenial""
### Description of Issue/Question

Running

[code]

Results in the following repo to be added to `/etc/apt/sources.list.d/saltstack.list`:

[code]

Which results in an error while updating apt:

[code]

[2016-06-16 18:11] syphernl opened #874 "Unable to bootstrap a 16.04 (xenial) machine due to install_ubuntu_check_services"
### Description of Issue/Question

Follow up to #873.

Running

[code]

Results in:

[code]

Manually starting the service works just fine though.

[2016-06-16 22:42] mauved opened #875 "python-requests obsolete on Fedora"
### Description of Issue/Question

Running the bootstrap script fails on a fresh Fedora 23 installation since it looks like the package `python-requests` was split up into `python2-requests` and `python3-requests`.

[code]

I was able to get Salt bootstrapped on this system my modifying line 3176 and replacing `python-requests` with `python2-requests`.
### Versions and Systems

[code]

[2016-06-17 18:45] rallytime commented on #710
@sjmh Please see #877 and #814.

[2016-06-17 19:02] sjmh commented on #710
@rallytime - looks good.  I don't know if you want to specify that it has to be 'rsync' though.  We actually use wget to mirror the repository - I didn't think we could even use rsync to get the repo down. :)

[2016-06-17 19:04] rallytime commented on #710
Good call! I was thinking when I typed that it was too specific, and then didn't come back around. I'll update that.

[2016-06-17 19:09] rallytime commented on #710
@sjmh Fixed :)

[2016-06-20 20:23] #710 closed, assigned to rallytime

[2016-06-20 20:52] khaije1 opened #880 "`sudo` should be optional"
A command line switch to indicate that `sudo` is unnecessary would be a nice addition about would solve the problem that I'm experiencing.

The assumption that most people are running `salt-bootstrap` as non-`root` seems reasonable, but it shouldn't be a requirement even when running as `root`.

I'm working around this by disabling the `requiretty` setting in the kickstart file, but this is not id

[2016-06-20 20:57] khaije1 commented on #880
(Ex.) even when running as `root`, `salt-bootstrap` will fail on some distros, (CentOS, RHEL, etc) because of `sudo`'s `requiretty` requirement.

[2016-06-21 00:39] ethanmick commented on #874
This seems to occur for me as well (but strangely, only sometimes).

*\* Update **
The minion seemed to be crashing on missing the python `tornado` dependency. Running:

[code]

Before installing salt allowed the bootstrap to work every time.

[2016-06-21 08:55] thomasrossetto commented on #873
I had the same problem. Try to remove saltstack.list in /etc/apt/sources.list.d/ before running bootstrap_salt.sh script. I used the script in develop branch.

[2016-06-22 19:56] jfindlay commented on #856
I am closing this since it appears to have been fixed.  @themalkolm, running continuous tests on windows is one of our short term goals, so when that is ready, I imagine that we will be running windows bootstraps very frequently.

[2016-06-22 19:56] #856 closed, assigned to twangboy

[2016-06-22 20:05] jfindlay commented on #861
@samuelreid, thanks for reporting.  What version of bootstrap are you using and can you paste the command line that you are sending to bootstrap?  Thanks.

[2016-06-22 20:07] jfindlay commented on #872
@mrichar1, thanks for reporting.  Do you consider @vutny's comment to resolve the issue?

[2016-06-22 20:08] jfindlay commented on #873
@syphernl, @thomasrossetto, thanks for reporting.

[2016-06-22 20:12] jfindlay commented on #874
@syphernl, thanks for reporting.  What version of salt are you bootstrapping?  Ubuntu 16.04 is only officially supported on salt 2016.3 and later, but if there are problems with that version of salt, fixing them may make other salt versions work as well.

[2016-06-22 20:12] jfindlay commented on #875
@mauved, thanks for reporting.

[2016-06-22 20:13] jfindlay commented on #880
@khaije1, thanks for reporting.  I think I understand.  This would be a useful feature to have.

[2016-06-23 09:15] mrichar1 commented on #872
Yes - these options work fine. I don't know if there's any point in updating the docs to highlight this issue?

[2016-06-23 15:44] jfindlay commented on #872
Good idea, let's add it.

[2016-06-23 21:36] jfindlay opened #882 "amazon linux fails to bootstrap from git"
### Description of Issue/Question

amazon linux fails to bootstrap from git
### Setup

create an amazon linux VM on EC2 and log into root
### Steps to Reproduce Issue

[code]
### Versions and Systems

https://raw.githubusercontent.com/saltstack/salt-bootstrap/e471bb27f4e617d999528f150a6c04577a4d048c/bootstrap-salt.sh

[2016-06-23 21:44] jfindlay opened #883 "SLES 11 and CentOS 5 syntax error"
### Description of Issue/Question

SLES 11 and CentOS 5 syntax error
### Setup

create a SLES 11 or CentOS 5 VM and log into root
### Steps to Reproduce Issue

[code]
### Versions and Systems

https://raw.githubusercontent.com/saltstack/salt-bootstrap/e471bb27f4e617d999528f150a6c04577a4d048c/bootstrap-salt.sh

[2016-06-24 06:12] syphernl commented on #874
@jfindlay I'm bootstrapping the stable version (2016.3.0) so I should be fine, its just the bootstrap process which currently fails. If I manually start salt-minion (after the bootstrap fails) everything works just fine.

[2016-06-24 12:25] vutny commented on #872
By the way, I made those options better explained and behave correctly in my PR #867. That actually covers Ubuntu as well.

And just to note: the `-d` option is required only in chroots/containers with `systemd` installed. On older Linux distros it is possible to bootstrap in chroot without it.

[2016-06-24 22:22] #883 closed, assigned to nobody

[2016-06-26 14:11] johtso opened #888 "v2016.06.24 fails to deploy salt minion (inifinte loop?)"
### Description of Issue/Question

Fails to install salt minion, seems to be in some kind of infinitely loops, possibly with multiple processes running at the same time? (overlapping log output)
### Steps to Reproduce Issue

`curl -L  https://bootstrap.saltstack.com | sudo sh -s -- -i $INSTANCE_NAME -A our-salt-master.com`
Debug logs output: https://gist.github.com/johtso/75d35b70642e9099ba920e622

[2016-06-26 19:45] abednarik commented on #888
I face similar issues yesterday.  The whole process was working but now in Ubuntu 14.04 I  can't bootstrap an instance. In my case, bootstrap scripts fails to start salt-minion. I didn't get the time to get the proper logs. Will do this week.

[2016-06-27 09:09] meyerbro commented on #888
Me too... My team in fact...

[2016-06-27 14:49] vutny commented on #888
Hey, I've fixed this in #889. Welcome to test!

FYI @jfindlay @rallytime

[2016-06-27 15:52] #888 closed, assigned to nobody

[2016-06-27 16:04] rallytime commented on #888
Hi everyone - thank you for reporting this issue (and for the PR @vutny). I confirmed the looping you are seeing when running the script as a one-liner and confirmed the fix resolves that behavior. I have merged in @vutny's fix into `develop` and we'll be doing another bootstrap release soon.

[2016-06-27 18:42] rallytime commented on #821
This is fixed by #859 in the latest release.

[2016-06-27 18:42] #821 closed, assigned to nobody

[2016-06-27 18:45] #802 closed, assigned to nobody

[2016-06-28 16:17] jasontrodd opened #894 "error running stable script on OEL 5"
When running bootstrap_salt.sh downloaded from bootstrap.saltstack.com on an OEL 5 system an error is thrown:

/tmp/bootstrap_salt.sh: line 25: *: unbound variable

The last successful provisioning I had with downloading the script was running the 2016.05.11 version.

I'm running the script with no arguments as per https://docs.saltstack.com/en/latest/topics/tutorials/salt_bootstrap.html#install-u

[2016-06-29 09:06] vutny commented on #894
@jasontrodd I've fixed it in #895, welcome to test.

Actually it affects all flavors of RHEL/CentOS 5 systems with bash 3.2. FYI @rallytime

[2016-06-29 14:32] jasontrodd commented on #894
Hi @vutny

I've tested your changes in my environment and the installs are working properly now.  Thanks!!

How long do changes like this normally take to get merged into stable?

[2016-06-29 15:14] #894 closed, assigned to nobody

[2016-06-29 15:19] rallytime commented on #894
Thanks for grabbing this @vutny - I saw this yesterday and meant to grab it today, but you beat me to it! :D

@jasontrodd Apologies for the breakage. The changes won't get merged into stable until we are ready to do another release. In the meant time, you can use the wget method to pull down the script on the develop branch from this commit: 5d9ede854d3e00fbd5d71b6624fe7acd59939477.

Nothing has b

[2016-06-29 15:37] jasontrodd commented on #894
Thanks @vutny @rallytime for the quick pickup!!!

Unfortunately my process for grabbing this script involves requesting the script directly from bootstrap.saltstack.com and the scripts are a pain to change (VMware vCloud Director templates).  I’m working through a way to direct wget to a local web server where I can redirect to which ever branch/rev is appropriate.  It will still require a change,

[2016-06-30 17:43] meggiebot opened #898 "Update the boostrap script to point to new Fedora 24/25 packages on repo.saltstack.com"
### Description of Issue/Question

Update the boostrap script to point to new Fedora 24/25 packages on repo.saltstack.com once they are live

[2016-07-05 10:06] cconrad opened #900 "Installs vulnerable version of python 2.7 from SaltStack repo on FreeBSD"
-  INFO: Running version: 2016.06.27
-  INFO:   Distribution: FreeBSD 10.3
  New packages to be INSTALLED:
  python27: 2.7.11_1 [SaltStack]

pkg audit -F

python27-2.7.11_1 is vulnerable:
Python 2.7 -- smtplib StartTLS stripping vulnerability
CVE: CVE-2016-0772
WWW: https://vuxml.FreeBSD.org/freebsd/8d5368ef-40fe-11e6-b2ec-b499baebfeaf.html

python27-2.7.11_1 is vulnerable:
Python -- Integer overf

[2016-07-05 10:07] cconrad commented on #900
The problem cannot be solved by updating packages, because the repository is out of date. Why isn't python27 installed from the FreeBSD repo instead?

[2016-07-05 15:57] thatch45 commented on #900
@cedwards are you still maintaining the salt package on FreeBSD? Do you know if this is related to the package or to bootstrap?

[2016-07-05 17:32] cedwards commented on #900
I'm rebuilding the packages for the FreeBSD SaltStack repo right now. We'll
be fixed within the hour.

On Tue, Jul 5, 2016 at 9:57 AM, Thomas S Hatch notifications@github.com
wrote:

[2016-07-05 17:34] thatch45 commented on #900
Thanks!

[2016-07-05 17:47] eliezerlp opened #901 "Adding support for Linux Mint 18 (based on Ubuntu 16.04)"
### Description of Issue/Question

Linux Mint 18 was recently released and is based on Ubuntu 16.04.

[2016-07-05 18:49] rallytime commented on #846
This is failing for two reasons. The first is that we're attempting to install stable deps for SLES 11, even though we're running this on SLES 12. The second is that we're attempting to copy files to the wrong directory for the systemd service: https://github.com/saltstack/salt-bootstrap/blob/c4cfacb4e3967bd9de0f54b8d893330f649b81d0/bootstrap-salt.sh#L5210

Instead of copying files to `/lib/system

[2016-07-05 19:33] rallytime commented on #901
Fixed via #902

[2016-07-05 19:33] #901 closed, assigned to nobody

[2016-07-05 20:20] meggiebot opened #905 "Boostrap script on 64-bit Pi 3 does not detect architecture"
### Description of Issue/Question

On 64-bit Pi3 the architecture wasn't detected.

Reported via Twitter: https://twitter.com/joesusecom/status/748867271049809921

[2016-07-05 20:49] #900 closed, assigned to nobody

[2016-07-05 21:29] rallytime commented on #882
This is fixed via #906.

[2016-07-05 21:51] rallytime commented on #875
@mauved Can you tell me how you're running the bootstrap script? (Any other options you're passing in?) I just ran the bootstrap script a couple of times on two Fedora 23 boxes and I am having trouble reproducing this error. I ran it first without any options, and then I ran it to install via git (`sh install_salt.sh -P git v2016.3.1`).

Here's my information from the last run:

[code]

[2016-07-05 22:08] rallytime commented on #873
@syphernl Are you still running into this problem? This should be fixed now with the latest stable version of the bootstrap script.

[2016-07-05 22:29] rallytime commented on #874
@syphernl Is this issue still a problem for you? I think this should be fixed by the latest stable release of bootstrap.

[2016-07-05 22:33] rallytime commented on #872
I added the "Fixed Pending Verification" label here so we remember to close this once #867 is merged in. Thanks everyone!

[2016-07-05 22:53] rallytime commented on #861
@samuelreid I am unable to reproduce this issue. I installed without any extra options passed to the bootstrap script.

[code]

Since we haven't heard back here and there have been a few stable releases for salt-bootstrap.sh since the version you're reporting, I am going to close this. If you're still having issues, please respond with some more details as requested above and we will be happy to t

[2016-07-05 22:53] #861 closed, assigned to nobody

[2016-07-05 23:02] rallytime commented on #845
Amazon Linux installation via git is now working with the changes in #906. With that change based on the latest stable bootstrap release, I am able to install salt via git to the latest 2015.8.10 release with `sh install_salt.sh -P git v2015.8.10`. Closing.

[2016-07-05 23:02] #845 closed, assigned to nobody

[2016-07-05 23:06] rallytime commented on #824
@hubez This should be fixed once #906 is merged into develop. (We'll be doing a new stable release of bootstrap in the next week or so.) I just successfully bootstrapped a fresh Amazon Linux box on EC2 with the version of the script present in #906 with `sh install_salt.sh -P git v2015.8.10`:

[code]

I think with that information this issue can likely be closed. @hubez can you confirm?

[2016-07-05 23:09] rallytime commented on #796
@Titerote Does the `-R` option do what you need here, implemented in #877? That option is now available in the latest stable release (`2016.06.27`).

[2016-07-05 23:17] rallytime commented on #782
This should be fixed in the latest stable, so I'll close this. If this issue pops up again, let us know and we can take another look. Thanks!

[2016-07-05 23:17] #782 closed, assigned to nobody

[2016-07-05 23:18] mauved commented on #875
Hi @rallytime! Here's a full run.

[code]

[2016-07-05 23:20] rallytime commented on #875
Huh. Weird. I wonder why I am not hitting that same error. Can you run that again with the `-D` option, just in case there's anything useful in the debug logs?

[2016-07-05 23:21] joesusecom commented on #905
I've tried on the Raspberry Pi Model B (32-bit). Doesn't work there either, unless I'm checking out of git. The error message is:

bootstrap_salt.sh: 2822: bootstrap_salt.sh: repo_arch: parameter not set

I'll try the latest script from

wget https://bootstrap.saltstack.com/develop

Seems that
https://docs.saltstack.com/en/latest/topics/tutorials/salt_bootstrap.html

has an error:

If I do what it

[2016-07-05 23:30] rallytime commented on #905
@joesusecom I suspect that we'll need a change similar to #899, only we'll need to also check for the `armv8` arch cpu in addition to checking for `armv7l`.

[2016-07-05 23:32] rallytime commented on #875
@mauved ^

[2016-07-05 23:34] mauved commented on #875
Here's a run with `-D`.

[code]

[2016-07-05 23:35] rallytime commented on #875
Thank you! I'll take another look at this tomorrow. The fix should be simple, but I wanted to reproduce it first.

[2016-07-05 23:39] rallytime commented on #752
I think there may have been an issue with the release candidate at this point in time. I was able to reproduce when trying to install with rc1, but 2016.3.1 it is resolved. Tested with the most recent stable release of the bootstrap script:

[code]

[2016-07-05 23:39] #752 closed, assigned to nobody

[2016-07-05 23:44] rallytime commented on #742
A couple of releases have now come out on the stable branch. Per @jfindlay's comment above, I am going to close this. For reference, the latest stable release is `2016.06.27`.

[2016-07-05 23:44] #742 closed, assigned to nobody

[2016-07-05 23:44] rallytime commented on #786
@discotroy I am just following up here, but I was able to bootstrap an Ubuntu 15.10 VM just now with the latest stable release of the bootstrap script:

[code]

Are you still running into this issue, or can this be closed?

[2016-07-05 23:45] rallytime commented on #596
@conradjones and others commenting on this issue:

I am just following up here, but I was able to bootstrap an Ubuntu 15.10 VM just now with the latest stable release of the bootstrap script:

[code]

Are you still running into this bug, or can this be closed?

[2016-07-06 00:20] joesusecom commented on #905
Actually the check for armv7l (which was added after I tested the script) should work with the Raspberry Pi 3. It reports as armv7l. For the Pi B we'd need armv6l. I verified with the same SD card that the same Raspberry image also runs on the Pi B.

[2016-07-06 08:57] syphernl commented on #874
@rallytime Verified, works fine now!

[2016-07-06 08:57] #874 closed, assigned to nobody

[2016-07-06 08:58] syphernl commented on #873
@rallytime Verified, works fine now!

[2016-07-06 08:58] #873 closed, assigned to nobody

[2016-07-06 12:27] msiebeneicher opened #908 "http://repo.saltstack.com/ broke FreeBSD <= 10.3 support"
It's look like that the latest update of http://repo.saltstack.com/freebsd/10amd64-default/All/ brokes the FreeBSD support for all versions under 10.3.

After a confersation with @bapt under https://github.com/freebsd/pkg/issues/1451 his assumption is that you compile the packages with a FreeBSD 10.3 system instead of FreeBSD 10.1.

The result is that the saltstack-bootstrap failed under FreeBSD 1

[2016-07-06 15:40] rallytime commented on #905
@joesusecom Oh, that is good to know about the `armv7l` reporting on Pi 3. I had read some issues online saying that is reported, even though the Pi 3 wiki says it should be `armv8`.

Can you clarify what you mean here? You should be able to run the script with whatever name it downloads as.

[2016-07-06 16:02] rallytime commented on #837
Hi @l0ris - It looks like this has been fixed. I just tested this again with the most recent stable version of salt bootstrap (`2016.06.27`) and I am able to install on openSUSE 13.2 successfully:

[code]

Are you still running into this issue with a newer version of the bootstrap script? (Note that I was able to install successfully using the same script arguments you passed in above, as well.)

[2016-07-06 16:13] rallytime commented on #908
Thank you for letting us know @msiebeneicher.

@cedwards Can you take a look here?

[2016-07-06 16:20] rallytime commented on #776
Hi @beardedeagle - I believe this may have been a bug in salt-cloud itself. I am curious if you're still running into this issue. I tried a simple test case with just adding some minion configs like so:

[code]

And then provisioned the VM via salt-cloud:

[code]

And checked the contents of the minion file:

[code]

And everything looks as I expect it to. My master is on 2016.3.1.

Can you let us

[2016-07-06 16:32] rallytime commented on #774
@valentin2105 Were you able to give the suggestion above a try? I'd like to know if that works for you or not.

[2016-07-06 16:44] rallytime commented on #681
@eliasp I am making my way around some of these bootstrap issues, and I am able to bootstrap an Ubuntu 15.10 machine with `-P` using the latest bootstrap stable release (`2016.06.27`):

[code]

Which installs the latest stable release of Salt, 2016.3.1:

[code]

Are you still running into this issue, or can this be closed?

[2016-07-06 17:01] rallytime commented on #695
@mtippett We recently added [Rasbian packages](http://repo.saltstack.com/#raspbian) to repo.saltstack.com. I am curious as to how the bootstrap script will run now. #905 is similar to this issue and I'll be working with @Ch3LL to test the bootstrap script out and see what updates need to happen to the bootstrap script.

[2016-07-06 17:21] rallytime commented on #103
@MarkuzK @martinvich @antonakv and others who have commented on this issue: I have fixed the problem with `git` installations on Amazon Linux with #906 (still waiting for merge), and I can now successfully bootstrap Amazon Linux with Salt with that change and recent versions of Salt.

Many updates have been made both to Salt packages (with the addition of repo.saltstack.com) and the corresponding

[2016-07-06 17:41] rallytime commented on #759
After speaking with @cro offline, this issue is no longer a problem with the current stable release of bootstrap (`2016.06.27`).

[2016-07-06 17:41] #759 closed, assigned to nobody

[2016-07-06 20:31] rallytime commented on #875
@mauved The fix in #909 should resolve this issue for you. Give that a try and let me know how it goes.

[2016-07-06 21:11] joesusecom commented on #905
Am 06.07.2016 um 17:40 schrieb Nicole Thomas <notifications@github.com<mailto:notifications@github.com>>:

@joesusecomhttps://github.com/joesusecom Oh, that is good to know about the armv7l reporting on Pi 3. I had read some issues online saying that is reported, even though the Pi 3 wiki says it should be armv8.

that won't work, because the script is actually saved as "develop".

Can you clarify

[2016-07-06 21:17] rallytime commented on #905
Heh. I actually haven't seen those docs before.

You should be able to `wget -O bootstrap_salt.sh https://bootstrap.saltstack.com/develop` and then `sh bootstrap_salt.sh`.

[2016-07-06 21:26] rallytime commented on #905
@joesusecom I have fixed those instructions in the above pull request. Thanks for letting me know.

[2016-07-07 06:49] eliasp commented on #681
@rallytime Thanks for the heads up - closing this issue as `15.10` is now deprecated anyways and the current `16.04` release looks good.

[2016-07-07 06:49] #681 closed, assigned to nobody

[2016-07-07 08:02] #875 closed, assigned to rallytime

[2016-07-07 08:02] #882 closed, assigned to rallytime

[2016-07-07 08:03] #846 closed, assigned to rallytime

[2016-07-07 14:06] maza23 commented on #681
I am also getting the 404 error not found in Ubuntu 16.04

E: Fallo al obtener http://ppa.launchpad.net/saltstack/salt-daily/ubuntu/dists/xenial/main/binary-amd64/Packages  404  Not Found
Thanks

[2016-07-07 15:20] rallytime commented on #681
Thanks @eliasp!

@maza23 Can you please open a new ticket with all of the relevant details needed to reproduce your issue?

[2016-07-07 20:41] rallytime commented on #905
@joesusecom I just realized that the link you were talking about doesn't actually pull down the correct develop version. So even if you were running what you thought was the develop version, it was still the latest stable.

We're releasing a new stable version of the bootstrap script today, so you should be able to try this again from stable soon.

I spoke off-line with @Ch3LL, who did some testin

[2016-07-07 20:41] #905 closed, assigned to Ch3LL

[2016-07-08 00:12] themalkolm commented on #772
@JensRantil btw, you can bootstrap salt without starting daemons (`-X`). This will prevent key generation. You can then install prepared keys and start daemons.

[2016-07-09 23:51] JensRantil commented on #772
@themalkolm That never crossed my mind. Not sure this feature request is needed then. Closing this. Ping this thread if you still think this issue has any relevance and I'll reopen!

[2016-07-09 23:51] #772 closed, assigned to nobody

[2016-07-10 04:54] cedwards commented on #908
Hi. I spent some time today and rebuilt all the packages for every supported version. 9.3, 10.1, 10.2, 10.3, 11.0-BETA1. We could refresh the existing repo with these new packages, but it may require an update to the documentation / existing install. If the end-goal is to have point release specific repositories it will change the structure of the repo a bit. ...something to think about.

I don't

[2016-07-11 08:22] msiebeneicher commented on #908
@cedwards :

How far as i understand @bapt you only need one package repository for a major release. FreeBSD itself have only one repository for FreeBSD 10.x and build the packages with a 10.1 version, which should be also compatible on > 10.1 releases.

[2016-07-11 14:17] cedwards commented on #908
@msiebeneicher - you're correct. I don't think we need point-release repositories, but I did build them just in case.

I have submitted a PR to update the FreeBSD documentation (merged). I think removing the `priority` definition in the pkg repo file should help.

[2016-07-11 23:59] sjmh opened #914 "Add python-chardet and python-urllib3 to RHEL7 repo"
The default repo will fail installing on a RHEL7 box, due to the requests package needing a higher version of python-chardet ( 2.2.1 ) and python-urllib3 ( 1.10 ).

These versions are actually already in the RHEL6 repo, but are not in the RHEL7.  Please get copies over to the RHEL7 repo and recreate the repodata.

[2016-07-12 16:11] dmurphy18 commented on #914
@sjmh Could you clarify which repo you are referring to when you state 'default repo', given that python-requests and python-urrlib3 are from the RHEL7 base and python-chardet from anaconda ?

[2016-07-12 16:56] sjmh commented on #914
@dmurphy18 - Sorry, I probably should have clarified that better.

The default RHEL7 media contains older versions of the python-chardet and python-urllib3 RPMs - older than what are needed by the python-requests RPM that's included in the saltstack RHEL7 repo.  So, if you try to do something like this on RHEL7:

yum -y install --disablerepo=* --enablerepo=saltstack salt-minion

It'll fail, becaus

[2016-07-12 17:35] dmurphy18 commented on #914
@sjmh I see the problem, that python-requests in redhat/7/x86_64 should not be there, as it is not in the list of packages to build for Redhat 7 (see salt-pack redhat_sls.pkg).  I shall remove in the next point release.  Typically, if a package is in the normal shipping code for a release, for example: base repo, SaltStack does not build that package.

Thank you for bring this to my attention.

[2016-07-12 17:46] sjmh commented on #914
@dmurphy18 - I guess that would fix the issue.  I'm not sure I totally agree on that solution though - mostly because the minions that run on RHEL6 are running on different MAJOR versions of python-requests than minions running on RHEL7.  RHEL6 would be running with python-requests 2.6, while RHEL7 would be on 1.1.

Seems like you'd want to try and keep the major version # of the python modules as

[2016-07-12 17:56] dmurphy18 commented on #914
@sjmh I understand but have to draw the line at some point for expected packages to be provided by the underlying OS.  SaltStack does provide packages which are usually provided by 'extras' or some by 'base', but these are usually due to some packages not provided in common implementations, for example: on AWS pciutils is not provided.  I believe there  is documentation stating expected packages s

[2016-07-12 18:48] sjmh commented on #914
@dmurphy18 - We're not limited on updates, but I'm talking base OS media.

The base OS media for RHEL7u1 only contains python-requests 1.10.  You'd have to use the updates channel and update your system after the installation to get to python-requests 2.6.  So if we're talking what RHEL7 provides in base, then it doesn't provide python-requests 2.6, only 1.10.

It's not until you get to RHEL7u2 th

[2016-07-12 19:40] dmurphy18 commented on #914
@sjmh Fair point about Redhat 7u1. I shall keep the python-requests and add the requested python-chardet and python-urllib3 for the next point release, which is in the near future.

[2016-07-12 19:45] dmurphy18 commented on #914
@sjmh Have created a salt-pack issue to provide for the dependencies.

I would like to close this issue here since it will be tracked in salt-pack, if you have no objections

[2016-07-12 19:46] sjmh commented on #914
@dmurphy18 Nope, go for it.  Thanks for the discussion.

[2016-07-12 20:10] rallytime commented on #914
Thanks for the discussion here, guys! I'll close this in favor of the salt-pack issue: https://github.com/saltstack/salt-pack/issues/119

[2016-07-12 20:10] #914 closed, assigned to dmurphy18

[2016-07-12 22:28] tjyang commented on #393
For my understanding Solaris SVR4 pkg is supported in Salt Enterprise version.
Anyone here know open source and SVR4 packaging willing to create and maintain open source version of salt-minion for Solaris 9/10/11 ?

[2016-07-14 23:13] #774 closed, assigned to nobody

[2016-07-14 23:15] rallytime commented on #682
@hubricode bump - did you get a chance to try this on a newer version? Several releases have come out since this was filed as well as even more work on the `develop` branch as well and I believe this is now fixed.

[2016-07-18 08:38] s0undt3ch commented on #596
Since Nicole was able to bootstrap and no additional comments were added, I'm closing this issue. Please comment to reopen if need be.

[2016-07-18 08:38] #596 closed, assigned to nobody

[2016-07-18 17:49] lsh-0 commented on #411
+1

[2016-07-18 19:23] Ch3LL opened #917 "python-futures is not installed with a git bootstrap install"
### Description of Issue/Question

When attempting to bootstrap an ubuntu 14 minion I noticed it did not install python-futures which is a dependency of the tcp transport.
### Setup
1. ubuntu14
2. `wget -O bootstrap.sh https://bootstrap.saltstack.com`
### Steps to Reproduce Issue
1. `sh bootstrap.sh -M -P git v2015.8.1`

[code]

And when I attempt to add `transport: tcp` to the master/minion confi

[2016-07-19 08:35] gerronimo opened #918 "No dependencies installation function found. Exiting..."
### Description of Issue/Question

bootstrap fails to install salt-minion on Red Hat Enterprise Linux Server 6.8 Santiago
### Steps to Reproduce Issue

salt-cloud succesfully created a virtual machine on a vmware datacenter but failed to install salt-minion using bootstrap script. So I logged in to this newly created machine and run the deploy.sh script manually:
./deploy.sh -H "http://xxx.xxx.xxx

[2016-07-19 14:05] signalraket commented on #304
Is it the same issue that I have with Solaris 11?

[code]

Also, make sure that you are running gnu sed and gnu awk. Update your $PATH before you run the script. You find them in /usr/gnu/bin, otherwise install them with;
pkg install gnu-sed
pkg install gawk

Regards,
S

[2016-07-20 00:36] doberloh opened #920 "https://bootstrap.saltstack.com redirecting to a location that doesnt exist."
try to wget: https://bootstrap.saltstack.com

see 301 redirect to: https://bootstrap.saltstack.com/stable/bootstrap-salt.sh

see 404 not found.

[2016-07-20 01:02] UtahDave commented on #920
Thanks for notifying us. This should be fixed now. Could you verify it's working for you now?

[2016-07-20 15:32] UtahDave commented on #920
I've double checked this and this problem has been resolved. Thanks for notifying us of this issue so we could resolve this quickly.

I'm going to close this issue now. Please feel free to comment here or open another issue if you continue to see this problem.

Thanks!

[2016-07-20 15:32] #920 closed, assigned to nobody

[2016-07-20 16:45] Ch3LL opened #921 "Error when attempting to downgrade salt from 2016.3.1 to 2015.8.11"
### Description of Issue/Question

When attempting to downgrade from 2016.3.1 to 2015.8.11 I run into the following errors:

[code]

And when attempting to run salt:

[code]

The reason this occurs is because during the downgrade the following file stays on the box:

`/usr/lib/python2.7/site-packages/salt/config/__init__.py` which includes the BASE_THORIUM_ROOTS_DIR attribute. If I remove that fil

[2016-07-20 17:37] doberloh commented on #920
The issue seemed to resolve itself about an hour after I opened this ticket. Is it recommended to use the link as part of our bootstrap process? We were unable to fully provision nodes while this link was down.

[2016-07-22 07:57] vutny commented on #304
@signalraket It's kind of...
Oracle Solaris is detected by the bootstrap script, but the actual installation functions are still not implemented. See https://github.com/saltstack/salt-bootstrap#adding-support-for-other-operating-systems

[2016-07-22 08:19] vutny commented on #853
Hi @Ch3LL

I have fixed this in PR #922. Welcome to test.

[2016-07-22 19:13] Ch3LL opened #923 "Cannot git install salt-master with bootstrap in Tumbleweed"
### Description of Issue/Question

When attempting to run the following: `sh bootstrap.sh -D -g https://github.com/jfindlay/salt.git -S -M -P git v2015.8.11` on tumbleweed I see the following error:

[code]

The minion starts , but not hte master. I am able to run `salt-master -d` adn `salt-master -ldebug` okay but I cannot start the service with either `service salt-master start` or `systemctl st

[2016-07-28 22:47] rallytime opened #924 "Remove EPEL references in install_centos_stable_deps when using -r/R"
### Description of Issue/Question

Problems arise when using the `-R` option installing CentOS stable packages when you hit the lines containing references to the EPEL repo, which hasn't been configured. We need to remove those references when `-R` is passed as a script arg.

Also need to audit the rest of the script for these references, not just the `install_centos_stable_deps` function.
### Ver

[2016-08-01 08:49] vutny commented on #918
Hi @gerronimo

I think you don't have `lsb-release` installed on your system, but you _do have_ `/etc/lsb-release` file present. And I guess there are some local modifications in it, that's why Salt Bootstrap failed to select appropriate installation functions.

Could you please post output of the following commands?

[code]

[code]

[2016-08-01 11:23] gerronimo commented on #918
I am cloning from corporate images. I did't modify it myself and  I am not aware of any modifications to it. However this might be the case.
These are the results:

[code]

RedHatEnterpriseServer

[code]

LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch

[2016-08-01 14:54] vutny commented on #918
This looks good, bootstrap script should be able to parse it correctly. I've also tried to bootstrap fresh RHEL 6.8 instance in the cloud and it worked for me.

I clearly see the problem here:

[code]

At least, there it should be no hash `#` sign before the distro name. I wonder where it came from...

Let's try another thing. Please post (or better create a [GitHub gist](https://gist.github.com/)

[2016-08-01 15:48] bytebae commented on #682
Yes, this seems fixed now. Thank you for getting back. Cheers!

[2016-08-01 16:24] rallytime commented on #682
@hubricode Awesome! I'll close this then. Thanks for confirming.

[2016-08-01 16:24] #682 closed, assigned to nobody

[2016-08-02 06:22] gerronimo commented on #918
I'm currently on a sick leave. I'll post results when I get to the office :)
Thank you for help.

[2016-08-02 07:09] vutny commented on #918
Sure, no problem. Take care and get better!

[2016-08-08 13:06] gerronimo commented on #918
Hello again.
I'm all good now. I played around and it turned out that I have misconfigured my profile for creating new vms. I've put 'dns_servers' in the wrong section and so new machines couldn't access our internal base repository. Now the problem is only when installing through salt-cloud,
-  INFO: Using http proxy https://XXX.XXX.XXX.XXX:8080
  -  INFO: Installing minion
  -  INFO: Found funct

[2016-08-08 13:09] gerronimo commented on #918
Regarding '#' sign, I never seen it since :) Don't know where it came from in the first place but it got resolved somehow.

[2016-08-08 14:12] vutny commented on #918
Hi,

As for me, it looks like an issue with Salt Cloud (or maybe with specific provider), if you say that running the script manually just works.

Still, need some debugging information to figure out what's the case here. Try fresh instance for clear result.
1. Enable debug mode for the bootstrap script by editing your profile like this:

[code]
2. Show debug output from the Salt Cloud, for exampl

[2016-08-08 23:50] rallytime commented on #918
@gerronimo If this is failing only with salt-cloud, and not when running the bootstrap script by hand, we might want to move this issue over to the salt repo so it can be fixed in salt-cloud. In the mean time, the answers to the questions @vutny posted above will be helpful in tracking this issue down so we can fix it. The output of `salt-cloud --versions-report` will also be needed when this is m