[2018-05-18 19:07] rallytime commented on #1225
Hi @Artem261992 - for the bootstrap script, just Py2 will be supported initially. Py3 support through bootstrap is not supported for any distro yet, though I am working on that presently.

For regular salt packages, Py2 and Py3 will be supported through repo.saltstack.com. Those will be available when 2017.7.6 and 2018.3.1 are released.

[2018-05-22 18:51] calc84maniac opened #1233 "Salt minion daemon enabled twice on Ubuntu 14.04"
### Description of Issue/Question
I noticed when deploying Salt (stable) on Ubuntu 14.04 that I was getting inconsistent pillar query results and multiple job return events from the same minion. It appears that both the legacy init.d daemon and upstart daemon were enabled at the same time.

This appears to have been caused directly by `install_ubuntu_stable_post()`, which always enables the init.d

[2018-05-22 20:20] rallytime commented on #1233
@calc84maniac Is this happening on the latest release, `v2018.04.25`, as well?

[2018-05-23 14:41] calc84maniac commented on #1233
I just confirmed that it does, yes. (Technically my old script was somewhere between the two releases because I had needed the wait_for_apt improvement.) I'll update the issue description.

[2018-05-23 15:05] rallytime commented on #1233
Thanks for checking. :)

[2018-05-24 11:52] gmwubs opened #1236 "salt-cloud invoking bootstrap-salt.sh on remote instance incorrectly parses non-ascii chars"
### Description of Issue/Question
We're deploying instances on GCE using salt-cloud in order to have the minions connect to our saltmaster immediately after deploy. The problem is, that when a debian 9 (and possibly others with kernel 4.x) instance is created using salt-cloud and the necessary provider and profile, bootstrap-salt.sh spits out an error message as soon as systemctl enable salt-minio

[2018-05-24 15:40] jeffdyke commented on #1225
Is 2018.3.1 going to include full support for 18.04 or will it come later?  it sounds like yes, and is there a guestimate on a release date that includes support for 18.04.

[2018-05-28 19:31] mayn commented on #1161
Stalebot, I’m just waiting for a resolution

[2018-05-29 13:39] rallytime commented on #1161
@dwoz You might be interested in this as well, along with @dubb-b.

[2018-05-29 15:12] dubb-b commented on #1161
I will need to talk to @utahdave about the best way to go about this. But it shouldn't be an issue to add it for the .ps1. Would need to be a different URL i'd imagine.

[2018-05-29 16:32] rallytime commented on #1161
Yes, it would need to be different.

[2018-05-29 17:38] rallytime commented on #1236
Hey @gmwubs - thanks for filing this issue. If I am reading this all correctly, this actually doesn't look like a bootstrap issue to me, though I could be wrong. This looks more like something that should be handled on the salt side.

However, just to be sure, can you tell me what happens when you run the bootstrap script by itself (outside of using salt-cloud) on a VM in your GCE setup? What vers

[2018-05-29 17:42] #1217 closed, assigned to nobody

[2018-05-29 21:04] UtahDave commented on #1161
@dubb-b Yeah, we can discuss setting up something like:  `https://windowsbootstrap.saltstack.com` or `https://winbootstrap.saltstack.com`. We should confer with @twangboy as well.

[2018-05-29 21:08] twangboy commented on #1161
I like winbootstrap

[2018-05-29 21:08] twangboy commented on #1161
@dwoz ^^^

[2018-05-29 22:24] dubb-b commented on #1161
winbootstrap works for me too

[2018-05-30 09:32] gmwubs commented on #1236
@rallytime : hmmm... why didn't I think of that before filing an issue? :-) I'll give it a try and I'll get back to you with the results asap :-)

[2018-05-30 10:39] gmwubs commented on #1236
@rallytime : I spun a default GCP instance, ran curl -L https://bootstrap.saltstack.com | sudo sh on it and deployed salt-minion with no problem at all:
`Setting up salt-common (2018.3.0+ds-1) ...
Setting up salt-minion (2018.3.0+ds-1) ...
Created symlink /etc/systemd/system/multi-user.target.wants/salt-minion.service → /lib/systemd/system/salt-minion.service.
Processing triggers for libc-bin (2.2

[2018-05-30 11:01] gmwubs commented on #1236
Instructions https://docs.saltstack.com/en/2017.7/topics/cloud/misc.html#hide-output-from-minion-install show how to suppress the output. We already did that. But, we wanted to use our internal mirror and a that meant using a custom bootstrap script. We where troubleshooting why the minion wasn't installed, configured and/or enabled correctly. So we remarked the line and thus we saw what was going

[2018-05-30 13:52] rallytime commented on #1236
@gmwubs Thanks for doing that investigation! Yeah, you should file a new issue in [salt](https://github.com/saltstack/salt/issues/new) and we can take care of it over there. We've been doing a lot of work with unicode support starting with the 2018.3.0 release.

Also, I am not sure what your internal mirrors look like, or what else you're doing with a custom script, but somewhat recently I added t

[2018-05-30 15:04] gmwubs commented on #1236
We're using apt-mirror to create and maintain an internal mirror for debian 8, 9, salt and other repos. This works perfectly, apart from some unexpected side-effects we need to look into. I'll open a new issue in salt. Thanks for your help so far ! :-)

[2018-05-30 15:04] #1236 closed, assigned to nobody

[2018-05-31 11:24] siepkes opened #1237 "SmartOS dependency conflict"
The function which installs dependencies on SmartOS (`install_smartos_deps`) explicitly installs the package `py27-crypto`. However when pkgsrc is used later on to install the `salt` package this fails because the `salt` package now depends on `py27-cryptodome` which conflicts with `py27-crypto`.

The 18.1.0 SmartOS image (` 221635c4-3b85-11e8-b6ba-23f68c9bf2c4`) has a recent enough version of pkg

[2018-05-31 12:38] rallytime commented on #1237
Hi @siepkes - that package name just hasn't been updated in bootstrap to match the one in the package. Do you want to make a pull request?

@sjorge You are probably interested in this one.

[2018-05-31 12:47] siepkes commented on #1237
@rallytime I'm somewhat uncertain how to handle the situation because I think in older versions of pkgsrc the `salt` package might still need to use the `py27-crypto` package (ie. has the `py27-crypto` package specified as dep). I will probably break the LTS SmartOS images if I change the package in the bootstrap script to `py27-cryptodome`.

I think the definitive fix would be when installing sal

[2018-05-31 12:49] sjorge commented on #1237
@rallytime @siepkes I have not worked with salt-bootstrap before as I simply roll my own packages...

[code]

Can be used to check the pkgsrc branch, so some filtering on this to figure out which set of package is needed should be possible.

Although as @siepkes mentioned in the new comment, just letting pkgin deal with it would probably be better! We can also abuse pkgin for the git install to ge

[2018-05-31 13:02] siepkes commented on #1237
I must admit I'm not terribly familiar with the bootstrap script. I'm a user because Hashicorp Packer uses it by default when using salt. However I worked around this issue by manually installing salt with pkgsrc:

[code]
So with the disclaimer I just made that I really don't know what I'm talking about ;-) I'm somewhat puzzled as to what the bootstrap script expects from SmartOS. Basically if the

[2018-05-31 14:30] rallytime commented on #1127
I've added support for Ubuntu 16.04 in #1238. I plan on adding support for CentOS 7 sometime soon as well, but that's a good place to start.

[2018-06-01 18:55] alexandruavadanii opened #1240 "arm64 installation from repositories is not allowed, even with custom repos"
### Description of Issue/Question

Upstream commit [5] broke Salt bootstrap on AArch64, by
introducing an architecture condition that is too strict to allow
Debian package installation (even if we provide our own repo) at [1].
Note that since most packages required by Salt are arch-indep (with some exceptions for RAET, see [2]),
we actually use the amd64 repos just fine with Salt in OPNFV on AArch

[2018-06-05 10:10] jpizagno opened #1241 "2Otto"
### Description of Issue/Question

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

### Versions and Systems
(`salt --versions-report`, `bootstrap-salt.sh -v`, system type and version,
cloud/VM provider as appropriate.)

[2018-06-05 13:07] #1241 closed, assigned to nobody

[2018-06-05 19:54] rallytime commented on #1127
CentOS 7 support added for CentOS 7 in #1242.

[2018-06-05 20:11] rallytime commented on #1240
@alexandruavadanii Thanks for filing this. Would you like to submit a PR to fix this?

[2018-06-05 20:18] alexandruavadanii commented on #1240
@rallytime Sure, the code is not the hard part :) But I wanted to ask first what the logic behind that check would be. I can think of at least 3 different ways:
- print a warning for any unsupported architectures, but don't fail (that works for me, but it's a bit loose);
- skip arch check if `-R` is passed (that doesn't work for me since I rely on amd64 repos on arm64 too, but if really needed I c

[2018-06-05 20:27] rallytime commented on #1240
@alexandruavadanii I like the 3rd option. As long as there some helpful code comments and also maybe an update to the README about what is expected, then that should suffice.

👍

[2018-06-05 20:30] rallytime commented on #1166
@ipsecguy I must have missed the update here from a couple of months ago. The salt-pack issue has been resolved, but I haven't been able to come back to this issue since then. Are you interested in taking a swing at it?

[2018-06-05 20:34] alexandruavadanii commented on #1240
Great! I am swamped for today/tomorrow but will try to submit a PR this week.

[2018-06-05 21:08] rallytime commented on #1233
Hey @calc84maniac - I have not tested this, but could you try out this patch? I didn't have a box handy this evening to test this on, but I thought you might be able to try this really quickly.

Can you add the following statement to the `install_ubuntu_stable_post()` function, in between the first `if` and `elif` clauses? Basically right above [this line](https://github.com/saltstack/salt-bootstr

[2018-06-05 21:26] rallytime commented on #1237
To be perfectly honest, I have not had much occasion to delve into the SmartOS code. Initial support for SmartOS was added in 2013. If I remember correctly, that was well before @sjorge was awesome enough to start doing the community packaging for SmartOS, so the bootstrap script was probably never adjusted for this change.

Now, I don't know very much about the ins-and-outs of SmartOS, but how th

[2018-06-05 21:27] rallytime commented on #1240
@alexandruavadanii Thanks! Looking forward to it!

[2018-06-06 21:07] rallytime commented on #1127
And Debian 9 support was added just now in #1243

[2018-06-06 21:09] rallytime commented on #1127
I think this is a really good start for this issue and I won't have time to add anymore beyond this for quite some time.

I think we should close this feature request since there are now multiple examples of how to add Py3 support to the bootstrap script.

If there are other distributions that need Python3 support, individual tickets can be opened for those.

In addition, now that there are some e

[2018-06-13 14:12] #724 closed, assigned to nobody

[2018-06-14 04:36] ghost commented on #1194
Hi @rallytime , are there any updates re package support for Amazon Linux 2?

I'm currently getting by installing from pip but I would really appreciate the RPMs.

Thanks

[2018-06-15 18:47] gtmanfred commented on #1180
this is still being done.

[2018-06-19 05:52] icy opened #1245 "Daily Ubuntu Repository does not have a Release file"
### Description of Issue/Question

### Setup

Ubuntu 16.04 with daily Saltstack repository

### Steps to Reproduce Issue

[code]

### Versions and Systems

[code]

[2018-06-19 14:00] rallytime commented on #1245
Thanks for filing this @icy. However, I think this is likely a better issue for https://github.com/saltstack/salt-pack.

[2018-06-19 14:50] #1225 closed, assigned to rallytime

[2018-06-19 15:02] icy commented on #1245
Thanks @rallytime  I have created new issue there.

[2018-06-19 15:02] #1245 closed, assigned to nobody

[2018-06-24 18:16] alexandruavadanii commented on #1240
Sorry for the delay.
I did a bit more than just allow installation on arm64, I made it also default to re-using the amd64 repositories. All arch-specific packages needed by Salt are actually fetched from Ubuntu, so this should be all that's needed for a working Salt on arm64 (this is how we have been installing Salt on arm64 for a few months now in OPNFV).

[2018-06-28 12:02] chrisnew opened #1252 "bootstrap.saltstack.com is IPv4 only"
### Description of Issue/Question

### Setup
* have a host in IPv6-only land
* try to bootstrap SaltStack using https://bootstrap.saltstack.com

### Steps to Reproduce Issue

[code]

### Versions and Systems
most recent as of today

[2018-06-28 14:50] rallytime commented on #1252
Hi @chrisnew - Thank you filing this. This is because we host the script on Digital Ocean and their load balancers do not yet support IPv6. As soon as they do, we can switch that over.

@KaiSforza Can you keep an eye on this so that once IPv6 is supported, we can get bootstrap.saltstack.com set up correctly as well?

[2018-07-04 08:57] chrisnew commented on #1252
Thanks for explaining and keeping track!

Right now I got a workaround in place: I simply mirror your script on one of my IPv6 enabled hosts. :)

[2018-07-05 02:17] zychao66 commented on #1194
I also hit this problem with rpm
finally succeed with pip

[2018-07-05 20:33] KaiSforza commented on #1252
Yeah, I'll keep my eye out on the digital ocean side!

[2018-07-10 16:02] noelmcloughlin opened #1254 "opensuse-15: No dependencies installation func found"
### Description of Issue/Question

Error on OpenSUSE Leap 15 when `lsb-release` is not installed.

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

Instance: https://app.vagrantup.com/opensuse/boxes/openSUSE-15.0-x86_64
Procedure: https://docs.saltstack.com/en/2015.8/topics/tutorials/salt_bootstrap.html

### Steps to Reproduce Issue
[code]

### Versions and Systems

[2018-07-11 12:54] noelmcloughlin opened #1259 "-P git <version> fails on FreeBSD"
### Description of Issue/Question

`bootstrap-salt.sh` failed on OpenBSD fails.
[code]

The script cannot find any `salt/setup.py` on the file system.  (note: I found a `salt/log/setup.py` on filesystem but that probably different ).

### Steps to Reproduce Issue

vagrant: https://app.vagrantup.com/generic/boxes/freebsd11
Add ports: https://www.freebsd.org/doc/handbook/ports-using.html

[code]
###

[2018-07-11 13:05] noelmcloughlin commented on #1259
Workaround. Just install stable packages:
[code]

[2018-07-11 14:00] #1254 closed, assigned to nobody

[2018-07-11 14:04] #1127 closed, assigned to rallytime

[2018-07-17 10:39] rallytime commented on #1207
This is done.

[2018-07-17 10:39] #1207 closed, assigned to dubb-b

[2018-07-23 19:53] whytewolf commented on #1187
I don't think this has seen the light of day yet. and would still be a good feature since Ubuntu and Debian still autostart

[2018-08-01 20:26] #1240 closed, assigned to nobody

[2018-08-03 20:04] onnenon commented on #1213
Is there any eta on this fix being implemented?

[2018-08-03 21:11] rallytime commented on #1213
There isn't anyone working on it that I know of. If someone would like to submit a PR, that would be greatly appreciated.

[2018-08-09 01:20] The-Loeki opened #1272 "Proposal: Reduce calls to pkg management"
I've always noticed how many times the bootstrap called the package management
For another PR I'm now looking at the Fedora piece, and notice that it's quite easy to prevent most of those.

Using the example below I've downed the number of 6 dnf sessions back to two with no meaningful change in end-result/failure modes AFAICT.

So this is just cooked up, but if I made this into a decent PR, would

[2018-08-09 13:01] rallytime commented on #1272
@The-Loeki Yes, similar improvements have been made on the Debian-based functions, so cleaning up the calls to the Fedora functions in this way is a good idea.

I'm looking forward to the PR. :)

[2018-08-14 14:13] rallytime opened #1277 "Add python-futures to Py2 installs"
### Description of Issue/Question
In order to install a master (using `-M`) on Fluorine, we need the python-futures package installed for the git install options.

See https://github.com/saltstack/salt/issues/49098 for more information.

[2018-08-14 20:34] rallytime commented on #1180
This is fixed in #1279. We can make a new issue in a devops repo to track the jenkins addition.

[2018-08-14 20:34] #1180 closed, assigned to gtmanfred, KaiSforza

[2018-08-28 20:56] #1237 closed, assigned to nobody

[2018-08-28 20:57] #1272 closed, assigned to nobody

[2018-08-28 21:05] rallytime commented on #1277
This is fixed in the latest stable release.

[2018-08-28 21:05] #1277 closed, assigned to rallytime

[2018-08-28 21:07] rallytime commented on #1161
@dubb-b I think `winbootstrap` is just fine. Can we make this happen?

[2018-08-30 02:21] dubb-b commented on #1161
@rallytime I am back Tuesday, I will get this rolling.

[2018-09-03 16:22] poofyteddy opened #1286 "How much space is needed in /tmp ?"
### Description of Issue/Question
I can't install the minion because i'm running out of space in the /tmp directory
How much space do i really need, and can i change the directory used as a tmp ?

I try adding 10Gb of storage on /tmp (Overkill) and that fixed the issue.

### Setup
Debian 9 VM,
/tmp size 360M, 335M Avail
Running the script from the home dir of my user.

### Steps to Reproduce Issue

[2018-09-04 19:24] dubb-b commented on #1161
@rallytime, I talked to Dave B on getting this added. We can do that pretty
easily. My question is are we going to add docs for this?

On Tue, Aug 28, 2018 at 3:07 PM Nicole Thomas <notifications@github.com>
wrote:

[2018-09-04 19:44] rallytime commented on #1161
Yeah, we should. Something added to the `README` file in this repo should be sufficient. Can you or Dave B put that together?

[2018-09-04 19:44] rallytime commented on #1161
@dubb-b Or I can if it's something simple. I'm just not sure what the details might look like. ^

[2018-09-04 19:46] dubb-b commented on #1161
@rallytime I was wondering if we needed something either added to this:
https://docs.saltstack.com/en/latest/topics/tutorials/salt_bootstrap.html Or
a new Windows version created?

On Tue, Sep 4, 2018 at 1:44 PM Nicole Thomas <notifications@github.com>
wrote:

[2018-09-04 20:53] rallytime commented on #1161
@dubb-b That's a good idea to add a note there as well. I had forgotten those docs existed.

[2018-09-12 18:18] adminericjacobs commented on #1194
Is there any update on getting Amazon Linux 2 RPMs and boot-strap support?

[2018-09-26 15:22] ripesensor opened #1288 "salt-cloud minion bootstrap fails due to dpkg lock"
### Description of Issue/Question

Same issue as #1163 when bootstrapping an Amazon Deep Learning AMI with salt-cloud.

Error:
<pre><code>
 *  INFO: Running version: 2018.08.15
 *  INFO: Executed by: /bin/sh
 *  INFO: Command line: '/tmp/.saltcloud-64aafe3b-1eff-47e5-a70c-4d58e2c227b0/deploy.sh -c /tmp/.saltcloud-64aafe3b-1eff-47e5-a70c-4d58e2c227b0 -D'

 *  INFO: System Information:
 *  INFO:   C

[2018-09-28 14:33] rbjorklin commented on #1236
I'm not sure if you ever opened a new issue in the salt repo but I've encountered the same problem and have a workaround/fix in saltstack/salt#49816.

[2018-10-04 14:51] ripesensor commented on #1288
Happens from time to time with our own AMI based on a Ubuntu 18.04 image.

[2018-10-04 15:44] ripesensor commented on #1288
This seems to work better, but it's still not perfect:
<pre><code>
diff --git a/bootstrap-salt.sh b/bootstrap-salt.sh
index 0f5eace..5a576f7 100755
--- a/bootstrap-salt.sh
+++ b/bootstrap-salt.sh
@@ -1802,7 +1802,7 @@ __wait_for_apt(){
     # Timeout set at 15 minutes
     WAIT_TIMEOUT=900

-    while ps -C apt,apt-get,aptitude,dpkg >/dev/null; do
+    while fuser -s /var/lib/apt/lists/lock || fus

[2018-10-17 15:35] nickgarber commented on #1106
I'd like to motion for postponement, (for the final time), in hopes I'll be able to contribute this myself.

[2018-10-17 16:44] rallytime commented on #1106
Sounds good @nickgarber! Thanks!

[2018-10-19 08:10] The-Loeki commented on #1220
Tornado 5 (seems) still not supported on Py3; saltstack/salt-jenkins#995

[2018-10-30 17:06] max-arnold opened #1290 "Consider raising minimal apache-libcloud version to 2.0.0"
### Description of Issue/Question

`salt/modules/libcloud_*.py` depend on `apache-libcloud>=2.0.0`, so please consider bumping the pinned version number from 0.14.0 https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L253.to 2.0.0 https://github.com/saltstack/salt/blob/develop/salt/modules/libcloud_dns.py#L43

See https://github.com/saltstack/salt/pull/50296#pullrequestrevie

[2018-10-30 20:05] #1218 closed, assigned to nobody

[2018-11-01 13:50] rallytime commented on #1252
@dubb-b Adding you to this issue to be aware of on your side.

[2018-11-01 14:05] rallytime commented on #1290
Hi @max-arnold - There are other files in Salt that depend on the 0.14 version [see here](https://github.com/saltstack/salt/blob/cf8456528382ab76950d7f6b5f6249da4471f265/salt/cloud/libcloudfuncs.py#L51).

I hesitate to increase the minimum version without knowing what that effect that will have on the cloud-providers that use the `libcloudfuncs.py` file in salt.

Furthermore, the `_LIBCLOUD_MIN_VE

[2018-11-01 14:07] rallytime commented on #1288
Hi @ripesensor - My apologies for the late reply here. I agree that your solution above looks better. Would you be willing to submit a PR?

[2018-11-01 14:24] rallytime commented on #1286
Hi @poofyteddy - Sorry for not responding sooner on this. Time got away from me. :)

You'll need at least as much space there as it takes to clone salt from GitHub. GitHub's API lists the size as `419673`.

Which you can find with the following command:
[code]

[2018-11-01 15:19] dubb-b commented on #1252
@rallytime Dave will have to see if this can be done. Adding him to the ticket.

[2018-11-01 16:04] ripesensor commented on #1288
No worries. I'd submit a PR.

It doesn't fix the locking issue, but I'm not sure of the best way to accomplish this task. The hammer method may be to stop the apt-daily and apt-daily-upgrade systemd services, then politely start them again at the end of the run. Sounds gross. Don't like it.

Another way would be to see if the exit code is 100 (which seems to be locking or lock permission errors),

[2018-11-01 16:41] ripesensor commented on #1288
This works well.  Will PR it.

[2018-11-01 16:51] poofyteddy commented on #1286
Thank's ! This wasn't really an issue, so time wasn't important, Now i know !

[2018-11-01 16:51] #1286 closed, assigned to nobody

[2018-11-01 22:39] UtahDave commented on #1252
IPv6 still not available for loadbalancers on Digitalocean

[2018-11-05 17:58] rallytime commented on #1194
Does anyone here have a moment to test the changes in #1287? (Thanks @mchugh19 for picking this up!)

[2018-11-06 15:10] max-arnold commented on #1290
I guess it makes no sense to leave this issue open.

[2018-11-06 15:10] #1290 closed, assigned to nobody

[2018-11-07 14:22] discentem commented on #1161
Hi folks, any updates on this? I'd love to see https://winbootstrap.saltstack.com or similar. Also, could we get a published sha256 checksum for the script?

[2018-11-07 16:12] rallytime commented on #1161
@dubb-b Where are we with this? I can add a step to the release checklist to update the docs for the windows checksum once we have this hosted.

[2018-11-07 16:35] dubb-b commented on #1161
@rallytime this is something @UtahDave will have to get implemented. Not sure what cycles he has for this ATM.

[2018-11-07 18:23] lomeroe commented on #1106
additionaly, the "photon-updates" repo (1.0) has a 2017.7.2 version of the salt packages in it...obviously a little behind, but is at least a fully tdnf managed package and seems to work as expected

[2018-11-19 16:50] Ch3LL commented on #1194
Closing for now as there are no responses, but please let me know if i need to re-open :)

[2018-11-19 16:50] #1194 closed, assigned to nobody

[2018-11-19 16:58] Ch3LL commented on #1288
@ripesensor are you okay to close this as it looks like your PR resolves the issue here?

[2018-11-19 16:59] #1288 closed, assigned to nobody

[2018-12-11 21:22] lorengordon commented on #1194
Just tested with salt-bootstrap 2018.08.15 and still doesn't seem to work...

[code]

[2018-12-11 21:24] lorengordon commented on #1194
Aha, no release yet. If I use what's in the develop branch, it works!

https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh

[2018-12-11 21:51] #1166 closed, assigned to nobody

[2018-12-12 03:37] ninjada commented on #1194
just got this working with the dev branch bootstrap too.

any eta for when this is going to be released ie. stable branch? been in the process of prepping to upgrade my entire infrastructure and move it to amazon linux 2.

[2018-12-13 16:22] Ch3LL commented on #1194
We will need to do another release soon for the next feature release of salt but i dont have an exact ETA. Most likely within the next month. As a workaround you can use the develop script

[2018-12-29 04:00] kevinquinnyo opened #1299 "Bunsenlabs Debian derivative support"
### Description of Issue/Question
Doesn't support Bunsenlabs debian derivative

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)
[code]
### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)
Use this OS, and try the commands listed here:
https://docs.saltstack.com/en/latest/topics/tutorials/quickstart.html#bootstrap-salt-minion

Which

[2018-12-29 04:17] kevinquinnyo commented on #1299
https://github.com/saltstack/salt-bootstrap/pull/1300 I just realized the unstable develop branch is not that much different than the file I downloaded from the docs, so I went ahead and applied the same changes based on develop here.

I tested it locally and it worked, but that's all.

[2018-12-29 04:27] kevinquinnyo commented on #1299
Before I move on to what I was installing salt for in the first place, I wonder if it would be a good idea to add a command line option (with requisite warnings/caveats, etc) that let's the user "force" a distro alias + major version?

For a superficial distro like 'bunsenlabs' which is really just a rebranded plain debian with some pre-configured goodies, it would be cool if i could do something

[2019-01-16 20:22] jeffPOG commented on #921
I believe it is still an issue, removing `/usr/lib/python2.7/site-packages/salt/config/__init__.py` did not fix the issue for me.

[2019-01-18 16:32] rallytime commented on #921
@Ch3LL and @s0undt3ch ^^

Can you re-open this?

[2019-01-18 17:37] alan-cugler commented on #1187
This is still an issue as of v2018.3.3 and request for this feature in 2019.

[2019-01-22 22:09] Ch3LL commented on #921
@jeffPOG the initial report are both very old versions. are you testing against those versions as well or a newer version?

[2019-01-24 15:45] Ch3LL commented on #1299
I think that would be a great idea if its easy to implement :) also thanks for the PR! We greatly appreciate it

[2019-01-24 15:51] Ch3LL commented on #1187
This is not currently assigned to anyone so if someone wants to grab it please feel free to submit a PR

[2019-02-07 06:48] #1233 closed, assigned to nobody

[2019-02-07 06:48] #1212 closed, assigned to nobody

[2019-02-07 06:48] #1137 closed, assigned to nobody

[2019-02-07 06:48] #1158 closed, assigned to nobody

[2019-02-07 06:48] #1259 closed, assigned to nobody

[2019-02-13 05:13] BrandonGDossantos commented on #1161
bump

[2019-02-14 07:06] #1213 closed, assigned to nobody

[2019-02-18 10:51] damianw2 opened #1320 "SUSE 15 doesn't work"
bootstrap-salt.sh script doesn't work with SUSE 15.

Reproduce: bootstrap-salt.sh -D

### Versions and Systems
bootstrap-salt.sh -- Version 2018.08.15

[2019-02-18 22:20] LuishXY commented on #1320
Please see if you are running into dependency issues.
https://github.com/saltstack/salt-bootstrap/issues/1254#issue-339908362

[2019-02-26 12:07] tjyang opened #1323 "Installer only install salt-minion-2018.3.2 on fedora 29"
### Description of Issue/Question
Installer only install  salt-minion-2018.3.2 on fedora 29
### Setup

(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

[code]
### Versions and Systems

root@ipa01 ~]# sh bootstrap-salt.sh  -v
bootstrap-salt.sh -- Version 2019.01.08
[root@ipa01 ~]# cat /etc/

[2019-02-27 21:29] dwickwire opened #1326 "Salt bootstrap upgrades to Flourine instead of provided Oxygen patch version"
### Description of Issue/Question

There appears to be a bug in the bootstrap code.  Salt upgrades to Flourine rather than the patch level 2018.3.4!

[code]

### Setup

Existing install on 2018.3.3

### Steps to Reproduce Issue

[code]

- Note the version provided was 2018.3.4 and the version installed was 2019.2.0.

### Versions Report

[code]

[2019-02-27 22:34] dafyddj commented on #1326
Are you saying Salt was installed before running the bootstrap script?

Edit: don't use `-U` to fully upgrade the system before the script tries to install Salt

[2019-02-27 22:44] dwickwire commented on #1326
Yes, salt was installed already.  Its in the diff above after the `wget`, note:
[code]

[2019-02-27 22:47] dafyddj commented on #1326
My answer remains the same: don't use `-U` to fully upgrade the system before the script gets a chance to install `2018.3.4`.

Edit: your `apt` source is initially pointing at the latest release:
[code]

[2019-02-27 22:57] dwickwire commented on #1326
Whoops!  Good to know, thanks for the clarification.

[2019-02-27 22:57] #1326 closed, assigned to nobody

[2019-02-28 00:38] puluanau opened #1327 "With Amazon Linux, choosing stable always is latest stable"
### Description of Issue/Question
When using the installer with amazon linux, specifying a stable version does nothing, as it has been hardcoded to latest there.

### Setup
Get the latest script and attempt to run in amazon linux 2.

### Steps to Reproduce Issue
```bootstrap-salt.sh stable 2017.7```
Running this on an AWS linux machine will install something newer (2019.2 when I ran).

### Version

[2019-03-04 18:58] PaulChristophel commented on #1327
I am seeing this exact issue as well when I try to bootstrap 2018.3

[code]

[2019-03-05 16:53] Ch3LL commented on #1323
are you still seeing this behavior?

[2019-03-05 16:57] Ch3LL commented on #1323
ahh never-mind looks like i can replicate this behavior, i imagine 2018.3.3 should be available by now. let me look into it.

[2019-03-05 17:21] Ch3LL commented on #1323
i went ahead and tested without the bootstrap and i'm still seeing  only 2018.3.2 version.

ping @dmurphy18 do you know why we aren't see the latest 2018.3.3 version?

[2019-03-08 05:23] sticky-note opened #1330 "-x python3 flag is not supported on FreeBSD"
### Description of Issue/Question
-x python3 doesn't work as expected on FreeBSD
Script doesn't take into account this flag whereas py36-salt is available on official FreBSD pkg repository

### Setup
FreeBSD ( 9|10|11|12 ) vanilla vagrant box or bare-metal install

### Steps to Reproduce Issue
Perform an install via bootstrap-salt.sh with `-x python3` flag on FreeBSD ( 9|10|11|12 ) without `py36-s

[2019-03-10 07:13] wolfpackmars2 opened #1331 "Typos in usage text"
### Description of Issue/Question
bootstrap-salt.sh -h shows ${BS_FALSE} as default for -d option

### Setup
N/A

### Steps to Reproduce Issue
sh bootstrap-salt.sh -h

### Versions and Systems
develop

[2019-03-13 10:56] s0undt3ch commented on #1331
It has been a while since I wrote that, but the idea is to actually show the env variable name, not the value, to suggest how you can tweak it.

[2019-03-13 21:05] wolfpackmars2 commented on #1331
Closed PR - works as intended.

[2019-03-15 14:29] gtmanfred commented on #1330
This will be a feature request, and will need to be fixed by the community.  The salt core team only implemented -x python3 for ubuntu, debian, centos and fedora (git installations)

https://github.com/saltstack/salt-bootstrap#python-3-support

[2019-03-15 14:30] #1331 closed, assigned to nobody

[2019-03-19 21:00] jc-rob commented on #1288
Apt returns 100 when a release file doesn't exist. This condition causes the script to loop all the way til the end with the guarantee that it never continues.

[code]

[2019-03-20 13:55] ripesensor commented on #1288
That's too bad. Another way we could attempt checking for a lock would be to redirect stderr to stdout and grep for the lock errors. E.g.:
[code]
If we return an exit code of 0, then we know the grep matched and we can try again. This blocks any exit codes from apt, however, and that leaves another problem.

[2019-03-20 15:44] ripesensor commented on #1288
Looks like we could use ${PIPESTATUS[0]} to get at the apt-exit code in my example.

[2019-03-20 15:48] vutny commented on #1288
@ripesensor The `$PIPESTATUS` is specific to bash. However, the script could (and usually) run with /bin/sh, which is `dash` on Debian/Ubuntu.

[2019-03-21 15:21] Ch3LL commented on #1327
thanks for opening this. Seems we probably have a bug where its not switching to the appropriate archive link for amazon linux.

[2019-03-21 15:23] Ch3LL commented on #1327
ahh i just found this PR: https://github.com/saltstack/salt-bootstrap/pull/1328#issuecomment-472375844
 thanks @puluanau  !

ping @PaulChristophel can you give that fix a try?

[2019-03-21 21:43] doesitblend opened #1336 "Bootstrap for SUSE 15 needs updated"
### Description of Issue/Question
If I try to install Salt on SLES 15 using the option on the website titled "Bootstrap - Multi-Platform", I get the following error:
"awk: fatal: cannot open file `/etc/SuSE-release' for reading (No such file or directory)"

This error occurs because as of SLES 15, /etc/SuSE-release has been removed in favor of /etc/os-release.

### Setup
(Please provide relevant c

[2019-03-22 13:49] Ch3LL commented on #1336
I'm closing here as this is a bootstrap issue i transferred it to the salt-bootstrap repo. thanks

[2019-03-22 13:50] Ch3LL commented on #1336
i got a bit confused heh sorry this is the bootsrap repo. The transfer issue has changed a bit how they do it in Github.

[2019-03-22 13:51] Ch3LL commented on #1336
@doesitblend can you provide the bootstrap version. You can run `bootstrap-salt.sh -v` to provide this information.

Also can you paste the exact command you are running when you run into this issue?

[2019-03-26 17:01] PaulChristophel commented on #1327
This resolves the issue

[code]

[2019-03-27 13:54] #1327 closed, assigned to Ch3LL

[2019-04-11 19:59] bryceml commented on #1252
repo.saltstack.com and bootstrap.saltstack.com now support IPv6.  We plan on moving to cloudfront soon (April 16th is our goal) and they will still have IPv6 when we do that.

rsync.repo.saltstack.com will only have IPv4 until further notice, but we can probably get it to support IPv6 at some point this year.

[2019-04-11 21:24] bryceml commented on #1161
This is up and ready for testing at https://winbootstrap.saltstack.com (stable branch) and https://winbootstrap.saltstack.com/develop (develop branch) .  Don't consider it production ready yet.

[2019-04-11 21:30] discentem commented on #1161
Is there a published hash somewhere for verifying the download?

[2019-04-11 21:34] bryceml opened #1338 "Windows script doesn't support tls 1.2"
### Description of Issue/Question
Windows bootstrap script needs to support tls version 1.2

### Steps to Reproduce Issue
run `salt-bootstrap.ps1` when repo.saltstack.com is configured to only support tls 1.2.  It fails with an ssl error.

### Versions and Systems
windows 2008 r2, probably other versions of windows as well.

We probably just need to add
[code]
to the windows script.

[2019-04-11 21:46] bryceml commented on #1161
It's not published anywhere as far as I know, but it's currently:
md5: e87763e031068953ff2a9a682f6710fe bootstrap-salt.ps1
sha256: 55dde1280909dd60de9b57d41046d632726a9722922917ef726fe747f4c041c4  bootstrap-salt.ps1

[2019-04-12 20:49] bryceml commented on #1161
The hashes will be documented after https://github.com/saltstack/salt-bootstrap/issues/1338 is fixed.

[2019-04-15 18:01] bryceml commented on #1338
This has been deployed to winbootstrap.saltstack.com

[2019-04-17 20:23] bryceml commented on #1338
We ended up putting repo.saltstack.com on cloudfront with tls1.0 available, it will need to be changed back to only supporting tls1.2 at a future date when everyone is expected to be using the new copy of the windows bootstrap script.

[2019-04-22 15:22] smarlowucf commented on #1320
This is still an issue with latest bootstrap script:

[code]

[2019-05-02 18:01] The-Loeki commented on #1220
Issue moved to https://github.com/saltstack/salt/issues/51883

[2019-05-10 15:09] claudekenni commented on #1320
same here with SLES15 not OpenSuSE.
The codeblock for SLES15 is missing.

I guess it would need something like this

https://github.com/saltstack/salt-bootstrap/blob/2c628c59d480baca0f66b4e7699b198c48ed2d9e/bootstrap-salt.sh#L6130-L6162

[2019-05-13 17:09] bryceml opened #1345 "Document how to use winbootstrap.saltstack.com and the hashes of the file"
### Description of Issue/Question
The readme for this repo does not have instructions on how to use winbootstrap.saltstack.com.  The hashes of the file also need documented.

[2019-05-13 17:13] bryceml commented on #1161
Closing issue, the TLS settings of repo.saltstack.com still need to be changed https://github.com/saltstack/salt-bootstrap/issues/1338 and this still needs documented https://github.com/saltstack/salt-bootstrap/issues/1345 . We are pulling those into their own issues though.  I believe this can be considered production ready now.

[2019-05-13 17:13] #1161 closed, assigned to twangboy, bryceml

[2019-05-22 02:20] claudekenni commented on #1336
+1
There is no SLES 15 block in the bootstrap script like this one for SLES12

https://github.com/saltstack/salt-bootstrap/blob/2c628c59d480baca0f66b4e7699b198c48ed2d9e/bootstrap-salt.sh#L6130-L6162

[code]

[2019-05-22 09:17] pauls1024 opened #1349 "Bootstrap lxc debian stretch fails to set apt-key"
### Description of Issue/Question
I had a working salt-master using salt-cloud to provision Debian Stretch based lxc containers on a Debian Stretch host.  Yesterday when I tried to build a new lxc container the bootstrap failed.  The LXC was built and started but the minion did not connect back to the master.

Upon logging in to the container I found that the repo had been added for the salt packa

[2019-05-29 23:17] ipmb opened #1350 "Ubuntu regression: ERROR: Failed to run install_ubuntu_stable_deps()!!!"
### Description of Issue/Question

Bootstrap is now failing on Ubuntu (tested with both Xenial and Bionic).

### Setup

Grab a copy of the `2019.05.20` release.

### Steps to Reproduce Issue

I'm seeing this in a more complex LXC environment, but this is the easiest way to reproduce:

[code]

*Debug output*

[code]

### Versions and Systems

[code]

[2019-05-31 07:07] pauls1024 commented on #1350
This looks similar to my issue #1349.

If you log onto the minion and do sudo apt-get update I'm betting you'll see some error messages on the console about the saltstack repo being unsigned.  The bootstarp.sh is setting up the rep in the /etc/apt/sources but is no longer signing it.  I reverted to the old version of bootstrap.sh and set it as a custom_bootstrap script... which allows me to build

[2019-06-05 20:58] amontalban opened #1351 "apt-get update is throwing an error after installing Saltstack"
### Description of Issue/Question

I have run bootstrap in a clean Ubuntu 18.04.2 system and now when we run `apt-get update` we get:

[code]

This is the repository config:

[code]

If I add a `[arch=amd64]` after `deb` it works fine:

[code]
### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
[code]

### Versions and Systems
[code]

[2019-06-06 23:17] bryceml commented on #1351
diff --git a/bootstrap-salt.sh b/bootstrap-salt.sh
index edc2e92..5bcf15e 100755
--- a/bootstrap-salt.sh
+++ b/bootstrap-salt.sh
[code]
Something like this should probalby fix it for everything.  I was doing some research and this looks like an ubuntu only thing to include the i386, we should probably verify what is happening on debian and others and figure out the best approach.

[2019-06-14 04:22] lsh-0 opened #1352 "bootstrap script fails on stable 2017.7 and 2018.3 on Ubuntu 18.04"
I wasn't getting this yesterday (2019-06-13) but today I can't bring up a 18.04 vagrant instance and bootstrap.

The first error is: `dpkg: error processing package libssl1.1:amd64`

[code]

[2019-06-17 10:44] max-arnold commented on #1352
Same problem here. Just started to happen with this bento box for Ubuntu 18.04: https://github.com/chef/bento/blob/master/ubuntu/ubuntu-18.04-amd64.json

Previously it worked just fine and there are no upstream changes in bento images.

I have a workaround, but it significantly slows down the `vagrant up` startup time (this needs to be placed before the salt vagrant provisioner directives):

[code

[2019-06-18 11:38] tmeneau commented on #1352
Ran into this in `kitchen-vagrant` using the `salt_solo` provisioner on the same bento box as @max-arnold. As mentioned in [this comment](https://github.com/chef/bento/issues/1201#issuecomment-502748086), this seems likely to be caused [by this OpenSSL change released to Ubuntu a few days ago](https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/1832522).

There's an [OpenSSL launchpad already h

[2019-06-19 04:11] lsh-0 commented on #1352
thanks for the solutions guys. I am indeed using a bento box: `bento/ubuntu-18.04`

this box was updated yesterday (18th) and from what I can see has fixed the issue. I couldn't find a changelog for this box though.

A simple `vagrant box update` will pull it down.

Closing ticket. This isn't a salt-bootstrap issue.

[2019-06-19 04:11] #1352 closed, assigned to nobody

[2019-06-20 09:37] vdloo opened #1353 "salt-bootstrap doesn't work for Debian 10 (Buster) and python 3"
Debian 10 is coming out on 2019-07-06 btw https://lists.debian.org/debian-devel-announce/2019/06/msg00003.html

[code]
Also see https://github.com/saltstack/salt-pack-py3/issues/116

[2019-06-21 10:51] zahiar commented on #1350
This looks remarkably similar to the issue I was having yesterday and I created a PR with a potential fix here: https://github.com/saltstack/salt-bootstrap/pull/1354

[2019-06-26 21:16] noelmcloughlin opened #1355 "[ubuntu] option -x python3 also installs python2"
### Description of Issue/Question

Using the  `-x python3`  option on Ubuntu 18.04 downgrades system default to python2.7.
This is unwanted behaviour because python3 should be default python.

### Setup
Vagrant box `generic/ubuntu1804`

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

DEBUG LOGS: [bootstrap_on_ubuntu18_py3.txt](https://github.com/saltstack/sa

[2019-06-29 01:14] noelmcloughlin commented on #1355
The workaround does not work on Ubuntu.
[code]

[2019-06-29 23:58] noelmcloughlin commented on #1355
Updating /usr/bin/salt-api* python scripts to python3 fixes salt-api service
[code]

[2019-06-30 15:06] noelmcloughlin commented on #1355
PR #1356 fixes the root cause.

[2019-07-03 10:33] somnmos opened #1357 "install_salt.sh -A only support single master"
### Description of Issue/Question

### Setup
curl -L https://bootstrap.saltstack.com -o install_salt.sh
sudo sh install_salt.sh -P -A xxx -i yyy

### Steps to Reproduce Issue
if i have two master, i found it cann't to install with this scripts.

### Versions and Systems
$ salt-minion --version
/usr/lib/python2.7/dist-packages/salt/scripts.py:198: DeprecationWarning: Python 2.7 will reach the end o

[2019-07-07 09:51] jandd commented on #1353
The control file of the Salt 2018.3.4 package that is included in the Buster release build-depends on

[code]

since this patch https://salsa.debian.org/salt-team/salt/commit/555fd315e41e8746444f28bc0178d57acab7371e introduced in December 2018

[2019-07-07 09:54] jandd commented on #1353
This has already been mentioned in https://github.com/saltstack/salt-pack-py3/issues/116#issue-422035370

[2019-07-10 16:12] #1355 closed, assigned to nobody

[2019-07-19 00:10] zahiar commented on #1350
@s0undt3ch Are you able to look at #1354 PR, be great to get your feedback on it, and hopefully get it merged in to address this issue.

Thanks in advance :)

[2019-07-23 19:00] iamthad opened #1358 "Bootstrap with -x python3 and -j fails with ImportError: No module named yaml"
Specifying a minion config with the `-j` option does not work when also specifying Python 3 via the `-x` option, at least on CentOS 7.

This appears to be because the `yaml` package is installed for Python 3, but `__overwriteconfig` does not respect the `-x` flag and always uses either `python` or `python2`; see [bootstrap-salt.sh lines 2257-2262](https://github.com/saltstack/salt-bootstrap/blob/d

[2019-07-29 08:01] vutny commented on #1187
This is feasible to implement, I would like to allocate some time to it.

[2019-07-30 22:46] #921 closed, assigned to nobody

[2019-08-01 15:54] #1299 closed, assigned to nobody

[2019-08-06 23:57] dmurphy18 opened #1360 "Need to patch bootstrap with support for Tornado4 on Debian 10 and Redhat 8 for Salt 2019.2"
### Description of Issue/Question
Debian 10 and Redhat 8 utilize Python 3 and Tornado v5.x, which Salt 2019.2 branch cannot handle.  For the Salt 2019.2 branch packages, Salt has been patched to allow it to function with Tornado4, supplied on Debian 10, and will be available as a package on Redhat 8 from SaltStack.

Need to have bootstrap on these platforms to do similar as the packages for Salt 2

[2019-08-10 13:19] lordfolken commented on #1349
The problem is that the debian stretch images from linuxcontainer.org do not have one of the tools installed needed to fetch the key. The script tries: curl,wget and fetch. None of these are present in the images.
I tried to add these with the extra packages switch `-p curl`, however that is executed after the debian dependencies, and is therefore never executed since that part of the code is exec

[2019-09-09 01:34] kondotak opened #1368 "Epel repo regular expression incorrect syntax"
Line 3675: if yum repolist | grep -q "^[!]\\?${_EPEL_REPO}/"; then

The regular expression "^[!]\\?${_EPEL_REPO}/" will never find a match because it has an extra slash at the end.  I removed slash on the salt master's bootstrap-salt.sh that it copies over to minion when using salt-cloud to create minion and it now successfully finds the alternate repo specified in the env_var BS_EPEL_REPO

sugges

[2019-09-10 19:28] #1323 closed, assigned to Ch3LL

[2019-09-11 13:07] brianthelion commented on #1149
@rallytime This appears to still be a problem on 2019.2.

[2019-09-18 13:38] stanzgy opened #1370 "bootstrap script cannot run under buzybox based system"
### Description of Issue/Question
I'm trying to install salt-minion on my router UBNT EdgeRouter4 with firmware v2.0.6.
It runs a mips64 OS based on buzybox and Debian stretch.
The bootstrap scripts failed as follows:
[code]

I created a PR to fix this: https://github.com/saltstack/salt-bootstrap/pull/1369

### Setup
UBNT EdgeRouter4 with firmware v2.0.6

### Steps to Reproduce Issue
on UBNT EdgeO

[2019-09-20 15:17] #1330 closed, assigned to nobody

[2019-09-23 22:51] bryceml commented on #1338
This is done.

[2019-09-23 22:51] #1338 closed, assigned to twangboy, bryceml

[2019-09-24 18:53] tjyang opened #1371 "bootstrap_salt.sh to support centos 8.0"
### Description of Issue/Question
 Not able to bootstrap salt on  [CentOS 8 release ](https://lists.centos.org/pipermail/centos-announce/2019-September/023449.htm)
### Setup

[code]

### Steps to Reproduce Issue
[code]
### Versions and Systems
[root@centos8t01 ~]# cat /etc/redhat-release
CentOS Linux release 8.0.1905 (Core)
[root@centos8t01 ~]#

[2019-09-24 20:51] DirkLaurenz opened #1372 "Bootstrap fails on raspbian debian buster 10 lite"
### Description of Issue/Question
Bootstrap fails on raspbian debian 10

### Setup
clean debian 10 buster raspbian lite install

### Steps to Reproduce Issue
root@bh01:~# ./bootstrap-salt.sh -A salt01 -i bh01
 *  INFO: Running version: 2019.05.20
 *  INFO: Executed by: /bin/sh
 *  INFO: Command line: './bootstrap-salt.sh -A salt01 -i bh01'

 *  INFO: System Information:
 *  INFO:   CPU:          :

[2019-09-26 19:16] kiemlicz commented on #1353
any update? 2019.2.1 is released
imo: `__install_saltstack_debian_repository` still detects debian 10 as stretch

[2019-09-28 15:10] smitelli commented on #1353
The culprit seems to be [this check](https://github.com/saltstack/salt-bootstrap/blob/f036abb7d4acf5310e163e225c5408ce5bd65790/bootstrap-salt.sh#L3062). I changed the value `10` to something absurd (`999`) and ran with `./bootstrap-salt.sh -x python3` and it installed perfectly.

I believe that check is outdated and no longer needed.

[2019-09-29 23:39] tjyang commented on #1360
Please [address centos 8 bootstrap](https://github.com/saltstack/salt-bootstrap/issues/1371) issue also.

[2019-09-30 15:22] dmurphy18 commented on #1353
@smitelli there is this issue to address this https://github.com/saltstack/salt-bootstrap/issues/1360
Thanks for the heads up on the 'this check'

[2019-10-02 15:25] xpicio commented on #1187
Is there any kind of workaround about that question ? Because i really need to preseed the minion with keys obtained from API https://salt-api-master.com/keys and the service should be stopped.

[2019-10-04 15:24] dmurphy18 commented on #1360
@tjyang will treat Redhat 8 and Centos 8 similarly

[2019-10-04 15:50] dmurphy18 commented on #1360
Need to check support for Amazon Linux 2 on Python 2 and Python 3

[2019-10-04 16:50] dmurphy18 commented on #1360
see also https://github.com/saltstack/salt-bootstrap/issues/1353 for stable fix, for git install patch file for Debian 10 and Redhat 8 to use Tornado4 https://github.com/saltstack/salt-pack-py3/blob/develop/file_roots/pkg/salt/2019_2_1/rhel8/sources/salt-py3-2019.2.1-tornado4.patch

(Debian 10 is built/packaged with quilt as part of spec file, raw patch file is above)

[2019-10-05 01:17] johnkeates opened #1374 "Bootstrap installs Debian 9 packages on Debian 10"
### Description of Issue/Question
Bootstrap installs Debian 9 packages on Debian 10 instead of the existing Debian 10 packages.

### Setup
Any Debian 10 system

### Steps to Reproduce Issue
bootstrap_salt.sh or bootstrap_salt.sh -x python3 on any Debian 10 system

### Versions and Systems
In a random vagrant vm:
[code]

[2019-10-10 11:12] stanzgy commented on #1370
PR has been merged

[2019-10-10 11:12] #1370 closed, assigned to nobody

[2019-10-18 19:37] #1252 closed, assigned to UtahDave, bryceml

[2019-10-23 13:47] kgbsd opened #1377 "fix bootstrap.sh for FreeBSD"
### Description of Issue/Question
https://github.com/saltstack/salt-bootstrap/pull/1376
bootstrap FreeBSD did not work, failed with logic and dependency hell
FreeBSD has py36-salt packages which handle all dependencies, etc - simple as pkg install -y py36-salt and then enabling it.
Don't need dependency or git hacks - leave it for ports/packages to be managed properly.

### Setup
Fresh install of

[2019-10-25 10:25] javierbertoli commented on #1374
The [Debian 10 repo is now available](http://repo.saltstack.com/py3/debian/10/amd64/latest/), but the installer is setting now up a *Debian 9* repo due to #1375, getting [this message](https://github.com/saltstack/salt-bootstrap/pull/1375/files#diff-a8778033f6225c137abf05cf8d0bb113L3066) and now installing Salt fails on dependencies.

[code]

[2019-10-25 15:14] Ch3LL commented on #1374
After the 2019.2.2 release I tested the develop bootstrap on debian 10 and it installed okay now:

` *  INFO: Salt installed!`

[code]

ping @javierbertoli are you using the latest develop bootstrap? seems to be working for me now.

[2019-10-25 15:18] Ch3LL commented on #1360
with the release of 2019.2.2 i tested on debian 10 and it setup the appropriate repo.saltstack.com repo and installed the appropriate tornado package:

[code]

so as far as i can see we do not need to update the script for debian10 stable installs

[2019-10-25 15:25] Ch3LL commented on #1353
This should be fixed by https://github.com/saltstack/salt-bootstrap/pull/1375

Can anyone verify as well?

[2019-10-25 15:30] Ch3LL commented on #1360
git install on debian 10 is failing here:

[code]

looking into this now

[2019-10-25 15:38] johnkeates commented on #1374
I'll test this as well

[2019-10-25 15:45] smitelli commented on #1353
Tried using a Vagrant VM I had lying around:

    $ lsb_release -a
    No LSB modules are available.
    Distributor ID: Debian
    Description:    Debian GNU/Linux 10 (buster)
    Release:        10
    Codename:       buster
    $ wget https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh
    $ chmod +x bootstrap-salt.sh
    $ sudo ./bootstrap-salt.sh -x python3

[2019-10-25 16:02] smitelli commented on #1353
Without `-x python3`, however, the install fails at `install_debian_deps()`. The underlying reason for that seems to be something wrong with the apt repo, since it breaks `apt-get update` too:

    $ sudo apt-get update
    Ign:1 https://repo.saltstack.com/apt/debian/10/amd64/latest buster InRelease
    Hit:2 http://security.debian.org/debian-security buster/updates InRelease
    Hit:3 http://deb.

[2019-10-26 00:41] tjyang commented on #1371
* Current Testing
[code]
* [No rpm for RHEL8/CentOS8
](https://repo.saltstack.com/yum/redhat/)

[2019-10-27 23:42] javierbertoli commented on #1374
@Ch3LL, using the latest develop bootstrap worked for me. Sorry for the noise, I assumed the stable bootstrap was updated when a new release/distro was published.

[2019-10-28 16:18] tomlaredo commented on #1353
If it could be of any help:
https://repo.saltstack.com/apt/debian/10/amd64/latest doesn't exist but replace "apt" by "py3" and it will work:
http://repo.saltstack.com/py3/debian/10/amd64/latest/

[2019-10-28 18:31] johnkeates commented on #1374
Works here as well, but only manually (using vagrant), can't seem to get a successful bootstrap deploy with develop but that's probably due to vagrant and not due to salt.

[2019-10-29 21:21] Ch3LL commented on #1374
let us know otherwise @johnkeates

for now i'll go ahead and close this

[2019-10-29 21:21] #1374 closed, assigned to nobody

[2019-10-31 14:41] gaetanquentin opened #1379 "centos8 : No match for argument: python34-PyYAML"
### Description of Issue/Question
pyyaml package not correctly identified
bootstrap fails

### Setup
lxd 3.18
packer
centos 8.0
sudo sh bootstrap.sh -x python3 stable 2019.2.2

### Steps to Reproduce Issue
- install centos8 in lxd for example
- download bootstrap
- sudo sh bootstrap.sh -x python3 stable 2019.2.2

Error
------------
    centos-8-salt-2019-2-pfi: Extra Packages for Enterprise Linux

[2019-11-01 19:29] Ch3LL commented on #1360
fixed also by https://github.com/saltstack/salt-bootstrap/pull/1380
and https://github.com/saltstack/salt-bootstrap/pull/1378

[2019-11-01 19:29] #1360 closed, assigned to Ch3LL

[2019-11-01 19:29] Ch3LL commented on #1371
should be fixed by https://github.com/saltstack/salt-bootstrap/pull/1380

[2019-11-01 19:31] Ch3LL commented on #1379
can you see if https://github.com/saltstack/salt-bootstrap/pull/1380 fixes your issue please?

centos 8 bootstrap stable tests are now passing with that fix.

[2019-11-01 19:32] Ch3LL commented on #1358
can you see if https://github.com/saltstack/salt-bootstrap/pull/1380 fixes your issue please?

[2019-11-01 21:05] tjyang commented on #1371
No. Same issue of PyYAML augument not found.
[code]

[2019-11-04 13:59] gaetanquentin commented on #1379
pb still here:
[code]

[2019-11-04 14:32] Ch3LL commented on #1371
the PR I pointed to is not currently released. I notice you are doing this : `wget -O bootstrap_salt.sh https://bootstrap.saltstack.com` to test. Can you run `wget https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh` to test the latest.

[2019-11-04 14:33] FrantisekLee opened #1382 "CentOS6_x64 tag: v2018.3.4 salt-minion: ERROR: Failed to run install_centos_git()!!!"
### Description of Issue/Question
I have latest clean install CentOS6_x64. I only downloaded latest bootstrap-sat.sh and i wanted to install salt-minion from tag: v2018.3.4. because i still use salt-master 2018.
When i try to install latest version salt-minion without tag (v2019.2.2), everything works.
Problem is, when i want to install older salt-minion version with git parameter and tag: v2018.3

[2019-11-04 14:34] Ch3LL commented on #1379
can you clarify how you grabbed the new changes? Just want to verify you are using the file https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh  since its not released yet.

[2019-11-04 14:45] gaetanquentin commented on #1379
i got the develop branch:
sudo sh /tmp/install_salt.sh -x python3  git develop

[2019-11-04 14:52] gaetanquentin commented on #1379
ok i have understood:

/tmp/install_salt.sh is the old bootstrap itself and contains the problem: it is installed by packer.
i though that using these args ( -x python3  git develop)  would bypass the script and download fresh things

so i have refreshed the script
and now the problem it this:
Installed:
[ ...]
  perl-threads-1:2.21-2.el8.x86_64
  perl-threads-shared-1.58-2.el8.x86_64

Complete!

[2019-11-04 14:58] gaetanquentin commented on #1379
so with "-P  git develop" it is ok

[2019-11-04 15:41] Ch3LL commented on #1379
yeah we had to require a pip installation to install the correct version of tornado if doing a git install. I should have clarified this, but I will update the docs to reflect this. This is only temporary until we allow salt to work with tornado version 5 and 6. Centos8 does not have a tornado 4 package for python3 available.  It does have python3-tornado4, but this requires editing the salt code

[2019-11-04 15:41] Ch3LL commented on #1379
are you okay closing based off this information?

[2019-11-04 18:24] Ch3LL commented on #1371
we actually just did a release this morning, so you can pull down from https://bootstrap.saltstack.com now and tests

[2019-11-04 19:46] tjyang commented on #1371
here is another test.

[code]

[2019-11-05 00:40] ksalman commented on #1371
Looks like the issue is that the script is setting this baseurl in `/etc/yum.repos.d/saltstack.repo`:
[code]
It should be:
[code]

[2019-11-05 08:39] gaetanquentin commented on #1379
yes

[2019-11-05 12:53] gaetanquentin commented on #1379
oups: last test:
 *  INFO: Running version: 2019.11.04
 *  INFO: Executed by: sh
 *  INFO: Command line: '/tmp/install_salt.sh -x python3 -N git develop'
 *  WARN: Nothing to install or configure

[2019-11-06 08:20] vutny opened #1386 "Opensuse 15.0 tests failed"
### Description of Issue/Question
Current tests against the tip of  `develop` branch are failing because of Opensuse 15.0 container provisioning:
[code]

### Setup
CI tests at drone.io: https://drone.saltstack.com/saltstack/salt-bootstrap/248/10/4

Also, it seems Ubuntu tests are kinda stuck. Ping @Ch3LL

[2019-11-06 23:13] 2piix commented on #1353
I started running into the problem @smitelli mentioned either on Sunday or Monday, after I swapped my hypervisor to Debian 10.  I had already been using Debian 10 instead of Ubuntu 18.04 on my salt master for at least a couple of days before this, and I stopped being able to build it.  I thought it was my version of vagrant pulling in an old bootstrap script, but I downloaded the bootstrap script

[2019-11-07 08:06] vutny commented on #1386
Works now, thanks!
Some old PR jobs are still stuck, probably someone need to cancel them:
https://drone.saltstack.com/saltstack/salt-bootstrap/258
https://drone.saltstack.com/saltstack/salt-bootstrap/255
https://drone.saltstack.com/saltstack/salt-bootstrap/248

@Ch3LL @s0undt3ch ?

[2019-11-07 12:48] s0undt3ch commented on #1386
Jobs have been cancelled.
It also seems like the last develop job passed https://drone.saltstack.com/saltstack/salt-bootstrap.

Good enough to close the ticket?

[2019-11-07 13:56] vutny commented on #1386
All good, thanks!

[2019-11-07 15:38] Ch3LL commented on #1371
what if you pass the `-x python3` option. Right now its written to require passing python3 when not using python2.

[2019-11-07 15:53] tjyang commented on #1371
@Ch3LL

Thanks for the suggestion, here is the log.

[code]

[2019-11-07 18:30] #1220 closed, assigned to nobody

[2019-11-07 20:29] #1379 closed, assigned to nobody

[2019-11-08 07:41] ymasson opened #1388 "Bootstrap doesn't work for Debian 10 (Buster)"
### Description of Issue/Question
Debian 10 Salt packages are only available for Python 3.
But, the Debian 10 default is Python 2.
Bootstrap Python version detection find 2, and try to install packages for this version.

### Setup
[code]

### Steps to Reproduce Issue
[code]
Python 2.7 and wrong repository:
[code]
It is not a major issue, but `apt-transport-https` is now useless for Debian 10.
apt

[2019-11-08 08:06] ymasson commented on #1388
https://drone.saltstack.com/saltstack/salt-bootstrap/259/8/1

Tests can't detect this failure because we don't test the default behavior.
I think testing bootstrap without any parameters might be a good idea.
By default, it should not fail.

[2019-11-08 13:14] vutny commented on #1386
Seems like Opensuse Leap 15.0 is flaky:
[code]

[2019-11-11 13:52] NotANormalNerd commented on #1388
We encountered this problem and I support the movement above, to use use python3 by default with 2020 coming up fast.

For everyone else looking for a quickfix: Run the bootstrap.sh script with `-x python3`

[2019-11-13 18:25] amontalban commented on #1259
Just for other googlers, the fix here is to install FreeBSD package called `python2` (Which is a symlink).

[2019-11-14 09:59] desniqs commented on #1371
For me it passes PyYAML error even without adding -x python3 parameter. But fails the same way later on with "No match for argument: salt-minion".

I've checked and culprit must be the saltstack repository "Failed to synchronize cache for repo 'saltstack', ignoring this repo." which doesn't include CentOS 8 directory yet ?

Is there any info on when this could be resolved?

[code]

[2019-11-15 15:35] ksalman commented on #1371
@desniqs when you don't pass `-x python3` it sets a different baseurl. In your `/etc/yum.repos.d/saltstack.repo`, which you pasted, you can see that the baseurl is
[code]
which is incorrect, because CentOS 8 packages are not in that repository. When you pass `-x python3` the baseurl will be something like this
[code]

[2019-11-15 16:05] #1320 closed, assigned to nobody

[2019-11-17 20:26] johnkeates commented on #1374
Sorry for the late verification, but works using stable! Develop still not working, but that's actually not bootstrap's fault, it's the develop version of the Salt Minion not happily starting in this case for the configuration on this box. Everything works as intended.

Adding @Ch3LL for label update.

[2019-11-18 18:07] #1345 closed, assigned to twangboy

[2019-11-20 08:32] Reiner030 commented on #1353
The problem for me is also that the bootscript now sucessfully detects Debian Buster but there is no repository anymore for it in path .../10/...  so it fails!
Seems the internal communication between Saltstack teams need to be improved ?

[code]

EDIT: here the verification that Vagrant fetches the latest bootstrap script:
https://github.com/hashicorp/vagrant/blob/master/plugins/provisioners/salt

[2019-11-21 08:02] vutny opened #1389 "Drone CI: Your License Limit Is Exceeded"
### Description of Issue/Question
Drone build at https://drone.saltstack.com/saltstack/salt-bootstrap shows:
"Your License Limit Is Exceeded" at the bottom of the page.

Looks like it was a trial installation or so. Not sure how it would affect future PRs.

Ping @s0undt3ch @Ch3LL

[2019-11-21 08:05] vutny commented on #1386
The last what I seen on Drone CI is this:
[code]
It could be specific for the container environment which Drone uses.

[2019-11-22 11:22] johnvox opened #1391 "No Support of Python3 with Amazon Linux 2"
### Description of Issue/Question
Hello, I can't managed to install salt with python3 support on AmazonLinux 2

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)
Tested on Amazon Linux AMI  amzn2-ami-hvm-2.0.20191116.0-x86_64-gp2 (ami-00068cd7555f543d5)

### Steps to Reproduce Issue
curl -o /tmp/bootstrap-salt.sh -L https://bootstrap.saltstack.com
sh /tmp/bootstrap-sa

[2019-11-22 16:47] dmurphy18 commented on #1391
@Ch3LL Can confirm this to be the case

[2019-11-22 19:57] dmurphy18 commented on #1391
Working on this since nightly builds also needs this resolved.

[2019-11-23 11:26] bryceml opened #1392 "windows bootstrap script will need to support new s3 version of repo"
### Description of Issue/Question
It looks like the current windows bootstrap script looks for the latest version by parsing the output of the apache directory listing,  this will need to be updated when we switch to s3.

[2019-11-26 05:33] sticky-note commented on #1377
A workaround to get it work:
[code]
before bootstrapping  with the bootstrap.sh

[2019-11-26 08:15] hemantaltair opened #1394 "powershell sat-minion on windows is breaking!"
### Description of Issue/Question

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
PS C:\Users\saltmaster> .\bootstrap-salt.ps1 -minion windows -master 10.4.2.4
The variable cannot be validated because the value Latest is not a valid value for the version variable.
At C:\Users\saltmaster\bootstrap-salt.ps1:234 char:18
+     $version = $

[2019-11-26 13:48] bobafouette commented on #1394
Hello,

I ran into the exact same issue this morning. Every thing was fine yesterday.

I took a quick look into the bootstrap.ps1 script:

At the very begining the of it `$version` param is declared and expected to [match](https://github.com/saltstack/salt-bootstrap/blob/stable/bootstrap-salt.ps1#L78-L81): `^201\d\.\d{1,2}\.\d{1,2}(\-\d{1})?|(rc\d)$`.

[Later on ](https://github.com/saltstack/salt

[2019-11-27 06:06] #1336 closed, assigned to nobody

[2019-11-27 15:53] vutny opened #1395 "Drone CI: which configuration file is in use and how to update it properly?"
### Description of Issue/Question
This is a question: which file serves as a source of configuration for Drone CI,
`.drone.yml` or `.drone.jsonnet`?
If some of it is legacy, we need to drop it to avoid confusion and duplication of efforts. If the one of it is somehow generated from the other one, it should be documented how to make this conversion.

Also it appears that after the changes was made

[2019-11-27 16:13] s0undt3ch commented on #1395
`.drone.jsonnet` is used to generate `.drone.yml`

#1396 fixes this issue.

[2019-11-29 10:10] mbochenk commented on #1353
Same here, both repo paths for Debian 10 and CentOS 8 (RHEL 8) are absent:
http://repo.saltstack.com/yum/redhat/8/ - 404 not found
https://repo.saltstack.com/apt/debian/10 - 404 not found
Repos for rhel 7 and debian 9 are present.

[2019-11-29 10:16] mbochenk commented on #1353
P.S.
I've found that py3 versions are available: http://repo.saltstack.com/py3/debian/10/
Does it mean py2 is completely deprecated for RHEL8/Debian10? My understanding was that it is supported for now (for example, my master runs on python2.7)

[2019-12-04 18:07] kiemlicz commented on #1353
I don't understand the issue anymore,
the salt-bootstrap script works for Debian 10 (verified [like so](https://github.com/kiemlicz/ambassador/blob/master/.travis/debian-buster/Dockerfile#L9))

[2019-12-05 08:43] mbochenk commented on #1353
@kiemlicz if you use default python (2.7 for example) - there are still no packages available for salt in repo.
see https://repo.saltstack.com/apt/debian/ - only 7, 8 and 9 are available.
Same issue with Centos8. You can add -x python3 to bootstrap options and that will work fine.

If I run with `-x python3` - it works, installs py3 dependecies. If I run without - it does not. My understanding was

[2019-12-05 12:39] smitelli commented on #1353
@kiemlicz @mbochenk I would also consider the current behavior a bug. either in the script itself or its documentation. As an end-user, I feel one of the following options should occur:

- Running `./bootstrap-salt.sh` without the `-x` option should use the default python2 and succeed.
- or, running `./bootstrap-salt.sh` without the `-x` option should default to python3 on these newer OS releases

[2019-12-05 13:32] mbochenk commented on #1353
@smitelli On another hand I vaguely remember that currently python3 minions are not fully compatible with python2 master and vice-versa. I am actually running into issues with this, as all my masters are on python 2.7 (Centos 7)
So I would say option #1 or #3 in this case, number 2 may cause too many grief you are not ready to deal with.

[2019-12-05 19:58] Reiner030 commented on #1353
@kiemlicz it would be much more nice if you add here the call you are using in line 10 of your linked script and explain why you solution works in your buster version against the default settings 😸 ...

I found this call in your reference:
[code]
And from checking documentation:
* this option is fine / already used by me and others:
[code]
* these options are needed in your setup "only":
[code]
*

[2019-12-05 20:17] Reiner030 commented on #1353
This option was also not successful because it's need a mirror with /10/ version subfolder:
[code]
but this option could help temporary:
[code]
because Debian Buster has already saltstack packages which may be new enough:
[code]

[2019-12-06 10:02] mbochenk commented on #1353
@Reiner030 I am not sure i understand where this is going.
`-x python3`: if used with bootstrap deployment works. I am using stable 2019.2.2. I did not try develop, etc.
WIthout this option bootstrap tries to install python2 (python 2.7) and fails, as there are no public repositories available on https://repo.saltstack.com with python 2.7 parts - only py3. It does not matter which options you prov

[2019-12-11 05:33] lsh-0 opened #1398 "-x python3 installation + Ubuntu 18.04 failing with GPG error"
### Description of Issue/Question

Salt bootstrap on a fresh Ubuntu 18.04 vagrant instance fails when running with:

    wget -O salt_bootstrap.sh https://bootstrap.saltstack.com --no-verbose
    sh salt_bootstrap.sh -x python3 -P -F -c /tmp stable 2017.7.8

`python2.7` *does* work however.

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

[code]

### Steps to Repro

[2019-12-11 16:23] dmurphy18 commented on #1398
@lsh-0 Salt 2017.7 branch version had partial support for Python 3, full support for Python 3 really started with branch 2018.3 releases. Please retry with Salt 2018.3.4 or the latest point release 2019.2.2.

[2019-12-11 20:50] s0undt3ch opened #1400 "Extend EOL checks for Fedora < 30"
### Description of Issue/Question
Extend EOL checks for Fedora < 30

[2019-12-12 14:52] Ch3LL commented on #1371
ping @desniqs did @ksalman 's comment help you out? The py3 url for centos 8 should be up on the repo by now, but yes its only py3 packages

[2019-12-13 00:40] #1351 closed, assigned to nobody

[2019-12-13 02:04] lsh-0 commented on #1398
`2018.3.4` is looking promising, thanks @dmurphy18

[2019-12-15 02:20] tjyang commented on #1371
Hi @Ch3LL

Almost there ;), boot script now can grab and install ceont8 salt pkgs, but it failed at the end when trying to auto start minion up. a manual start via **"python3 -d /usr/bin/salt-minion -l debug"** works.

- A oneliner for testing  install
[code]
- the whole install log
[code]
- works if running **python3 -d /usr/bin/salt-minion -l debug**
[code]

- salt-call works if called like foll

[2019-12-16 15:05] mbochenk opened #1403 "RHEL 8.0/8.1: No dependencies installation function found. Exiting..."
### Running bootstrap on RHEL 8/8.1 fails

### Setup
Run satl bootstrap on fresh RHEL 8 install

### Steps to Reproduce Issue
[code]
### Versions and Systems
`bootstrap-salt.sh -- Version 2019.11.04`
[code]
[code]

[2019-12-16 15:14] Ch3LL commented on #1389
thanks for letting us know. i'll let @s0undt3ch comment here as he is more familiar with this area, but I do believe we are not going to be using drone anymore so we will probably need to migrate the tests.

[2019-12-19 14:57] Ch3LL commented on #1371
im still not able to replicate this. Instead of trying to start the minion with `python3 -d /usr/bin/salt-minion -l debug` what happens when you start with systemctl? do you see hte same error?

[2019-12-19 15:09] tjyang commented on #1371
-  comment out python3 line and reload
[code]
- restart will see following error.
[code]

[2019-12-20 06:49] hemantaltair opened #1404 "Get salt-bootstrap for windows is not working using wget or curl"
How Do I get salt-bootstrap for windows using curl or wget?
When I do
curl -o bootstrap-salt.ps1 -L https://bootstrap.saltstack.com
This dosen't works on windows powershell

[2019-12-22 18:03] kiemlicz commented on #1353
@Reiner030 Thank you for pointing out the options!
I claimed that it works because this issue is about Debian 10 and Python3 - which works just fine

However you are right - it is impossible to install Salt on Debian 10 using Python2.7 ('my solution' won't work).
There simply is no repo available (https://repo.saltstack.com/#debian)

Maybe there are other ways to install (from git) however the 'pr

[2019-12-22 18:12] vutny commented on #1377
I guess this was fixed by #1376 and could be closed.

Ping @s0undt3ch @Ch3LL

[2019-12-22 18:35] s0undt3ch commented on #1377
Thank You @vutny!

[2019-12-22 18:35] #1377 closed, assigned to nobody

[2019-12-23 12:57] mbochenk commented on #1353
@kiemlicz In short I did not want to make duplicates and this one at the time seemed to fit the bill the best out of other issues I saw (for ex https://github.com/saltstack/salt-bootstrap/issues/1379 https://github.com/saltstack/salt-bootstrap/issues/1358 https://github.com/saltstack/salt-bootstrap/issues/1371)

[2019-12-23 13:03] mbochenk commented on #1403
Note that I use bootstrap with salt-cloud, which means that using `yum install salt-minion...` would be really annoying to use (and I'd need to sign keys, manage master config, etc. which salt-cloud + salt-bootstrap already do). I am not sure if this is worth investing time into if the bootstrap is going to be fixed any time soon.

[2019-12-23 14:31] blade2005 opened #1405 "Installing Salt on Amazon Linux 2 ARM"
### Description of Issue/Question
Unable to install salt on Amazon Linux 2 ARM64. This issue seems to be because there's no compile packages for amazon linux https://repo.saltstack.com/yum/amazon/2/

### Setup
None

### Steps to Reproduce Issue
Run `curl -L https://bootstrap.saltstack.com | sudo sh -s -- "$@" git develop`

### Versions and Systems
[code]

[2019-12-24 17:11] 2piix commented on #1353
Yes, I landed here after looking at a couple of other issues too.

For now, I'm using an older version since `bootstrap_salt.sh`'s default behavior for Debian 10 doesn't work out of the box, which made automating the bootstrap a bit tougher than it needed to be, and I think I gave up in the end anyway.  Maybe the newest latest does it.

[2020-01-03 19:52] arizvisa commented on #1404
@hemantaltair, that's because `bootstrap.saltstack.com` does not include a redirect for powershell specifically and only supports bourne shell. To fetch the powershell script with curl, you need to access the bootstrap script from the repository directly (i.e. something like https://raw.githubusercontent.com/saltstack/salt-bootstrap/stable/bootstrap-salt.ps1)

[2020-01-03 19:53] arizvisa commented on #1404
But, on that note...

maintainers: is there a present way (or any plans in the future) to support a `bootstrap.saltstack.com` redirect to the powershell script for bootstrapping on Windows machines? Or are we limited to the github repository directly?

[2020-01-06 12:08] arizvisa opened #1406 "Cannot convert value "Tls,Tls1,Tls2" to type "System.Net.SecurityProtocol.Type""
### Description of Issue/Question
In salt-bootstrap.ps1, the `System.Net.SecurityProtoclType::Tls1` and `System.Net.SecurityProtoclType::Tls2` enumerations do not exist on .NET Framework 4.0. This means the following line of code at `salt-bootstrap.ps1:102` has an undocumented dependency;

[code]

This results in the following error/backtrace:
[code]

You could wrap it in an exception handler and

[2020-01-06 12:10] arizvisa commented on #1406
Ftr, this issue was actually introduced by the latest commit c252c74dc800b0b34fcbe0293eb3e608b9ee5a28

[2020-01-06 18:56] dmurphy18 opened #1407 "OpenSuse 15.0 failing to create docker test container with Drone"
### Description of Issue/Question
Bootstrap testing is failing on 'create' for test for OS Opensuse 15.0

### Setup
Run bootstrap tests

### Steps to Reproduce Issue
Run bootstrap tests

### Versions and Systems
Current develop branch for salt-bootstrap and running bootstrap tests

[2020-01-06 18:58] dmurphy18 commented on #1407
[code]

[2020-01-06 19:22] dmurphy18 commented on #1407
Checking 139 error message:

Internet says that code 139 is "signal 11 (SIGSEGV on Linux and most other UNIXes), also known as segmentation fault"

And from searching https://github.com/openSUSE/zypper/issues/267 where Zypper segfaulting on package installs.

Need the 2 curl patches at the end of that issue

[2020-01-06 21:01] dmurphy18 commented on #1391
Closing since fix is merged into develop

[2020-01-06 21:01] #1391 closed, assigned to dmurphy18

[2020-01-06 21:43] #1407 closed, assigned to dmurphy18

[2020-01-06 21:43] Ch3LL commented on #1386
should be fixed by https://github.com/saltstack/salt-bootstrap/pull/1408

[2020-01-06 21:43] #1386 closed, assigned to nobody

[2020-01-06 22:17] dmurphy18 commented on #1407
https://github.com/saltstack/salt-bootstrap/pull/1408

Fix merged in, closing

[2020-01-07 02:09] #1398 closed, assigned to nobody

[2020-01-07 15:17] Ch3LL commented on #1353
you are accurate in your description that we only supply python3 packages for debian 10. You can install python2 with a git installation.

One thing that is making itself clear here though is we could probably improve the script with either these options:
 a. always use python3 if installing with packages on debian 10
OR
  b. print out an error stating it requires `-x python3` so the user understa

[2020-01-07 15:33] kiemlicz commented on #1353
In my opinion you should respect the system default version.
Since the default Python version for Debian 10 is Python 2.7 I'm in favour of option `b`
Because it is explicit and potentially avoids confusion

[2020-01-07 15:34] Ch3LL commented on #1371
without `python3` in execstart it works just fine for me. I've tried multiple approaches here and still cannot replicate. I tried installing python3 before hand. Installing salt beforehand and then removing as you do and installing again. I am not able to replicate this behavior. Are you seeing this behavior if you install on a clean VM? Im just trying to figure out what im missing here. thanks

[2020-01-07 15:52] tjyang commented on #1371
@Ch3LL , I will spin up a new centos 8 VMWare VM to reproduce the issue.

Following were the steps I used to test out centos 8 salt-minion install. As of today(01/07/2020), **" bash bootstrap_salt.sh -D -x python3 -i `hostname`"** works.

- Download [CentOS-Stream-8-x86_64-20191219-boot.iso](http://mirror.genesishosting.com/centos/8-stream/isos/x86_64/CentOS-Stream-8-x86_64-20191219-boot.iso) and

[2020-01-07 16:05] smitelli commented on #1353
This is one of those situations where user experience may be more important than doing what is purely "correct." Yes, in an ideal world, Salt's Python version would match the distribution default. However, in this case, the packagers of Salt have made the decision that Python 2 and Debian 10 are not a combination they choose to package for. That limits our options here, simply because the ideal ca

[2020-01-07 18:25] mbochenk commented on #1353
From my side: I do not care which version of python I am using as long as it works. In the past there were warnings about py3 minor incompatibility peppered through docs, that is why I was under impression that 2.7 is still somewhat supported.
A check and a clear message (python prior 3 is NOT supported on Debian10/CentOS8 /ETC.) would be nice too.

[2020-01-07 18:29] 2piix commented on #1353
From my point of view: the app "should" respect the system default Python  (but he Debian/Python 2 ship has sailed). But since I'm running the bootstrap script **to install salt**, and it doesn't support the default on my Debian 10 system, the bootstrap script should just **do whatever it takes to install salt**.

I vote for option A.

[2020-01-08 10:45] #1357 closed, assigned to nobody

[2020-01-14 21:48] karl-tpio commented on #1350
I was just bit by this in a process that does not allow for a whole lot of customization to the bootstrap process.

Simply running

[code]

prior to the bootstrap invocation was enough to get past this error.

[2020-01-16 06:53] arizvisa commented on #1394
Can some maintainer please to god look at this?

[2020-01-17 17:51] pr0xxy opened #1409 "oot"
### Description of Issue/Question

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

### Versions and Systems
(`salt --versions-report`, `bootstrap-salt.sh -v`, system type and version,
cloud/VM provider as appropriate.)

[2020-01-18 00:23] b5n commented on #1353
Not working for me, even with the '-x python3' option:

b@salt-master:~/Downloads$ sudo sh bootstrap-salt.sh -M -N -D
 *  INFO: Running version: 2019.11.04
 *  INFO: Executed by: sh
 *  INFO: Command line: 'bootstrap-salt.sh -M -N -D'

 *  INFO: System Information:
 *  INFO:   CPU:          GenuineIntel
 *  INFO:   CPU Arch:     x86_64
 *  INFO:   OS Name:      Linux
 *  INFO:   OS Version:   4.19

[2020-01-18 01:24] smitelli commented on #1353
@b5n That second invocation might work if you removed `/etc/apt/sources.list.d/saltstack.list`. My guess is it contains

    deb https://repo.saltstack.com/apt/debian/10/amd64/latest something something

while it needs

    deb https://repo.saltstack.com/py3/debian/10/amd64/latest buster main

to succeed on Debian 10.

Looks like the first invocation of `bootstrap-salt.sh` left apt in a broken sta

[2020-01-18 01:37] b5n commented on #1353
Thanks @smitelli, that makes sense. I'll give it a shot when I'm back in the office on Tuesday and report back if the issue persists.

[2020-01-18 23:02] s0undt3ch commented on #1409
Invalid.

[2020-01-18 23:02] #1409 closed, assigned to nobody

[2020-01-20 21:36] Reiner030 commented on #1353
Hello @Ch3LL,

tested today a new Saltstack setup based on my Vagrant VM because I have seen that above py3 packages are available again for Debian Buster since `2019.2.3`is published.

* Positive is that the packages can be referenced again as "stable" only.
* Negative is that the available saltstack bootscript `2019.11.04` still can't automatically add the needed python3 reference.
Why can't the

[2020-01-21 18:52] ssoto2 opened #1412 "Method Advised by Saltstack for Upgrading Existing Master and Minions to python3"
### Description of Issue/Question

Looking through the documentation there seems to be no real documentation on steps to upgrade existing minion and masters to python3. Is it expected that a fresh install should be done?

right now the new rpm for saltstack + py3 does not remove the existing file from bootstrap, and bootstrap will install python3 packages when selected -x python3 but does not upda

[2020-01-21 22:42] #1412 closed, assigned to nobody

[2020-01-22 16:11] avanheuvelen commented on #1353
I can reproduce this issue, after updating the bootstrap script to `2020.01.21` we got errors installing debian dependencies. The culprit was an erroneous entry in `/etc/apt/sources.list.d/saltstack.list`.

The URL added was:
`https://repo.saltstack.com/apt/debian/10/amd64/latest`

Adding `script_args: -x python3` to `/etc/salt/cloud` sets the proper URL of:
`https://repo.saltstack.com/py3/debian/

[2020-01-23 07:21] marek-knappe opened #1414 "install_freebsd_stable_deps not found"
### Description of Issue/Question

      /tmp/kitchen/bootstrap.sh: install_freebsd_stable_deps: not found
416         * ERROR: Failed to run install_freebsd_git_deps()!!!

### Setup
Just new install on Freebsd 11

### Steps to Reproduce Issue
Just install from bootstrap on freebsd11

### LOGS
    downloading https://bootstrap.saltstack.com
390          to file /tmp/kitchen/bootstrap.sh
391

[2020-01-23 07:26] marek-knappe commented on #1414
Looks like in
[code]
Someone changed it from freebsd_9_stable_deps that was already not existing from commit: da991e3e1abda1777065d9deb65e1e5c3e3fc609, to non existing freebsd_stable_deps

and function name is :     install_freebsd_deps

[2020-01-23 12:39] amontalban commented on #1414
@vutny please disregard this, another of our team members @cedwards is working on a fix in #1413

[2020-01-23 23:17] mariusvw opened #1416 "Installation failure on FreeBSD 12"
### Description of Issue/Question

[code]

### Steps to Reproduce Issue

[code]

[2020-01-24 16:35] bryceml opened #1418 "The bootstrap script should install the python3 version of salt without needing to provide -x python3 on oses that don't support python2"
### Description of Issue/Question
Debian 10, Rhel 8, and Fedora 32 we no longer support python2 on.  We should not require `-x python3` in order for it to correctly install a salt on those oses by default.  For oses that don't support python2, it should automatically install the python3 version.

[2020-01-27 22:35] wkral opened #1419 "sha256sum does not match value published on readme for 2020.01.21"
### Description of Issue/Question
Getting a different sha256sum for the downloaded script, security practices say I shouldn't trust it. Probably just a mistake but needs to be fixed.

### Steps to Reproduce Issue

[code]
Output does not match published sha256sum execution

### Versions and Systems
2020.01.21

[2020-01-27 22:37] wkral commented on #1419
@s0undt3ch You had the last commit publishing the value, perhaps you can look at this?

[2020-01-27 22:47] wkral commented on #1419
Further investigation yields that the published value on the README is from the `develop` branch and the version we're getting from bootstrap.saltstack.com is showing the value from the `stable` branch.

[2020-01-27 23:02] s0undt3ch commented on #1419
Bah! Yes, I got the SHA from the wrong branch.

Thank you for pointing that out.

[2020-01-27 23:05] #1419 closed, assigned to nobody

[2020-01-27 23:05] s0undt3ch commented on #1419
Thank You. Fixed.

[2020-01-28 17:00] wkral commented on #1419
Thanks for fixing that quickly.

[2020-02-01 22:40] B1ue-W01f opened #1423 "Arch Linux Post Neon"
### Description of Issue/Question

bootstrap-salt.sh appears to try and use yum for arch linux based distributions.

### Setup
Using the standard arch platform in use on all the Saltstack-Formulas for testing with test-kitchen and docker:
[code]

### Steps to Reproduce Issue
Ran 'kitchen test' using the standard test-kitchen platform config above. Cut down results below:
[code]

### Versions and S

[2020-02-02 10:22] s0undt3ch commented on #1423
Thank you for reporting this issue.
We were already aware of it but an issue was not created.

Sadly this was an uncaught copy/paste mistake I did on the last release and it doesn't just affect Arch.

I've been working of a fix which satisfies all of the officially supported salt platforms(at least) and I should get another stable release out this upcoming week.

[2020-02-02 10:42] s0undt3ch commented on #1404
@bryceml could we get redirects for windows setup?

Something like https://bootstrap.saltstack.com/windows?

[2020-02-02 10:46] s0undt3ch commented on #1403
This should be trivial if you want to take the task.
Look at our script and you'll need to create the appropriate functions, which for RHEL, we just redirect to the proper CentOS functions, and we do support CentOS 8.

The previous RHEL functions should take you to the finish line.

[2020-02-02 10:48] s0undt3ch commented on #1394
@twangboy could you take a look here when possible?
Thanks!

[2020-02-02 10:50] s0undt3ch commented on #1388
Related to https://github.com/saltstack/salt-bootstrap/issues/1418

[2020-02-02 13:24] B1ue-W01f commented on #1423
No worries, thought that may be the case.

Thanks very much for the work you do (and don't officially do :) ).

[2020-02-03 09:14] mbochenk commented on #1403
I tried that, but got stuck on another error. ~~I do not remember what error that was~~ it was due to python2 still being default on emost (every?) platform. Also RHEL 8 mentioned as supported in README, so I guessed it was not a simple oversight.

[2020-02-03 10:02] arizvisa commented on #1394
Also, if you guys plan to support Windows 7 as per the SaltStack-Supported-Operating-Systems matrix (http://get.saltstack.com/rs/304-PHQ-615/images/SaltStack-Supported-Operating-Systems.pdf), you'll need to sort out #1406 too as W7's bundled .NET Framework doesn't support those enumerations (but does support most of the constants themselves).

[2020-02-03 10:19] arizvisa commented on #1404
It'd also be cool (and more flexible) if you could redirect to a specific revision too. That way we can lock our templates to bootstrap saltstack using the version from a particular commit. I'm personally locking to those raw.githubusercontent.com urls that I prior mentioned.

i.e. maybe something like:
- https://bootstrap.saltstack.com/stable/windows
- https://bootstrap.saltstack.com/637b30237c5a

[2020-02-03 16:29] mbochenk commented on #1403
NVM, the error was due to systems still defaulting to python2 and not to python3.

[2020-02-04 00:24] vernondcole opened #1425 "salt-bootstrap does not work on Ubuntu 20.04"
### Description of Issue/Question

The anticipated LTS of Ubuntu is not yet supported.

### Setup

- Download a pre-release of Ubuntu 20.04 from http://cdimage.ubuntu.com/daily-live/current/

- install it

### Steps to Reproduce Issue

- download bootstrap_salt.sh as usual

- `sudo sh bootstrap-salt.sh -D -A 192.168.88.2 -x python3 -P git`

As expected, the bootstrap fails.

### Versions and Syste

[2020-02-04 04:41] max-arnold commented on #1423
The same thing happens on Ubuntu:

[code]

[2020-02-04 17:27] #1395 closed, assigned to nobody

[2020-02-04 17:27] #1400 closed, assigned to nobody

[2020-02-04 17:27] #1423 closed, assigned to nobody

[2020-02-05 14:57] Ch3LL commented on #1353
we are going to use this issue https://github.com/saltstack/salt-bootstrap/issues/1418 to track the work to not require `-x python3` for OSs we no longer support python2. based on this are we okay to close here?

[2020-02-05 18:08] bryceml commented on #1392
In case anyone wants to checkout what it will look like, it's available here https://s3.repo.saltstack.com . The main difference is directory listings are generated by javascript by parsing the s3 api.  This means we no longer have to maintain apache servers and can spend more time fixing other things.  It also means we can have a secure alternative to rsync for syncing the repo down locally.

[2020-02-05 18:31] bryceml commented on #1394
Which versions of windows are you guys seeing this on, I see no issues on Windows 10 Pro release 1903.

[2020-02-06 20:32] darkn3rd commented on #1418
The default should be python3.  Python2 is offiicially deprecated in 2020.

If users need compatibility to `python2`, then they could specify `-x python2`.

[2020-02-08 21:42] s0undt3ch commented on #1349
Could you provide a PR with your fix?
Test of any of the required tools to fetch the key is installed and if not install curl?

Thank You.

[2020-02-08 22:19] s0undt3ch commented on #1353
Thank You All. Closing.

[2020-02-08 22:19] #1353 closed, assigned to nobody

[2020-02-08 22:20] s0undt3ch commented on #1414
Thank You. Closing.

[2020-02-08 22:20] #1414 closed, assigned to nobody

[2020-02-10 19:00] #1425 closed, assigned to nobody

[2020-02-12 11:16] sblaisot opened #1429 "salt-bootstrap fail to install salt 3000 stable"
### Description of Issue/Question

salt-bootstrap fail to install salt 3000 stable when specified on command line

[code]

### Steps to Reproduce Issue
`saltbootstrap.sh -XUdfP -x python3 stable 3000`

### Versions and Systems

- Debian 10 buster
- salt bootstrap 2020.02.04

[2020-02-12 12:04] max-arnold commented on #1429
Same on Ubuntu 18.04. I made a quick patch, but it is a hack:

[code]

[2020-02-12 12:23] sblaisot commented on #1429
IIUC there are two problems here:
- There is no "pin to major" package repo anymore. i.e. you have no 3000 repo that will offer 3000 or any newer 3000.x patchlevel version, like you had a 2019.2 repo. So you have no other choice than to pin to patchlevel release and use archives repos
- Version numbering has changed from a 3 digits version to a "1 or maybe 2 sometimes" digits version

[2020-02-12 17:03] s0undt3ch commented on #1429
The current workaround is to use `stable latest` instead of `stable 3000`, though, I'm working on a fix.

[2020-02-12 17:26] sblaisot commented on #1429
`stable latest` is not an option for me as it breaks my packer builds, especially at final tests round where I compare installed version vs requested version (`3000` vs `latest` so test fails).
But I use a patched version of the bootstrap script as a workaround.

[2020-02-12 20:55] dafyddj commented on #1429
Bear in mind that this affects the PowerShell script as well.

[2020-02-13 03:45] arizvisa commented on #1394
@bryceml, W7. But the code that @loup-kreidl pointed out shows that "Latest" does not match the validation pattern of the version parameter so if it actually works on Windows 10, then the difference could be in powershell versions between all the platforms you guys claim to support.

[2020-02-14 00:12] twangboy commented on #1406
What version of Windows are you running?

[2020-02-14 00:23] twangboy commented on #1404
This is now supported with
winbootstrap.saltstack.com
winbootstrap.saltstack.com/develop

[2020-02-14 00:23] #1404 closed, assigned to nobody

[2020-02-14 00:24] #1392 closed, assigned to twangboy, bryceml

[2020-02-14 00:24] #1389 closed, assigned to logikone

[2020-02-14 00:41] bryceml commented on #1404
@s0undt3ch We support winbootstrap.saltstack.com the same way we do bootstrap.saltstack.com since about 4-6 months ago

https://winbootstrap.saltstack.com/ is stable
https://winbootstrap.saltstack.com/develop is the develop branch
https://bootstrap.saltstack.com/ is stable
https://bootstrap.saltstackcom/develop is the develop branch

Both redirect http to https.

We only tend to sync the develop b

[2020-02-14 08:30] s0undt3ch commented on #1404
Yes, ideally we should `rsync` on every push(develop) and tag(stable) automatically.

[2020-02-14 16:25] bryceml commented on #1404
@s0undt3ch would you prefer a cronjob and sync every hour? or a step in the drone job on push?  I would think the cronjob would be easier to keep secure.  Also, github has a cache that caches for 5 minutes, so if we run drone job within 5 minutes of the merge, there is a chance we pull the old version.

[2020-02-14 16:47] s0undt3ch commented on #1404
I think that would be good enough.

[2020-02-14 17:04] bryceml commented on #1404
@s0undt3ch K, that is now an hourly cronjob.

[2020-02-14 17:05] s0undt3ch commented on #1404
Awesome! Thank You!

[2020-02-14 18:01] twangboy commented on #1406
After investigating a little further, even if you set those constants directly, the version of .NET installed on Windows 7 by default still does not support them. Whether you set the text value (`Tls12`) or the flag value (`0xC00`). The only way to install using the bootstrap script is to upgrade .NET to a later version that supports Tls1.2. That's .NET 4.5 apparently.

[2020-02-14 18:03] twangboy commented on #1406
Also this KB will apparently enable Tls12 on Windows 7: KB3154518

[2020-02-17 11:35] arizvisa commented on #1406
In PR boxcutter/windows#201, we're explicitly patching out Tls12 to work around this issue and will probably end up linking to a previous commit if you guys choose to remove W7 out of your support matrix.

[2020-02-19 10:52] dh0d commented on #1350
does apt-get update pass?
I had the same issue but after acceptance of change for bionic-security repo:
[code]
all went well.

[2020-02-19 22:33] s0undt3ch commented on #1389
FYI, Eventually we'll move out from drone. We haven't made any progress on that end yet though.

[2020-02-20 13:33] Diggs27 opened #1432 "salt-bootstrap fails to install on Redhat when EPEL repos are not available"
### Description of Issue/Question
salt-bootstrap fails on Redhat7 when there no subscription is installed and therefore can't get access to the EPEL repo. The issue appears to be related to the libyaml-0.1.4-11.el7_0.x86_64 in the salt stack redhat repository. If the yum repo system can't find the libyaml in its own base repository (due to the repo setup yet) then yum tries to pull the dependency

[2020-02-21 07:07] sblaisot commented on #1429
Fixed in #1433

[2020-02-24 12:05] #1429 closed, assigned to s0undt3ch

[2020-02-24 22:41] sblaisot opened #1436 "Feature Request: Unable to pin minor version 3000"
### Description of Issue/Question

Before 3000, one could use `salt-bootstrap stable 2019.2` to install with pin-to-major repo `2019.2` and receive any patchlevel update in the 2019.2 series or use `salt-bootstrap stable 2019.2.0` to install with pin-to-minor repo `archives/2019.2.0` and stay forever on 2019.2.0 without getting any update.

This pin-to-major/pin-to-minor was implicit from differen

[2020-03-09 09:42] jorisdejosselin opened #1437 "Salt bootstrap fails on Fedora-CoreOS (read-only file system)"
### Description of Issue/Question
Fedora-CoreOS is not supported for salt-bootstrap. Could this be implemented or is there another reason that it is not supported?

The logs are below if needed.

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
[code]

### Versions and Systems
[code]

[2020-03-10 11:58] vutny commented on #1368
That extra slash was added for some parsing safety because previously `yum repolist` command showed EPEL repo entries with arch suffix like this:
[code]
To be on a safe side, the trailing slash could be substituted with `\W` expression (non-alphanumeric character).

Would you mind to submit a PR, @kondotak ?

[2020-03-20 20:58] cbade0 opened #1439 "Bootstrap failing due to Hash Sum mismatch of salt-common package download"
### Description of Issue/Question
I've been learning salt using the [vagrant demo](https://github.com/UtahDave/salt-vagrant-demo) from the wiki and today I wanted to start over from scratch, but when I try to bring up the master it has been consistently failing when trying to download the salt-common package during the bootstrap.

### Setup
(Please provide relevant configs (Be sure to remove sensi

[2020-03-20 21:15] s0undt3ch commented on #1439
@dmurphy18 rings any bell?

[2020-03-22 00:01] johnkeates opened #1440 "Bootstrap on CentOS 8.1 Cloud Image fails GPG Key installation"
### Description of Issue/Question

Running the bootstrap with any combination of parameters yields the same GPG error.

### Setup
Run a VM based on CentOS 8's cloud image, i.e. https://cloud.centos.org/centos/8/x86_64/images/CentOS-8-ec2-8.1.1911-20200113.3.x86_64.qcow2

### Steps to Reproduce Issue
[code]
### Versions and Systems
CentOS-8-ec2-8.1.1911-20200113.3.x86_64 on AWS.

[2020-03-22 00:02] johnkeates commented on #1440
Installing using the repo package works fine:
[code]

You get the correct PY3 repo as indicated by the RPM name, and all salt components are available. Looks like the GPG key import fails either because the Cloud Core image is missing some tools or because the GPG key import doesn't work on CentOS 8 at all.

[2020-03-26 22:13] noelmcloughlin commented on #1320
Happens on Tumbleweed

[2020-04-01 16:46] whytewolf commented on #1187
This would still be a good feature

[2020-04-01 21:41] #1358 closed, assigned to nobody

[2020-04-02 22:27] yitzhakbg opened #1444 "Could you kindly add Ubuntu 20.04?"
### Description of Issue/Question
I know this is a bit early (approx. 3 weeks) but would be nice if you could add Ubuntu 20.04 and recognize Pop!OS. Thank you very much in advance.
I'm running Pop!OS which I upgraded to Ubuntu 20.04, getting:
CHECK_SERVICES_FUNC_NAMES=install_pop_20_stable_check_services install_pop_20_04_stable_check_services install_pop_20_check_services install_pop_20_04_check_

[2020-04-03 09:19] myii commented on #1444
@yitzhakbg Looking forward to `20.04` here as well but there are still some fixes needed to get Salt working properly on Python 3.8...

[2020-04-05 20:01] RooneyMcNibNug opened #1445 "Raspbian (2020-02-13) bootstrap fails at "run install_debian_deps()""
### Description of Issue/Question
Testing bootstrap install on a Pi  Raspberry Pi Zero W and it fails at the point below

### Setup
2020-02-13-raspbian-buster-lite on a Pi Zero W

### Steps to Reproduce Issue
[code]

### Versions and Systems
See above.

[2020-04-05 20:03] s0undt3ch commented on #1445
@dmurphy18 Rings any bells?

[2020-04-06 14:19] dmurphy18 commented on #1445
@RooneyMcNibNug Python 3 support only for Raspbian 10 need to specify **-x python3** option.  There is already an issue for this being the default automatically for both Debian 10 and Raspbian 10, but until that issue is addressed, need to specify the Python 3 option.

If this answer satisfies and resolves your issue, please consider closing it.

[2020-04-07 20:34] RooneyMcNibNug commented on #1445
Thank you, I believe this satisfied my issue for now. I appreciate the quick reply.

[2020-04-07 20:34] #1445 closed, assigned to nobody

[2020-04-09 08:22] jay1648 opened #1447 "Salt Python3 Installation Unavailable for Debian 8"
### Description of Issue/Question
While the documentation at https://github.com/saltstack/salt-bootstrap#python-3-support has Debian 8 in the python 3 supported list, the documentation at https://repo.saltstack.com/#debian doesn't have a python3 install of Debian8 (Jessie).
Also, browsing the py3 repository : https://repo.saltstack.com/py3/debian/  there's no Debian 8 directory.

### Setup
Debian

[2020-04-09 11:41] s0undt3ch commented on #1447
/cc @dmurphy18

[2020-04-09 11:41] s0undt3ch commented on #1447
/cc @dmurphy18

[2020-04-09 13:34] dmurphy18 commented on #1447
@jay1648 Python 3 on Debian 8 is unsupported by SaltStack and their are no plans to support Python 3 on Debian 8 since Debian 8 End Of Life's on 30th June 2020.  It is already old old stable since Debian 10's release last summer, and lastly the version of Python 3 that ships with Debian 8 is Python 3.4 which itself End Of Life'd March 2019.  SaltStack is concentrating on later versions of Python 3

[2020-04-09 13:58] jay1648 commented on #1447
I thought so too. Thanks @dmurphy18 for your response. The only thing confusing in this case is the mention of Debian 8 in here : https://github.com/saltstack/salt-bootstrap#python-3-support

[2020-04-09 14:19] dmurphy18 commented on #1447
@jay1648 Documentation Error, thanks for point that out, I shall go over the bootstrap readme to check for others.

[2020-04-09 14:20] dmurphy18 commented on #1447
I see you beat me to it with https://github.com/saltstack/salt-bootstrap/pull/1448#pullrequestreview-390831086

[2020-04-15 20:49] jeff350 opened #1449 "Support Red Hat Enterprise Linux 7 with disabled 'RHEL Server Releases'"
### Description of Issue/Question
RHEL7 builds of salt with salt-bootstrap fail with disabled (not subscribed on) 'RHEL Server Releases' or 'RHEL Server Optional Channel' repositories this is documented in the RHEL7 install instructions for salt https://docs.saltstack.com/en/latest/topics/installation/rhel.html. This gives a solution in the first warning box modifying the saltstack repo config to

[2020-04-16 08:04] wildk1w1 opened #1450 "bootstrap_salt.ps1 unable to download installer."
### Description of Issue/Question
Running the script to install salt-minion on Windows 20012R2 and 2016 results in a failed download with the error:
[code]

To resolve the issue added

**_[Net.ServicePointManager]::SecurityProtocol = "tls12"_**

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)
Using Vagrant to do the provisioning.

salt.bootstrap_options = "-pythonVe

[2020-04-16 08:07] s0undt3ch commented on #1450
/cc @twangboy, @bryceml

[2020-04-16 08:27] chrobert0475 opened #1451 "Hash Sum mismatch with install_salt.sh"
Hi there,
I learn saltstack with https://docs.saltstack.com/en/getstarted toturial and try to deploy the machines with vagrant.
unfortunately I get an error:
[code]

I get the same error when I start the install.sh from bootstrap.saltstack.com.

[code]

Can someone help me here?

greetings
Robert

[2020-04-16 09:06] s0undt3ch commented on #1451
/cc @dmurphy18

[2020-04-16 13:33] sjkummer opened #1452 "How to uninstall salt which was installed with this boostrap script"
### Description of Issue/Question
How can I fully uninstall / undo this boostrap install? e.g. If I'd like to switch to the salt-packages that come with my distribution (apt get install ....)

[2020-04-16 15:30] bryceml commented on #1452
by default the bootstrap script just installs the packages from the official repo, https://repo.saltstack.com

You should be able to
[code]

note the gpg key for the salt repo
[code]
then remove the installed salt packages, which would typically be
[code]
Then you can install the distro provided packages.

If you install from git or pip with the bootstrap script, it's another story.

[2020-04-16 16:05] sjkummer commented on #1452
Hm, in fact, I installed it from GIT. But doesn't the bootstrap script uninstall existing versions before installing the new one (AFAIK logs telling this) ?

Could a new commandline-parameter for "uninstall only" be introduced?

[2020-04-16 19:39] twangboy commented on #1450
@s0undt3ch I thought that was in there already

[2020-04-16 19:39] twangboy commented on #1450
https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.ps1#L105

[2020-04-17 04:42] wildk1w1 commented on #1450
Hi Shane,

I think Vagrant have a dedicated salt provisioner with their own bootstrap
powershell script.
I've opened a case with them to look into it as well.

On Fri, 17 Apr 2020 at 07:40, Shane Lee <notifications@github.com> wrote:

[2020-04-17 09:25] chrobert0475 commented on #1451
Hello,
I also tried to describe it as "https://repo.saltstack.com/index.html#ubuntu":

root @ minion2: / home / vagrant # wget -O - https://repo.saltstack.com/apt/ubuntu/18.04/amd64/latest/SALTSTACK-GPG-KEY.pub | sudo apt-key add -
--2020-04-17 09: 11: 42-- https://repo.saltstack.com/apt/ubuntu/18.04/amd64/latest/SALTSTACK-GPG-KEY.pub
Resolving repo.saltstack.com (repo.saltstack.com) ... 13.227.22

[2020-04-20 08:08] AmbicaY opened #1453 "Cumulus 4.1"
### Description of Issue/Question
Salt minion installation is failing on Cumulus 4.1

### Setup
Cumulus Buster

### Steps to Reproduce Issue
echo "deb http://ftp.us.debian.org/debian/ buster main contrib non-free" >> /etc/apt/sources.list
curl -L https://bootstrap.saltstack.com -o install_salt.sh
sh install_salt.sh -P -A <salt_master_ip> -i cumulus-ztp4 stable 2019.2.2

[2020-04-24 08:30] mkava commented on #1371
I can confirm that this is still a present issue impacting the latest version of the bootstrap script pulled from `https://bootstrap.saltstack.com` that's referenced in the Quickstart guides (such as https://docs.saltstack.com/en/latest/topics/tutorials/quickstart.html)

**Reproduction steps and environment:**
Spin up VM using CentOS-8.1.1911-x86_64-dvd1.iso

[code]

Bootstrap script version is `_

[2020-04-24 20:04] geoffjukes commented on #1444
Now that 20.04 has shipped, I'm hoping this ticket gets some love :)

[2020-04-26 18:17] lahdekoodi opened #1455 "gpg: no valid OpenPGP data found"
I get an "gpg: no valid OpenPGP data found." error when trying to install.

[code]

[2020-04-29 14:13] brodmi commented on #1451
I do have the same issue, tried the same as chrobert0475.. .
E: Failed to fetch https://repo.saltstack.com/apt/ubuntu/18.04/amd64/latest/pool/main/s/salt/salt-common_3000.1+ds-1_all.deb  Hash Sum mismatch
   Hashes of expected file:
    - SHA256:638c8d8b22096bde5ef539d52563d6aa90d8d1de94809d8de8c57578e010ef90
    - SHA1:eba2831c5639fec14e38133680bbbfd42fe5471e [weak]
    - MD5Sum:19e308f252591cd64

[2020-04-30 03:55] hemantaltair opened #1456 "* ERROR: Failed to run install_ubuntu_git_deps()!!!"
### Description of Issue/Question
 * ERROR: Failed to run install_ubuntu_git_deps()!!!

### Setup
It fails in bootstarp itself

### Steps to Reproduce Issue
sudo sh install_salt.sh -P -A xx.xx.xx.xx -i xx-xx-xx-xx git v2019.2.2

### Versions and Systems
bootstrap-salt.sh -- Version 2020.02.24

 *  INFO: Running version: 2020.02.24
 *  INFO: Executed by: sh
 *  INFO: Command line: 'install_salt.sh

[2020-04-30 04:14] icycle77 opened #1457 "salt yum repo issues causing install_amazon_linux_ami_2_deps to fail on latest AL2 AMI"
### Description of Issue/Question

Running salt bootstrap on latest Amazon Linux 2 AMI fails to get past the `install_amazon_linux_ami_2_deps` function. Have tried supplying `stable` and also `stable 2019.2` but the function that fails seems common to all. It seems the packages are potentially corrupt in the saltstack yum repo as I'm seeing errors like this:
`https://repo.saltstack.com/yum/amazon/

[2020-04-30 06:04] dmurphy18 commented on #1456
Please retry  the repo.saltstack.com is finally finished sync'ing for point releases 2019.2.4 and 3000.2 and the repo should now work properly for those and other releases

[2020-04-30 06:05] dmurphy18 commented on #1457
Please retry  the repo.saltstack.com is finally finished sync'ing for point releases 2019.2.4 and 3000.2 and the repo should now work properly for those and other releases

[2020-04-30 15:04] icycle77 commented on #1457
Thanks @dmurphy18 , it is confirmed working now.

[code]

[2020-04-30 15:04] #1457 closed, assigned to nobody

[2020-05-01 06:55] sjkummer commented on #1452
I was able to fix my corrupted salt installation as follows:

- Switch to the repo packages: `sudo sh bootstrap-salt.sh -M`
- Remove salt packages using `apt`
- Find and remove remaining (locally complied) salt binaries: `which salt` ...

[2020-05-04 19:24] lsowen commented on #1440
Seems like the location it tries to access for the gpg key is wrong.  It references ` https://repo.saltstack.com/yum/redhat/8/$basearch/latest/SALTSTACK-GPG-KEY.pub`, which in my case is ` https://repo.saltstack.com/yum/redhat/8/x86_64/latest/SALTSTACK-GPG-KEY.pub`.

There isn't a key there, instead the contents of the key gets set to:

[code]

Looks like someone needs to add the GPG key to that l

[2020-05-04 23:06] bryceml commented on #1456
Are you using Ubuntu 20.04 ?

[2020-05-04 23:07] bryceml commented on #1455
See https://github.com/saltstack/salt-bootstrap/issues/1444

[2020-05-05 15:43] ender8282 opened #1458 "bootstrap script fails on KDE neon (Ubuntu 18.04 base)"
### Description of Issue/Question

Attempting to run the bootstrap script fails on KDE Neon. The two relevant error lines from the outputs are:

salt.sh: 1: eval: neon_18_ubuntu_base: parameter not set
 * ERROR: No dependencies installation function found. Exiting...

### Steps to Reproduce Issue
Boot KDE Neon live CD
Download salt bootstrap
$ sudo sh bootstrap-salt.sh

### Versions and Systems
bo

[2020-05-11 09:34] OrangeDog opened #1460 "Support Python 3.8"
Bootstrap has many of the same issues as the salt (use of removed and deprecated APIs), but still not fixed on master.

See also https://github.com/saltstack/salt/issues/55835

[2020-05-11 09:35] OrangeDog commented on #1444
Note that salt-formulas can't do any testing on 20.04 without this, and there are a bunch of things that don't work there as well.

To my disappointment there wasn't even a ticket working on Python 3.8, which blocks this. There is now: #1460

[2020-05-11 16:46] ghost commented on #1436
The script checks for hardcoded versions here: https://github.com/saltstack/salt-bootstrap/blob/9f2f1b56fbc0d0264ed75e97cda4e39e9529792e/bootstrap-salt.sh#L606

Maybe it just need to be added that the newest version is 3000.2.

[2020-05-18 20:51] Scratchy888 opened #1461 "Salt bootstrap script copying all salt binaries to /usr/bin"
### Description of Issue/Question
When running these two commands:

curl -o bootstrap-salt.sh -L https://bootstrap.saltstack.com
sudo sh bootstrap-salt.sh git v2019.2.5

It used to only install the salt-minion and ONLY copy over the binaries needed for the salt-minion (salt-call, salt-minion and salt-proxy).
Right now the script is copying all of the binaries it seems. Binaries copied over are:
sa

[2020-05-22 01:53] darkpixel opened #1463 "Problem retrieving OpenPGP key under Debian 10 (buster)?"
Bootstrap on Debian 10 ends in an error:
[code]

### Full text of attempt
[code]

### Version info
[code]

[2020-05-22 01:59] darkpixel opened #1464 "Failed to enable unit file Debian 10"
### Description of Issue/Question
While trying to work-around #1463 by passing the ```-r``` flag to skip repo configuration, bootstrap failed to install salt.

[code]

[2020-05-22 02:17] darkpixel opened #1465 "Can't find pip on FreeBSD 12.1-RELEASE-p3"
[code]

The correct package name is py37-pip

[2020-05-24 09:35] s0undt3ch commented on #1458
The required changes have been merged.
Please reopen or open a new issue of needed.

[2020-05-24 09:35] #1458 closed, assigned to nobody

[2020-05-24 13:09] arizvisa opened #1468 "PyCrypto is dead according to saltstack/salt project"
### Description of Issue/Question
It seems that pycrypto is dead according to a number of issues such as saltstack/salt#51301, and a couple of others. This was done in favor of libraries such as m2crypto, pycryptodomex, cryptography, etc.

This is a great thing. However, salt-bootstrap still insists on preferring pycrypto. Since many distros have dropped the package this immediately requires build

[2020-05-24 13:44] s0undt3ch commented on #1468
What type of install were you doing? Latest, stable, git?

What salt version were you targeting to install?

Based on the issue description, I assume you were trying to bootstrap salt on a Fedora system. Which version of Fedora?

Ideally yes, we'd remove all pycrypto references, however, some older distro versions, or older versions of salt still depend/rely on pycrypto, so, it's not that simple.

[2020-05-26 17:38] arizvisa commented on #1468
It's in a Fedora 31 container. version is v3000.3. both stable and git result in the same results.

For now I'm temporarily switching to installing from the package manager as a workaround.

[2020-05-26 17:43] arizvisa commented on #1468
You're right that some older distro versions still rely on pycrypto.

but most distros support everything else, and there's zero references to either python-cryptography, or pycryptodomex in salt-boootstrap. which crypto library is the most supported one?

[2020-05-28 07:39] pmurley commented on #1456
I am having this same issue currently. Fresh install of Ubuntu 20.04. Is there a workaround?

[2020-05-28 11:28] s0undt3ch commented on #1468
So, for Sodium (v3001) Salt will stop relying on pycrypto and will use pycryptodomex

[2020-05-28 11:31] s0undt3ch commented on #1468
Also, for Sodium, git based boostraps will require the use of pip(not system packages) and will thus respect Salt's requirements

[2020-05-28 11:34] s0undt3ch commented on #1456
No, no workaround.

Or better.

Yes, wait for Salt Sodium release, v3001, not yet released. The only Salt version that officially supports Py3.8

Or, provide your own Py3.7 somehow and install Salt using that version.

Or install salt using Python 2, but to upgrade to Sodium you'll have to remove that salt installation.

That's about it right now.

[2020-05-28 11:42] s0undt3ch commented on #1440
I believe this is now fixed on the develop branch soon to be a stable release.
Please tell otherwise.

[2020-05-28 11:42] #1440 closed, assigned to nobody

[2020-05-28 11:43] s0undt3ch commented on #1451
Is this still an issue?

[2020-05-28 11:45] s0undt3ch commented on #1371
We currently also test against CentOS 8, só this should be fixed.
Please tell otherwise.

[2020-05-28 11:45] #1371 closed, assigned to s0undt3ch

[2020-05-28 11:46] s0undt3ch commented on #1453
Does the boostrap script properly detect Cumulus?

[2020-05-28 16:02] arizvisa commented on #1468
Cool. Yeah. Pip has always been the safest way to bootstrap different salt versions on an arbitrary platform.

I'd like to switch back to installing via salt-bootstrap sometime soon instead of my project forcing you to base your generated salt-master on a fedora container and only being able to install the latest saltstack in the distro's package manager.. The pycrypto dependency is the only thing

[2020-05-30 02:50] hemantaltair commented on #1456
@bryceml os log version is in description
INFO: Distribution: Ubuntu 18.04

[2020-06-03 13:12] brodmi commented on #1451
don't know, now I have other issues:

downloading vagrant file from https://github.com/UtahDave/salt-vagrant-demo.git
-> vagrant up ..
vagrant up
Bringing machine 'master' up with 'virtualbox' provider...
Bringing machine 'minion1' up with 'virtualbox' provider...
Bringing machine 'minion2' up with 'virtualbox' provider...
==> master: Importing base box 'bento/ubuntu-18.04'...
==> master: Matching

[2020-06-09 10:39] darylturner commented on #1453
`lsb_release -si` is slightly different from Cumulus 3.
On Cumulus 4.1 it's
[code]

On Cumulus 3 it's
[code]

After all of the functions to simplify and translate the name are run it no longer matches in the debian_derivatives function. I've got a working version that I will create a PR for but I've not yet checked this back against Cumulus 3.

[2020-06-09 20:19] clkamp opened #1475 "Feature request: Machine readable checksums"
### Description of Issue/Question

Please provide the checksum of the script also in machine readable format. You also provide the checksums here outband, so it would be nice, if they would be available e.g. in a text file with each line one checksum so one could automatically check those.

[2020-06-10 08:25] juan-acevedo-ntt opened #1476 "[BUG] Bootstrap fails on SUSE"
**Description**
Deploying Suse instances on AWS usising a mapfile fails to install the minion.

**Setup**
mapfile:
[code]
profile:
[code]

**Steps to Reproduce the behavior**
Error log:
[code]

Error when manually ran the command:
[code]

**Expected behavior**
The process should deply a Suse ec2 instance and install the minion

**Versions Report**
<details><summary>salt --versions-report</summary>

[2020-06-10 08:27] juan-acevedo-ntt commented on #1476
The problem seems to be here: https://github.com/saltstack/salt/blob/3c609c16ee0454217f339e987c03eaf61662a853/salt/cloud/deploy/bootstrap-salt.sh#L1803

[2020-06-11 01:29] wolfpackmars2 commented on #1456
not related to 20.04.
@hemantaltair have you tried again? I think @dmurphy18 is on the right track - it looks like a sync issue with the repo. Does the problem still exist?

[2020-06-11 01:32] wolfpackmars2 commented on #1460
This should probably be tracked with the salt repo. #1444 tracks support for 20.04 in salt-bootstrap. Close as duplicate of saltstack/salt#55835 ?

[2020-06-11 01:38] wolfpackmars2 commented on #1444
Looks like this will be resolved soon with the planned release of Salt v3001.
Ref https://github.com/saltstack/salt-bootstrap/issues/1456#issuecomment-635285018

[2020-06-11 02:23] wolfpackmars2 commented on #1452
Feature Request - might be useful? not sure what all that would entail to implement. uninstalling 'git' based installs could get complicated as there could be differences between salt versions. Pip and Apt based installs should be relatively simple - query whether the pip or system pkgs are installed and then uninstall them using the package manager. can Salt 'un-Salt' itself? :smile:

[2020-06-11 02:38] wolfpackmars2 commented on #1187
Would systemd masking prevent the service from starting on reboot? the admin would need to remember to re-enable the service. would masking also prevent the admin from starting the service manually with systemctl?

I don't know enough about how systemctl works and its options, but maybe there's a cleaner way to prevent the service from automatically starting after the package is installed but stil

[2020-06-11 15:53] frogunder commented on #1476
@juan-acevedo-ntt Thank you for reporting this issue.

@s0undt3ch  @Akm0d  Any thoughts on this one?

[2020-06-11 21:09] s0undt3ch commented on #1476
The error is valid, if you look at https://repo.saltstack.com/2019.2.html#suse it does not support major, not minor pinning, only latest.
If you wish to install that specific version of salt, you can't do it using system packages, you'd have to install it using git by passing `git 2019.2.2` to the bootstrap script.

[2020-06-11 21:11] s0undt3ch commented on #1476
This issue should also be transferred to the salt-bootstrap repo, can't do it from the phone though...

[2020-06-12 09:53] s0undt3ch commented on #1475
This is an awesome suggestion, we'll try to address this ASAP.

[2020-06-13 00:11] doesitblend opened #1477 "Allow disabling existing repositories to install Salt"
### Description of Issue/Question
Testing the bootstrap script with Saltify recently I wasn't able to use either the `-r` or `-R` options to ignore existing repository configurations for CentOS 7. The custom script I am using is just a downloaded copy of the bootstrap script with `salt-cloud -u` and then renamed to test using the custom script argument.

### Setup
Please see the attached Saltify c

[2020-06-17 10:31] yitzhakbg commented on #1444
sounds great

[2020-06-18 18:14] bryceml opened #1481 "-R and -x python3 flags are incompatible on centos"
### Description of Issue/Question
You can't install old releases from archive.repo.saltstack.com on centos by specifying `-R archive.repo.saltstack.com -x python3`

This should be able to work with any url, not just archive.repo.saltstack.com

it currently crashes with
[code]

@dmurphy18 might know more about the situation.

[2020-06-18 18:18] dmurphy18 commented on #1481
From my rply in community slack:

With Py 3.4 so close to EOL it did not make sense to backport to Salt packages from EPEL that would soon be going out of date.
With the move to Py 3.6 (and the issues that happened with breaking EPEL packages too from Redhat, there was a certain amount of turbulence which fortunately has now settled down)
and Salt now no longer needs EPEL when installing into Cent

[2020-06-18 18:31] bryceml commented on #1481
Sounds like we're good to remove that hard block then.

[2020-06-18 20:11] bryceml commented on #1481
This just needs merged from develop to stable now.

[2020-06-18 20:45] bryceml commented on #1468
Can this be closed now that 3001 is released and depends on non-pycrypto crypto libraries?

[2020-06-18 21:50] dmurphy18 commented on #1481
someone else should do that since I have not done it

[2020-06-19 05:38] arizvisa commented on #1468
Sure. I'll try and run salt-bootstrap this weekend and let you know if it's still trying to install pycrypto.

[2020-06-20 16:03] arizvisa commented on #1468
Awesome. With v3001 it seems to build properly without forcing you to compile pycrypto now.

Closing this issue. Feel free to reference a PR or commit for tracking though as I wasn't able to find one.

[2020-06-20 16:03] #1468 closed, assigned to nobody

[2020-06-22 17:23] WarrenWilkinson commented on #1444
I'm spawning lxc focal fossil containers using salt-cloud... I seem to need the bootstrap argument "-x python3", but other than that it seems to be working.

[2020-06-23 00:53] bryceml commented on #1444
once https://github.com/saltstack/salt-bootstrap/pull/1480 is released to stable you shouldn't need `-x python3` either.  Using `-x python3` should keep working though.

[2020-06-23 16:52] SeLLeRoNe commented on #1456
Hey guys, I am trying to install saltstack on an Ubuntu 14.04, we do have an aws instance create script which post-installation runs:
sh /tmp/install_salt.sh -i $HOSTNAME -P git v2015.8

It seems that now that isn't working anymore, the connection to repo.saltstack.com seems to fail

I have been digging a little and I tried to update to python3, once I did that I had the same error as this thread

[2020-06-24 12:34] SeLLeRoNe commented on #1456
Just an update, my problem was fixed specifying the archive repository on the command line.

Andrea

[2020-07-01 11:04] darylturner commented on #1453
@AmbicaY - does this fix resolve your issue? Change has been merged into develop branch. Maybe this issue can be closed.

[2020-07-14 16:31] #1481 closed, assigned to bryceml

[2020-07-14 16:38] bryceml opened #1486 "rhel7 and oraclelinux7 require optional rpms repos when installing from git"
Rhel7 and oraclelinux7 now have python3 in the repos (not python36 like we had in epel, however the python3 package provides python36), but the python3-devel package is in the optional rpms for both rhel7 and oraclelinux7.  Centos7 provides python3-devel by default it seems.

We should enable those repos if we are installing salt from git.  We should probably respect the -r flag.

https://github.c

[2020-07-14 16:39] bryceml commented on #1486
We should also consider testing oraclelinux7 in the github actions since we don't have to worry about registration or anything and it has similar issues to rhel7 which are different from centos7.

[2020-07-14 16:44] bryceml commented on #1456
@hemantaltair can this issue be closed now? or is there still something that doesn't work?

[2020-07-14 17:24] bryceml commented on #1475
There are now machine readable checksums in the repo on the stable branch as well as from

https://bootstrap.saltstack.com/sha256
https://winbootstrap.saltstack.com/sha256

[2020-07-14 17:24] #1475 closed, assigned to bryceml

[2020-07-14 18:28] bryceml commented on #1464
I just tried this and cannot replicate, is this still an issue?  can we close this?  @darkpixel  or do you have more/updated information?

[2020-07-14 18:29] bryceml commented on #1460
@OrangeDog can this be closed now?

[2020-07-14 18:30] #1444 closed, assigned to nobody

[2020-07-14 18:33] bryceml commented on #1463
I just tried this and cannot replicate, is this still an issue? can we close this? @darkpixel or do you have more/updated information?

[2020-07-14 18:38] darkpixel commented on #1463
I guess it can be closed.  I ended up nuking the boxes and switching them over to FreeBSD.

[2020-07-14 18:38] #1463 closed, assigned to nobody

[2020-07-14 18:38] darkpixel commented on #1464
I guess it can be closed. I ended up nuking the boxes and switching them over to FreeBSD.

[2020-07-14 18:38] #1464 closed, assigned to nobody

[2020-07-14 18:41] bryceml commented on #1447
@dmurphy18 can this be closed now that debian 8 is out of support?

[2020-07-14 18:42] bryceml commented on #1394
@hemantaltair can this be closed now?  did the change @twangboy make fix it for you?

[2020-07-14 19:14] OrangeDog commented on #1460
I don't know. I just created the issue after others pointed out there were still errors and deprecation warnings.

[2020-07-14 19:19] dmurphy18 commented on #1447
Only if someone pulled it from the doc.  EOL or otherwise, still should not be in the doc

[2020-07-14 19:20] dmurphy18 commented on #1447
Closing since I finally checked the PR merged

[2020-07-14 19:21] #1447 closed, assigned to nobody

[2020-07-14 20:29] bryceml commented on #1460
I'm going to assume since it now supports ubuntu 20.04 that we can say this is fixed.

[2020-07-14 21:29] bryceml commented on #1486
noting this here for others:

to enable optional rpms for oracle linux 7:

[code]

before the bootstrap script

[2020-07-14 21:35] myii commented on #1486
Thanks for sharing that workaround, @bryceml.  The failing `oraclelinux-7` build is now passing:

* https://gitlab.com/myii/salt-image-builder/-/pipelines/166602413

[2020-07-14 22:18] bryceml commented on #1450
@wildk1w1 any update?  do you have a link to an issue or pr we can follow up on?

[2020-07-14 22:20] bryceml commented on #1455
ubuntu 20.04 has been released, closing issue.

[2020-07-14 22:20] #1455 closed, assigned to dmurphy18

[2020-07-14 22:53] dmurphy18 commented on #1449
Actually SaltStack's install repo rpm for Redhat 7 automatically install the Centos 7 public GPG key when installed along with SaltStack's public GPG key for packages, that is
[code]
Closing this since a simple solution to install the Centos 7 GPG key already exists.

Please feel free to reopen if there is a further consideration to be discussed on this issue.

[2020-07-14 22:53] #1449 closed, assigned to nobody

[2020-07-14 23:13] bryceml commented on #1432
@Diggs27 I believe this works with the latest version of salt now.  Can you confirm so we can close this issue?

[2020-07-14 23:22] bryceml commented on #1349
This appears to be fixed with https://github.com/saltstack/salt-bootstrap/commits/d93d03d602c5a96cf20a1eaa925bbef0149aae46

[2020-07-14 23:34] bryceml commented on #1418
Debian 10, Rhel 8, and Fedora 32 all default to py3 now.

[2020-07-14 23:34] #1418 closed, assigned to nobody

[2020-07-14 23:47] bryceml commented on #1416
This appears to work now.

[2020-07-15 00:01] bryceml commented on #1368
I marked this Info Needed since we need to know what the correct behavior is and if @kondotak is willing to open a pr.

[2020-07-15 02:53] hemantaltair commented on #1394
Yes thank you

[2020-07-15 02:53] #1394 closed, assigned to nobody

[2020-07-16 09:59] s0undt3ch commented on #1382
v2018.3.4 is no longer supported. Closing.

[2020-07-16 09:59] #1382 closed, assigned to nobody

[2020-07-16 23:02] #1349 closed, assigned to nobody

[2020-07-16 23:03] #1350 closed, assigned to nobody

[2020-07-16 23:09] #1388 closed, assigned to nobody

[2020-07-17 11:39] OrangeDog commented on #1460
The README still talks about Python 3 as if it's limited and rare, but is in fact is all that Salt now supports.

[2020-07-17 15:17] Diggs27 commented on #1432
Attempted to run again with the same process as above and received the following:

[root@localhost ~]# sh install.sh -D
 *  INFO: Running version: 2020.06.23
 *  INFO: Executed by: sh
 *  INFO: Command line: 'install.sh -D'

 *  INFO: System Information:
 *  INFO:   CPU:          GenuineIntel
 *  INFO:   CPU Arch:     x86_64
 *  INFO:   OS Name:      Linux
 *  INFO:   OS Version:   3.10.0-1127.el7

[2020-07-17 18:37] bryceml commented on #1460
Sounds like we need to update the README then explaining how it decides to use python3.  I'll re-open this.

[2020-07-17 18:42] #1451 closed, assigned to nobody

[2020-07-17 19:09] krionbsd commented on #1465
Fixed in #1487

[2020-07-17 19:09] #1465 closed, assigned to krionbsd

[2020-07-24 03:27] furlongm opened #1488 "Fedora 32/33 fail but salt is installed and functioning"
### Description of Issue/Question
Fedora 32 claims installation has failed, but salt is installed and functioning.

### Setup
Fedora 32

### Steps to Reproduce Issue
[code]
### Versions and Systems
[code]

[code]

[2020-08-06 10:21] mbochenk commented on #1403
@s0undt3ch created a pull request with missing functions.
Note that docs already say that bootstrap supports RHEL8 in https://github.com/saltstack/salt-bootstrap#red-hat-family: `Red Hat Enterprise Linux 6/7/8`

[2020-08-06 12:00] #1403 closed, assigned to nobody

[2020-08-07 09:35] digitalkram opened #1490 "Bootstrap fails when no curl/wget/fetch/ftp is installed"
### Description of Issue/Question
When bootstrapping from a minimal Ubuntu 18.04 image bootstrapping fails:
` * ERROR: Failed to run install_ubuntu_stable_deps()!!!`

The reason is that it cannot retrieve [repo.saltstack.com/apt/ubuntu/18.04/amd64/latest/SALTSTACK-GPG-KEY.pub](repo.saltstack.com/apt/ubuntu/18.04/amd64/latest/SALTSTACK-GPG-KEY.pub)

This only happen when this condition is met:
`if

[2020-08-07 15:55] #1456 closed, assigned to nobody

[2020-08-07 15:56] #1453 closed, assigned to nobody

[2020-08-07 16:01] krionbsd commented on #1416
yes, it works now, confirmed

[2020-08-07 16:01] #1416 closed, assigned to krionbsd

[2020-08-07 16:48] bryceml commented on #1432
It appears the missing packages are pciutils and systemd-python which don't appear to be in epel anyway.  I don't think installing without the redhat repos is a supported thing though.  @dmurphy18 can you confirm that installing salt without the redhat repos available is not supported?

[2020-08-07 17:32] dmurphy18 commented on #1432
Essentially Salt expects to be able to load dependent packages from the Operating System, in the case of Redhat / Centos without the need for EPEL.  If those dependencies are not available from the OS then the install will fail.

For example: on Redhat / Centos, if someone removed installed packages since they thought they no longer needed them and did not have the install media available, then Sa

[2020-08-07 17:32] #1432 closed, assigned to nobody

[2020-08-09 05:50] max-arnold commented on #1436
5 months passed, 3001.1 is out, and again any scripted 3001 install became non-reproducible. Here is a fix: https://github.com/saltstack/salt-bootstrap/pull/1491

[2020-08-11 10:45] myjewels opened #1492 "How to Remove SaltStack from Centos 8"
### Description of Issue/Question
I installed SaltStack on my CentOS 8 machine using this bootstrap script but could not figure out how to uninstall it. I need instructions on how to uninstall SaltStrck from CentOS 8 since the "**yum list installed**" command does not show any package related to salt.
### Setup
I used the following commands to install SaltStack:
curl -o bootstrap-salt.sh -L https:

[2020-08-11 14:35] dmurphy18 commented on #1492
The bootstrap command you used  is most likely to have pip installed it given that you do not find it in the yum repository and
[code]
is not a released package version.

Use **_pip3 uninstall_** to remove it.

**_pip3 list | grep -i salt_** should show the names to uninstall, in case you also installed other salt components.

If this resolves your issue, please consider closing it.

[2020-08-11 23:00] myjewels commented on #1492
Thank you @dmurphy18 for your reply. I tried to uninstalled Salt as you suggested. Salt is uninstalled now but there is still a problem. Here is the output of the "pip3 list" command:

[code]
So I tried to uninstall salt as shown below:

[code]
It looks like it worked! I rebooted the server after uninstalling salt as shown above, but systemd still tried to load salt services as shown below:
[code]

[2020-08-17 00:19] laundry-96 opened #1493 "Bootstrap fails on Debian 10"
### Description of Issue/Question
Bootstrap fails on Debian 10 because it installs the wrong repository.

Since I'm using salt-cloud, I have removed some of the tidbits, but here is the output from the bootstrap script:
` *  INFO: Running version: 2020.02.24
 *  INFO: Executed by:
 *  INFO: Command line: '/tmp/.saltcloud-60ab1e28-2d0c-4c6c-b62d-fd8ddb419a6a/deploy.sh -c /tmp/.saltcloud-60ab1e28-2d

[2020-08-18 15:34] bryceml commented on #1493
you appear to have an older version of the bootstrap script.  This was fixed since then if I remember right.  Can you update and let us know if that fixes the problem?

[2020-08-18 15:37] bryceml commented on #1492
with pip uninstalling, there probably isn't a cleaner solution than doing
[code]
and removing relevant files in order to get all of the service/config/log/etc. files.

[2020-08-18 15:41] #1439 closed, assigned to nobody

[2020-08-18 16:01] bryceml commented on #1450
https://github.com/hashicorp/vagrant/issues/11522

Looks like they're handling it there, so we can close here.

[2020-08-18 16:01] #1450 closed, assigned to nobody

[2020-08-18 16:18] s0undt3ch commented on #1476
The reason why it failed and an alternative has been provided. Closing.

Please comment to reopen if need be.

[2020-08-18 16:18] #1476 closed, assigned to nobody

[2020-08-18 16:24] bryceml commented on #1488
I believe it shows the error because there are edge cases where it doesn't work, even though it works for most use cases.  I believe @dwoz is working on making salt compatible with a newer version of tornado and has more information about it.

[2020-08-18 16:44] #1406 closed, assigned to twangboy

[2020-08-18 18:24] furlongm commented on #1488
So looks like https://github.com/saltstack/salt/pull/56169 would fix this, when it gets merged/released?

[2020-08-19 03:11] max-arnold commented on #1436
The fix was merged, so I guess this issue can be closed

[2020-08-21 01:48] laundry-96 commented on #1493
Hey! I'm on Fedora Server 32, and the latest packages that are available (and installed) are:

- salt.noarch              3001rc1-2
- salt-cloud.noarch   3001rc1-2
- salt-master.noarch 3001rc1-2

Is there any way I can get the latest builds on Fedora 32?

[2020-09-02 02:25] bryceml commented on #1488
Yeah, either in that PR or another one that does the same thing.  I heard they might have to go straight to tornado 6, I don't remember the details though.

[2020-09-09 14:10] nosrio opened #1494 "[FEATURE REQUEST] bootstrap-salt.ps1: needs to handle custom config file in installer"
### Description of Issue/Question
Bootstrap script on Windows does not allow to use '/custom-config=' [parameter in installer](https://docs.saltstack.com/en/latest/topics/installation/windows.html#silent-installer-options),

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

`boots

[2020-09-09 14:12] nosrio commented on #1494
I modified the powershell script and added this features. Let me know if i can submit a PR.

[2020-09-10 15:32] blarghmatey opened #1497 "[Feature Request] Add option to only configure repository"
### Description of Issue/Question
It would be nice to be able to use the bootstrap script to set up the appropriate package repository for the given distribution without having to install the salt-minion or other packages. The use case here being that I would like to use the bootstrap script to populate the package repo using the `runcmd` stage of cloud-init and then use the `salt-minion` module s

[2020-09-25 06:29] ijansky opened #1499 ""bootstrap-salt.sh git master" fails on Gentoo"
### Description of Issue/Question
salt-bootstrap fails to install on Gentoo using the "git" method. Instead of bootstraping the code checked out from a GIT repository, it attempts to use `emerge` to install a non-existing ebuild `=app-admin/salt-9999`. This ebuild does not exist in the [Gentoo portage repository](https://gitweb.gentoo.org/repo/gentoo.git/tree/app-admin/salt).

### Setup
Gentoo sys

[2020-09-30 04:38] #1499 closed, assigned to nobody

[2020-10-18 03:02] gmagella-ca commented on #1439
This issue has not been fixed. I'm having the exact same issue, and I had just downloaded the vagrant demo from the repo.

[2020-10-18 23:10] taigrr opened #1501 "Linux Mint 20 is not supported"
### Description of Issue/Question
Linux Mint 20 is not supported by the bootstrapper. PR incoming.

### Setup
N/A

### Steps to Reproduce Issue
Run the bootstrapper on Linux Mint 20, and get the following error code:
[code]

### Versions and Systems
`bootstrap-salt.sh -- Version 2020.06.23`

[2020-10-19 14:58] taigrr commented on #1501
`da6d575` merged in the fix. Thanks!

[2020-10-19 14:58] #1501 closed, assigned to nobody

[2020-11-06 07:59] s0undt3ch commented on #1436
Yep, this is fixed.

[2020-11-06 07:59] #1436 closed, assigned to s0undt3ch

[2020-12-04 12:04] povils opened #1512 "Missing salt files for 20.10"
I am trying to install salt on Ubuntu 20.10 and it fails on getting packages from: http://repo.saltstack.com/py3/ubuntu/
Is this intented? If yes what is workaround?

[2020-12-04 12:05] s0undt3ch commented on #1512
/cc @dmurphy18 @bryceml

[2020-12-04 22:27] jpacura opened #1513 "Best-effort support for Debian 11 testing"
### Description of Issue/Question
The current salt-bootstrap script will not install on Debian 11 because it will read the version as Debian 1.

### Steps to Reproduce Issue
[code]

### Versions and Systems
Clean Debian 11 install using netinstall ISO
[code]

[2020-12-05 21:43] jpacura commented on #1512
Saltstack doesn't have repos for non-LTS versions of Ubuntu. They only promise best-effort support for non-LTS versions. The script will correctly detect 18.10, 19.04, and 19.10 as 18.04, but there is no code for detecting 20.10 as 20.04. I have confirmed that the 20.04 packages will install on a 20.10 docker container. This is very similar to [the PR I have open for Debian 11 support](https://git

[2020-12-29 13:43] noelmcloughlin commented on #1368
I encountered the same problem (trying to work around a different issue).
[code]

[2021-01-06 17:39] acornett commented on #1405
Is there any plan to support the amazon arm platform in the near future?

[2021-01-07 20:34] bryceml commented on #1405
We would like to, not sure when that will happen.
Ubuntu 20.04 and Debian 10 all their dependencies provided by the os, so you can point to the amd64 repos and just use them since the dependencies are all there

It would be something like

[code]
in your repo file.  This works because there are only architecture independent packages in the repos for those 2.

Centos/Rhel have some dependencies pro

[2021-01-11 04:34] marek-knappe opened #1521 "Boostrap ok, but salt-minion failing on freebsd 11.4 (no py37-tornado4)"
### Description of Issue/Question

Salt bootstrap doesn't install python-tornado

### Setup
just new freebsd instance

### Steps to Reproduce Issue
I run it with kitchen with:
[code]
boostrap is installed all right but salt-minion failing with:
[code]
### Versions and Systems
master bootstrap
11.4-RELEASE-p5

[2021-01-12 11:28] #1521 closed, assigned to nobody

[2021-01-13 19:50] whytewolf opened #1524 "The documentation on the readme for the bootstrap script should make more use of stable instead of git."
### Description of Issue/Question

Currently, the readme on the github link uses lots of examples of git. however, when using the bootstrap script in production environments this is not what should be used. And without reading more in-depth documentation one would think git is the only operation.

most of the examples should be a mix of git and stable. with a section explaining that these refer to

[2021-01-13 20:54] bryceml commented on #1493
There is 3001.4 available now.  I package salt for fedora and there were python dependency issues with 3002 on fedora32.  I probably could have patched the requirement files to use older dependencies and it probably would have worked, but I chose to stick on the safer side.

[2021-01-22 10:48] juliank opened #1527 "bootstrap-salt.sh (2020.10.20) fails on CentOS 7: ERROR: Failed to run install_centos_git()!!!"
### Description of Issue/Question
I've downloaded the latest version of the bootstrap script to a new and "clean" CentOS 7 server. Running the script eventually fails with the error message `ERROR: Failed to run install_centos_git()!!!`. I have also tried using the latest version of the script from the develop branch, but the issue is the same.

### Setup
The server is a new and clean (fresh from

[2021-01-22 22:52] bryceml commented on #1527
versions greater than 3001 and newer require `-x python3` specified unless the os only ever was supported on python3.

for example ubuntu 20.04 only was ever supported on python3, so the `-x python3` is not needed.  Centos 7 was supported with python2, so `-x python3` is needed.

it doesn't hurt to just throw `-x python3` on anything 3001 or newer.

Once py2 is no longer supported at all, I think

[2021-01-22 22:54] bryceml commented on #1513
Closing since support was merged in.

[2021-01-22 22:54] #1513 closed, assigned to nobody

[2021-01-22 22:55] bryceml commented on #1493
I'm closing this since I haven't heard back in a while, feel free to re-open it if needed.

[2021-01-22 22:55] #1493 closed, assigned to nobody

[2021-01-22 23:06] bryceml commented on #1460
https://github.com/saltstack/salt-bootstrap/issues/1527 is related.

[2021-01-22 23:24] jpacura commented on #1512
Unless there are any objections, I will remove support for Ubuntu 17.04, 17.10, and 18.10, since they are not LTS releases, and are all end-of-life.

The readme specifies the following:

[2021-01-22 23:38] jpacura commented on #1512
I'll also remove support for 14.04, because the saltstack repos seem to have been removed, so the script fails

[2021-01-23 00:00] jpacura opened #1528 "Remove unsupported versions of Ubuntu and Debian"
### Description of Issue/Question

Saltstack has removed the repository for Ubuntu 14.04, so installing on 14.04 will attempt and fail.

Ubuntu 17.04, 17.10, 18.10, 19.04, and 19.10 are all end-of-life, and support should be removed from them per the readme:

Debian 8 is end-of-life, and the saltstack repos have been removed, which causes installation to attempt and fail.

### Setup
Docker contain

[2021-01-23 00:00] jpacura commented on #1512
Opened https://github.com/saltstack/salt-bootstrap/issues/1528 to track the removal of EOL versions of Ubuntu and Debian

[2021-01-23 00:01] jpacura commented on #1528
I can't self-assign this, but I am currently working on it

[2021-01-23 03:56] bryceml commented on #1528
@sagetherage this is all good to do right?

[2021-01-25 07:08] juliank commented on #1527
Thank you @bryceml, `-x python3` did the trick.

I noticed the `-x` option, but misread the documentation. I actually tried running with `-x python2.7` - my line of thought being that since Python 2.7 is the version present on the OS, I might have to force the bootstrap script to use this old and deprecated version. If this misunderstanding is on me, or the documentation might be in need of improv

[2021-01-25 07:08] #1527 closed, assigned to ScriptAutomate

[2021-01-25 18:06] bryceml commented on #1528
Closing since the PR got merged.

[2021-01-25 18:06] #1528 closed, assigned to jpacura

[2021-01-25 18:07] bryceml commented on #1512
Closing since the PR got merged.

[2021-01-25 18:07] #1512 closed, assigned to bryceml, jpacura

[2021-01-28 01:06] ScriptAutomate commented on #1524
This would also help prevent problems like https://github.com/saltstack/salt/issues/59366 coming up. We need to make it clearer that people should be using `stable`, and that people should only be using `git` if they have special use cases perhaps around testing new features that haven't been included in a release yet.

[2021-02-01 20:08] sagetherage commented on #1524
Interesting, the readme is dated and oddly enough the use of the word `stable` seems more correct, but we stopped using it at some point and it can be controversial when we use it instead of `latest` in Salt, so not to confuse this here, but to simply point it out or plus one - the readme needs updating in this repo, for sure!

[2021-02-01 20:15] whytewolf commented on #1524
@sagetherage the use of stable in this context is actually an option to the bootstrap script. latest is a version stable is the method of that release. so `bootstrap.sh stable 3001` would point to the 3001 repo. whereas `bootstap.sh git v3001.1` would install from git

And while the readme has been updated to include references to stable. it isn't made clear that stable would be the preferred and

[2021-02-01 22:33] sagetherage commented on #1524
yes, I made a strange reference. I mean I agree with this issue and we need to fix it.

[2021-02-04 07:47] IndraGunawan opened #1531 "invalid saltstack-gpg url on ubuntu 18.04 and salt stable 3000.0"
### Description of Issue/Question
got this error
[code]

the correct SALTSTACK-GPG is `https://repo.saltstack.com/apt/ubuntu/18.04/amd64/3000/SALTSTACK-GPG-KEY.pub`

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
[code]

### Versions and Systems
OS: Ubuntu 18.04
`bootstrap-salt.sh -v`: Version 2020.10.20

[2021-02-04 15:39] bryceml commented on #1531
3000.0 has been moved to archive.repo.saltproject.io, as you can see https://repo.saltproject.io/apt/ubuntu/18.04/amd64/archive/ it's missing.  This is because it was affected by the really bad authorization bypass CVE we had.

Going forward, we will likely only move entire major releases and eol oses at a time, but if we have another really bad CVE, we might move point releases like we did then.

[2021-02-04 15:42] bryceml commented on #1531
to explain things more https://repo.saltproject.io/apt/ubuntu/18.04/amd64/archive/3000 would be the point release

https://repo.saltproject.io/apt/ubuntu/18.04/amd64/3000 is a symlink to https://repo.saltproject.io/apt/ubuntu/18.04/amd64/archive/3000.6/

if you pass 3000 to the bootstrap script, you get the major release, if you pass 3000.0, or 3000.1, or something like that, you get the point rel

[2021-02-05 06:36] IndraGunawan commented on #1531
i do pass 3000 to the bootstrap script and it install the latest of 3000.x version and it's expected.
thanks @bryceml

[2021-02-05 06:36] #1531 closed, assigned to nobody

[2021-02-08 21:46] bryceml opened #1532 "apt-key is deprecated and should not be used."
See https://github.com/saltstack/salt/issues/59408

apt-key should not be used by the bootstrap script.  The new method of putting gpg keys in /usr/share/keyrings/ should be used by default by the bootstrap script.

[2021-02-11 14:16] stanislavrussu opened #1534 "vagrant up fails after bootstrapping Salt"
### Description of Issue/Question
Hello guys,
I have a dedicated server with root access.
On this server, I installed Jenkins for creating .box images via Vagrant.
Unfortunately, `vagrant up` command fails after bootstrapping Salt.

### Setup
[code]

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)
[code]

Expected output:
[code]

Current output:
[code]

### V

[2021-02-11 16:48] bryceml commented on #1534
It looks like your states failed.  Can you check for failures from your state?  or check /var/log/salt/minion for error/failure messages?

Salt exits with a non 0 exit status if there is a failure running the states.

[2021-02-11 18:28] stanislavrussu commented on #1534
Hi @bryceml,
You're right, when I check `/var/log/salt/minion`, I can see:
[code]
I tried to fix this issue following both ways above, but it keeps erroring.
Maybe you know some hints. My folders structure is the following:
[code]
Please let me know if I should re-generate the keys (and how exactly). Thank you!

[2021-02-11 20:22] #1532 closed, assigned to s0undt3ch

[2021-02-11 21:41] mcclanc opened #1535 "ar"
### Description of Issue/Question

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

### Versions and Systems
(`salt --versions-report`, `bootstrap-salt.sh -v`, system type and version,
cloud/VM provider as appropriate.)

[2021-02-11 22:11] s0undt3ch commented on #1535
I'm assuming this ticket was opened by mistake. Closing.

[2021-02-11 22:11] #1535 closed, assigned to nobody

[2021-02-12 02:53] bryceml commented on #1534
I couldn't find any good docs on that, maybe @ScriptAutomate or @barbaricyawps know of some.

Basically on the master, run

[code]
That will give you a list of all keys and their statuses.

remove the key that matches the minion_id of the minion trying to connect to the master, you can usually find this in /etc/salt/minion_id on the minion.

[code]

Salt won't let a 2nd minion join with the same m

[2021-02-13 14:33] myii opened #1537 "Failing: `yum` is not available in Oracle Linux 8 by default (need to use `dnf` instead)"
### Description of Issue/Question

We've been building pre-salted images of Oracle Linux 7 & 8 for a while now but it has stopped working for the latter in the last couple of days.

* https://gitlab.com/saltstack-formulas/infrastructure/salt-image-builder/-/pipelines/254965423/builds

Spoke to @javierbertoli and he found some info.

https://www.howtoforge.com/centos-8-package-management-with-dnf-o

[2021-02-15 09:58] stanislavrussu commented on #1534
Hello @bryceml,

Thank you for this solution. It fixed the issue with Salt:
[code]

Now I can see the following on CI server:
[code]
and on Salt server:
[code]

However, my Jenkins jobs are still failing on the same step (vagrant up):

[code]
Please let me know if I should check something else. Thanks!

[2021-02-16 16:47] bryceml commented on #1534
you should ask in the community slack in the general channel, it will be a lot easier than trying to fix it over an issue like this.

I don't see the stdout from the salt command above.  Your output should have the highstate output and one of them probably has `Result: False` on them, and that's what you need to look into.

https://saltstackcommunity.herokuapp.com/ to sign up.

[2021-02-17 08:31] stanislavrussu commented on #1534
Thanks a lot, @bryceml
I've found the root cause in the Jenkins console output:
[code]
I fixed this issue by changing:
[code]
to
[code]

[2021-02-17 08:31] #1534 closed, assigned to nobody

[2021-02-18 04:06] furlongm commented on #1488
FWIW the same issue on Fedora 34.

[2021-02-26 12:57] snago commented on #1405
We also ran into this problem and would like to be able to bootstrap the graviton based EC2 instance types (c6g, m6g, etc) when running Amazon Linux 2.

Are there any issues for this progress that I can follow somewhere?

[2021-03-02 20:40] MikeC-BC commented on #1149
still an issue

[2021-03-02 21:06] rallytime commented on #1149
Looks like I missed the notification the first time around. I'm not involved in this project any more so I can't re-open this.

@s0undt3ch Can you help out on this one and re-open?

[2021-03-03 07:01] chruck commented on #1537
I had the same problem with docker image `oraclelinux:8`.  Unlike `centos:8`, the OracleLinux docker image is missing the `yum` package, which, among other files, has a symlink for `yum` to `dnf`.  I notice that something has been merged before this comment, but I've only tested the stable version of `salt-bootstrap`.
My workaround was to `dnf install -y yum` before running `salt-bootstrap`.  Howe

[2021-03-03 14:24] myii commented on #1537
@chruck Unfortunately, the above merge was simply to introduce Oracle Linux 7 CI testing.  I had a look at solving this properly and it would take a fair bit of effort, which may be misplaced since this bootstrap will be replaced by Tiamat-based builds in the (relatively) near future.  The whole CentOS 8 situation is also unsettled, so that's another reason to be cautious.

However, your workaroun

[2021-03-05 23:51] arthurpetitpierre commented on #1405
@bryceml is there anything AWS can do to help, like providing access to Graviton2 based instances ? Or patches to your build pipelines?

[2021-03-23 00:48] bryceml commented on #1405
One thing that would make it easier is if amazon linux itself provided rpms for all of the dependencies of salt: https://repo.saltproject.io/py3/amazon/2/x86_64/latest/

Amazon linux by far has the most dependencies that we have to build ourselves.  It appears that only python3.7 is in the amazon linux repos, and no other python packages.

We also could have easily use the python3.6 rpms from epel

[2021-03-23 00:53] bryceml commented on #1405
https://gitlab.com/saltstack/open/salt-pkg/-/issues

with https://gitlab.com/saltstack/open/salt-pkg/-/issues/1 and https://gitlab.com/saltstack/open/salt-pkg/-/issues/29 being major blockers.

[2021-03-26 15:44] jworl opened #1547 "broken repo path for Amazon Linux"
### Description of Issue/Question
receiving 404 not found
https://repo.saltproject.io/yum/amazon/latest/x86_64/latest/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found

This path does not exist anymore. Manually looking, it seems "https://repo.saltproject.io/yum/amazon/" directory only contains the "2" folder. "latest" does not exist.

### Setup
[code]

### Steps to Reproduce Issue
[code

[2021-03-26 16:00] bryceml commented on #1547
amazonlinux 1 is end of life, and the salt packages for it have been moved to https://archive.repo.saltproject.io

You can use `-R archive.repo.saltproject.io` as an argument to the bootstrap script if you want to use them.  They are unsupported and all contain CVEs.

[2021-03-26 16:07] jworl commented on #1547
Ah. I understand. Thanks for the quick response! I just tried this with `-R archive.repo.saltproject.io` , but I receive the same error. Are there additional flags which I must set for this to work properly? I glanced through the documentation, but nothing stood out to me.

`sudo sh install_salt.sh -R "archive.repo.saltproject.io" -j "$(cat /tmp/minion_conf)" -D`

[bootstrap-salt-R-flag.log](https

[2021-03-26 16:12] bryceml commented on #1547
I don't think salt touches your repo files for salt if they already exist, you might have to `rm -i /etc/yum.repos.d/salt*` before you try again.  it works for me on a fresh docker container.

[2021-03-26 16:13] jworl commented on #1547
That was it! Thank you!!

[2021-03-26 16:13] #1547 closed, assigned to bryceml

[2021-03-26 21:00] sagetherage commented on #1494
@nosrio you are welcome to open a PR - I will attempt to get it reviewed in a timely manner, although I have not demonstrated that thus far for this repo, I will try to be better.

[2021-03-29 15:56] ipmb opened #1550 "Latest releases have the wrong date"
Looks like these should be `v2021.03.02`

![CleanShot 2021-03-29 at 09 55 02](https://user-images.githubusercontent.com/319156/112864440-0a1a4800-9075-11eb-8324-5f828a140ade.png)

[2021-03-29 16:59] krionbsd commented on #1550
Fixed

[2021-03-29 16:59] #1550 closed, assigned to krionbsd

[2021-04-12 06:25] dachshund-digital opened #1552 "Is there a way to determine if a newer version of saltstack exists?"
Is there a way to determine if a newer version of saltstack exists?  Need to automate method to determine when, say version 3004 has been published.  Linux CLI method to do check would be preferred way if possible.  Would to avoid web page scrap to determine when new version has been published.

[2021-04-12 15:57] bryceml commented on #1552
you can install `latest` which will always install the latest version.

You could also check if the repo file for the version exists, such as https://repo.saltproject.io/py3/debian/10/amd64/3003/dists/buster/Release or https://repo.saltproject.io/py3/redhat/8/x86_64/3003/repodata/repomd.xml

something like

[code]

That's the best I can think of right now.

[2021-04-13 01:47] dachshund-digital commented on #1552
Cool, thanks for the information, I also did a query to the apt repo for the OS (Dbian 10) and got the latest (stable) version as well.  I but since the OS distro maybe dated, much prefer your approach.  However, I can't seem to get a list of available versions?  Would that not be the most flexible?  Apparently the design/structure of the repo web site will not let someone grab a list of available

[2021-04-13 01:47] #1552 closed, assigned to bryceml

[2021-04-13 13:23] nin0-0 opened #1553 "rocky linux integration"
As rocky linux will be ready for release end of the month, can you please include rocky linux into the script?

[2021-04-30 16:01] krionbsd commented on #1553
@nin0-0 sure, we'll look into it, ETA for BETA is today but I didn't see any announcements so far

[2021-05-01 00:58] jpacura opened #1555 "Best-effort support for Ubuntu 21.04"
### Description of Issue/Question
The current salt-bootstrap script will not install on Ubuntu 21.04

### Steps to Reproduce Issue
Try to run the current version of bootstrap-salt.sh on a ubuntu:21.04 docker container
it will fail because the script will not override the repositories to use the 20.04 repositories
[code]

### Versions and Systems
[code]

[2021-05-01 21:59] GMAzrael commented on #1553
@krionbsd RC released. Download available on website

[2021-05-02 16:26] ashishsme14 opened #1558 "Docker Compose for CRON job"
We had a task to Create a docker file with ubuntu image

Create a print.sh file which has code to print date and time
Write a cron file named "hello-cron" which includes the print.sh to run for every 1 min.
The docker image should have a CRON job to print date and time every 1 min
We created a print.sh file via vi command and in it given as

[code]

chmod +x print.sh

then tried as -

`* * * * * /

[2021-05-06 01:27] justin-sunayu commented on #1553
Seems to install on the RC. Here is output from the script. The only weirdness I notice is from the `Distribution`

[code]

[2021-05-21 18:45] prandelicious opened #1564 "Salt minion fails to start in Amazon Linux 2 with urllib3 version conflict"
### Description of Issue/Question

The bootstrap script was able to install all packages but it fails to start the salt-minion service with this error:

[code]

### Setup
`cat /etc/os-release`
[code]

### Steps to Reproduce Issue
`curl -fsSL https://bootstrap.saltproject.io -o install_salt.sh`
`sh install_salt.sh -P -x python3`

Output of /tmp/bootstrap-salt.log:

[code]

### Versions and Systems

[2021-06-15 21:24] snardone commented on #1564
Same issue, salt-minion 3002.6 on Amazon Linux 2. Temporary workaround was to downgrade python3-requests.

`sudo yum downgrade python3-requests-2.14.2-2.amzn2.0.2`

Looking for a better solution.

[2021-06-25 20:39] myii commented on #1553
All appears to be working well with both Rocky Linux and AlmaLinux.  We've added both to our `salt-image-builder` repo, which uses this bootstrap to generate the following:

* [saltimages/salt-master-py3:rockylinux-8](https://hub.docker.com/layers/saltimages/salt-master-py3/rockylinux-8/images/sha256-64c244ea10b3b54e501901a8867de3dda1d1467db9ab6395e4e3bf868342bd1f?context=explore)
* [saltimages/sa

[2021-06-25 20:53] krionbsd commented on #1553
@myii I confirm, tested rocky release extensively this week and couldn't get any issues with it too

[2021-06-27 07:55] #1537 closed, assigned to krionbsd

[2021-06-27 07:55] #1553 closed, assigned to krionbsd

[2021-07-14 23:30] eykd opened #1575 "Workaround for end-of-life distributions on ESM?"
### Description of Issue/Question

Is there any workaround for installing salt on an end-of-life distribution like Ubuntu 16.04? We have a couple of applications still on 16.04 servers w/ ESM. We use Vagrant and Virtualbox to do development work, and the other day we realized we can no longer bring up new development VMs based on 16.04 images, because the salt bootstrap refuses to do anything.

Is

[2021-07-14 23:32] eykd commented on #1575
Hey, and I think I've answered my own question:

[code]

That seems to do the trick. Thanks!

[2021-07-14 23:33] #1575 closed, assigned to nobody

[2021-09-07 07:08] krionbsd commented on #1558
@ashishsme14 Are you sure this issue is related to salt-bootstrap?

[2021-09-07 07:09] krionbsd commented on #1555
Ubuntu 21.04 support was added recently

[2021-09-07 07:09] #1555 closed, assigned to nobody

[2021-09-07 07:15] krionbsd commented on #1461
@Scratchy888 2019.2.5 is EoL, I assume it can be closed now

[2021-09-07 07:15] #1461 closed, assigned to nobody

[2021-09-07 10:01] krionbsd commented on #1460
Python3 is the only python version being supported right now

[2021-09-07 10:01] #1460 closed, assigned to s0undt3ch, ScriptAutomate

[2021-09-07 10:19] krionbsd commented on #1437
Fedora lower than 33 is no longer supported, the latest stable Fedora-CoreOS I tried now is `OSTREE_VERSION='32.20200601.3.0'` and it's based on Fedora 32.

[2021-09-07 10:19] #1437 closed, assigned to nobody

[2021-09-29 16:09] dfidler opened #1602 "salt-cloud/bootstrap failure to deploy linux minion"
### Description of Issue/Question

When deploying linux systems via salt-cloud to aws, I'm getting failures when running the deploy.sh (bootstrap) script.

Note: I am not sure if this is boothstrap that's failing or if it's an issue with repo.saltproject.io so if this is the wrong place, please let me know and I'll move it.

Notes:
* Notice that I am specifying script args  "latest stable"
* As of

[2021-09-30 15:06] bryceml commented on #1602
run `salt-cloud -u` to update to the most recent version of the bootstrap script.

python2 was deprecated, and the python2 packages moved to archive.repo.saltproject.io.  The new version of the bootstrap script defaults to python3.

[2021-10-05 16:05] dfidler commented on #1602
@bryceml -

This issue is from the bootstrap-salt versions deployed with salt-cloud 3002.6 (Bootstrap Version 2020.10.20) and 3003.3 (Bootstrap Version 2021.03.20; built 2 wks ago)

I've run `salt-cloud -u` and I can build again - thanks.

[2021-10-05 20:27] #1602 closed, assigned to nobody

[2021-10-07 13:38] michaelfranzl opened #1605 "Generates invalid salt-archive-keyring.gpg URL"
### Description of Issue/Question

The GPG key URL

https://repo.saltproject.io/apt/debian/9/amd64/latest/salt-archive-keyring.gpg

is generated by

https://github.com/saltstack/salt-bootstrap/blob/c5a55a3fbbe668de03239751dd60e8c27538b2d3/bootstrap-salt.sh#L3386

when `$_PY_MAJOR_VERSION` is not equal to 3, which is what happens when `-x python2` is passed to the script.

But this URL returns HTTP

[2021-10-07 15:24] bryceml commented on #1605
python2 is no longer supported.  Python2 versions of salt have been moved to archive.repo.saltproject.io.

If you absolutely need to use old versions (which are vulnerable to CVEs), you can use something like `-R archive.repo.saltproject.io` to point to the archive repo.

[2021-10-07 15:32] bryceml commented on #1564
Is this still an issue?  I believe this should be fixed now.  Can this be closed?

[2021-10-07 15:34] bryceml commented on #1558
Closing since no response after a month.

[2021-10-07 15:34] #1558 closed, assigned to nobody

[2021-10-08 08:32] michaelfranzl commented on #1605
Thank you for pointing out the `-R` switch which I can confirm resolves this issue.

[2021-10-08 08:32] #1605 closed, assigned to nobody

[2021-10-09 04:45] fake-name commented on #1605
It's worth noting that I just spent a while dealing with this issue, because apparently `bootstrap-salt` defaults to python 2 unless it's explicitly told not to.

As such, the fact that the `/apt/` repo was removed caused my use of salt-cloud to spontaneously explode with no changes on my end.

With the `bootstrap-salt.sh` `2021.03.02` salt cloud completely fails to work without an explicit comman

[2021-10-09 05:05] fake-name commented on #1605
So splatting the current version of `salt-boostrap.sh` over the package provided one solves the issue, at least temporarily.

However, fundamentally, the problem here is that `https://repo.saltproject.io/apt/` got removed before all references to it in the **current** `https://repo.saltproject.io/py3/` packages were gone. And there was apparently no testing done after this removal.

[2021-10-09 05:16] fake-name commented on #1605
I just confirmed, the salt release from Sept 2 2021 (https://github.com/saltstack/salt/releases/tag/v3003.3) is both the version you get from apt, and features a broken `bootstrap-salt.sh`.

[2021-10-19 11:21] eliasp opened #1610 "Windows bootstrap-salt.ps1 not compatible with 3004"
### Description of Issue/Question

### Setup
Using a plain Win10 with no previous Salt installation.

### Steps to Reproduce Issue
- Ensure no artifacts from a previous Salt installation are present
- Install Salt 3004 using Windows `bootstrap-salt.ps1`:
[code]
- Execute `salt-call`:
[code]
I suspect this might be caused by the fact, that the script `bootstrap-salt.ps1` is full of harcoded paths p

[2021-10-19 16:13] dafyddj commented on #1610
I don't think this is related to the bootstrap itself. I've seen that warning after just installing from the exe.
@eliasp do you want to open this issue in the main repo: saltstack/salt?

[2021-10-19 16:16] #1564 closed, assigned to bryceml

[2021-10-20 02:17] alpana17 commented on #1564
I am still facing the issue...
` *  INFO: Running install_amazon_linux_ami_2_deps()
Loaded plugins: extras_suggestions, langpacks, priorities, update-motd
https://repo.saltproject.io/py3/amazon/2/aarch64/latest/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found
Trying other mirror.

 One of the configured repositories failed (SaltStack Python 3 repo for Amazon Linux 2),
 and yum doesn't h

[2021-10-23 21:21] eliasp commented on #1610
Thanks for filing https://github.com/saltstack/salt/issues/61113 @dafyddj - didn't get around to it yet.

[2021-10-23 21:21] #1610 closed, assigned to twangboy

[2021-11-27 15:00] smitelli opened #1614 "Debian 11 repo support"
More of a to-do item than a bug, but...

In [this block](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L3353-L3359) of bootstrap-salt.sh, the Debian release/codename are hacked to 10/`buster` in the case where the system is running Debian version 11. Apparently this was due to lack of upstream packages for this release in the past.

Since that time, the official Salt r

[2021-12-14 00:02] jpacura commented on #1614
I'll be happy to take care of this if nobody else is already working on it

[2021-12-14 01:52] jpacura commented on #1614
I created a pull request that will use the native repositories for Debian 11, and also adds best-effort support for Debian Testing using the Debian 11 packages. I have tested this PR using Debian 11 and Debian Testing Docker containers. Please test this PR and let me know if I need to make any changes to it

[2021-12-20 03:10] Ale0x78 opened #1617 "[Security] Workflow kitchen.vagrant.yml is using vulnerable action actions/checkout"
The workflow kitchen.vagrant.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CV

[2021-12-20 03:10] Ale0x78ButInBinary opened #1618 "[Security] Workflow kitchen.vagrant.yml is using vulnerable action actions/checkout"
The workflow kitchen.vagrant.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CV

[2021-12-20 03:10] Ale0x78 opened #1619 "[Security] Workflow kitchen.windows.yml is using vulnerable action actions/checkout"
The workflow kitchen.windows.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CV

[2021-12-20 03:10] Ale0x78ButInBinary opened #1620 "[Security] Workflow kitchen.windows.yml is using vulnerable action actions/checkout"
The workflow kitchen.windows.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CV

[2021-12-20 03:10] Ale0x78 opened #1621 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:10] Ale0x78ButInBinary opened #1622 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:10] Ale0x78 opened #1623 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78ButInBinary opened #1624 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78 opened #1625 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78 opened #1626 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1627 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78 opened #1628 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1629 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78 opened #1630 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1631 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78 opened #1632 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1633 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78 opened #1634 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1635 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] Ale0x78 opened #1636 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1637 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1638 "[Security] Workflow main-branch-only.yml is using vulnerable action actions/checkout"
The workflow main-branch-only.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) C

[2021-12-20 03:11] qazaqstan2025 opened #1639 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1640 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1641 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1642 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1643 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1644 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1645 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1646 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1647 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1648 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1649 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1650 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:11] qazaqstan2025 opened #1651 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1652 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1653 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1654 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1655 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1656 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1657 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1658 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78 opened #1659 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1660 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78 opened #1661 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1662 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78 opened #1663 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1664 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78 opened #1665 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1666 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78 opened #1667 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78 opened #1668 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1669 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78 opened #1670 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-20 03:12] Ale0x78ButInBinary opened #1671 "[Security] Workflow main.yml is using vulnerable action actions/checkout"
The workflow main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u