[2016-08-09 07:45] gerronimo commented on #918
I've put all logs here:
XXX

[code]

[2016-08-09 11:45] gerronimo commented on #918
Just as a sidenote. I've also cloned centos 6.8 image from that same instance of salt-cloud and it worked also perfectly fine, meaning the vm has been correctly cloned, salt-minion installed and I could ping it with`salt 'testing' 'test.ping'`

[2016-08-09 12:27] vutny commented on #918
I see, everything looks good except for the bootstrap script is unable to parse distribution string `RedHatEnterpriseServer` for some reason under `salt-cloud` supervision.

With another round of our debugging session, let's figure that out.
I've prepared a modified version of the script that should shed the light on the issue.

Please install it on your machine where you run `salt-cloud` with suc

[2016-08-09 13:49] gerronimo commented on #918
no problem Let's see if it helps.

[2016-08-09 15:23] rallytime commented on #908
@msiebeneicher Is this issue resolved for you now? Can this be closed?

[2016-08-09 15:24] rallytime commented on #872
#867 has been merged. Closing.

[2016-08-09 15:24] #872 closed, assigned to nobody

[2016-08-09 15:26] rallytime commented on #837
Closing since we haven't heard back here and I was able to install successfully on openSUSE 13.2. If this remains a problem for you, leave a comment and we can take another look. Thanks!

[2016-08-09 15:26] #837 closed, assigned to nobody

[2016-08-09 15:29] rallytime commented on #786
I am going to close this since I haven't heard back here and I was able to install on Ubuntu 15.10 as stated above. If you're still running into this problem, leave a comment and we will gladly re-open. Thanks!

[2016-08-09 15:29] #786 closed, assigned to nobody

[2016-08-09 15:37] rallytime commented on #776
Since I am reasonably certain that this was a salt-cloud issue that has since been fixed, and I wasn't able to reproduce the issue with a newer version of salt and salt-bootstrap, I am going to close this.

If you're still running into this problem, please leave a comment that includes the answers to the questions I raised above and I'd be happy to re-open this issue and take another look. Thanks!

[2016-08-09 15:37] #776 closed, assigned to nobody

[2016-08-09 15:38] rallytime commented on #103
Closing as #906 has been merged.

[2016-08-09 15:38] #103 closed, assigned to nobody

[2016-08-09 15:39] rallytime commented on #824
Closing since #906 has been merged now.

[2016-08-09 15:39] #824 closed, assigned to nobody

[2016-08-10 10:48] vutny commented on #918
@gerronimo I understood. `__camelcase_split` function returns wrong result. The fun thing is that I was unable to reproduce this behavior... In your case `sed` expression just doesn't work for unknown reason when running the bootstrap script with `salt-cloud`.

Let's try to guard our back and slightly change the function call and body.
Please repeat all the steps including the script download and

[2016-08-10 13:42] jbober commented on #918
https://gist.github.com/jbober/6342a3700db142458b7a2a8efcb9c35f

Again when I run deploy.sh directly on the machine ( bootstrap-salt_manual.log) it works as expected but fails over ssh :)
I'm confused.

[2016-08-10 17:08] dmurphy18 opened #926 "Remove unsupported PPA:chris-lea repository from bootscript"
### Description of Issue/Question

Using ppa:chris-lea, should be using repo.saltstack.com or preferred overriding repository, see #L2298-2309
see salt https://github.com/saltstack/salt/issues/34122#issuecomment-238823418
### Setup

(Please provide relevant configs (Be sure to remove sensitive info).)
### Steps to Reproduce Issue

(Include debug logs if possible, `bootstrap-salt.sh -D`.)
### Versi

[2016-08-10 17:13] rallytime commented on #926
References the conversation in https://github.com/saltstack/salt/issues/34122

[2016-08-11 10:02] gerronimo commented on #918
Hello,
I've tinkered a little with this line:
    echo "$*" | sed -r -e 's/([^A-Z-])([A-Z])/\1 \2/g'
Theres something strange about this line.I believe It captures whole word and not splitting it. At least on my CentOS 6.8 and redhat.  Whenever I made this sed fail then salt-cloud was able to provision on my redhats.  I just deleted -r. For centos I believe this is not used.
For now that will get

[2016-08-12 02:30] rallytime commented on #762
Hi @rterbush - Are you still running into this issue? I just gave this a try on a more recent release of the bootstrap script and I was able to install from the git tag on FreeBSD 10.2:

[code]

Script Version:

[code]

Salt version installed:

[code]

[2016-08-12 12:32] rterbush commented on #762
@rallytime not seeing the issue on latest install script.

Thanks

[2016-08-12 14:23] rallytime commented on #762
@rterbush Great! I'll close this. Let me know if this pops up again for you and we can open this issue again.

[2016-08-12 14:23] #762 closed, assigned to nobody

[2016-08-12 15:07] vutny commented on #918
No problem! Good that it worked for you.

But... This is very strange. `sed` would not be able to process such extended regex without `-r` key.
It should be rewritten like this:

[code]

Please could you try this and share a result with us?
My guess is that you have some specific SSH server configuration on your VM image. If it's possible, could you also post `/etc/ssh/sshd_config` file content fr

[2016-08-12 15:15] vutny commented on #918
Or maybe it's more related to the shell (non-)interactive or (non-)login mode. Looking at `/root/.bash_profile` and `/root/.bashrc` files could possibly shed some light on the issue.

[2016-08-12 15:59] rallytime commented on #924
Refs #724

[2016-08-12 16:29] #924 closed, assigned to rallytime

[2016-08-12 17:38] rallytime commented on #724
@sjmh I fixed the immediate issue with the `--enablerepo` pieces of the bootstrap script with PR #924. I think we probably still need to decide how to move forward as mentioned above, which is part of a larger conversation about version support and community vs repo.saltstack.com packages, but at least #924 will help for now.

[2016-08-12 17:39] rallytime commented on #724
Correction: There is a related issue that is issue #924 and the PR that fixes #924 is actually #928.

[2016-08-12 18:20] #926 closed, assigned to rallytime

[2016-08-12 19:58] Ch3LL opened #930 "Fresh install, Salt seems to be working only half the time"
@SingleMalt commented on [Thu Aug 11 2016](https://github.com/saltstack/salt/issues/35405)

Hi, so I'm following the Salt setup instructions (https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-salt-master-and-minion-servers-on-ubuntu-14-04), and have the Salt master and minion running on the same EC2 instance (m4.large). Salt is working only half the time and I can't fig

[2016-08-12 20:45] keith-miller commented on #930
Thanks!

[2016-08-12 21:23] keith-miller commented on #930
Installed from repo.saltstack.com and everything is working. Thanks again!

[2016-08-12 21:36] gerronimo commented on #918
Hello again.
I intentionally made this sed fail. Only then it when further with the installation.
Anyway, . When I took dockerized centos 6 and 7 and run this:
echo "CamelCase" | sed -r -e 's/([^A-Z-])([A-Z])/\1 \2/g'
Then indeed it gives
Camel Case as expected. I may have broken bash on my developers machines.
I am using devtoolset-4 and software collections. That may interfere somehow.
I really

[2016-08-15 12:54] vutny commented on #918
Oh, now I got it!
Because the pipe command in  `__camelcase_split` function failed when you deleted `-r` option for `sed`, the `$DISTRO_NAME` variable become empty and distribution was correctly detected later during release files parsing. Nice! :)

So, I think I have an idea how to workaround this...

[2016-08-15 14:08] vutny commented on #918
@gerronimo Please try the script from my PR above (it's a new branch):
https://github.com/vutny/salt-bootstrap/blob/rhel-detection-workaround/bootstrap-salt.sh

I hope it should solve your issue.
But still, it would be nice to know the root cause of this if you will find anything...

[2016-08-15 22:28] doberloh opened #935 "install_salt failing to finish"
Im getting failed salt installs on fresh 14.04 machines as of this afternoon Im downloading from bootstrap.saltstack.com and then running 'sudo sh install_salt.sh -P git v2015.8.8.2':

The directory '/home/ubuntu/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with

[2016-08-15 22:47] rallytime commented on #935
@doberloh Can you post what the output of of `sh install_salt.sh -v` is? Also, has this method of installing worked for you before (i.e. is this a regression)?

There was some refactoring done in the bootstrap script recently by @vutny and I wonder if that is causing some trouble here when using the `-P` with `sudo`. @vutny Would you mind taking a look here?

[2016-08-15 23:10] rallytime commented on #935
I was able to reproduce this error using release tags from the 2015.8 branch (tested on `v2015.8.8.2` and `v2015.8.1``) but I am unable to reproduce on more recent/stable versions of Salt on the 2016.3 branch.

Here's my stacktrace (similar, but slightly different without the `sudo` option:

[code]

This was using the most recent release from today: 2016.08.15.

[2016-08-16 15:12] ytjohn commented on #935
I started running into this yesterday as well (2016.08.15 ~4PM Eastern) when testing our salt formula in vagrant.  It's easily reproducible with Vagrant.

In an empty directory, create the following 2 files and run vagrant up.

_minion_

[code]

_Vagrantfile_

[code]

Traceback:

[code]

[2016-08-16 15:14] vutny commented on #935
Hi, I think I know what's going on here. Trying to fix it now. I will submit a PR soon.

[2016-08-16 15:15] ytjohn commented on #935
It might be related to pip 8.1.1 bugs: https://github.com/pypa/pip/issues/3666  https://github.com/pypa/pip/issues/3667

[2016-08-16 15:17] vutny commented on #935
Nope, it's shell expansion issue. But I'm gonna try to get rid of installing via `pip`. SaltStack has all dependencies present in their repo.

[2016-08-16 15:22] rallytime commented on #935
Thanks @vutny!

[2016-08-16 15:31] rallytime commented on #935
Also, for completeness, I tested this on the previous stable version, and this is indeed a regression with the latest stable.

[2016-08-16 15:37] vutny commented on #935
Got this fixed in #936 . Welcome to test!

[2016-08-16 15:58] vutny commented on #935
Just make sure you grabbed latest version of the script from the PR above.
https://github.com/vutny/salt-bootstrap/raw/fix-ubuntu-git-pip/bootstrap-salt.sh

[2016-08-16 17:04] rallytime commented on #935
This is fixed by #936. This fix is available in the latest release of the bootstrap script, which was just tagged as `v2016.08.16` and will be available at bootstrap.saltstack.com later today. Thanks everyone!

[2016-08-16 17:04] #935 closed, assigned to nobody

[2016-08-16 17:39] ytjohn commented on #935
salt vagrant provisioner is working again, thanks!

[2016-08-16 18:30] doberloh commented on #935
Woah. I totally missed the whole train... Sorry i was unable to get more info sent in. Im testing now to see if its fixed on my end.

[2016-08-16 20:11] gerronimo commented on #918
I haven't tried your workaround, but I think I finally nailed it.
The answer is:
`echo $LANG`
pl_PL.utf8
and this is why this sed:
`echo "CamelCase" | sed -r -e 's/([^A-Z-])([A-Z])/\1 \2/g'`
gives me:
just CamelCase.
But if I do:
`export LANG=C`
then it prints out correctly
"Camel Case"
So the problem was localisation.
I think that this should be set somewhere in the beginning of the bootstrap scr

[2016-08-17 07:40] vutny commented on #918
Nice catch! I'm also using UTF-8 locale, but didn't observed such effect, so I've excluded the possibility of localization issue. Well done!

In my PR I've replaced character ranges with POSIX classes, so now `sed` expression should be fully locale aware. Please test when you'll have some time. Thanks!

[2016-08-17 07:46] vutny commented on #930
@Ch3LL I believe this was fixed in PR #936, which was merged in `stable` recently.

[2016-08-17 13:38] gerronimo commented on #918
Hello again I've tested your workaround and also setting LANG variable.
The only ghing I changed was adding `export LANG=C` in a second line.

Both methods work fine.
Here are the logs:
https://gist.github.com/jbober/0f35f129b5aaaccad4add01dfc127936

Thank you very much for your help I really appreciate it.

[2016-08-17 14:13] vutny commented on #918
Sounds great! I'm glad that you've found a root cause and the solution.
When my PR will get merged, this issue should be resolved permanently.

P.S. Generally I'm against overriding locale settings in the shell scripts... Do it only if you have no other choice. There is always a possibility to receive some localized input from file names or contents, so this is a double-edge sword. It's always bet

[2016-08-17 14:47] rallytime commented on #930
Yeah, this is fixed with #936. Thanks for finding that @vutny!

[2016-08-17 14:47] #930 closed, assigned to nobody

[2016-08-18 13:02] gerronimo commented on #918
Sure, I'll keep that in mind. Thanks for helping me out.

[2016-08-18 13:31] vutny commented on #918
Ping @rallytime
Since this issue is resolved now, can we get PR #932 merged please? Thanks in advance!

[2016-08-18 19:14] #918 closed, assigned to nobody

[2016-08-18 20:43] davep75 commented on #393
Has anyone successfully installed a Solaris 10 minion and got it working in the open source version of salt ?

[2016-08-18 21:26] mikepietruszka commented on #393
I did but it kept dying due to old zeromq version (2.2). I had to install it via PIP. You will need to install OpenCSW and these packages via OpenCSW's pkgutil.

[code]

This should let you install salt with PIP. From there, you will need to create manifest files for SMF (if you choose so).

[2016-08-18 21:58] Reiner030 opened #939 "salt-cloud deploy fails in package update (without helpful error output)"
As already in https://github.com/saltstack/salt/issues/35561#issuecomment-240819086 mentioned:

[code]

[code]

It would be nice
-  to get this error message without "-l debug" parameter set ;)
  => perhaps it depends on STDOUT/STDERR output of the bootstrap script?
- to have a stable function in bootstrap script to handle such package repo problems or
- if it make sense e.g. to ignore such packag

[2016-08-18 22:12] #853 closed, assigned to nobody

[2016-08-18 22:23] rallytime commented on #917
@Ch3LL This is fixed with #936, which is available in the latest version of salt-bootstrap, v2016.08.16:

[code]

Also note that the bootstrap script has been refactored so that the `-P` is no longer necessary when installing on Ubuntu by default, as we are already packaging all of the necessary deps at repo.saltstack.com.

[2016-08-18 22:57] rallytime commented on #728
@timcharper The `-R` option was recently added to support something like this for RHEL/CentOS. This same philosophy can, and should, be expanded to other distros, but I wanted to check with you to see if that is the right direction you were thinking on this.

Basically the the help docs for `-R` look like this:

[code]

Where `-r` disables all other other repository configuration.

These two optio

[2016-08-18 22:58] tjyang commented on #393
@marccardinal , thanks for the pointer. Here is my exact CSW pkgutil and pip command. This is on a solars 10 x86.

[code]

@marccardinal , what version of salt-minion you compile successfully using pip ? Right Now, pip is pulling down 6.3.2 which require ZMQ > 3.2 while csw solaris 10 x86 only has zmq 2.2

See error log below

[code]

[2016-08-19 08:21] vutny commented on #609
Try to use latest `develop` version of the bootstrap script and `git` installation mode.
This issue has partially covered by PR #931.

[2016-08-19 12:57] vutny commented on #939
Hi @Reiner030

This actually means that Salt Bootstrap has failed after it was unable to retrieve correct package indexes, packages upgrade is not relevant in this case.

Generally this means that you're using (temporarily) inconsistent mirror, or the mirror was synchronizing with upstream archive just in that moment when apt tried to fetch files. Most of the times, it does no harm, but installati

[2016-08-19 21:13] frogunder commented on #917
This is still an issue on CentOS 7.

[code]

[code]

[code]

 add `transport: tcp` to the master/minion config

[code]

[2016-08-19 22:13] tjyang opened #941 "Not able to bootstrap VMware vcenter OS(SuSE)"
### Description of Issue/Question

Not able to bootstrap vcenter OS(SuSE), pls add is as todo/RFE.
### Setup

[code]
### Steps to Reproduce Issue

[code]

[2016-08-23 14:05] Atvo opened #942 "Unable to launch a CentOS instance on AWS using Salt Cloud"
Hi, I'm trying to launch a new CentOS instance on aws with Salt Cloud, but the bootstrapping seems to fail because of an outdated url.

Output of `salt-cloud -p <profile> <name1>`
...
-  INFO: /bin/sh /tmp/.saltcloud-dccdaff8-f635-4407-a0f6-30c48d979555/deploy.sh -- Version 2016.04.18
-  INFO: System Information:
-  INFO:   CPU:          GenuineIntel
-  INFO:   CPU Arch:     x86_64
-  INFO:   OS N

[2016-08-23 14:11] vutny commented on #942
Hi @Atvo

This issue is already fixed in the latest stable version of Salt Bootstrap. Try to upgrade the script by following instructions from here:
https://docs.saltstack.com/en/latest/topics/cloud/deploy.html#updating-salt-bootstrap

[2016-08-24 12:37] amontalban opened #943 "FreeBSD package is old"
The FreeBSD package in https://repo.saltstack.com/ is old (2016.3.1) while latest in FreeBSD ports tree is 2016.3.2 (https://www.freshports.org/sysutils/py-salt/)

[code]

I can submit a PR if you tell me where is that defined (I didn't found a repo where packages are defined).

Thanks!

[2016-08-24 18:01] UtahDave commented on #943
I've notified that packager.  Thanks for letting us know!

[2016-08-25 03:29] v6 commented on #245
// , This does not imply to start out with some sort of shell provisioning, because maybe one could make the first few salt states that run install Git and Python prerequisites for the other states?

[2016-08-25 06:12] LuboVarga opened #944 "Problem with proxy, unable to look up github.com"
### Description of Issue/Question

I am using installation (I want latest develop thing in my centos 7 vagrant env, to test https://github.com/saltstack/salt/issues/35651#issuecomment-242183356) using this:

[code]
### Setup

I have setup in my env http and https proxy. Most applications are ok with this and will work (curl, wget, firefox).

[code]
### Steps to Reproduce Issue

Just run bootstrap

[2016-08-26 08:19] vutny commented on #944
Hi @LuboVarga

The problem is that Salt Bootstrap uses `git://` protocol to fetch the sources by default.
There is an ongoing discussion in the PR #854 how to address this properly.

In the meanwhile, as a workaround you can just pass `https` GitHub url to the script:

[code]

[2016-08-26 09:20] LuboVarga commented on #944
Thanks, it is working as advertised.

[2016-08-26 09:20] #944 closed, assigned to nobody

[2016-08-29 17:08] Reiner030 commented on #939
1. I have to "love" AWS ... ;) and
2. I have to use initially (which includes salt-bootstrap scriptrun) http://httpredir.debian.org/
   since one Jessie update the mantainers of Debian thinks they know what is "best/fastest"
   mirror for us. :-(

The problem is that a failing bootstrapping causes a failed instance setup which is not nice in production environment / testing cases because it hungs

[2016-08-29 17:46] Reiner030 opened #946 "Parameter for repository http mirror"
Since Debian Jessie has updated this year their default repository location (with in my opinion bad implementation because not configurable in scripted setups) to http://httpredir.debian.org/ repository I got from time to time into trouble like here the possibility to setup a local http mirror.

Debian/Ubuntu has package
- **polipo** which is commonly a nice lightweight caching proxy service.
  No

[2016-09-02 17:39] rallytime commented on #939
It sounds like the latest bootstrap script will help with the error you're seeing. I'm going to close this issue for now. If you bump into it again, please let us know and we can take another look. Thanks for the discussion here, guys!

[2016-09-02 17:39] #939 closed, assigned to nobody

[2016-09-02 17:41] rallytime commented on #942
Yes, this should already be fixed. If you're still running into problems after upgrading, please let us know and we can take another look. (Be sure to include the versions output of your bootstrap script  in your comment by running `sh /path/to/your/script.sh -v`.)

[2016-09-02 17:41] #942 closed, assigned to nobody

[2016-09-02 17:45] rallytime commented on #946
Thanks for the request @Reiner030. That would be great to get this working for you so bootstrapping is easier when using `-H`.

@vutny This one seems right up your alley as you've been making some changes in this area lately.

[2016-09-02 18:59] thatch45 commented on #941
Sorry about the late reply @tjyang , all or our SLE 11 repos are pegged at SP4, the SP4 packages should install without issue. You don't really need to bootstrap script on SLE as the repos are well formed, just follow the instruction for SLES 11 here:
http://repo.saltstack.com/#suse

We will also fix the bootstrap script to handle older SLES 11 service packs

[2016-09-02 19:08] rallytime commented on #943
I just tested this again and we've got the 2016.3.2 packages correctly available now from repo.saltstack.com. Thanks for letting us know @amontalban.

[code]

And the versions report:

[code]

[2016-09-02 19:08] #943 closed, assigned to nobody

[2016-09-02 19:22] tjyang commented on #941
@thatch45, thanks for the update and info.

One of my 5.5 vc VM appliance is 11SP2, not 11SP4.

[code]

follow the for 11 and I got the following error

[code]

[2016-09-02 19:23] thatch45 commented on #941
Looks like tornado is not installed, do you have the repo added to zypper? Is the python-tornado rpm installed?

[2016-09-02 19:37] tjyang commented on #941
I will create vmware 5.5 test VM for this testing effort, to avoid messing up my vcenter VMs.

[2016-09-08 16:10] rallytime opened #949 "Properly deprecate -G option, don't just remove it."
### Description of Issue/Question

The `-G` option was removed in #945. However, we should still allow the -G option to work by providing a way for it to still work as-is with a warning message that it will be removed in the near future.

We should make sure this gets fixed before we release a new stable version of the bootstrap script. #945 is not in the current stable release, and we don't want

[2016-09-08 21:15] #917 closed, assigned to rallytime

[2016-09-08 21:40] #908 closed, assigned to nobody

[2016-09-12 17:06] justinta opened #952 "Bootstrap puts keys in wrong place on FreeBSD when -c is passed"
### Description of Issue/Question

When bootrapping FreeBSD and passing `-c /tmp/somedir/` for the keys, the keys get placed in `/etc/salt/pki` instead of `/usr/local/etc/salt/pki`. This causes issues when bootstrapping via salt-cloud.

Replaces https://github.com/saltstack/salt/issues/36197
### Setup

Create some keys in a tmp dir to pass in with -c
### Steps to Reproduce Issue

`sh install_salt.

[2016-09-12 17:28] fizmat opened #953 "Fails on Arch with -j or -J because of python3 default"
### Description of Issue/Question

When running on Arch with -j or -J there is an error, and another error when reporting the first one.

What actually happens:
all libraries are installed on python2 (correctly) by salt-bootstrap
python is a symlink to python3 on Arch.
__overwriteconfig() uses python -c "~code~"
python3 does not have yaml installed, there's an error
when reporting the error there

[2016-09-12 17:54] rallytime commented on #953
Thanks for finding and fixing this issue @fizmat! I'll close this since I just merged in your fix.

[2016-09-12 17:54] #953 closed, assigned to nobody

[2016-09-12 22:39] #952 closed, assigned to justinta

[2016-09-14 10:19] kung-foo opened #956 "install_ubuntu_git_post() copies rpm service def"
### Description of Issue/Question

[install_ubuntu_git_post](https://github.com/saltstack/salt-bootstrap/blob/v2016.08.16/bootstrap-salt.sh#L2592) copies `/pkg/rpm/salt-${fname}.service` rather than `/pkg/deb/salt-${fname}.service`

Not sure if this is intentional.

Also (though this is probably a salt issue) `pkg/salt-minion.service` and `pkg/deb/salt-minion.service` are different.
### Versions a

[2016-09-14 13:08] pavlod opened #957 "/etc/salt/minion is not updated"
### Description of Issue/Question

Bootstrap script deny to overwrite /etc/salt/minion because of that default config is used, and second salt key generated. As far as salt-master don't know about new key, minion became unmanaged.
### Setup

[code]
### Steps to Reproduce Issue

[code]

Also tried -F and -K and option, same result:

[code]
### Versions and Systems

[code]

[code]

[2016-09-14 16:03] rallytime commented on #956
Good catch @kung-foo. We need to fix that up. Should be quick. Thanks!

[2016-09-14 20:40] oz123 opened #959 "multiple keys are generated despite invocation with "-i minion1""
I am invoking the bootstrap script as the following:

`sudo sh bootstrap_salt.sh -i ${minion_id} stable 2015.8`

The ${minion_id} is replaced by `terraform apply`.

When the EC2 is created it is automatically joined the cluster. However, when I list the keys on the master
I see that the minion has a key which was generated by script with the correct name, but also with the hostname given by amazon

[2016-09-15 08:01] oz123 commented on #959
So in case somebody else is interested, I made a small script based on https://github.com/saltstack/salt/issues/13141 to remove the dead keys:

[code]

Or you can use:  [salt-run manage.down removekeys=True](https://docs.saltstack.com/en/2015.8/ref/runners/all/salt.runners.manage.html#salt.runners.manage.down)

[2016-09-16 11:45] NiteshSaxena opened #960 "Not able to run Saltstack service on minion"
I've an issue which isn't quite clear of if it's an issue with Vagrant or an issue with salt-bootstrap,
Can somebody help me solve it.
This is the link to issue on Vagrant project with relevant information: https://github.com/mitchellh/vagrant/issues/7806

[2016-09-19 13:04] ghost opened #961 "Size mismatch errors when using apt-cacher"
### Description of Issue/Question

Hi,

I'm using Ubuntu apt-cacher to decrease network traffic and prevent all servers having internet access.
But that cause a Size mismatch error on updating different versions of salt packages.

apt-cacher isn't storing source information of the packages. And because the salt packages for all versions (12.04, 14.04 and 16.04) have the same name (e.g salt-common_

[2016-09-19 18:21] #941 closed, assigned to rallytime

[2016-09-19 22:11] rallytime opened #962 "Don't Exit if systemsmanagement_saltstack already exists on Suse installs"
### Description of Issue/Question

When running the bootstrap script more than once on a suse-based machine, the bootstrap script will exit if the systemsmanagement_saltstack repository is already present on the machine. We should be checking for the presence of the repo first, and only add it if it isn't found.

I have run across this in testing various suse distros, but kept forgetting to file a

[2016-09-19 22:20] #949 closed, assigned to nobody

[2016-09-19 22:23] rallytime commented on #949
Fixed via #958, which displays a warning that the option will be removed in a future release.

Since the original `-G` option only switched the cloning repo url from `git://github.com/saltstack/salt.git` to `https://github.com/saltstack/salt.git`, and the `https` version is now the default, we don't need to do anything other than warn.

[2016-09-19 22:31] rallytime commented on #960
Hi @NiteshSaxena - I am not very knowledgable about windows issues, or how that plays with vagrant, but I _think_ you need to be using the `bootstrap-salt.ps1` script instead to install salt on a windows box?

@twangboy Do you have any more information to add?

[2016-09-19 22:37] rallytime commented on #957
Thanks for letting us know @pavlod! I will take a look!

[2016-09-19 22:52] thatch45 commented on #961
Yes, the package should contain the name as well, we will look into it

[2016-09-19 23:03] rallytime commented on #961
I think this issue is more of a [salt-pack](https://github.com/saltstack/salt-pack/) issue rather than a salt-bootstrap issue, since all bootstrap is doing is installing the packages that we're building via salt-pack and hosting on repo.saltstack.com.

I have opened https://github.com/saltstack/salt-pack/issues/147 in the salt-pack repo to replace this issue. @KundK Please see the new issue to tra

[2016-09-19 23:03] #961 closed, assigned to nobody

[2016-09-19 23:05] rallytime commented on #921
This is because we need to be able to clear out any stale `.pyc` files before performing the downgrade. I am not sure how to do that off the top of my head presently, but that is why this issue is happening between versions.

@s0undt3ch Have we run into this issue before? Seems like we likely have, but maybe never tested for it.

[2016-09-20 19:45] twangboy commented on #960
@UtahDave ^^^

[2016-09-21 10:23] NiteshSaxena commented on #960
@rallytime, Thanks for your response.
I did manage to solve this issue, I am not completely sure but I think the problem was bootstrap-salt.sh and parameters passed to it.
My updated Vagrantfile is as below:

[code]

[2016-09-21 15:39] rallytime commented on #960
Oh, my apologies. I wasn't looking closely enough at your original vagrant file and I assumed you were doing something differently. I am glad you got it working! I'll close this for now.

Let us know if you have any other questions/concerns around this issue and I will gladly re-open it.

[2016-09-21 15:39] #960 closed, assigned to nobody

[2016-09-23 20:45] rallytime commented on #898
Since we're not hosting Fedora packages at repo.saltstack.com and instead are submitting the builds straight to the Fedora build system, we don't really need to **add** support for this. Running the bootstrap script as it stands right now will install 2016.3.3 on Fedora 24.

@meggiebot My question then for this issue is what we want to do with the copr references that are still left in the bootstr

[2016-09-23 20:49] rallytime commented on #898
Also, I tested the install just to double check on Fedora 24 add it works correctly:

[code]

[2016-09-26 12:31] msiebeneicher commented on #908
@rallytime: sry for the late response: yes, currently we don't had another issue related to this topic. But until the packages will not compiled under FreeBSD 10.1 it's possible to run into this issue again, i guess.

[2016-09-26 15:59] rallytime commented on #908
@msiebeneicher No problem at all. I agree that it is possible to run into this issue again, and please let us know if it happens again. @cedwards Is our FreeBSD packager, so I think now that he knows of this issue, he can adjust his process accordingly so you don't bump into this again.

Thanks again for letting us know!

[2016-09-27 17:34] #962 closed, assigned to rallytime

[2016-09-27 17:43] rallytime commented on #956
@kung-foo Please see #965.

[2016-09-27 18:05] #695 closed, assigned to dmurphy18

[2016-09-27 18:47] rallytime commented on #644
Hi everyone - does a newer version of the bootstrap script work any better for you guys? I believe you should be able to try installing without -P now as the bootstrap script has moved over recently to using repo.saltstack.com packages as well as not needing to use pip installations for newer versions of zeromq.

I don't have an armhf box handy to test this on, but I'm interested in what the state

[2016-09-27 20:23] rallytime commented on #652
It seems these images change somewhat frequently...I tested this again just now and it is working as expected. Closing.

[2016-09-27 20:23] #652 closed, assigned to nobody

[2016-09-27 20:41] rallytime commented on #764
Hi @sjorge and @BretFisher Can you give #966 a try? I think that should fix this up for you when passing `-P` in with the git installation. I don't have a SmartOS box handy currently to test this on, but I think that will fix this up nicely for you guys.

Please let me know if that fixes it for you and if so, we can get that merged in.

[2016-09-27 21:55] rallytime commented on #609
This is happening because there isn't a specific flag to install salt-api packages. The Oracle Linux install functions call out to the `install_centos_stable` function, which looks like this:

[code]

There isn't a flag currently in the bootstrap script that handles installing the salt-api package. This needs to be added for all distros that split out the salt-api package, which I believe is most

[2016-09-28 07:29] sjorge commented on #764
@rallytime works for me now.

[2016-09-28 13:49] rallytime commented on #764
Excellent!

[2016-09-28 13:58] #764 closed, assigned to rallytime

[2016-10-06 08:01] tjyang opened #968 "RFE: Support rpm/deb package download only operation"
### Description of Issue/Question

For some minions sitting behind firewall that have minion ports opened but not http/https connection to the internet, this download only will all them to have smooth upgrade.
### Setup

This is a RFE to add this new feature.
### Steps to Reproduce Issue

[code]
### Versions and Systems

./bootstrap_salt.sh -- Version 2016.08.16

[2016-10-09 13:47] kung-foo commented on #956
LGTM

[2016-10-10 14:52] #956 closed, assigned to rallytime

[2016-10-10 17:01] rallytime commented on #898
Yes.

To install versions of Salt that don't have packages for Fedora, the user will need to specify a git tag and install using the `git v201x.x.x` method.

I think that sounds good. I don't think we need to tell the user where to install the packages from, as the bootstrap script will figure that part out on it's own. However, I think we probably will want to note that installing from the git ta

[2016-10-10 17:19] rallytime commented on #796
@Titerote Just a bump here to check if you saw my comment above.

[2016-10-10 17:20] rallytime commented on #968
@tjyang Would the -R option work for you? This was added somewhat recently and might be a good work around here. Note that only CentOS/RHEL is supported here, but other distros could be added as needed.

[2016-10-10 19:02] tjyang commented on #968
--downloadonly will be still needed for machine without salt-minion installed.

" -R  Specify a custom repository URL. "  Looks like a way to upgrade  when salt-minion got installed already.

One would have to create a file based local repo using existing cp.\* command by  copy the content of  repo.saltack.com into a minion's file system and create a repo like "file:///.." in  following for Oracle

[2016-10-10 22:56] #898 closed, assigned to rallytime

[2016-10-11 23:38] jeremywillden commented on #695
Not exactly solved, but found the source of the problem that I outline below.  Turns out the minions I was testing this on have a distribution of Raspbian older than the current one.  While it would be nice if the dependencies existed in the older distro, it will be easier to upgrade the distro than try to get the newer version of salt to work on the older distro (I think).  Leaving the rest of th

[2016-10-14 22:43] tjyang opened #971 "supporting RHEL 6 workstation distribution"
### Description of Issue/Question
### Setup

Not able to bootstrap on RHEL Enterprise Client 5 OS
Also "RHEL Enterprise Client 6 "
### Steps to Reproduce Issue
[code]
[code]

### workaround
1. add following as /etc/yum.repos.d/stalstack.repo
[code]
2. run `yum update salt-minion`

[2016-10-17 12:19] tjyang opened #972 "Ubuntu 14.10 is not supported"
### Description of Issue/Question

I have a few ubuntu 14.10 and they can't be bootstrapped by ./bootstrap_salt.sh
### Setup

(Please provide relevant configs (Be sure to remove sensitive info).)
### Steps to Reproduce Issue

<snipped>
     W: Failed to fetch https://repo.saltstack.com/apt/ubuntu/14.10/amd64/latest/dists/trusty/main/binary-amd64/Packages  HttpError404

[code]

<snipped>
### Versio

[2016-10-21 14:34] frogunder opened #973 "2016.3.4: python-futures not installed on CentOS7 when using bootstrap install"
When installing salt on a centos7 machine using the bootstrap script, futures does not get installed.

See issue: saltstack/salt-bootstrap#917

When installing salt on a ubuntu14 machine using bootstrap, futures gets installed.

[code]

[code]

[code]

[2016-10-21 16:35] rallytime commented on #973
This is already fixed with #948.

[2016-10-21 16:35] #973 closed, assigned to rallytime

[2016-10-22 10:35] nvtkaszpir opened #974 "Bootstrap fails on Amazon ECS-optimized AMI 2015.09"
### Description of Issue/Question

Bootstrap fails on Amazon ECS-optimized AMI amzn-ami-2015.09.g-amazon-ecs-optimized, because AMI does not have yum-utils installed.
### Setup

Just spawn any Instance with specific AMI from the list below:
us-east-1: ami-33b48a59
us-west-1: ami-26f78746
us-west-2: ami-65866a05
eu-west-1: ami-77ab1504
eu-central-1: ami-341efb5b
ap-northeast-1: ami-b3afa2dd
ap-sout

[2016-10-22 14:00] rallytime commented on #974
Thanks @nvtkaszpir for letting us know! I'll get that fixed up.

[2016-10-24 09:15] forty8bits opened #976 "Ubuntu 16.10 Unsupported"
### Description of Issue/Question

Ubuntu 16.10 was released earlier this month; salt-bootstrap (understandably) fails to run successfully, but support should likely be added.
### Steps to Reproduce Issue

Simply run `curl -L https://bootstrap.saltstack.com | sudo sh` on a fresh install of any variant of Ubuntu 16.10 (Ubuntu Mate in my case).
### Versions and Systems

Output of `sudo find /etc/ -n

[2016-10-24 16:11] rallytime commented on #972
Hmm...Yeah we don't package 14.10 as it is not part of our [supported distros](http://saltstack.com/wp-content/uploads/2016/08/SaltStack-Supported-Operating-Systems.pdf), but we do list `14.x` on the [README](https://github.com/saltstack/salt-bootstrap/blob/stable/README.rst#ubuntu-and-derivatives) of this repo.

Thanks for filing this. I wonder if we could update the bootstrap script to try to in

[2016-10-24 16:23] rallytime commented on #971
Ah, thanks again @tjyang. I think this should be easy to resolve.

[2016-10-24 16:26] rallytime commented on #959
@oz123 Apologies for not commenting on this sooner. I meant to look into it, but then time got away from me. We definitely should look into getting this cleaned up. Thanks for posting your work-arounds as well.

I'll put some labels on this for now.

[2016-10-24 16:28] rallytime commented on #976
Ah, good reminder @forty8bits! Thanks!

[2016-10-24 16:34] rallytime commented on #554
Closing for lack of response. Though I think this is also getting at the same idea as the feature request in #600, so I'll close this one as a duplicate.

[2016-10-24 16:34] #554 closed, assigned to nobody

[2016-10-24 16:53] rallytime commented on #974
@nvtkaszpir Can you give the change in #977 a try? I was having a hard time getting this particular instance up and running on AWS, so testing that change would be greatly appreciated.

[2016-10-24 17:34] nvtkaszpir commented on #974
It's not gonna work, see line 4099 - there's yum-config-manager used there.
While __PACKAGES are used after this.

So two options are available:
- (easy)  add yum install yum-utils in line 4091 before ENABLE_EPEL_CMD
  or
- (more work needed) change the script so that it does not use /usr/bin/yum-config-manager in line 4099 and 4102

[2016-10-24 18:59] rallytime commented on #974
@nvtkaszpir Ah, Ok. Please see the new commit I added to #977.

[2016-10-26 11:14] tjyang commented on #971
@rallytime , I forgot to report that there is "Red Hat Enterprise Client 6.x" also. Beside "5Workstation", "6Workstation" is also needed.

[2016-10-26 15:01] rallytime commented on #971
Ah, good to know. Thanks @tjyang!

[2016-10-28 15:48] rallytime opened #982 "[2016.10.25] Git Installs fails for 2015.5.x releases with -M"
Install step:

[code]

Output with failure:

[code]

The master doesn't start and when trying to start it manually, this happens:

[code]

This happens on the most recent stable version:

[code]

The bootstrap script is working fine when installing salt on the 2015.8 and 2016.3 branches. This result is the same when attempting to use Ubuntu 14 and CentOS 7.

When switching back to the previous rel

[2016-10-31 13:30] afletch opened #983 "Broken on CloudLinux"
Salt-bootstrap no longer works on Cloudlinux because a check for a symlink of `/etc/redhat-release` in `__gather_linux_system_info()` means it's no longer identified as redhat, and there is no cloudlinux-specific support in salt-bootstrap.

On CloudLinux, the file `/etc/redhat-release` is a symlink to `/etc/cloudlinux-release`
The file `/etc/os-release` also exists, but does not contain the expect

[2016-10-31 21:16] tjyang opened #984 "Not able to bootstrap CentOS 5.5"
### Description of Issue/Question
Not able to bootstrap centos 5.5
### Setup
I am hoping to be able install salt-minion without upgrade the CentOS 5.5 OS

### Steps to Reproduce Issue

[code]

### Versions and Systems
(`salt --versions-report`, `bootstrap-salt.sh -v`, system type and version,
cloud/VM provider as appropriate.)

[2016-11-04 02:00] briancappello commented on #778
@bissei There's an easy work-around to get this working. You just gotta fool the script into thinking you're running Arch (because, in actuality, you are):

[code]

[2016-11-10 23:35] brianholland99 opened #985 "Python YAML module may not be present when creating YAML from JSON."
### Description
When not obtaining Salt from "git" and either "-J" or "-j" arguments are passed, an "import error" occurs if the appropriate Python YAML module was not already present before running the bootstrap.

### Setup using Vagrant
Vagrantfile

[code]
### Steps to Reproduce Issue

The steps below should reproduce the issue. Replacing "ubuntu16" with "centos7" should show the same thing on C

[2016-11-14 01:57] brianholland99 commented on #985
I got a chance to look a bit more into the code.

`config_salt()` calls `__overwrite_config()` to do the actual conversion.  It does assume that the Python YAML module is loaded.  It does do the check when picking the Python to call, but then calls the one that it chose.  It never verifies that the `good_python` has YAML module.

[code]

The next thing that it does is call the in-line script using

[2016-11-14 18:36] rallytime commented on #984
Hi @tjyang - Hm. Can you tell me which version of the bootstrap script you're using? And can you also run the command with `-D` so we can see the debug logs?

[2016-11-14 19:14] tjyang commented on #984
Hi @rallytime , I can't provide the needed information anymore since that server had been upgraded to 5.11 (from 5.5).  After the upgrade the boot strap script worked.  You can comment and close this thread if you want.

[2016-11-14 19:29] rallytime commented on #984
Ok, sounds good. I'll close it. If this pops up for anyone else, please leave a comment with the answers to the questions in my post above and we can take another look.

[2016-11-14 19:29] #984 closed, assigned to nobody

[2016-11-14 20:45] rallytime commented on #983
Thanks for the detailed report here, @afletch. It would be good to get this fixed.

It sounds like this worked on older versions of the bootstrap script, yes?

[2016-11-14 21:01] afletch commented on #983
Yes, this definitely used to work as we had it in our deployment process.

[2016-11-14 21:02] rallytime commented on #985
@brianholland99 Thank you very much for filing this bug. You're right that we're not checking if the imports are there before running the python call. I wrote this based on the assumption that salt should be installed (with all of it's needed deps, which includes yaml) before we run the config overwrite functions. I forgot to consider passing the `-c` without running this through git tags, and ass

[2016-11-14 21:09] rallytime commented on #982
This is due to PR #951. M2Crypto was removed as a hard dependency in Salt starting with the 2015.8 releases, so trying to install a 2015.5.x release with a git tag will cause this error. Since the 2015.5 branch is now in [extended life support](https://saltstack.com/product-support-lifecycle/) users should just use the `-p <package-name>`  to install m2crypto packages.

[2016-11-14 21:09] #982 closed, assigned to rallytime

[2016-11-14 21:54] rallytime commented on #983
@afletch Ok - sorry about the breakage. Do you happen to know what version of the bootstrap script this broke on? If this broke on the latest release (2016.10.25), but was working on the release before that (2016.08.16), I think #932 might have had something to do with it.

Can you also post the output of `lsb_release -si` here? Is it the same as what is in `/etc/redhat-release`? I don't have a Cl

[2016-11-15 10:19] afletch commented on #983
I'm afraid I don't have any useful timeline of when this broke.

[code]

I can spin you up a CloudLinux machine if this helps.

[2016-11-15 16:30] rallytime commented on #983
@afletch I have made a small attempt to add CloudLinux support to the bootstrap script in #986. Note that this is untested. If you could give that a try and see if it works, that would be great. Or, if spinning me up a machine to test it with is easier, that also works. Whichever is easier for you.

That PR change _might_ work as-is, though I am not sure if it will still have the same trouble you

[2016-11-15 17:26] afletch commented on #983
Unfortunately the outcome is still the same. I've emailed you over some details of a CloudLinux machine.

[2016-11-16 17:15] rallytime commented on #983
I beleive this is fixed after speaking with @afletch offline, but I'd like to hear the final word before closing this. I'll marked this as "Fixed Pending Verification" for the time being.

[2016-11-18 13:44] afletch commented on #983
Thanks to @rallytime's efforts on this, this now works on CloudLinux 7. Much appreciated.

[2016-11-18 13:54] rallytime commented on #983
@afletch Awesome! I'll get that PR merged in. :)

[2016-11-18 13:55] #983 closed, assigned to rallytime

[2016-11-18 14:01] #974 closed, assigned to rallytime

[2016-11-18 16:02] vutny commented on #985
@rallytime This should be resolved by PR #987
@brianholland99 Please give it a try.

[2016-11-18 16:04] rallytime commented on #985
Ah nice, thanks for grabbing that @vutny, as always. :)

@brianholland99 Please let us know how that fix goes.

[2016-11-18 18:40] brianholland99 commented on #985
It does solve the YAML import issue. However, it does create a slight issue. It will leave some residue (an unaccepted unintended minion name) on the master in at least one scenario.

 I believe that a likely reason that the configuration was originally done prior to installation is due to distributions such as Ubuntu. It seems unfortunate, but for some reason the Ubuntu ones seem to start daemons

[2016-11-21 16:07] vutny commented on #985
Okay, there was a silly attempt to fix larger issue on Friday's afternoon :smile:
My shame, I forgot about auto-starting services default policy on Debian and derivatives.

I think we could resolve this by configuring Salt right after the dependencies installation, and just make sure that Python YAML module installed prior to the config step.
This requires patching of several distro dependencies i

[2016-11-21 17:57] brianholland99 commented on #985
That sounds like a reasonable approach, but is a lot more work than it would be without the auto-starting services.  I only recently started installing Debian distros and still dislike that policy of services being run before locally customizing their configurations.

[2016-11-22 10:48] vutny commented on #985
@brianholland99 I've amended my PR to cover Debian distros.
Also, added Python YAML module to the dependencies on RHEL, Arch Linux and FreeBSD. Other systems have been already covered.

As a side note: that Debian auto-starting by default policy is really a legacy of the times before mature configuration management tools (such as Salt) existed. Combining it with the power of debconf and Debian Ins

[2016-11-22 20:56] brianholland99 commented on #985
@vutny The new code does properly work configuring the JSON argument prior to installing the Salt utilities and solves the real issue that I had wanting to pass JSON from Vagrant and can pass the minion ID in JSON as well as the master configuration. The YAML dependencies work in the tests that I tried.

However, the test example that I gave above still cause an issue. I built the test trying to d

[2016-11-22 21:13] rallytime commented on #985
I haven't finished reading though all of this yet, but one thing to note is that there is already an open issue about `-i` generating multiple keys that I haven't had a chance to look into yet. Please see issue #959.

[2016-11-22 22:01] brianholland99 commented on #985
@rallytime The #959 may very will be the issue that still shows up even after the patch by @vutny and is separate from the config_salt() and install order.  I will comment on that ticket as to what the issue may be.  If it is the same issue, then the remaining issue I have (unrelated to the YAML) could be handled by that ticket.

[2016-11-22 22:08] brianholland99 commented on #959
After being pointed to this ticket by @rallytime , this may be related to the order that the minion_id file and the Salt install is done.

The master configuration file and the minion_id files are dropped after the install is performed, but before the bootstrap script starts the daemons.  However, on Debian derivatives, the install actually starts the daemons and the default uses the FQDN, which w

[2016-11-23 04:36] oz123 commented on #959
@brianholland99, the minion and the master are both Ubuntu. One work around for this problem in debian by creating minion_id and minion config files before the actual  installation of salt (e.g. populating the them with a user_data.sh script on AWS), like you suggested..
Further there is a documented work around how to [install a package in Debian, preventing the daemon start](https://major.io/201

[2016-11-23 08:48] vutny commented on #985
@brianholland99 Thank you for deep investigation and testing!

The Master address (`-A`) and Minion ID (`-i`) are definitely should be configured prior to Salt packages installation, because these options are naturally a part of configuration step. Good point about post-installation functions, it's better to keep them in the place where they are now.

I've updated my PR accordingly.

[2016-11-23 12:50] vutny commented on #959
@oz123 - Thanks for the confirmation. I believe I've fixed this issue in PR #987 with great help from @brianholland99.

Creating the `policy-rc.d` file is a valid and well known approach, but it should be done carefully and  only when user explicitly wants changing the default behavior of his/her system. Previously I had plans to implement this solution, so maybe will try to get back to it.

[2016-11-23 13:16] vutny commented on #957
I think this issue is related to #985 and #959.

@pavlod It should be fixed in PR #987. Could you please give it a try and test in your environment?

[2016-11-23 13:35] vutny commented on #588
@gdm85 I think this issue finally has been resolved. Salt packages for SUSE are hosted at that distro's repository and they are signed with appropriate GPG key bundled with OS.

OpenBSD installation function has been rewritten to get mirrors list from local configuration instead for plain HTTP URL.

I believe this can be closed. Thanks again @gdm85 for raising this.

[2016-11-23 16:12] rallytime commented on #588
I think that sounds good @vutny. The only thing I would say is that if @gdm85 is okay with closing this, we should clean up the `#FIXME` comments. These could be converted to comments that say what you've stated above.

[2016-11-23 16:27] rallytime commented on #968
The -R option doesn't mean that the minion is already installed. It means that if you pass a custom repository URL where the files from repo.saltstack.com exist, then you could point to this server instead of repo.saltstack.com.

You would have to create a local repo _somewhere_ . This option is to aid in setups where outside access is not possible, but you could still run bootstrap like normal an

[2016-11-23 16:27] rallytime commented on #968
@tjyang ^ I just wanted to expand on how -R works for now, since that is an option that is already available. I would have to think on the "download only" option.

[2016-11-23 16:29] rallytime commented on #968
@s0undt3ch You might have some ideas here as well.

[2016-11-23 16:40] vutny commented on #588
@rallytime Yeah, there is only one "FIXME" about SUSE left in current develop. I will address this in a PR soon.

[2016-11-23 16:42] vutny commented on #957
FYI @rallytime

[2016-11-23 17:43] brianholland99 commented on #985
@vutny  I looked at your code changes and reran tests. Both issues seem to be resolved on the platforms that I tried.

Thanks.

[2016-11-23 18:27] rallytime commented on #985
Thanks for testing that @brianholland99. I've merged in the change, so I'll close this out.

[2016-11-23 18:27] #985 closed, assigned to nobody

[2016-11-23 18:29] rallytime commented on #959
@oz123 After commenting on #985, @brianholland99 says that the `-i` issues are fixed for them. I think this will be resolved for you as well with PR #987, which I just merged into develop.

@oz123 Would you be able to test this and let us know if this is resolved for you?

[2016-11-23 18:30] rallytime commented on #957
@pavlod I have merged the fix in from @pavlod into the develop branch. Please let us know if this is resolved for you now.

[2016-11-23 19:40] oz123 commented on #959
@rallytime, i will try to get to it next week. I have too many open projects now. If I don't answer until the end of next week, feel free to nag me.

[2016-11-23 20:23] gdm85 commented on #588
Oh, very nice work! Yes I agree with @rallytime, then this could be closed. The issue was indeed initially opened to raise awareness aside from the actual problems. I'll leave it to you guys to close it.

Thanks all!

[2016-11-27 08:49] gdm85 commented on #588
I noticed there is a single `FIXME` left, about this URL: http://download.opensuse.org/repositories/systemsmanagement:saltstack

Which returns a 404; is this expected?
**Edit:** there seems to be a typo, but since multiple similarly-named directories are being listed there I cannot guess which one would be the correct one.

[2016-11-28 21:45] rallytime commented on #588
@gdm85 The 404 error is not expected. I wonder if they have changed something on their end. I'll look into it. Thanks for checking!

[2016-11-28 22:01] rallytime commented on #588
@gdm85 Please see PR #990 and let me know what you think.

[2016-11-29 12:30] vutny commented on #724
Unfortunately, on RHEL/CentOS 5 the EPEL repo is still required for `git` installations, because there is no `git` package available in the base repos.

[2016-11-29 16:35] #588 closed, assigned to rallytime

[2016-11-29 17:23] tobiasgies commented on #908
Hi @rallytime and @cedwards, I'm a colleague of @msiebeneicher.

It seems we have a regression of this issue. When trying to install a package on a FreeBSD 10.2 box that uses the pkg built by SaltStack, I receive the following error message:

[code]

"utimensat()" was added in FreeBSD 10.3, and the pkg in the SaltStack repo is indeed built with FreeBSD 10.3:

[code]

Can we get pkg working in Free

[2016-11-29 19:20] bapt commented on #908
you are using a pkg (the binary) version which is built on 10.3 not on 10.2 which explains your issue.

[2016-11-29 21:01] cedwards commented on #908
So I just started work on building a package for 10.2 and I was met with
this:

WARNING: FreeBSD 10.2-RELEASE is approaching its End-of-Life date.
It is strongly recommended that you upgrade to a newer
release within the next 1 month.

EOL for 10.2 is the end of this year... just sayin'.

If you need to stay on 10.2 might I instead suggest easily building your
own package(s) with poudriere.
https:

[2016-11-29 21:04] wes-novack opened #992 "salt-bootstrap v2016.10.25 fails to install salt-minion git v2016.3.3 on Ubuntu 16.04"
Description of Issue/Question

salt-cloud 2016.3.4 (using salt-bootstrap v2016.10.25) fails to install salt-minion git v2016.3.3 on Ubuntu 16.04 when using a salt-cloud profile that contains the following line:
script_args: git v2016.3.3

If you use "script_args: git v2016.3.4", it works fine!

salt-cloud error output:

[code]

Setup

salt-master and salt-cloud version 2016.3.4 running on CentOS L

[2016-11-29 21:42] bapt commented on #908
yes 10.1 and 10.2 are EOL at the end of the year.

[2016-11-30 15:01] vutny commented on #524
In the latest stable version (2016.10.25) we construct reliable URL for EPEL release package download, such as:
[code]

It works almost 100% of time because the RPM file is downloaded directly from Fedora's server, not from a mirror.
I think this issue has been resolved and could be safely closed. FYI @rallytime

[2016-11-30 17:15] gravyboat commented on #524
Almost 100% of the time isn't 100% of the time (in the event the Fedora servers are up). Users need to be able to always get the latest release. It was 100% for me until I ran into this issue almost 2 years ago. The mirrors should still be used and then fall back to the base fedora servers only after they fail. Downloading directly from Fedora can be really slow.

[2016-12-01 09:47] vutny commented on #524
Thanks for the feedback! I agree, but I believe we really can't provide the guarantee of any level for external dependency, such as EPEL... Some workarounds may be applied though.

Despite that, nowadays this has been improved a lot, because we download only a **small release package** - 15KB! (which is always up-to-date, by the way) from Fedora's highly available upstream server.
`yum` will still

[2016-12-01 17:12] gravyboat commented on #524
@vutny I'm fine with that. Proposed improvements are a good idea and should provide enough redundancy to make this a non-issue.

[2016-12-01 18:25] drawsmcgraw commented on #524
@vutny +1 from me for what it's worth to you. I've been bitten by this behavior more times than I'd like to admit.

[2016-12-02 23:17] s0undt3ch commented on #968
The `rsync` plus `-R` seem to be the right options.

Installing from locally downloaded packages withough a repo serving them will most likely require its own set of install functions, and then we have to account for packages which include version information on the name and we would end up quite often out of sync....

[2016-12-02 23:53] heewa commented on #992
I'm seeing this too. Here's the tail end of the debug output from the script from the develop branch:

[code]

I don't fully understand the script, nor do I know enough system stuff about Unix or Ubuntu to _really_ diagnose, but from the first two lines of that output you can see that it's going into the first if-block in `install_ubuntu_git_post()` which is taking the `systemd` path, right? But t

[2016-12-07 16:19] oz123 commented on #959
@rallytime sorry for the late reply, I tested it, and it seems to work.

[2016-12-07 16:19] #959 closed, assigned to nobody

[2016-12-07 16:23] rallytime commented on #959
Oh, no worries! Glad it's all fixed up for you now.

[2016-12-14 01:00] boyonwheels opened #996 "Bootstrap script fails to find py-salt package on FreeBSD 10"
### Description of Issue/Question

The boot-strap script is failing on my most recent install. It has worked without issue in the past.

### Setup
New install of FreeBSD 10.3-RELEASE-p11 system.

### Steps to Reproduce Issue
Run the bootstrap script as instructed.

[code]

The script errors out on the following bits of code because there are no `sysutils/py-salt` packages in any of the repositorie

[2016-12-20 18:48] ev0rtex opened #999 "Git install fails on Debian 8 (jessie) with -P"
### Description of Issue/Question

I am using Vagrant to bring up the `debian/contrib-jessie64` box and installing using the `git` method fails when I pass `-P` to allow pip-based installations.

### Setup

**Vagrantfile**
[code]

**provision/minion**
[code]

### Steps to Reproduce Issue

When I run `vagrant up` with `salt.bootstrap_options = "-P -D"` to get debug output I see the following:
[code

[2016-12-20 23:14] rallytime commented on #976
@forty8bits The installation for 16.10 has been fixed in #998. There is some clean up to do, as mentioned in the PR, but downloading the latest develop version of the bootstrap script should help you now. :)

[2016-12-20 23:45] rallytime commented on #996
@boyonwheels Thank you for reporting this error. I am able to reproduce it as well. While I agree that placing the package name directly in the script like that is not the correct solution here (but a good workaround for now!), I am not sure what is the right solution off the top of my head as I'm not a heavy freebsd user.

[2016-12-20 23:48] rallytime commented on #992
Thanks for reporting this issue @wes-novack and for the helpful debugging information @heewa. We'll have to look into this.

[2016-12-20 23:50] rallytime commented on #999
Thank you for this helpful bug report @ev0rtex. I think this should be easy to fix up.

[2016-12-21 12:18] forty8bits commented on #976
Looks good @rallytime; the only remaining issue is lack of repositories for 16.10 now. The script currently sets up the broken entry `deb https://repo.saltstack.com/apt/ubuntu/16.10/amd64/latest xenial main`. Installing from git works; it just leaves apt in a broken state.

[2016-12-21 18:13] rallytime commented on #976
Yeah the broken entry there is what needs to be cleaned up, which I have done in #1001. That change will add a link to yakkety instead of xenial for 16.10 like so: `deb https://repo.saltstack.com/apt/ubuntu/16.10/amd64/latest yakkety main`. This repo link will 404 for now, but at least we don't have the xenial link in there. If you run the script without a git version, 2016.3.1 will be installed f

[2016-12-21 18:45] rallytime commented on #972
@tjyang I discussed this with @thatch45 and we have decided that we won't be fixing this. 14.10 is EOL from Ubuntu and has been for over a year. Our policy is to only support LTS releases from Ubuntu, and 14.10 does not fall under that policy. I have updated the bootstrap script in #1002 to only support 12.04, 14.04, and 16.04 (with best-effort support for 16.10) as discussed in #976.

With those

[2016-12-21 18:58] rallytime commented on #968
@s0undt3ch Yeah, I agree. Perhaps the feature request here then should just be to expand the `-R` functionality to work with Debian/Ubuntu (since only RedHat-based distros are supported currently).

[2016-12-21 18:59] rallytime commented on #957
Since we haven't heard back here, and I am fairly certain this is fixed, I will close this. If more work should be done here, let us know and we will gladly take another look!

[2016-12-21 18:59] #957 closed, assigned to nobody

[2016-12-21 19:00] #796 closed, assigned to nobody

[2016-12-21 19:08] rallytime commented on #646
Hi @gruaig Apologies for never actually responding to you issue here. I am not sure how I missed commenting on this.

I was just going through some of our older issues and came across this. The 15.04 release has reached EOL with Ubuntu, and as such we are no longer supporting it with the bootstrap script or Salt packages either.

I have updated the bootstrap script and README to be more helpful wi

[2016-12-21 19:17] rallytime commented on #600
@hubez The `-j` option should be able to handle this nicely for you. The `-j` option allows you to pass in a custom minion configuration file as a json dict, which you can use to pass the the two masters in:
[code]

See #841 for the change. Note that the option will write over your existing minion config (but makes a reasonable attempt to create a .bak file).

[2016-12-21 22:15] rallytime commented on #999
@ev0rtex Please give #1003 a try. That should fix this up for you.

[2016-12-21 23:58] hubez commented on #600
@rallytime: That is perfect! I never noticed the -j before.

Solved. And Thank you.

[2016-12-21 23:58] #600 closed, assigned to nobody

[2016-12-21 23:59] rallytime commented on #600
@hubez Awesome!

That is a new-ish feature, that definitely went in since you filed this. :) Glad it works for you!

[2016-12-22 04:14] ev0rtex commented on #999
@rallytime perfect...looks like that fix does solve the problem for me. Thanks!

[2016-12-22 16:10] #999 closed, assigned to rallytime

[2016-12-22 16:10] rallytime commented on #999
@ev0rtex Awesome! Glad to hear it.

[2016-12-24 03:52] boyonwheels commented on #996
My assumption is that at some point there was a FreeBSD package for py-salt that pointed at the latest stable release within Saltstack's public repo. But, at some point, that package or link was broken. So, maybe it's not so much a problem with the bootstrap script, but on Saltstack's release engineering side? However, I don't know who, or where, to follow-up on that idea.

[2016-12-24 05:21] vielmetti opened #1004 "aarch64 (arm64) not supported in 2016.11.1 distribution for Ubuntu?"
### Description of Issue/Question

I'm attempting to bootstrap `salt` on an ARMv8 (aarch64, arm64) machine running Ubuntu 16.04. It doesn't appear that there are packages built for this system, and the attempt to get it running hasn't worked yet (returns errors).

### Setup

aarch64 (ARMv8) 96-core machine at packet.net, running Ubuntu 16.04.

[code]

### Steps to Reproduce Issue
(Include debug lo

[2016-12-31 14:12] vutny commented on #992
I think this is because the `/etc/default/salt-minion` file is not installed during git bootstrap, but it is explicitly required by the `systemd` unit file. Just the error message is misleading though.

In the `2016.3.4` version the `EnvironmentFile` option was dropped.
It could be workarounded by replacing the line with
[code]
or just creating the file.

As @heewa rightly said, it was broken prev

[2017-01-01 21:31] ek9 opened #1005 "bootstrap on Arch Linux is broken due to package rename from salt-zmq to salt"
### Description of Issue/Question

bootstrap on Arch Linux is broken due to package rename from salt-zmq to salt

### Setup
Archlinux (after 2016-12-18)

### Steps to Reproduce Issue
Run bootstrap script on any recent archlinux version after  2016-12-18

### Versions and Systems
The package rename happened on 2016-12-18T13:19:01 CET with the new salt version 2016.11.1

The only salt package now is

[2017-01-03 15:57] rallytime commented on #972
The changes mentioned above are available in the current `develop` branch and will be in the next stable release of the bootstrap script. Since we won't be fixing this issue, I am going to close it. Thanks again!

[2017-01-03 15:57] #972 closed, assigned to rallytime

[2017-01-03 16:20] rallytime commented on #996
Yeah, I will need to look at this a little more closely. It is my understanding that the freebsd packages install from the freebsd port that @cedwards maintains, and the latest 2016.11.1 package is definitely there: https://www.freshports.org/sysutils/py-salt/

Unless we are doing something differently that is not documented [here](https://docs.saltstack.com/en/latest/topics/installation/freebsd.h

[2017-01-03 16:50] dmurphy18 commented on #1004
@vielmetti Sorry for the delay in replying to this issue, but most staff have been away over the Christmas/New Year break.

Salt currently only creates packages for ARM on the PI-2 and Pi-3 platforms using the Raspbian OS. The latest can be found under http://repo.saltstack.com/apt/debian/8/armhf/latest, however I just noticed that the Debian maintainers have also just accepted their build for Sal

[2017-01-04 16:18] rallytime commented on #1005
Oh, thanks for filing this @ek9 and for submitting the fix!

[2017-01-04 16:19] #1005 closed, assigned to nobody

[2017-01-04 16:24] rallytime commented on #976
@forty8bits I also have addressed the 16.10 installation version in #1002. That fix addresses the "best effort" approach we take with non-LTS Ubuntu releases: if the non-LTS repo doesn't exist yet from repo.saltstack.com, it will attempt to install the 16.04 packages instead. I have tested this and it works very well. That way 2016.11.1 (or whatever is latest stable or the version you define) will

[2017-01-04 16:41] forty8bits commented on #976
@rallytime coincidentally, I spotted that this morning and tried the bootstrap-salt.sh from your `update-ubuntu-versions` branch; worked perfectly. 👍 I guess we can close this issue once #1002 is merged.

[2017-01-04 16:43] rallytime commented on #976
Ah, perfect! Thanks for the update. I'll close this up once the PR is merged. Thanks again for your feedback.

[2017-01-04 18:15] rallytime commented on #992
@dmurphy18 Can you provide some of the answers to the questions above? I agree that this should be simple to fix, but it would be good to know if this change was intentional or not from a packaging perspective.

[2017-01-04 18:42] dmurphy18 commented on #992
@wes-novack @vutny @rallytime This is intentional, we changed how we are handling systemd in 2016.3.4 due to issues with the way we had previously been handling systemd.
see https://github.com/saltstack/salt/commit/fb6e545f78970f8e6dbbee84cccb595ab53702f1 and https://github.com/saltstack/salt/commit/540ec289545cc7a871971d436d6286ee309c2cd2 for the changes.

Also the following issues explain the or

[2017-01-04 19:19] rallytime commented on #996
I looked into this a little more closely, and I don't think this is an issue with the bootstrap script. Something seems to have changed in the way we're linking FreeBSD packages with repo.saltstack.com, or something along those lines. This was working during testing of the last stable release of the bootstrap script, but is no longer working with this same version of the bootstrap script.

If we c

[2017-01-04 20:13] cro commented on #996
ping @cedwards also.

[2017-01-04 20:15] dmurphy18 commented on #996
@rallytime For FreeBSD we currently mirror the FreeBSD builds available, hence repo.saltstack.com has only what is currently available.  The FreeBSD builds are pulled form whatever @cedwards has currently built and @UtahDave just pulls in the latest from the mirror when a new version becomes available.

Note, the 2016.11.1 release was only just before the Christmas break and @cedwards was on vacat

[2017-01-04 20:23] rallytime commented on #996
@dmurphy18 Do you know if this is automated? Because the version in [freshports](https://www.freshports.org/sysutils/py-salt/) is 2016.11.1, but installing with `pkg install py27-salt` as our installation instructions state, it only installs 2016.11.0. It would be great if we could get this versioning sorted out in a more automated way.

[2017-01-04 20:31] cedwards commented on #996
I'll see if I can schedule some time with @dmurphy18 and we can get this
sorted. Right now it is a manual process.

On Wed, Jan 4, 2017 at 1:23 PM, Nicole Thomas <notifications@github.com>
wrote:

[2017-01-04 20:35] rallytime commented on #996
Awesome! Thanks guys!

[2017-01-06 15:01] rallytime opened #1008 "Create Table of Contents for README"
@vutny mentioned that we should do this in a [recent comment](https://github.com/saltstack/salt-bootstrap/pull/1002#discussion_r94935794).

It's a good idea; this issue is to keep track of the task.

[2017-01-06 15:25] rallytime commented on #976
#1002 is merged in. Closing.

[2017-01-06 15:25] #976 closed, assigned to rallytime

[2017-01-07 01:08] pmather commented on #996
I have a similar issue.  On FreeBSD/amd64 11-STABLE, I can bootstrap the "stable" version of Salt (which installs from the FreeBSD package repository) but not bootstrap the "git" version, which fails similar to the way reported above.

Looking at the package, it appears that the port origin is registered incorrectly in the SaltStack repo:

[code]

Note the origin is set to `sysutils/py-salt-2016.1

[2017-01-07 10:53] vutny commented on #1004
@vielmetti , actually there is a way to install and compile Salt directly from GitHub using bootstrap script.
It should work for Debian 8 and Ubuntu 16 as well. We even have a note in README about this, at least for Debian.
Try the following:
[code]

[2017-01-07 17:22] vielmetti commented on #1004
Thanks @vutny - I will try the bootstrap from git approach on Ubuntu 16.04 and report back, perhaps the resolution will be a PR with an update to the README.

[2017-01-08 11:43] gdm85 commented on #880
I have some personal-use systems (think of embedded, IoT & similar) where I am the only user and `sudo` is a package never installed, they are truly non-multi-user systems and user impersonation via sudo would not be necessary.

[2017-01-08 15:11] ek9 opened #1009 "Alpine Linux Support"
### Description of Issue/Question

Alpine Linux Support is missing

[2017-01-09 00:01] lhovo commented on #908
I know 10.2 is now EOL, but having this incompatibly is rather annoying.
We are hoping to get another 6 months from this server before migrating services to the new server.

Is there any work around besides building the packages by hand?

FreeBSD 10.2-RELEASE-p12

Installed packages to be UPGRADED:
        pkg: 1.8.8 -> 1.9.4_1

Installed packages to be UPGRADED:
        vim: 8.0.0019_1 -> 8.0.013

[2017-01-10 22:00] rallytime commented on #1009
Thanks for submitting this and for adding the pull request!

[2017-01-11 15:53] #1008 closed, assigned to nobody

[2017-01-11 15:54] #1009 closed, assigned to nobody

[2017-01-15 20:49] OranguTech opened #1016 "salt-bootstrap fails on SmartOS native zone."
### Description of Issue/Question
Bootstrap fails with
`* ERROR: Failed to run install_smartos_deps()!!!`

### Steps to Reproduce Issue

Create new zone, and login.
Download bootstrap (stable) and run:

[code]

### Versions and Systems
INFO: Running version: 2017.01.10
(Pulled from https://raw.githubusercontent.com/saltstack/salt-bootstrap/stable/bootstrap-salt.sh, as bootstrap.saltstack.com wasn'

[2017-01-18 08:41] #646 closed, assigned to nobody

[2017-01-19 16:43] amontalban commented on #996
Hey guys,

I just stumbled with this too, a couple of things:

**1. I'm trying to install a GIT version for testing something that was working in 2016.3.2 and using:**

`sh bootstrap-salt.sh git v2016.3.2`

For me doesn't make sense that if I'm requesting a GIT install it installs the package from repository, why not install just the requirements and then build it from GIT?

In order to get a list

[2017-01-19 16:58] cedwards commented on #996
I can fix the issue with the package naming--that one was my fault. I just
need to get a minute with @dmurphy18.

On Thu, Jan 19, 2017 at 9:43 AM, Andres Montalban <notifications@github.com>
wrote:

[2017-01-19 23:05] thetoolsmith opened #1019 "ERROR: Failed to run install_centos_git_deps()!!!"
salt-minion bootstrap fails to execute on new aws vm with salt-cloud.
Using centos 7.2 public ami, no changes.
Using salt version 2016.11.1
I patched one file: https://raw.githubusercontent.com/mlalpho/salt/465053f07f3271706eeb0ca297182879eac1978c/salt/utils/aws.py
Due to this bug here: https://github.com/saltstack/salt/issues/38287

My profile looks like this:
xxx-create-ec2-us-east-1-dev:
provid

[2017-01-20 02:42] thetoolsmith commented on #1019
I updated the bootstrap script in my master and got a little further:

The when provisioning the aws vm, now this bootstrap error:

[DEBUG   ]  *  INFO: Running version: 2017.01.10
 *  INFO: Executed by: /bin/sh
 *  INFO: Command line: '/tmp/.saltcloud-f710b8c0-eea2-4238-9c3d-a258570b3b15/deploy.sh -c /tmp/.saltcloud-f710b8c0-eea2-4238-9c3d-a258570b3b15 -P git v2016.11.1'

 *  INFO: System Informa

[2017-01-21 05:52] thetoolsmith commented on #1019
After updating the salt bootstrap script, it was simply a network firewall issue on our end.
Problem resolved.

[2017-01-21 05:52] #1019 closed, assigned to nobody

[2017-01-21 17:39] rallytime commented on #1019
@thetoolsmith I am glad you figured it out.

[2017-01-23 20:34] moop-moop opened #1020 "Salt 2016.11 not included in stable version options?"
### Description of Issue/Question
Version 2016.11 is not included as a valid stable branch

### Setup
https://github.com/saltstack/salt-bootstrap/blob/stable/bootstrap-salt.sh#L527

### Steps to Reproduce Issue
install_salt.sh -P stable 2016.11
Unknown stable version: 2016.11 (valid: 1.6, 1.7, 2014.1, 2014.7, 2015.5, 2015.8, 2016.3, latest, $MAJOR.$MINOR.$PATCH)

### Versions and Systems
Stable bo

[2017-01-25 14:59] amontalban commented on #996
Hey guys,

Another thing I just noticed by using bootstrap on FreeBSD (I normally use FreeBSD packages, but need some patches in 2016.11 branch) is that it leaves file `/usr/local/etc/pkg/repos/saltstack.conf` behind and it's making conflict with others packages because SaltStack repository have older packages and I'm using `pkg.latest`.

For example with package `libxslt`, what I'm thinking is th

[2017-01-25 18:43] rallytime commented on #996
@amontalban If you want to submit something to fix the two issues you brought up here, that would be great. (git installation and the satlstack.conf conflict) that would be great.

However, I don't want to change the name of the package. That was just an issue on the packaging end, rather than bootstrap, that @cedwards and @dmurphy18 should be working out.

[2017-01-25 22:36] rallytime commented on #1020
Hi @moop-moop - yeah that was an oversight on our part. This should be fixed in the `develop` branch now with PR #1017.

This fix will be available in the next release, but we usually only release every couple of months. You can grab the develop script [here](https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh) which has the change.

[2017-01-25 23:40] rallytime commented on #1016
Thanks for the report @Scandalon I haven't had a chance to test this yet, but was this working on previous releases?

@sjorge I know you don't spend a lot of time in the bootstrap area, but this might be something you're interested in.

I can take a closer look at this in the next couple of days.

[2017-01-26 00:22] OranguTech commented on #1016
First/only version I tried it on. (In retrospect, trying to learn saltstack with a more obscure OS may not be optimal ;)

FWIW, I ended up using Joyent's pkgsrc repo, "pkgin install salt", (then "svcadm enable salt:master") worked fine.

[2017-01-26 00:35] rallytime commented on #1016
@Scandalon Ah, thanks for those extra details. We don't usually run smoke tests on SmartOS, as that is usually something the community maintains. I'll make a note to add those so we at least can know the state of things. :)

[2017-01-26 02:40] OranguTech commented on #1016
Thanks. I'm on the smartos-discuss list, so if there's usefulness I can
post over there - or if I get some down time I could try again on a
different image, etc.

On Wed, Jan 25, 2017 at 4:35 PM, Nicole Thomas <notifications@github.com>
wrote:

[2017-01-26 07:22] sjorge commented on #1016
@rallytime I will look at this this weekend, I have a hunch that some of the package changed names or were dropped. 16.4 is the new LTS release for 2017 and that usually has a lot of changes compared to the previous one 15.4.

@Scandalon If you run into some odd problems, which will happen. Feel free to tag me in the issues you create. I fixed a lot of stuff... but some stuff is still broken. (FQD

[2017-01-26 19:14] rallytime commented on #1016
@sjorge Thank you! I bet you're right in that the package names need to be updated.

[2017-01-26 19:26] sjorge commented on #1016
Bummer, I did a quick check and the packages look OK.

[2017-01-26 20:13] sjorge commented on #1016
It's working fine for me:

[code]

Trying with ```./bootstrap-salt.sh -M -D```, same result it could be due to base-multiarch-lts.

@Scandalon any reason you are using multiarch?

[2017-01-26 20:17] sjorge opened #1021 "salt-bootstrap missing salt-api.xml on smartos"
While troubleshooting #1016 I noticed salt-api.xml is missing.

[code]

[2017-01-26 20:30] rallytime commented on #1021
Thanks @sjorge!

[2017-01-26 20:32] sjorge commented on #1016
I can replicate the failure on multiarch...  so it fails on the packages in this case.

[code]

The proper way to fix this would be request the py27-zmq package upstream... (I just did this)
Alternatively build tools could be installed and pip could be used but that seems less than ideal.

[2017-01-27 13:25] vielmetti commented on #1004
Using this command line

```sudo /bin/sh bootstrap-salt.sh -r -P git 2016.11```

salt successfully bootstraps and runs on Ubuntu 16.04 on aarch64. No exhaustive testing yet, but signs look good.

[2017-01-27 17:08] rallytime commented on #1021
Your fix has been merged into Salt, so I will close this here. Thanks again!

[2017-01-27 17:08] #1021 closed, assigned to nobody

[2017-01-31 18:05] pepoluan opened #1023 "Solution for "ERROR: Failed to run install_ubuntu_check_services()" when switching between stable & git using bootstrap script"
### Description of Issue/Question

So, I have been experimenting with salt stable and develop. I switched between the two using `sh bootstrap_salt.sh -L -M -X -P` and `sh bootstrap_salt.sh -L -M -X -P git`, respectively.

I might have made a mistake somewhere, and ended up with this error:

    * ERROR: Failed to run install_ubuntu_check_services()

After this error appeared, no matter which invoc

[2017-01-31 22:28] amontalban commented on #996
@rallytime great thanks, I have my PR almost ready but I just saw this commit (2025bc874bf9d6ec6e1bb08c252f9a9ac684b166) and seems that we are installing SaltStack package from FreeBSD repository for FreeBSD 11 as @pmather said above.

Should I change it to install from SaltStack repository like FreeBSD 9/10?

Thanks!

[2017-02-02 20:48] aady6497 commented on #344
My 2 cents !!!
I observed the same issue , while installing salt through vagrant.
Adding a couple of lines to the vagrant config file while provisioning, helped me to understand the delay process..

      salt.log_level = "all"
      salt.verbose = true

This shows up when the installation of the packages happens from http://archive.ubuntu.com, since I was using an older version of ubuntu.

[2017-02-06 19:36] ndrwdn opened #1024 "Void Linux Support"
### Description of Issue/Question
Void Linux support is missing

[2017-02-06 20:01] #1024 closed, assigned to nobody

[2017-02-06 20:05] rallytime commented on #996
Hi @amontalban - Thanks for submitting your fix and apologies for not responding sooner. Looks like you figured it out, but yeah, that would be the correct thing to do.

[2017-02-06 20:14] rallytime commented on #1023
HI @pepoluan Can you tell me which distribution you're running the bootstrap script on? That will help troubleshoot this issue.

[2017-02-06 20:15] #1020 closed, assigned to nobody

[2017-02-06 20:23] rallytime commented on #1016
@sjorge Thank you for fixing that!

@Scandalon Did you see the updates from @sjorge above? Can this issue be closed?

[2017-02-10 12:18] pepoluan commented on #1023
@rallytime the Linux distro, you mean?

**Ubuntu 16.04** running on AWS EC2.

[2017-02-10 22:53] rallytime commented on #1023
@pepoluan Yeah, that was what I meant. Sorry for being a little unclear there. Thanks for providing that information. I'll try to reproduce this and see what I can find. :)

[2017-02-13 15:40] sjorge commented on #1016
multiarch images from 2016Q2 onwards should have a fix so that py-zmq will be available.

[2017-02-13 15:40] sjorge commented on #1016
2017, can't seem to edit on mobile.

[2017-02-13 17:41] rallytime commented on #1016
Thank you again for your work on this @sjorge. It is very much appreciated. I'll got ahead and close this for now. We can open it again if needed.

[2017-02-13 17:41] #1016 closed, assigned to nobody

[2017-02-15 13:27] vutny commented on #1004
Hi @vielmetti !
We have PR #1029 merged recently which describes the way how to get Salt installed on various architectures, based on your kind feedback.

Would you mind to close this out?

[2017-02-15 15:41] vielmetti commented on #1004
Looks good to me, @vutny ! I'll close this issue as resolved.

[2017-02-15 15:41] #1004 closed, assigned to nobody

[2017-02-15 16:15] rallytime commented on #1004
Thank you @vielmetti and @vutny!

[2017-02-18 22:05] cedwards commented on #996
Sorry for the delay, but as of this morning 2016.11.2 is available in ports / pkgng. I have submitted these updates to @dmurphy18 and @UtahDave to refresh repo.saltstack.com as well.

This update fixes the pkg name mentioned previously and adds pidfile support to the service scripts.

[2017-02-21 19:24] rallytime commented on #996
Thank you for fixing this up and for updating this issue @cedwards!

[2017-02-27 16:53] The-Loeki commented on #393
We're deploying recent versions of `salt` on Solaris 10 using the following scripty:

[code]

[2017-03-01 23:06] rallytime commented on #996
@boyonwheels This should now be resolved as the packages are correctly named and updated. Is this issue ok to close?

[2017-03-08 19:49] techhat commented on #714
I am currently experiencing this issue with SLES12SP2 in Azure ARM.

[2017-03-21 21:50] rallytime commented on #996
I can no longer reproduce this issue. Since we haven't heard back here, I am going to close this. If this pops up again, let us know!

[2017-03-21 21:50] #996 closed, assigned to nobody

[2017-03-22 21:36] bewing opened #1035 "Some INFO: lines not logged"
### Description of Issue/Question
Some INFO lines are outputted prior to setting up the logging pipe.  This means that one cannot review the command line used to call salt-bootstrap.sh in the logfile itself, which would make it easier to re-run salt-bootstrap inside a vagrant vm, for git-based installs, as more commits are pushed.

### Versions and Systems
`INFO: Running version: 2017.01.10`

[2017-03-24 02:17] cmeisinger opened #1036 "Installer dies if a current apt-operation is in progress"
### Description of Issue/Question
When using cloud init/user_data in aws, the current official Ubuntu AMI immediately updates itself on boot.  This forks to the background while the system executes other cloud-init processes.

When you use the bootstrap script passed via user_data, the salt-bootstrap script will blow up if it can't immediately apt-get the necessary components, resulting in failure

[2017-03-24 16:35] rallytime commented on #815
Fixed via #996

[2017-03-24 16:35] #815 closed, assigned to nobody

[2017-03-28 08:30] syphernl opened #1037 "Bootstrap failing on Alpine"
### Description of Issue/Question

I'm trying to install Salt on Alpine (for CI purposes).
According to the readme this should be possible, however it appears it isn't the case.

### Setup
I'm installing it using
[code]

I've also tried to run it via `bash` rather than `sh` but had no luck either.

### Steps to Reproduce Issue
See above

### Versions and Systems
`2017.01.10` on Docker

[2017-03-28 15:05] rallytime commented on #1037
Thanks for filing this @syphernl.

@vutny Is this something that you'd have a moment to look at? I know you have been involved with the Alpine linux support recently.

[2017-03-28 17:23] curiositycasualty opened #1038 "Bootstrap should accept `-s=<param>` syntax"
### Description of Issue/Question

When using the bootstrap script with `-s=30`:
[code]

[2017-03-29 09:43] vutny commented on #1037
@rallytime I believe this is already resolved in `develop`, the `stable` release is just slightly outdated.

@syphernl Try the following:
[code]
By the way, you don't need to specify `-P` in case of Alpine, since the installation is fully `pip`-based there.

[2017-03-29 12:46] syphernl commented on #1037
@vutny With the `develop` build it is working fine. I've dropped the `-P` flag as well. Thanks! :+1:

[2017-03-29 14:48] rallytime commented on #1037
@vutny Ah, you're right! I should have asked that first.

@syphernl Thanks for testing the develop version. I'm glad it's all working for you now. I'll close this up as fixed.

[2017-03-29 14:48] #1037 closed, assigned to nobody

[2017-04-04 22:42] boyonwheels commented on #996
Sorry I missed this notification!

It's now timing out when I try to update FreeBSD pkgs. I don't know if this is related to the above or a new issue.

(If I try to manually access the URL through a web browser I get a 503 error from the web server)

pkg -d update
DBG(1)[1293]> pkg initialized
Updating FreeBSD repository catalogue...
DBG(1)[1293]> PkgRepo: verifying update for FreeBSD
DBG(1)[1293]

[2017-04-05 00:17] jdonofrio728 opened #1041 "CentOS 7.3 ERROR: Failed to run install_centos_stable_deps()!!!"
### Description of Issue/Question
bootstrap-salt.sh script is failing on centos7.3.
### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

https://gist.github.com/jdonofrio728/06b120d9321e50ecc5ff4c3bca81d410

### Versions and Systems
(`salt --versions-report`, `bootstrap-salt.sh -v`,

[2017-04-05 22:41] boyonwheels commented on #996
I checked in on this again today and it appears the server is now returning data, however, the Saltstack repo is giving me 2016.11.2 instead of 2016.11.3. The FreeBSD project's repo has 2016.11.3. Not sure why the Saltstack repo is giving me the older version!

salt --version
salt 2016.11.2 (Carbon)

Apologies, again, I don't know if I should be opening this as a new bug.

[2017-04-05 22:51] rallytime commented on #996
Hi @boyonwheels the first issue you were seeing has been fixed. Sounds like we need to update the freebsd packages on repo.saltstack.com. Thanks for bringing this to our attention. We'll get it fixed.

@Ch3LL, @dmurphy18, and @UtahDave FYI

[2017-04-05 22:53] rallytime commented on #1035
Ah, thanks for pointing that out @bewing. We'll have to get that fixed up.

[2017-04-05 22:55] rallytime commented on #1036
Thanks for filing this @cmeisinger. We could add some checks in the bootstrap script to look for these kinds of situations. Thank you for posting the work-around as well!

[2017-04-05 22:58] rallytime commented on #1041
Hi @jdonofrio728 - thanks for letting us know. Does the bootstrap script work at the HEAD of the develop branch? I think we had some fixes around this go in recently. You can grab that [here](https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh).

[2017-04-05 23:02] rallytime commented on #1038
@curiositycasualty Can you explain a little more about what you're looking for? The bootstrap script has the `-s` option for sleep, and the `-f` option for shallow cloning. I am not quite sure what the expectation of this issue is. :)

[2017-04-05 23:09] curiositycasualty commented on #1038
The script parsed "... -s=30 ..." as the value "=30" and failed.

[2017-04-05 23:14] rallytime commented on #1038
Ah, ok. The title has a different value (-f) so I was confused about what you were looking for. Thanks for the clarification! We will get that fixed.

[2017-04-05 23:24] jdonofrio728 commented on #1041
Hey @rallytime, it does work. I'm can't re-create the issue with the new version. Thanks!

[2017-04-05 23:24] #1041 closed, assigned to nobody

[2017-04-05 23:33] rallytime commented on #1041
Great! Thanks for trying that and following up!

[2017-04-10 23:41] amontalban commented on #996
@rallytime to be honest I don't see the added value of having a SaltStack repository for FreeBSD packages, specially when FreeBSD repository always have more recent version than SaltStack repository.

Additionally FreeBSD do some changes from time to time like https://github.com/freebsd/freebsd-ports/commit/c224eda3d2439a12b0b01965a302a254562b3fc6 that might affect people using SaltStack.

So I wo

[2017-04-13 06:45] cachedout opened #1043 "Installation instructions should include hash verification"
### Description of Issue/Question

There is no way to verify that the file downloaded is the correct one. The bootstrap installation procedure should list the correct SHA256 sum of the script or reference a file which contains that sum.

[2017-04-13 20:03] rallytime commented on #1038
Oh, @curiositycasualty looking at this again, you just need to pass `-s 30`, not `-s=30`. It works as expected without the `=`. Apologies for not seeing that sooner. I'll go ahead and close this, but we can continue discussion here as needed.

[2017-04-13 20:03] #1038 closed, assigned to nobody

[2017-04-13 20:29] rallytime commented on #968
I have added support for Debian/Ubuntu for the `-R` option in #1045.

[2017-04-13 20:34] rallytime commented on #728
I am fairly certain that the `-R` option is the best way to tackle this. This is supported for RHEL distros already, and support was just added today for Debian/Ubuntu in #1045.

Since we haven't heard back here, and the `-R` option should work for this, I am going to close this. We can continue the conversation as needed, and reopen if necessary. Thanks!

[2017-04-13 20:34] #728 closed, assigned to nobody

[2017-04-13 20:50] rallytime commented on #992
As this is a known issue with the way the 2016.3.3 release of Salt, but is fixed in later releases, I'm going to close this. We can continue discussion as needed. Thank you all!

[2017-04-13 20:50] #992 closed, assigned to nobody

[2017-04-13 23:40] virtualguy commented on #1038
I believe this was meant as a feature request to add support for the common
syntax in other Linux tools of using '=' when passing parameters. It would
be a nice to have so things are a little more intuitive but it may make
documentation a little messing supporting two ways to specify arguments

On 14 Apr. 2017 8:03 am, "Nicole Thomas" <notifications@github.com> wrote:

[2017-04-14 17:21] rallytime commented on #1038
Oh, yes, I see what you mean. This isn't something we want to do because of the reasons above. The `-s 30` or even `-s30` syntax will work, but we won't be supporting `-s=30` at this time.

Also, please note that there is a feature request open already about supporting long options in #448.

[2017-04-17 20:12] curiositycasualty commented on #1038
Thanks for getting back to me, I'll keep an eye on https://github.com/saltstack/salt-bootstrap/issues/448

[2017-04-18 14:52] #968 closed, assigned to nobody

[2017-04-19 19:09] EHJ-52n opened #1050 "Cannot install standalone minion on kde neon"
# Description of Issue

## Setup
- *Script start:*
[code]
- `lsb_release -a`:
[code]

## Steps to Reproduce Issue
1. Install latest kde neon
1. Open terminal
1. Execute the following two commands (Documentation: [Salt Masterless Quickstart](https://docs.saltstack.com/en/latest/topics/tutorials/quickstart.html#salt-masterless-quickstart)):
[code]

## Versions and Systems
-  *Salt version*:
[code]
-

[2017-04-21 00:17] vernondcole opened #1052 "salt-bootstrap fails on Ubuntu 17.04 Zesty"
### Description of Issue/Question

`sudo sh salt-bootstrap.sh`
fails to run on the current version of Ubuntu.

### Setup

Create a new, virgin instance of Ubuntu 17.04.  I used Ubuntu-Mate but that should not be important.

### Steps to Reproduce Issue

Execute the following code snippit, or type the equivalent commands.

[code]
Results in the following error:

[code]

### Versions and Systems

/t

[2017-04-21 09:26] vutny commented on #1052
@vernondcole We have PR #1051 submitted recently. It should resolve your issue, give a try.

By the way, on all Debian-based distros the default "system" shell (`/bin/sh` symlink) is `dash`, which is POSIX-compliant, fast and stripped down shell without `bash` features.

[2017-04-21 21:13] drawsmcgraw opened #1056 "Can we remove the EPEL requirement for 'latest stable' bootstraps or install `epel-release`?"
### Description of Issue/Question
TL;DR - Can we do either of the following?
- Remove the EPEL requirement for 'latest stable' installations
- Install EPEL via the `epel-release` package in the base yum configs

I know this is far from the first time this has come up. This seems to be one of the more recent threads around the topic:
https://github.com/saltstack/salt-bootstrap/issues/724

In short,

[2017-04-21 21:20] mshade commented on #1056
Another option (and I was coming here to suggest) is to use download.fedoraproject.org instead of the upstream "master" dl.fedoraproject.org. The downloads subdomain will redirect to a local mirror for the user

[2017-04-21 21:29] ghost commented on #921
This issue has been automatically marked as stale because it has not had
recent activity. It will be closed if no further activity occurs. Thank you
for your contributions.

If this issue is closed prematurely, please leave a comment and we will
gladly reopen the issue.

[2017-04-21 21:29] ghost commented on #946
This issue has been automatically marked as stale because it has not had
recent activity. It will be closed if no further activity occurs. Thank you
for your contributions.

If this issue is closed prematurely, please leave a comment and we will
gladly reopen the issue.

[2017-04-21 21:34] drawsmcgraw commented on #1056
@mshade, sounds like a much easier alternative. If it reduces the chances of these events happening, I like it.

[2017-04-21 21:48] rallytime commented on #1056
@drawsmcgraw Thanks for filing this. We have an old issue open about this very question (#524) with bad EPEL mirrors, and I haven't ever gotten around to implementing a good solution. I like the idea that @mshade posted.

There is also the new `-r` option that is supposed to disable the use of the EPEL repos, but I think there was a bug with that in the 2017.01.10 release. That bug was fixed in #1

[2017-04-24 14:27] drawsmcgraw commented on #1056
@mshade & @rallytime, I just changed `dl.fedoraproject.org` to `download.fedoraproject.org` in my copy of salt-bootstrap and it fails.

[code]

This is especially vexing since I can punch that URL into my browser and successfully download it. I'm sure there's a lot more going on behind the scenes than I understand, though.

Any thoughts?

I'm going to look into the `-R` option for our use case as

[2017-04-24 15:17] rallytime commented on #1056
@drawsmcgraw Yeah, it looks like there is more going on behind the scenes and will need a more involved fix. You're right that using the `script_args` option in your salt-cloud configs is the right way to use something like the `-R` option.

[2017-04-24 15:31] rallytime commented on #1052
@vernondcole This is fixed in the `develop` branch and will be available in the next released version of salt-bootstrap. Since this is already fixed, I'll go ahead and close this. Thank you!

[2017-04-24 15:31] #1052 closed, assigned to nobody

[2017-04-24 15:35] rallytime commented on #1050
Hi @EHJ-52n - Would you be willing to submit a change for this? We'd gladly merge a fix for this issue if you're so inclined. Otherwise, we can grab this.

[2017-04-24 15:43] rallytime commented on #1043
Good idea. Thanks @cachedout - I will get this added to the installation instructions in the README.

[2017-04-24 18:11] drawsmcgraw commented on #1056
@rallytime given that the "change the url" option is turning into a nontrivial change, how open are we to "Don't require EPEL for 'latest stable' installations on RHEL" ? I'm assuming that it *is* actually the case that EPEL is not needed for 'latest stable' installs.

[2017-04-25 08:12] vutny commented on #1050
According to the official [FAQ](https://neon.kde.org/faq) and `lsb_release` output, it appears that KDE neon distro is based on latest Ubuntu LTS. So I think we should put the code for detecting this "derivative" to the appropriate section with other Ubuntu-based distros.

Also, I'm thinking about adding some more general checks to detect base distros, since hard-coding the names for every assembl

[2017-04-25 10:00] EHJ-52n commented on #1050
Hi @vutny,
I fully agree with you, that merging the ubuntu based distros or implementing a better "derivative" handling will be lasting longer. But I think, I will not be able to provide a solution for this.
The patch provided is a one-shot workaround for myself getting the stuff running. So, investing some more time for a better more generic solution, would be better.
But I am willing to test the

[2017-04-25 13:30] vutny commented on #1050
Yeah, my second statement was about future development approach in general, not a strict guidance :smile:

Speaking about your quick fix, it definitely works, because the functions and packages for both Debian and Ubuntu don't differ that much. But anyhow, the code to detect `neon` "distro" should be placed to the `__ubuntu_derivatives_translation()` function: https://github.com/saltstack/salt-boo

[2017-04-25 17:37] rallytime commented on #1050
@vutny Yeah, you're right. Would you mind filing a new issue about that so we don't forget to clean it up?

[2017-04-26 07:25] vutny commented on #1050
Sure thing. I shall fill an issue or just fix it right away :smiley:

[2017-04-26 08:03] EHJ-52n commented on #1050
@vutny
I fixed the `__ubuntu_derivatives_translation()` function as requested. Please see PR https://github.com/saltstack/salt-bootstrap/pull/1058 for more details.

[2017-04-27 17:06] rallytime commented on #1050
Thanks for submitting the fix for this @EHJ-52n! Since you're fix has now been merged, it this good to close?

[2017-04-27 23:34] rallytime opened #1061 "[develop] CentOS 7 install is broken"
### Description of Issue/Question
I ran a quick smoke test against installing the latest HEAD of develop on a CentOS 7 VM from Linode.

Both running the script without arguments (stable packages) and running the script with `git v2016.11.3` failed. The dependencies are all installed, but the daemons are not found to be running/fail to start.
[code]

[2017-04-28 10:01] vutny commented on #1061
I have successfully bootstrapped Salt on CentOS 7 `@Core` installation with latest `develop` version in both "stable" and "git" mode. Looks like you have some environment specific issue.

[2017-04-28 14:50] rallytime commented on #1061
Yeah I need to debug this some more. All of the servers we use to run tests with in Linode are failing in this way.

[2017-04-28 15:55] rallytime commented on #1061
Ok, I can't reproduce this anymore either on a clean VM. Maybe it was something in my salt-cloud config files. Thanks for testing this @vutny and commenting. It is certainly appreciated.

[2017-04-28 15:55] #1061 closed, assigned to rallytime

[2017-05-01 16:25] #946 closed, assigned to nobody

[2017-05-01 16:58] curiositycasualty commented on #448
Definitely not stale-- still a feature that'd be worth having/considering.

[2017-05-01 18:52] ageld commented on #690
pip freeze states that I do have version 4.5.1 installed:
# pip freeze | grep tornado
tornado==4.5.1

However, apt-get reports the version, which is in Ubuntu 14.04 repository:

# dpkg -l | grep tornado
ii  python-tornado                            3.1.1-1ubuntu2                             all          scalable, non-blocking web server and tools

If I remove it with apt-get remove and leave only

[2017-05-02 07:34] EHJ-52n commented on #1050
@rallytime
I think so, too.

[2017-05-02 07:34] #1050 closed, assigned to nobody

[2017-05-03 23:18] grandmasterv opened #1065 "CentOS 5 stable install fails"
### Description of Issue/Question
I have tried to run the bootstrap script on a few CentOS 5 systems (not just the Vagrant box listed below) and it keeps giving the same error in the same place.  I'm just setting up a Vagrant box and want to use their built in Salt provisioning configuration but that relies on the bootstrap script.

I can successfully install a Salt Minion on these same systems us

[2017-05-04 01:06] wolfpackmars2 commented on #690
EDIT: I just confirmed that the SaltStack repository contains the correct version of Tornado for Ubuntu 14.04. As long as you are using the bootstrapper [https://github.com/saltstack/salt-bootstrap](https://github.com/saltstack/salt-bootstrap) salt should be installed. If this is not the case, post a new issue. If you are trying to install SaltStack without the bootstrapper, you will need to add a

[2017-05-04 11:05] vutny commented on #1065
@grandmasterv Thanks for your report, but that's not the problem with Salt Bootstrap.
CentOS 5 reached EOL recently: http://centos.1050465.n5.nabble.com/CentOS-CentOS-5-End-of-Life-td5747409.html
The script just tries to get additional stuff installed from the upstream repos and configure EPEL as well.

You could change your repo URLs to point to [vault.centos.org](vault.centos.org) for now and ev

[2017-05-04 15:02] yogeshprasad opened #1066 "Salt-bootstrap failed in SLES12-SP1-12.1-0"
Hello,
I have tried to run salt-bootstrap in SLES12-SP1-12.1-0 and it is failing.

Logs without -P:
 *  INFO: Running version: 2017.01.10
 *  INFO: Executed by: sh
 *  INFO: Command line: 'bootstrap-salt.sh '

 *  INFO: System Information:
 *  INFO:   CPU:          GenuineIntel
 *  INFO:   CPU Arch:     x86_64
 *  INFO:   OS Name:      Linux
 *  INFO:   OS Version:   3.12.49-11-default
 *  INFO:

[2017-05-04 15:21] dmurphy18 commented on #1065
Salt 2016.3.6 and 2016.11.3 were the last releases to support Redhat / CentOS 5.
Access to these versions is available by pinning to the Minor version for Redhat / CentOS 5 on repo.saltstack.com.

FYI these were also the last releases to support Ubuntu 12.04 LTS

[2017-05-04 15:44] rallytime commented on #778
This should be fixed with #1063. As such, I will close this. Thanks!

[2017-05-04 15:44] #778 closed, assigned to nobody

[2017-05-04 16:20] grandmasterv commented on #1065
Thank you both for taking the time to respond.  I forgot to mention that I am aware of the CentOS 5 EOL issue and have set the base repo to point to the vault so I can download packages (repo conf below).  I also understand that 2016.11.3 is the last version of Salt supported on this platform.  I was hoping that the bootstrap script would understand this and at least pin the version to the older o

[2017-05-04 16:49] rallytime commented on #1065
@grandmasterv Thank you for posting this. I think that will be helpful for others coming across this issue. Out of curiosity, as I haven't tested this myself recently since repo.saltstack.com dropped support for newer packages for CentOS 5, but will using a git tag/branch work for you? So something like `sh install_salt.sh git v2016.11.3`?

We need to get the README docs updated to include the inf

[2017-05-04 17:05] grandmasterv commented on #1065
Glad I can help.  I get the same output from the bootstrap script with those arguments sadly.

[code]

[2017-05-04 17:16] rallytime commented on #1065
Ah, ok. Thank you for testing that.

[2017-05-04 20:35] grandmasterv commented on #1065
FYI Here is my manual provisioning script I run with Vagrant for anyone that would like to use it.  This uses the fixed repo file I posted above and then deploys our default grains and minion config files.

Here is the relevant Vagrant config:
**vagrant**
[code]

Here is my provisioning script:
**provision.sh**
[code]

[2017-05-05 07:37] rtournoy opened #1067 "Scientific Linux 6.9 bootstrap and yum repo install and upgrade issues"
### Description of Issue/Question
yum upgrade fails with https://repo.saltstack.com/yum/redhat/6.9/x86_64/latest/repodata/repomd.xml: [Errno 14] PYCURL ERROR 22 - "The requested URL returned error: 404 Not Found"

Indeed directory 6.9 doesn't exist : https://repo.saltstack.com/yum/redhat/

Unfortunately it is breaking the whole distro update process and I have to disable the salt repository to upg

[2017-05-05 08:20] vutny commented on #1065
@grandmasterv The bootstrap script fails because EPEL dropped repo configuration RPM package for RHEL-5.

Actually, you could just do this as workaround:
[code]

Should work for now, and you would get latest packaged version. Unfortunately, since EPEL repo with `git` package is no longer available, you can't do `git` bootstrap mode any longer. I hope this will help.

[2017-05-05 09:16] vutny commented on #1067
Hi @rtournoy. Thanks for reporting.

I've fixed the bootstrap script to workaround this in PR #1068. Please give it a try.

[2017-05-05 09:22] vutny commented on #1067
@dmurphy18 Maybe you could just set the major RHEL release version instead of `$releasever` in the repo URL which set by `salt-repo-*.noarch.rpm` (from [here](https://repo.saltstack.com/yum/redhat/)) ?

[2017-05-05 11:59] ljanne opened #1069 "Add support for Salt TCP Transport flag"
Please implement a flag that would allow users to bootstrap a minion in TCP Transport mode (instead of ZMQ).

[2017-05-05 13:08] vutny commented on #1069
It is already implemented! Check out `-j` and `-J` options. All you need to do is this:
[code]
Or if you would like to bootstrap Master:
[code]

However, ZeroMQ dependencies will be installed in any case.

[2017-05-05 13:09] ljanne commented on #1069
Wonderful, thanks a lot @vutny !

[2017-05-05 13:09] #1069 closed, assigned to nobody

[2017-05-05 17:16] #1067 closed, assigned to nobody

[2017-05-08 17:41] ageld commented on #690
Yes, I used bootstrapper as well as regular apt-get.  I will try to play with the priority.

Thanks a lot for help.

________________________________
From: Steve Groesz <notifications@github.com>
Sent: Wednesday, May 3, 2017 9:06 PM
To: saltstack/salt-bootstrap
Cc: ageld; Mention
Subject: Re: [saltstack/salt-bootstrap] Fail to bootstrap Ubuntu 14.04 (#690)

@ageld<https://github.com/ageld> Are you

[2017-05-08 18:06] ageld commented on #690
I think the problem is that the repository:

https://repo.saltstack.com/apt/ubuntu/14.04/

only has amd64 versions of software.  I, however, have 32-bit systems on which I hope to install saltstack-minion software.

Regards,

Alek Geldenberg

________________________________
From: Steve Groesz <notifications@github.com>
Sent: Wednesday, May 3, 2017 9:06 PM
To: saltstack/salt-bootstrap
Cc: ageld; M

[2017-05-09 03:48] wolfpackmars2 commented on #690
Ok, so yes the problem is that the repositories only seem to contain 64 bit packages.

The boot strapper should still work.  I don't have personal experience with this, as I primarily only install Salt on 64 bit debian systems.

I believe this applies to your situation: https://github.com/saltstack/salt-bootstrap#supported-operating-systems

You don't need to specify "develop" - you should be able

[2017-05-09 15:16] #923 closed, assigned to nobody

[2017-05-09 15:16] #836 closed, assigned to nobody

[2017-05-09 15:16] #792 closed, assigned to nobody

[2017-05-09 15:16] #758 closed, assigned to terminalmage

[2017-05-09 15:16] #740 closed, assigned to nobody

[2017-05-09 15:16] #644 closed, assigned to nobody

[2017-05-09 15:16] #609 closed, assigned to nobody

[2017-05-09 15:16] #411 closed, assigned to nobody

[2017-05-09 15:16] #451 closed, assigned to nobody

[2017-05-09 15:16] #540 closed, assigned to nobody

[2017-05-09 15:16] #568 closed, assigned to nobody

[2017-05-10 15:20] rallytime commented on #1065
The README has been updated in #1070, so I'll go ahead and close this. Thank you everyone!

[2017-05-10 15:20] #1065 closed, assigned to nobody

[2017-05-10 15:24] rallytime commented on #971
I have updated the title of this issue to be supporting RHEL 6 workstation distributing instead of RHEL 5.

The upstream RHEL release 5 reached EOL on March 31, 2017, and we are no longer supporting RHEL 5 and its variants. Therefore, we will not be fixing this issue for RHEL 5, only RHEL 6. Issue #1065 and pull request #1070 are related to this issue.

@vutny You might interested in adding suppor

[2017-05-11 08:58] kiemlicz commented on #1052
When is this going to be released?

[2017-05-11 09:01] vutny commented on #1052
@kiemlicz Just grab it from https://bootstrap.saltstack.com/develop

[2017-05-12 09:29] rtournoy commented on #1067
Hi @vutny . Thank you for the fix in PR #1068 , it works now.

[2017-05-12 09:36] vutny commented on #1067
Glad to help, @rtournoy

[2017-05-17 21:31] Ch3LL opened #1071 "[DEVELOP] Amazon git install fails due to wrong repo.saltstack.com path"
### Description of Issue/Question
Currently on develop (3750240fcf099ab836c3678e9cc4f9be99e154ad) if you try to use the bootstrap script as follows: `sh /tmp/bootstrap-salt.sh -P git v2016.11.4` it fails because it tries to add the repo.saltstack.com as follows:

[code]

As you can see it is trying to add `x86_64/v2016.11.4/repodata/repomd.xml` where v2016.11.4 does not exist on the repo. I think

[2017-05-17 21:41] Ch3LL opened #1072 "[DEVELOP] FreeBSD10 Not installing due to failure in install_freebsd_git_deps step"
### Description of Issue/Question
Currently on develop (3750240fcf099ab836c3678e9cc4f9be99e154ad) when running `sh /tmp/bootstrap-salt.sh -P git v2016.11.4` on freebsd 10 it fails with the following error:

[code]

I will look more into this tomorrow/friday.

[2017-05-18 15:38] dmurphy18 commented on #1071
@Ch3LL That url is incorrect for repo.saltstack.com
 For a specific version it should read as follows I believe

https://repo.saltstack.com/yum/redhat/6/x86_64/archive/2016.11.4/repodata/repomd.xml

[2017-05-18 20:04] Ch3LL commented on #1071
Right. That is the problem. I need to update the bootstrap so it points to the archive path or latest. Previously we were pointing to latest if user was installing a specific version for amazon. Looking at this now. I need to see if we are pointing to latest in other parts of the script.

[2017-05-18 22:10] Ch3LL commented on #1071
Okay I need to revisit this tomorrow.

I have this:

[code]

But its installing a really old version of python-tornado and salt won't even start. But I think we need to stick with latest for git installs as that is how it is in other sections.

[2017-05-19 21:51] Ch3LL commented on #1071
[code]

This is what i have but i need to do some more testing next week.

[2017-05-22 14:04] #1071 closed, assigned to Ch3LL

[2017-05-22 18:42] Ch3LL commented on #1072
Okay I think this is failing because `py-setuptools27` was renamed to `py27-setuptools` to better match other python ports as documented at the end fo the page [here](https://www.freshports.org/devel/py-setuptools27/)

There was a change here: https://github.com/saltstack/salt-bootstrap/pull/1026 to query the salt dependencies and install those if using a git install. I am not sure if this depende

[2017-05-22 20:11] Ch3LL opened #1074 "SLES12 fails on step install_suse_check_services() when running git install"
### Description of Issue/Question
When installing a git install on sles12 I am seeing it fail on step install_suse_check_services()

[code]

I am simply running `sh -x bootstrap.sh -P`. I am seeing this behavior on develop and the currently live available bootstrap script.

When running with `sh -x` I see the following in the step `install_suse_12_stable_post`:

[code]

I think the issue is it run

[2017-05-22 20:19] #1074 closed, assigned to Ch3LL

[2017-05-22 22:51] amontalban commented on #1072
Hi @Ch3LL,

You're on the right path, please check my comment in https://github.com/saltstack/salt-bootstrap/issues/996#issuecomment-293109252. I recommend applying this PR ( https://github.com/saltstack/salt-bootstrap/compare/develop...Perceptyx:develop) to use FreeBSD repositories for installing packages and possibly removing SaltStack repository because IMHO it's reinventing the wheel specially

[2017-05-23 01:42] vernondcole commented on #1052
Yes, indeed, the /develop version works great!  May I encourage a release sooner rather than later? The script I quoted above, and salt-cloud saltify provider are both broken until the next release.

[2017-05-23 07:44] vutny commented on #1052
@vernondcole The bootstrap script for Salt Cloud could be easily updated. Check this out:
https://docs.saltstack.com/en/latest/topics/cloud/deploy.html#updating-salt-bootstrap

[2017-05-23 14:29] Ch3LL commented on #1072
@amontalban thanks for your help on this one. I used your diff and it works great! Seems you are right there are a lot of differences between the two, and I am personally okay removing hte saltstack or possibly just adding it as an option/argument. But I would want to handle that in a seperate PR so we can tackle just this issue now. Did you want to submit as a PR? Or I can. We are trying to get a

[2017-05-23 14:57] amontalban commented on #1072
Hi! Great news that it worked for you, I'm kind of AFK today so if you can create the PR that would be great.

Thanks!

[2017-05-23 15:57] Ch3LL commented on #1072
Thanks I went ahead and added in #1076. Thanks for all your help :)

[2017-05-23 15:57] #1072 closed, assigned to Ch3LL

[2017-05-23 17:09] rallytime commented on #1066
Hi @yogeshprasad Are you running into problems on the `develop` version of the script? @Ch3LL recently fixed some issues with SLES 12 and has this working for her. I am curious if this is already fixed.

[2017-05-25 22:42] UtahDave opened #1081 "The `-R` option is broken on Ubuntu/Debian systems"
When attempting to use the `-R` option the bootstrap script fails to use the provided repo and ends up installing from the default distro repos which results in Salt version 0.17.5.

I tested this on the latest bootstrap script downloaded like this:
[code]
I tested this on Ubuntu 14.04

### Setup
Even using the main `repo.saltstack.com` repo with the option fails

[code]
[code]

[2017-05-25 22:43] UtahDave commented on #1081
ZD 1473

[2017-05-26 02:54] ffjia commented on #1056
+1 for removing EPEL repo requirement.

[2017-05-26 18:27] rallytime commented on #1081
@UtahDave I have fixed this with PR #1082. Thanks for filing this and letting me know!
[code]

[2017-05-26 18:47] #1081 closed, assigned to rallytime

[2017-05-30 16:39] rallytime opened #1083 "Add Debian codename distro translation function"
### Description of Issue/Question
We should add a function similar to `__ubuntu_codename_translation()`, but for Debian distributions.

This was suggested in PR #1082, so this issue is to track that idea. Debian 7 is phasing out of support and Debian 9 is coming soon, so something like the ubuntu codename translation but for Debian distros will be useful.

[2017-05-30 16:40] rallytime commented on #1083
FYI @vutny ^ :)

[2017-05-30 19:47] dmurphy18 commented on #1056
@rallytime @drawsmcgraw I can confirm that EPEL is not required when installing from repo.saltstack.com, hence any dependency required for Salt can be installed from there.

[2017-05-30 20:26] rallytime commented on #1056
@dmurphy18 Ok, good to know. Thanks for following up. I'll take a closer look at this.

[2017-05-30 20:35] rallytime opened #1085 "Update service files to be consistent"
### Description of Issue/Question
Some discussion was raised in salt issue https://github.com/saltstack/salt/pull/41446 about where the service files are located for various services. The service files used should be the ones in `pkg/*.service` as @dmurphy18 confirmed in [this comment](https://github.com/saltstack/salt/pull/41446#issuecomment-304989819). There are some old service file references

[2017-05-31 22:10] rallytime commented on #1056
@drawsmcgraw and @ffjia After looking into this more closely, there is quite a bit of refactoring to do to get all of the various options you can pass to the bootstrap script that need to be supported worked out with this request. I was hoping it would be easier to fix this, but I don't have time to dive in further at this time.

However, there is a work around, and actually this is exactly what t

[2017-05-31 22:16] rallytime commented on #1056
And, actually, since we have this work-around for this issue, and this is basically a duplicate of #724, I am going to close this so we can just focus on the previously filed issue.

[2017-05-31 22:16] #1056 closed, assigned to nobody

[2017-05-31 22:22] rallytime commented on #724
@vutny Now that CentOS 5 support is dropped, we might be able to return to this issue. Is this something you're interested in? I just wanted to update this since #1056 is a duplicate of this request, which I just closed.

The work-around for not using EPEL for stable/latest salt installs is to use the `-R` argument:
[code]

[2017-05-31 22:36] rallytime commented on #1066
Actually it looks like you're running into a different issue.

[2017-05-31 22:40] rallytime commented on #714
#1075 might have helped with this one. It fixes an issue that had a similar problem with the services starting. However it doesn't address the last error you posted about not installing the deps. The fix in #1075 is available in the latest stable release of the bootstrap script.

[2017-06-01 18:14] ssplatt opened #1086 "Package unmask not working on Gentoo"
### Description of Issue/Question
When using salt-bootstrap on a new Gentoo VM, the build fails with salt requiring "~amd64" unmasked.

### Setup
tested with "kitchen converge" on a Linode running Gentoo 2017-01-05.

### Steps to Reproduce Issue
make a Linode, deploy Gentoo, login, download salt-bootstrap, run salt-bootstrap.
[code]
you are left with several files that look like temp files that ar

[2017-06-01 18:29] drawsmcgraw commented on #1056
Oh, clever! Thanks @rallytime. I'll try this out in some of our automation.

[2017-06-02 15:47] rallytime commented on #1086
Thank you for filing this @ssplatt. Two PRs have been merged that should fix up this issue for you.(Thank you @decomposite!)

Can you give the script in the `develop` branch a try and make sure this is working for you now?

[2017-06-05 15:01] Ch3LL opened #1090 "bootstrap.sh tries to install the wrong package for apache-libcloud on ArchLinux"
@mystfox commented on [Sun Jun 04 2017](https://github.com/saltstack/salt/issues/41572)

### Description of Issue/Question
When trying to install Salt including salt-cloud on Arch Linux, it tries to install `apache-libcloud` which is not a actual Arch package - the right one is `python2-apache-libcloud` for Python2.

### Setup
Get an ArchLinux host. Instructions assume normal user, but you can jus

[2017-06-05 15:06] Ch3LL commented on #1090
Looks like it would be an easy fix to change this line https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L4624 to the correct package name

[2017-06-05 16:50] rallytime commented on #1090
@Ch3LL Yes, that looks to be the correct fix.

[2017-06-06 18:49] ssplatt commented on #1086
confirmed the new script in develop works.
[code]

[2017-06-06 18:53] rallytime commented on #1086
Awesome! Thanks for confirming @ssplatt. I'll close this.

[2017-06-06 18:53] #1086 closed, assigned to nobody

[2017-06-08 03:04] ffjia commented on #1056
@rallytime

It seems not work, script exited with `pkg_append: unbound variable`. I think it might due to `-R` make `-r` to True. So the `pkg_append` is undefined.

[code]

[2017-06-08 10:03] vutny commented on #1056
Hi @ffjia

Unfortunately, the mentioned workaround is not applicable to Amazon Linux, it works only for RHEL/CentOS/etc.
I have filed PR #1093 to completely exclude installations from EPEL on Amazon, please give it a try.

[2017-06-09 19:02] rallytime commented on #1035
Hi @bewing - this should be fixed by #1091. Please give that a try if you have a moment.

[2017-06-09 22:58] bewing commented on #1035
Can confirm that this resolves my original issue, and the following line is now in the log:
` *  INFO: Command line: '/tmp/bootstrap_salt.sh -P -c /tmp -F -c /tmp -k /tmp/minion-seed-keys -M git develop'`
and I can copy/paste it and re-run it to my heart's content.

[2017-06-11 19:32] absolutejam opened #1094 "Windows bootstrap incorrectly fetches latest version"
### Description of Issue/Question

Running the Windows `bootstrap-salt.ps1` without a version explicitly defined should query the Salt repo and find the latest version but does not.

### Setup

  - WIndows 10 Enterprise x64
  - `$PSVersionTable`:
[code]

### Steps to Reproduce Issue

I stripped out most of the steps to install the minion, and tested the results in `$version` and `$returnMatches`.

[2017-06-12 14:56] rallytime commented on #1094
Thanks for filing this issue @absolutejam. I agree that if you don't specify a version. the latest should be installed. And thanks for submitting a fix for this already!

[2017-06-12 15:56] rallytime commented on #1090
@mystfox and @Ch3LL I have fixed this issue by updating the libcloud package name on Arch to `python2-apache-libcloud` and the `-L` option works successfully now. Thanks!

[2017-06-12 15:57] #1090 closed, assigned to rallytime

[2017-06-12 16:46] rallytime commented on #1043
@cachedout I have added some instructions to the README file with the hash verification in PR #1098. Please let me know what you think.

[2017-06-12 21:44] rallytime commented on #1085
This is fixed in #1099

[2017-06-12 21:44] #1085 closed, assigned to rallytime

[2017-06-12 22:52] rallytime commented on #1083
This is fixed in #1101. Closing.

[2017-06-12 22:52] #1083 closed, assigned to rallytime

[2017-06-13 02:09] ffjia commented on #1056
@vutny Thanks, will give it a try.

[2017-06-16 20:24] rallytime commented on #1035
Thanks for confirming @bewing! The change was just merged into `develop` and will be available in the next stable release. I'll go ahead and close this.

[2017-06-16 20:24] #1035 closed, assigned to nobody

[2017-06-19 20:54] #1043 closed, assigned to rallytime

[2017-06-19 21:47] cachedout commented on #1043
LGTM

[2017-06-21 23:53] vernondcole opened #1105 "Existing minion keys are not overwritten even if -F is specified."
### Description of Issue/Question

I am framing this as a query rather than a pull request, because there may have been a very
good reason why the programmer decided to do the code the way it is, rather than the way
that would be very convenient for my use case: I want to take control of an existing machine.

As salt-bootstrap is now implemented, I would have to run the deploy command twice:
once

[2017-06-22 00:13] vernondcole commented on #1105
More environment information:
[code]

[bevy_master.zip](https://github.com/saltstack/salt-bootstrap/files/1093267/bevy_master.zip)

[2017-06-23 18:46] nickgarber opened #1106 "VMware's Photon OS support"
A related request is documented in the Salt/Salt project at [ref:1].

[ref:1]
https://github.com/saltstack/salt/issues/41921

[2017-06-27 15:28] drouarb opened #1109 "Salt-bootstrap require dirmngr"
### Description of Issue/Question
Salt bootstrap require dirmngr but don't install it. Work fine if you install it manually.

### Setup
Install a fresh debian 9.

### Steps to Reproduce Issue
[code]

### Versions and Systems
./bootstrap-salt.sh -- Version 2017.05.24

[2017-06-28 17:37] #1094 closed, assigned to nobody

[2017-06-30 16:37] rallytime commented on #1105
Hi @vernondcole - Thanks for filing this issue and for submitting the fix. I think what you've submitted is the right way to do it. Since your fix has been merged, I'll go ahead and close this.

[2017-06-30 16:37] #1105 closed, assigned to nobody

[2017-06-30 19:18] rallytime commented on #1109
@drouarb Thanks for filing this issue. I am adding support for Debian 9 right now since we have official packages in `repo.saltstack.com` for Debain 9, so I will take a look.

[2017-07-05 21:37] rallytime commented on #1109
Hi @drouarb - I have fixed this in pull request #1111.

[2017-07-07 15:33] #1109 closed, assigned to rallytime

[2017-07-12 16:45] speedlight opened #1112 "Boostrap install in Debian Buster (10)"
Trying to install in a fresh Debian 10 give error about "end-of-life" distro.
/etc/debian_version have buster/sid but is not recgonized yet in the install script.

I change the file to stretch/sid to be able to install :)

[2017-07-12 16:54] rallytime commented on #1112
Ah, good point. I think we can adjust the bootstrap script to handle upcoming Debian releases in a similar way to what we do with the upcoming Ubuntu releases.

[2017-07-12 16:57] speedlight commented on #1112
Yes, there are the line for detect from 6 to 9, maybe a more dinamic way to add future version numbers :) I couldnt do a pull request cuz is a fresh install and no test boxes here :)

[2017-07-12 20:41] rallytime commented on #1106
@nickgarber Apologies for not commenting on this sooner. Thanks for the request. I don't think this is something that we can pick up ourselves right now, but if someone from the community wants to implement it, great! As such, I have approved this as a feature request.

[2017-07-13 20:27] rallytime commented on #1112
@speedlight and @vutny I have added some introductory support for Debian 10 (Buster) in PR #1113. Please take a look and let me know what you think.

[2017-07-14 01:48] nickgarber commented on #1106
Hi @rallytime, no worries!

Here are the quick notes I took while setting this up recently. It should
help people to know that it's possible and not complicated to accomplish.
In these notes I used Salt's develop branch, but much of these instructions
could be adjusted and refactored to produce something much more
straight-forward. I'll revisit and clean this up myself unless someone
beats me to i

[2017-07-14 15:56] rallytime commented on #1112
Fixed in #1113.

[2017-07-14 15:56] #1112 closed, assigned to rallytime

[2017-07-19 17:52] aflat opened #1115 "tornado version is not being enforced"
Doing a bootstrap on a centos6 machine(or any fedora machine) fails to install tornado correctly, causing a stacktrace. See https://github.com/saltstack/salt/issues/42392 for more details.

I am using bootstrap-salt.sh -P git v2016.3.4 (I have also used v2017.7, same issue) and the salt-minion fails to start.

[code]
The issue is that tornado 2.2.1 is installed, when reqirement/base.txt states tor

[2017-07-19 19:07] aflat commented on #1115
Rabbit hole.

when using -P git v2016.3.4(or any git version) it takes the latest from repo.saltstack.com, which has changed. I don't think this should be reworked, since it makes sense for developers. using "stable 2016.3" works just fine, since it will use the correct python-tornado rpm. I'll still add a pull request, but it doesn't change much for what I wanted, just changes the pip installs.

[2017-07-19 19:07] #1115 closed, assigned to nobody

[2017-07-19 19:15] rallytime commented on #1115
@aflat Glad you got it figured out.

If you're using salt-bootstrap to install salt on CentOS 6 for 2017.7.0+, you might want to take a look at the `-x` and `-y` options, if that's helpful for you. We use that when installing salt on our CentOS 6 test machines to make sure that Python2.7 is available and salt installs correctly. This was implemented in PR #1049. Which, we should update the README

[2017-07-21 18:48] thedebugger opened #1117 "bootstrap script doesn't enforce version arg in the second run"
### Steps to Reproduce Issue
[code]

Try installing the old version.
[code]

### Versions and Systems
[code]
[code]

### Expected result
It should install the specified version or error out if it can't install

Let me know if you need more information.

[2017-07-21 19:06] rallytime commented on #1117
Hi @thedebugger - I can reproduce this as well. Thanks for letting me know.

In the mean time as a work-around, you can use the `git` option to install from any release tag: `./bootstrap-salt.sh git v2015.5.10`.

[2017-07-21 21:19] thedebugger commented on #1117
Hi @rallytime, i have tried doing that i think the git install doesn't install the dependencies (new issue?). I'm seeing the following error when bootstrap script tries to start minion
[code]
Here are the full logs -- https://gist.github.com/thedebugger/f8dd7bb3dfe5c2ff1685a2d1f4410a66

I also tried v2015.5.10 and it fails because it can't import `m2crypto`

Let me know if you need more informatio

[2017-07-21 21:37] rallytime commented on #1117
Ok, @thedebugger there are a couple of different issues here. I'll try to address them each:

- For 2017.7.0, we no longer support python2.6. It's 2.7 and newer only, so that's likely why you're seeing that stacktrace you posted above. If you need 2017.7.0 on CentOS 6 (which defaults to Python 2.6), I would suggest using the `-x` and `-y` options that were added recently to handle this. These inst

[2017-07-23 22:35] thedebugger commented on #1117
@rallytime that makes sense and thanks for explaining in detail. I'm using the vagrant and vagrant salt plugin doesn't allow to change bootstrap to a specific version. I guess it is okay - I can use shell provisioner and pull the specific version. One thing we can do, in bootstrap script, is error out when one tries to install a version that is no longer supported by the script.

[2017-07-25 10:12] SebastianWendel opened #1118 "salt-bootstrap doesn't recognize nitrogen release on debian stretch"
### Description of Issue/Question
salt-bootstrap doesn't recognize nitrogen release on debian 9 alias stretch.

It also does not use the release version from http://repo.saltstack.com/apt/debian/9/amd64/latest and instead installs the version from the system repo 2016.11.

### Setup and Steps to Reproduce Issue
[code]

[code]

[code]

[code]

[code]

### Versions and Systems
* Hostsystem Ubuntu 16

[2017-07-25 11:22] dafyddj opened #1119 "bootstrap-salt.ps1: needs to handle py2/py3 in installer filenames"
### Description of Issue/Question

Bootstrap script on Windows gets 404 error while downloading installer.

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)
[code]

### Versions and Systems
(`salt --versions-report`, `bootstrap-salt.sh -v`, system type and version,
cloud/VM provid

[2017-07-25 14:42] rallytime commented on #1118
Hi @sourceindex - this has been fixed on the `develop` branch in the [salt-bootstrap repo](https://github.com/saltstack/salt-bootstrap). That change will be available in the next release of the salt-bootstrap script or you can use the `develop` version of the script.

For your question about seeing the `Unknown stable version: 2017.7` - thank you for submitting the pull request https://github.com/

[2017-07-25 14:42] #1118 closed, assigned to nobody

[2017-07-25 16:06] SebastianWendel commented on #1118
@rallytime thanks and no problem.

No argumens for `bootstrap-salt.sh` is my usual case, `2017.7` was just for testing when i experienced the issue.

Do you have any timeframe for the stable release?

[2017-07-25 16:19] rallytime commented on #1118
@sourceindex I was just talking to @Ch3LL about that. We want to get a new stable cut for salt-bootstrap in time for it to be included in the 2017.7.2 release of Salt.

[2017-07-30 03:28] khaije1 commented on #880
This change described in this issue remains desirable.

On Thu, Jul 27, 2017 at 9:51 AM probot-stale[bot] <notifications@github.com>
wrote:

[2017-08-03 02:11] davidjb commented on #1115
Fwiw, I see the same problem on CentOS 6 / Python 2.6 with Salt v2016.11.6, just reported in a different way when using salt-call:

[code]

The cause is still the same, the Tornado version installed is 2.2.1 and the `concurrent` module was only added in v3. @aflat Is your PR #1116 likely to fix the issue?

I managed to eventually get Salt installed correctly on CentOS 6 by using: ``sh bootstrap-sa

[2017-08-03 06:57] davidjb opened #1121 "Errors on run if ius-release package is already installed (CentOS 6)"
### Description of Issue/Question

I'm trying to restore automated Salt installation after experiencing #1115 -- currently salt-bootstrap is broken for me on CentOS 6.

In trying to workaround #1115, I followed @rallytime's suggestions to try and get things working.  What I found is that with the `-y` option enabled, if the `ius-release` package is already installed (eg I had it already or else if

[2017-08-04 01:24] aflat commented on #1115
It did fix it for me, and I had the same concurrent issue, which like you said was added in newer versions of tornado, so it should fix it for you too.

[2017-08-04 05:58] davidjb commented on #1115
I'll try and test the PR at some point, but that's great if it fixes this issue.  As you said above, this is indeed a rabbit hole...

[2017-08-07 20:20] rallytime commented on #1121
@davidjb Ah, yes. We need to get that fixed. Thank you for letting us know.

Just an FYI ping for @Ch3LL.

[2017-08-07 20:22] rallytime commented on #1119
@dafyddj Oh, yes. We need to get those paths fixed up. Thank you for letting us know.

FYI @Ch3LL and @twangboy.

[2017-08-08 14:41] rallytime commented on #1119
Hi @dafyddj - Can you give the changes I made in #1123 a try? I am not very good at Powershell, but wanted to get this fixed. Any help you can give in testing it is greatly appreciated.

[2017-08-08 17:12] rallytime commented on #1121
Hi @davidjb - Can you give the fix in #1124 a try? This splits up the `-y` and `-x` arguments so that the Python/IUS installation won't run if `-y` isn't specified. Note however that the `-x` option assumes the proper version of Python is already installed on the host.

Since `-x` no longer depends on `-y`, the following should work in your use case without having to pass `-r`:
[code]
And the pip

[2017-08-08 17:25] #1119 closed, assigned to rallytime

[2017-08-09 15:59] partsalliance opened #1126 "unable to specify multiple masters"
### Description of Issue/Question
I have been unable to use the bootstrap script to set multiple masters for the minion. This is so we can use the multi-master mode.

Does anyone know if it possible to achieve this with the bootstrap script?

### Setup
Running on ubuntu 14.04

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)
bootstrap-salt.sh -A salt-master.st

[2017-08-09 19:46] rallytime commented on #1126
Hi @partsalliance - The `-j` option should be able to handle this nicely for you. The `-j` option allows you to pass in a custom minion configuration file as a json dict, which you can use to pass the the two masters in:
[code]

See #841 for the change. Note that the option will write over your existing minion config (but makes a reasonable attempt to create a .bak file).

[2017-08-10 08:48] partsalliance commented on #1126
thank you very much.

[2017-08-10 08:48] #1126 closed, assigned to nobody

[2017-08-10 20:30] ninja- opened #1127 "Option -y -x python3 does not install using python3"
### Description of Issue/Question

Expected:
bash bootstrap-salt.sh -y -x python3 -M git develop

installs salt with python3 support

Currently:
It will still install using python2.7's pip and the /usr/bin/salt* files will have #!/usr/bin/python instead of python3

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if p

[2017-08-10 20:32] ninja- commented on #1127
When running with set -x I can see PY_EXE being set to python3[.5] so I am not sure where things go wrong here.

[code]

[2017-08-10 20:40] ninja- commented on #1127
Well there's a bunch of issues I see here, all parts of script should use ${PY_EXE} and there is 'python' hardcoded in some parts...

Needs a fix here
https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2173
https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2771

I changed these these and still can't get it to work with python3 it crashes with  no

[2017-08-10 20:43] ninja- commented on #1127
Ok and the final fix should be here https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2685 I hardcoded every python-XXX pkg to python3-XXX.
Now it's working.

Is anyone interested in making salt-bootstrap support python3?

[2017-08-10 21:00] rallytime commented on #1127
Hi @ninja- Thanks for filing this. Yes, we do want salt-bootstrap to support Python 3 and this is on my radar. The focus up until now has been to get salt itself working on Python 3, then get to bootstrap.

The `-x` option, as you've discovered, has not been tested with Python 3. That option was recently added to allow us to install Python 2.7 on CentOS 6, since it comes with Python 2.6 by default

[2017-08-10 21:04] rallytime commented on #1127
Oh, also note that PR #1124 is related to this, but has not been merged yet.

[2017-08-10 21:11] ninja- commented on #1127
Thanks. I'll be using a patched script for now, I am kind of stuck to python3 because most of my formulas require it. (iteritems() vs items() for example...)

[2017-08-11 21:14] gtmanfred opened #1128 "/etc/salt/minion not overwritting for some reason"
I have been unable to replicate this, but there is an issue where the bootstrap script decides to not overwrite the /etc/salt/minion file with the /tmp/.saltcloud-*/minion file.

[code]

[code]

When I run it, we get the file overwritten correctly.

[code]

The customer is seeing this issue on Ubuntu 14.04 on vmware.

ZD1654

Right now, they have it working by using `-F` as a workaround.

Thanks,

[2017-08-14 17:49] rallytime commented on #1128
Thanks @gtmanfred - I'll see what I can find.

[2017-08-16 13:57] #1121 closed, assigned to rallytime

[2017-08-17 20:07] rallytime commented on #1117
Ok @thedebugger, after looking into this some more, I have discovered what the issue is and this is expected behavior.

When you run the bootstrap script the first time with `stable 2017.7`, the repo file in `/etc/yum.repos.d/` gets set up to point to `latest`:
[code]
Then, when you run the script again with `stable 2016.11`, the bootstrap script already has a repo file in place, so it installs fr

[2017-08-23 06:56] davidjb commented on #1121
@rallytime That helps, but requires an active decision on the part of the person (or in my case, Vagrant provisioner) whether or not to use the `-y` option.   In my case, this would require Vagrant to somehow know whether `ius-release` is already installed, which it can't know with certainty as that's within the VM.

Is it possible to have bootstrap-salt.sh test if ius-release is already installed

[2017-08-23 17:41] EvaSDK opened #1137 "Bootstrap of Debian family broken in 2017.08.17"
### Description of Issue/Question

### Setup

I run minions in a network with Internet access only available through an HTTP proxy.
After upgrading to 2017.08.17, boostrapping new minions fails due to changes introduced in commit 0e45ba1c72c674562c9336716d6bc741ad649227.

### Logs

[code]

You can see apt-key timing out and later apt failing due to security warning.

### Versions and Systems

[cod

[2017-08-24 12:23] EvaSDK commented on #1137
Confirming reverting salt-bootstrap to v2017.05.24 fixed the problem.

[2017-08-25 14:59] vutny commented on #1137
It should work in Debian 8 "jessie", because there are old version of GnuPG which uses `curl` backend to retrieve the key and it honors `http_proxy` envrionment variable.

However, in GnuPG 2.1 (introduced in Debian 9 "stretch" and Ubuntu starting from 16.10 I believe) the key is going to be downloaded with `dirmngr`, which ignores `http_proxy` variable by default.

Thanks for reporting, this defi

[2017-08-28 13:43] rallytime commented on #1137
@EvaSDK Thanks for reporting this issue.

@vutny Sounds great! I look forward to seeing your fix.

[2017-08-28 17:48] mikepietruszka commented on #393
@The-Loeki what version of ZeroMQ does that come with?

[2017-08-29 13:06] The-Loeki commented on #393
2.2.0 (?): https://www.opencsw.org/get-it/packages/

But IIRC those options I specified were specifically meant to download, compile & use ZMQ from source rather than the packaged one.

[2017-08-29 18:38] ggmartins opened #1138 "lost support for armbian arm64"
### Description of Issue/Question
I'm pretty sure this **used to work**, but right now I'm getting this:
root@odroidc2:~# sh bootstrap-salt.sh -r -P git v2016.11.1
...
Ign http://apt.armbian.com jessie/utils Translation-en_US
Ign http://apt.armbian.com jessie/utils Translation-en
Ign http://apt.armbian.com jessie/utils Translation-en_US.UTF-8
Fetched 195 kB in 7s (27.1 kB/s)
Reading package lists.

[2017-08-30 13:52] vutny commented on #1137
@EvaSDK I've attempted to fix this in PR #1139. Please give it a try.

If your proxy configuration does not allow transparent TLS connections (without sending HTTP CONNECT), you might consider passing `-l` option to the bootstrap script.

[2017-08-30 14:02] vutny commented on #1138
@ggmartins Thanks for reporting! That definitely worked before. It seems easy to fix, I'll try to get on this.

[2017-08-30 14:06] rallytime commented on #1138
@vutny Thanks for jumping on fixing this. I was just about to comment here and ask if you could look into it. :)

[2017-08-30 16:08] gtmanfred opened #1140 "[Feature] Don't check services when -X passed on debian family"
### Description of Issue/Question

I know that ubuntu/debian always start the services when they get installed.  But if `-X` is passed, we don't need to check the services.

Thanks,
Daniel

[2017-08-30 18:04] rallytime commented on #1140
Sure. Should be easy to fix.

[2017-08-31 08:13] vutny commented on #1138
@ggmartins I've attempted to fix this in PR #1141. Please give it a try.

[2017-08-31 10:13] vutny commented on #1140
@gtmanfred @rallytime I've verified both Debian and Ubuntu installation against latest `develop`, and the `-X` option really does what it is supposed to do: skips checking if services are **running** after installation.

If you meant that we should skip checking if services are **enabled to start** after installation, that's different case and it supposed to be triggered by `-d` option. And I've f

[2017-08-31 14:08] ggmartins commented on #1138
I've downloaded (link below) and installed minion via sh _bootstrap-salt.sh -r -P git v2016.11.5_
https://raw.githubusercontent.com/vutny/salt-bootstrap/f283f92563f8b8cafdb9f887f6730ed02e58fba2/bootstrap-salt.sh
It seems to be running, but it didn't request access to the master I set. I doubled checked cfg multiple times, restarted _(salt-call --local service.restart salt-minion)_ , rebooted and d

[2017-08-31 14:36] ggmartins commented on #1138
nvm, it works now (typo in .conf)! great job on fixing this. Thanks a ton!

[2017-08-31 15:03] gtmanfred commented on #1140
Hrm, you are right, I am not sure what I was running into then.

I just ran it from the git repo and it is not pausing to check if the ubuntu services are running.

Thanks for checking,
Daniel

[2017-08-31 15:03] #1140 closed, assigned to nobody

[2017-08-31 15:21] #1138 closed, assigned to nobody

[2017-08-31 19:00] ggmartins opened #1142 "No dependencies installation function found."
### Description of Issue/Question

Sorry to bug you guys again. I was installing salt stack on raspbian stretch and got this. It was working for jessie.

**sh bootstrap-salt.sh -r -P git v2016.11.5**
   INFO: Running version: 2017.05.24  (tested with 2017.08.17 too)
   INFO: Executed by: sh
   INFO: Command line: 'bootstrap-salt.sh -r -P git v2016.11.5'

   INFO: System Information:
   INFO:   CPU

[2017-08-31 20:20] ggmartins commented on #1142
tried it on jessie and didn't work. I don't know how the hell I got it working before.

[2017-09-05 15:47] rallytime commented on #1142
@ggmartins Support for Raspbian on a Debian 9/Stretch base hasn't been added yet. It was on my radar at some point, but since I hadn't filed an issue for it, I forgot. Thank you for filing this.

@vutny You might be interested in adding this initial support if you have some spare time. :)

[2017-09-06 14:20] vutny commented on #1142
@rallytime Hmm.. I don't have spare RPi to test at the moment... However, I might be able to emulate it.

Actually, this is a broader issue with generic support of various Debian derivatives. I will try to apply a quick fix to unblock @ggmartins for now. Stay tuned.

[2017-09-07 13:00] ggmartins commented on #1142
You guys are awesome! Thanks so much for considering fixing it. It's a big research project we are working on and it's only possible because of amazing tools like SS.

[2017-09-07 15:41] dmurphy18 commented on #1142
@ggmartins @rallytime There are plans to support Raspbian on Stretch/Debian 9 as soon as it becomes available

[2017-09-08 06:58] vutny commented on #1142
@ggmartins I have added basic `git`-only installation support for Raspbian 9 in PR #1146 .
Please give it a try. Since it is based on latest `develop` branch it is also includes couple of prior fixes made for bootstrapping Debian.

[2017-09-08 13:18] #1142 closed, assigned to nobody

[2017-09-08 17:23] ggmartins commented on #1142
it works! thanks a ton!

[2017-09-08 18:25] rallytime commented on #1142
Thanks for filing this issue @ggmartins and thank you to @vutny for fixing it so quickly.

[2017-09-12 11:13] bertpassek opened #1147 "Salt Bootstrap fails on Linux Mint > 17"
Running bootstrap script on Linux Mint distribution fails with following message:

E: Unable to locate package gnupg1-curl
 * ERROR: Failed to run install_ubuntu_git_deps()!!!

I found this line in the script:
`if [ "${DISTRO_VERSION}" = "16.10" ] || [ "$DISTRO_MAJOR_VERSION" -gt 16 ]; then
        GNUPG_CURL="gnupg1-curl"
fi`

DISTRO_NAME_L is ubuntu
DISTRO_MAJOR_VERSION is 18 !!!
DISTRO_VERSION

[2017-09-12 11:31] bertpassek commented on #1147
I guess /etc/lsb-release might be the problem

DISTRIB_ID=LinuxMint
DISTRIB_RELEASE=18
DISTRIB_CODENAME=sarah
DISTRIB_DESCRIPTION="Linux Mint 18 Sarah"

[2017-09-12 14:13] rallytime commented on #1147
HI @bertpassek - Thanks for filing this issue.

Can you tell me what version of the bootstrap script you're running this on? Have you tried the `develop` version of the script? I am thinking this has been fixed with #1139.

[2017-09-13 07:23] bertpassek commented on #1147
Hi,
i just tried the develop version and it's working fine. We were actually using the salt provisioner for vagrant and boostrap version was v2016...

[2017-09-13 15:32] rallytime commented on #1147
@bertpassek Awesome! Glad to hear it and thank you for trying that. That fix only went in recently, but it will be available in the next release of the bootstrap script. I'll close this as fixed.

[2017-09-13 15:32] #1147 closed, assigned to nobody

[2017-09-14 16:14] wixyvir opened #1148 "Centos6: Missing pyOpenSSL package for Python 2.7"
### Centos6: Missing pyOpenSSL package for Python 2.7

I am trying to find a compatible python2.7 pyOpenSSL RPM package for Centos 6, in order to use pki eauth.

### Setup
Installing Salt master, Salt minion, and salt api 2017 from https://repo.saltstack.com/yum/redhat/6.9/x86_64/latest/

I am using the pki external auth, with this configuration:

[code]

### Steps to Reproduce Issue
When using pk

[2017-09-17 15:44] alchy58 opened #1149 "Unable to get the Saltstack repository public key"
### Description of Issue/Question
Using Xen role for installing salt-minion who worked some monthes ago (around 4-6 monthes, I was busy with some stuff), I got issue with unauthenticated packages.
It seems that the salt-bootstrap fails to fetch saltstack repository key :

So on the apt-get update I got :

So some packages are not installed :

Temporary workaround :

I added the "block saltstack re

[2017-09-25 21:15] rallytime opened #1152 "Create a Contributing Guide for bootstrap"
### Description of Issue/Question
The bootstrap script doesn't have a contributing guide! While some of the contributing options are documented in the `README`, a better place for many of these would be a contributing guide.

Adding this will help our contributors and get the [Community Tab](https://github.com/saltstack/salt-bootstrap/community) happy.

Things that should be documented here, along

[2017-09-27 16:47] calebwoofenden commented on #682
I'm seeing this problem when I try to add a private repo as an ext_pillar in the master config file. I have one non-private repo structured like this:

[code]

and things work fine, but when I add a private repo like so:
[code]
I get the same error specified in this thread.

EDIT: To add to this, I still get this error if I remove my old ext_pillar and have just the one private repo listed.

[2017-09-28 18:47] rallytime commented on #1128
@gtmanfred After looking more into this, I am not able to replicate it either. However, could the `/etc/salt/minion` file is already present on the minion? If that is the case, then this is completely expected behavior. We don't want to overwrite an existing minion config file without explicitly saying so (with `-F`).

[2017-09-28 18:47] rallytime commented on #1128
That logic is here, by the way: https://github.com/saltstack/salt-bootstrap/blob/ae8df09e13e6aa259e314afe3c739bd1a961d9bc/bootstrap-salt.sh#L2015

[2017-09-28 19:58] Jakis commented on #103
Unfortunately, it seems like this is still an issue for a few amazon amis.  I'm seeing this with one of the most recent amazon linux amis, but also with an older one.

Latest ami:
IMAGES	x86_64	2017-04-17T08:11:50.000Z	Amazon Linux AMI 2017.03.0.20170417 x86_64 HVM EBS	True	xen	ami-3234a652	amazon/amzn-ami-hvm-2017.03.0.20170417-x86_64-ebs	amazon	machine		amzn-ami-hvm-2017.03.0.20170417-x86_64-ebs

[2017-09-28 20:36] Jakis opened #1155 "Issues deploying to Amazon linux via salt-cloud."
### Description of Issue/Question
I'm getting a lot of errors trying to bootstrap salt, but they only seem to happen when the target ami is Amazon linux.  Seems to be related to the way packages/prerequisites are being installed by yum.

If I substitute the ami for ubuntu and change the ssh user, everything works great, so I think the issue is related to the Amazon Linux Ami/salt-bootstrap. Happy

[2017-09-28 21:34] rallytime commented on #1155
Hi @Jakis - Can you tell me what version of the bootstrap script you're using? It's either in `/etc/salt/cloud.deploy.d/` or it's in `<path-to-your-salt-installations>/salt/cloud/deploy/` and you can find the version by running `sh bootstrap-salt.sh -v`.

[2017-09-28 21:57] Jakis commented on #1155
Oh nice catch.  I was experiencing this issue with version 2016.08.16.  Now that I've updated to the latest version (which identifies as 2017.08.17), I can no longer reproduce my bug.

Thanks for looking, I think this one is resolved.

[2017-09-29 14:28] rallytime commented on #1155
@Jakis Awesome! Glad this is fixed up already with the new version. 👍

I'll close this. :)

[2017-09-29 14:28] #1155 closed, assigned to nobody

[2017-09-29 14:29] rallytime commented on #1149
@vutny Is this something you might be able to look into?

I feel like you made some changes recently to the Debian 9 support.

[2017-09-29 14:30] rallytime commented on #1149
@alchy58 Actually, can you test this running off the the `develop` branch and let us know how it goes?

[2017-09-29 18:53] rallytime commented on #1148
This issue is more of a `salt` issue, and not a `salt-bootstrap` issue. I have moved this issue over to the salt repo in https://github.com/saltstack/salt/issues/43839, so I'll close this issue here. Please follow up there for more information.

[2017-09-29 18:53] #1148 closed, assigned to nobody

[2017-09-29 19:02] #1117 closed, assigned to nobody

[2017-09-29 20:32] dmurphy18 commented on #1148
@rallytime  FYI we don't package pyOpenSSL package for Salt on any platfrom

[2017-10-05 10:59] padmini-st commented on #1106
Hi @nickgarber, this is what I was looking for. Very helpful.
Could I request to list out the steps for Photon OS for Salt-master as well.

Thanks

[2017-10-06 01:13] nickgarber commented on #1106
To run a salt-master on a container-host OS like Photon, why not run it in
a container?

That said, if running a salt-master on the "host" OS is important, it's
certainly possible. I haven't tried it but I believe setting up a
salt-master from source would share many steps with the salt-minion setup.

On Thu, Oct 5, 2017 at 6:59 AM padmini-st <notifications@github.com> wrote:

[2017-10-07 17:08] dereckson commented on #1112
When using salt-cloud to spin a Debian Sid image at Scaleway, with `buster/sid` in `/etc/debian_version`, I've the EOL error.

[2017-10-09 11:10] EvaSDK commented on #1137
Finally had time to check this today with current develop HEAD:
[code]

It still fails to retrieve the key. Maybe it needs an explicit HTTPS proxy setting.
Here are the logs:
[code]

[2017-10-10 12:57] #714 closed, assigned to nobody

[2017-10-10 19:18] rallytime commented on #1112
@dereckson What version of the bootstrap script are you running?

[2017-10-10 19:23] rallytime commented on #1137
@vutny Do you mind swinging back around here when you have a moment?

[2017-10-10 20:07] dereckson commented on #1112
The one provided with salt-cloud 2017.7.1 (Nitrogen).

[2017-10-10 20:32] rallytime commented on #1112
@dereckson Ah. The `2017.7.1` version of Salt includes the `2017.05.24` version of the bootstrap script. This issues wasn't fixed there yet, so you'll need to run the latest stable release of the bootstrap script instead.

You can update your bootstrap version with salt cloud with the `salt-cloud -u` command, which will download the latest stable bootstrap release and place it in the necessary dir

[2017-10-10 21:24] dereckson commented on #1112
Hey, thanks for the follow-up :)

[2017-10-11 13:26] brianthelion opened #1158 "--help should be updated to explicitly call out salt-api options"
### Description of Issue/Question

After looking at the `boostrap-salt.sh` source, there appear to be at least four different states that `salt-api` can be in:
1. Not installed
2. Installed
3. Installed, running
4. Installed, running, and ready to re-run at boot.

It's not at all obvious from the `boostrap-salt --help` how to reach each of these states. It's also not obvious how to pass in `salt-a

[2017-10-11 15:18] florianb commented on #1149
We're running into the same issue.

---
[code]

[2017-10-11 15:21] florianb commented on #1149
It seems like this issue is universal: https://www.google.de/search?q=Warning%3A+apt-key+output+should+not+be+parsed+%28stdout+is+not+a+terminal%29&ie=utf-8

[2017-10-11 23:54] #1036 closed, assigned to nobody

[2017-10-14 00:53] #392 closed, assigned to nobody

[2017-10-15 05:29] cmclaughlin opened #1159 "Wrong yum repo on AWS Linux"
Booting a cloud instance with bootstrap-salt.sh version 2017.08.17 configures the old/wrong yum repo.

I tried using this in my cloud profile -- with and without it yields the same results:  `script_args: stable 2017.7`

Here's what I end up with:

[code]
I see some logic in `install_amazon_linux_ami_deps` to configure the correct repo (`/yum/amazon` instead of `/yum/redhat`), but at the moment I

[2017-10-15 05:33] cmclaughlin commented on #1159
Testing on AWS Linux 2017.09

[2017-10-18 13:19] mayn opened #1161 "what url to use for windows minion bootstrap?"
for windows, what is the recommend location to download a stable `bootstrap-salt.ps1` from?

i.e for *nix everyone uses `https://bootstrap.saltstack.com`

(had a hard time finding it, my apologies if it is glaringly obvious)

thanks.

[2017-10-18 16:07] acgustafson opened #1162 "Bootstrap of Cumulus fails with "End of life distributions are not supported""
### Description of Issue/Question
The bootstrap install fails with ` * ERROR: End of life distributions are not supported.` when attempting to install on Cumulus Linux 3.4.2 (derivative on Debian 8).

### Steps to Reproduce Issue
Run `sh boostrap-salt.sh` on Cumulus Linux.
[code]

### Versions and Systems
[code]

[2017-10-20 18:45] tlex commented on #1149
Same issue on Ubuntu 16.04, when trying to add the repository with a state:
[code]
Downloading the same key to a file and then adding it with `- key_url: /file` works.

Probably related to salt/issues/44013

[2017-10-30 10:12] #524 closed, assigned to nobody

[2017-11-02 00:52] #1128 closed, assigned to rallytime

[2017-11-02 20:31] #1023 closed, assigned to nobody

[2017-11-06 17:22] #448 closed, assigned to nobody

[2017-11-06 18:56] birengoodco opened #1163 "Salt Minion install fails because dpkg lock is not released (using salt-cloud)"
### Description
When using salt-cloud to create a new AWS EC2 instance, it works, but often fails to get salt-minion installed (error below). I see this often with AWS EC2 instances... if you try and run apt/dpkg too quickly after the EC2 instance was created, you get errors about the dpkg lock not being released. Basically, you need to sleep for a couple seconds and try again, and it'll work.

Th

[2017-11-08 18:27] #1159 closed, assigned to nobody

[2017-11-11 16:49] ymasson commented on #1162
The `DISTRO_MAJOR_VERSION` is set before the `__debian_derivatives_translation` call.

`__debian_derivatives_translation` set the `DISTRO_VERSION` but don't set the `DISTRO_MAJOR_VERSION` with Debian translated number.

So, when the `__check_end_of_life_versions` is called, the major version contain the number of the system.

[2017-11-11 17:04] ymasson commented on #1162
A simple workaround could be:

`if [ "$_debian_version" != "" ]; then`
`  echodebug "Detected Debian $_debian_version derivative"`
`  DISTRO_NAME_L="debian"`
`  DISTRO_VERSION="$_debian_version"`
`  DISTRO_MAJOR_VERSION="$(echo "$DISTRO_VERSION" | sed 's/^\([0-9]*\).*/\1/g')"`
`fi`

in `__debian_derivatives_translation` function

[2017-11-14 15:34] #1152 closed, assigned to rallytime

[2017-11-15 16:05] #971 closed, assigned to nobody

[2017-11-15 23:41] Linuturk opened #1166 "Raspbian Dependency installation function failure"
### Description of Issue/Question

### Setup
Fresh installation of Raspbian on a Raspberry Pi 3.

### Steps to Reproduce Issue
Execute these commands:

[code]

### Versions and Systems
See above.

[2017-11-16 03:07] arizvisa opened #1167 "install_fedora_deps() `dnf` vs `yum` discrepancy in salt-bootstrap/stable"
[salt-bootstrap/stable](../tree/stable) is busted on fedora27 when trying to install deps.

This was actually already fixed in [salt-bootstrap/develop](../tree/develop) by eaca4cc0b87b0bda2eb163d2ffe0adeeef38af73 but https://bootstrap.saltstack.com is currently using the stable version (95693446321bf25fcb05208c3d2156743e7d8308).

Line 3321 should be dnf-utils and not yum-utils.

salt-bootstrap.sh:

[2017-11-16 16:48] arizvisa opened #1168 "-b option for telling salt-bootstrap to skip installing dependencies causes it to error out instead."
Documentation for the -b option specifies the following:
[code]
This implies that the dependency installation step is skipped. However..the following code skips adding any `install_*_deps` functions to the `DEP_FUNC_NAMES` var.

bootstrap-salt.sh:6399
[code]

At the end of the following code, `DEPS_INSTALL_FUNC` results in "null" due to `NO_DEPS` causing `DEP_FUNC_NAMES` to not include any of the

[2017-11-16 16:50] arizvisa commented on #1168
Not too important, but this was discovered while trying to workaround issue #1167.

[2017-11-16 17:09] rallytime commented on #1167
@arizvisa Thanks for pointing this out. We'll have to do a release soon since this is already fixed. I am not sure what the timeline is on that currently, but in the mean time you can use the develop version of the script.

[2017-11-16 17:19] rallytime commented on #1168
Ahhh good find @arizvisa. We'd love a PR to fix this if you would like.

[2017-11-16 17:25] rallytime commented on #1166
@Linuturk If you use the `git` option to install, does that resolve the issue for you?

Currently, we don't have support for `stretch`-based Raspbian packages, so it expected that this would fail presently. (See the supported distro section [here](https://github.com/saltstack/salt-bootstrap#debian-and-derivatives).) However, we could probably be more helpful in our messaging to hint at the `git` o

[2017-11-16 17:28] rallytime commented on #1158
@brianthelion Yes, standardizing the `salt-api` package installation has been on my list of things to do (in my head) for a long time, so thank you for filing this.

If you use the `git` option to install, that should allow you to have the `salt-api` files available as a workaround for now.

Can you tell me more about what you mean by using bootstrap to pass `salt-api` configuration information?

[2017-11-16 17:36] arizvisa commented on #1168
Ah awesome! You guys are sooo much better than hashicorp at dealing with your community. I did a quick github edit with the changes that I mentioned. Hopefully it works out.

Thanks for your quick response time!

[2017-11-16 18:32] brianthelion commented on #1158
@rallytime `salt-api` depends on a set of configuration options. These live in the master configuration file:

[code]
These options need to be pushed via `bootstrap-salt` for `salt-api` to be in a useful state after bootstrap.

[2017-11-16 19:52] Linuturk commented on #1166
@marcusd687 Can you give the `git` bootstrap method a try and report back?

`curl -L https://bootstrap.saltstack.com | sudo sh -- git`

[2017-11-16 19:54] rallytime commented on #1158
@brianthelion Are you using salt-cloud to try and configure this? Or plain bootstrap?

[2017-11-16 20:02] dmurphy18 commented on #1166
@Linuturk  @rallytime Attempted support for Stretch on ARM similar to our support for Jessie, however ran into problems  with dirnmgr, etc.  This was with Debian 9.0, but since then Debian 9.2 has been release with a number of fixes which recommend using a dist-upgrade from earlier releases, and includes fixes for dirnmgr etc.

I have upgraded my build pi system but with SaltConf and other pressur

[2017-11-16 20:06] rallytime commented on #1168
@arizvisa Happy to help! That fix looks like a great start.

Can you submit your fix as a pull request to salt-bootstrap so we can review/merge it in? There should be some documentation about that [here](https://help.github.com/articles/about-pull-requests/). Do let me know if you have any questions.

[2017-11-16 20:09] rallytime commented on #1166
@dmurphy18 Awesome! Thank you for the update. Once the salt-pack issue is resolved, we will have to adapt the bootstrap script to leverage your work there.

[2017-11-16 21:02] rallytime commented on #1163
Thanks for filing this @birengoodco

[2017-11-16 21:06] rallytime commented on #1161
Hi @mayn - My apologies for not responding here sooner. This one slipped through the cracks!

I am not aware of any very obvious ways to access the file like you can for `bootstrap.saltstack.com`. I would imagine most people just get the [raw link from GitHub](https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.ps1) to get the `bootstrap-salt.ps1` file.

@twangboy Do

[2017-11-16 21:08] rallytime commented on #1162
Thanks for posting the work around @ymasson. @acgustafson Are you in a position to give that a try? If that works, would either of you like to submit a pull request?

[2017-11-16 21:30] ymasson commented on #1162
@rallytime , I have include this workaround in my PR #1165 .

Without it, the bootstrap script return "End of life distributions are not supported" for all distributions derived from Debian, with a major release less than 7.

[2017-11-16 21:49] arizvisa commented on #1168
oh my bad. i totally thought it did. i guess github's editor creates the branch as `patch-%d` and expects you to submit the pr.

it's ref'd as #1169.

[2017-11-16 21:54] rallytime commented on #1162
@ymasson Oh, I'm sorry. You are right. I missed that last line you added when I was glancing at it. Thank you for clarifying.

@acgustafson That should resolve this issue for you.

[2017-11-16 21:58] rallytime commented on #1162
Closed via #1165

[2017-11-16 21:58] #1162 closed, assigned to nobody

[2017-11-17 02:13] acgustafson commented on #1162
@ymasson Thanks a bunch!

[2017-11-17 03:01] brianthelion commented on #1158
@rallytime I'm using `salt-cloud` but the bootstrap arguments are the same either way, no?

[2017-11-20 14:00] #1168 closed, assigned to nobody

[2017-11-22 21:11] twangboy commented on #1161
I don't think we have a link to the Windows bootstrap directly like we do for Linux.

[2017-11-24 16:01] rbjorklin commented on #1167
For the record we also hit this issue, a new release would be appreciated!

[2017-11-27 15:46] rallytime commented on #1161
@twangboy Do you think this is something we can add or make more useful/helpful for people?

[2017-11-27 16:26] twangboy commented on #1161
@rallytime I'm sure we could figure something out.

[2017-12-04 23:22] petrhosek opened #1172 "Cannot bootstrap Salt on Debian 9 arm64"
### Description of Issue/Question
I cannot bootstrap Salt on Debian 9 arm64.

### Setup
I'm trying to install Salt minion on Debian 9 (stretch) arm64 but I'm getting an error from the bootstrap script.

### Steps to Reproduce Issue
[code]

[2017-12-04 23:27] petrhosek opened #1173 "Packages for Debian 9 arm64"
### Description of Issue/Question
Would it be possible to build and provide packages for Debian 9 arm64 at https://repo.saltstack.com/? We're using Salt for managing Debian 9 arm64 with the packages installed from the Debian APT repository (https://packages.debian.org/stretch/salt-minion) but those are already outdated (the latest version is 2016.11.2) and we would like to update to the latest ver

[2017-12-04 23:30] dmurphy18 commented on #1173
Please see https://github.com/saltstack/salt-pack/issues/342.

Waiting for Raspbian to update to Debian 9.2 and pickup dirnmgr fixes, need to be able to run pbuilder --create in order to proceed.

[2017-12-04 23:31] dmurphy18 commented on #1173
@petrhosek Also since this is being tracked in salt-pack could you close this and move any discussion to the issue #342 in salt-pack.

[2017-12-05 03:28] petrhosek commented on #1173
@dmurphy18 Thanks for the pointer, but saltstack/salt-pack#342 seems to be concerned with armhf, not arm64. Shall I file a separate issue for the arm64 build in saltstack/salt-pack?

[2017-12-05 16:20] dmurphy18 commented on #1173
@petrhosek Sorry for reading too quickly w.r.t armhf, yes please salt-pack is the correct place to file an issue, since it is a question of packaging.  Wondering what hardware you are running the arm64 on ?

[2017-12-05 19:26] petrhosek commented on #1173
Moved to saltstack/salt-pack#459.

[2017-12-05 19:26] #1173 closed, assigned to nobody

[2017-12-06 13:11] vutny commented on #724
I would like to return to this issue. Please keep it open for some time. Thanks.

[2017-12-07 18:12] eradman commented on #880
I having trouble understanding this ticket. `bootstrap-salt.sh` doesn't use `sudo` at all. (And most of the time I run it on systems that don't have `sudo` installed.)  Could someone try to rephrase this request?

[2017-12-07 20:57] gdm85 commented on #880
@eradman I do not remember about the specific issue when I commented (if any), but I believe the problem reported happens only when using `sudo` while if you login as root (or use `su`) the problem does not happen. Can @khaije1 confirm?

In that case a documentation clarification (it currently suggests to use `sudo` in many places) would be enough.

[2017-12-08 14:40] eradman commented on #393
At this point Solaris 11 was release 7 years ago... I don't think anyone is installing Solaris 10 any more. Okay to close?

[2017-12-08 15:27] mikepietruszka commented on #393
@eradman At this point I don't touch anything Solaris related and SaltStack offers installation packages for Enterprise customers. Judging by how quiet this issue is, it seems like this affects very little amount of folks. I would say that it's OK to close this.

[2017-12-08 16:54] The-Loeki commented on #393
While we actually still run Solaris 10 in some production (this is an 'enterprise' OS, folks ;) ) I consider my posted 'workaround' or salt-ssh good enough as-is.
Just make sure it's closed as 'rejected' or sumtin'

[2017-12-13 18:36] rallytime commented on #1167
Hi @arizvisa and @rbjorklin - we just now published the new release. As such, I'll go ahead and close this. Thank you!

[2017-12-13 18:36] #1167 closed, assigned to nobody

[2017-12-15 16:38] rallytime opened #1180 "Add kitchen salt tests for bootstrap runs"
We need to add kitchen salt tests to PRs as well as the `develop` and `stable` branches for the bootstrap script.

@gtmanfred Please talk to me or @Ch3LL about what we're currently testing in Jenkins right now, and what we need to be adding to the kitchen salt runs.

A rough guideline of support is on the [README](https://github.com/saltstack/salt-bootstrap#supported-operating-systems) page of thi

[2017-12-18 15:24] rallytime commented on #393
Yes, I am going to close this as it is not something we will be adding to bootstrap. Thank you for posting the work-around @The-Loeki and for answering those questions. :)

[2017-12-18 15:24] #393 closed, assigned to nobody

[2017-12-18 15:33] rallytime commented on #1066
Hi @yogeshprasad - There have been some updates to the suse support in the latest release (and a couple of useful fixes at the head of the `develop` branch). However, the bootstrap script only supports the versions of operating systems that the distributors support. Since SLES 12 SP 1 is now EOL from SUSE, we are no longer maintaining support for that release version in salt-bootstrap. As such, I

[2017-12-18 15:33] #1066 closed, assigned to rallytime

[2017-12-18 15:36] rallytime commented on #880
@gdm85 A documentation change clarifying this would be most welcome! Is this something you would be willing to contribute? If not, perhaps @eradman would like to.

[2017-12-18 16:23] eradman commented on #880
I actually think the documentation is good as it is!

Any time instructions include `sudo some_cmd` I can also infer that running without `sudo` as root will work as well.

[2017-12-28 11:17] rallytime commented on #880
@eradman That's totally fair. Perhaps just a quick note of clarification then is all we need since that will likely help people. I can put something together today.

[2017-12-28 11:22] rallytime commented on #1172
Hi @petrhosek - Can you run this with the `-D` flag so we can see some debug logging?

[2017-12-28 14:04] rallytime commented on #1158
Hi @brianthelion - They're not quite the same. To pass master or minion configuration information to a VM you're creating with `salt-cloud`, you need to specify that in your profile/provider/map configuration (or whatever you're using to configure this VM via `salt-cloud`) under either the `master` or `minion` key.

There isn't anything explicitly defined in `salt-cloud` (at least that i could fin

[2017-12-28 14:11] #880 closed, assigned to nobody

[2017-12-28 15:26] rallytime commented on #1163
@birengoodco Can you give the fix in #1186 a try? That should fix this for you.

[2017-12-28 17:22] whytewolf opened #1187 "-X doesn't work on ubuntu"
### Description of Issue/Question
Because deb and ubuntu both autostart after installation. This can cause all sorts of issues with autostarted minions when config has not been completed yet. and when working with kitchen-salt can cause no end of headaches. it would be nice if -X worked with ubuntu, instead of just displaying a warning that it doesn't work.

on ubuntu 14.04 and earlier this behavi

[2017-12-28 20:58] brianthelion commented on #1158
@rallytime Thanks for that! I'll follow some of the examples and see what I can glean.

I guess the main purpose of this ticket was to address the "vanilla" boostrap case, namely the one in which the user has provisioned the VM by hand (ie, not through `salt-cloud`) and attempting to run the script. It's obvious from the `--help` how to get a master, but not a running instance of `salt-api` backed

[2017-12-29 00:50] petrhosek commented on #1172
I've tried the same command again today and it just worked as expected, so presumably the underlying issue has already been fixed.

[2017-12-29 00:50] #1172 closed, assigned to nobody

[2017-12-29 01:02] rallytime commented on #1172
@petrhosek Ah, wonderful! Thank you for updating the issue.

[2017-12-31 10:11] sybix opened #1188 "bootstraping salt without salt-syndic fail on Alpine Linux"
### Description of Issue/Question

Alpine Linux bootstrap fail because if salt-syndic not being installed, or using -S (witch install salt-syndic)

salt-syndic must be optional.

### Setup

salt-cloud with proxmox provider : Connection are ok
salt-cloud is cloning a vm on proxmox
  clone are ok
  bootstraping salt minion fail

### Steps to Reproduce Issue

A quick way to reproducde the issue is to

[2018-01-02 13:54] birengoodco commented on #1163
Hi @rallytime I'm not sure how I should try this? Where is the fix deployed to? I figured it might've been published and tried running a new salt-cloud -p deployment to see if it would just pick up an updated salt-bootstrap script... but I'm getting the same error...

So perhaps I'm not understanding how you'd like me to test... sorry for being dense haha Very psyched that there's a fix coming tho

[2018-01-02 14:12] rallytime commented on #1188
@sybix Thanks for filing this issue, and thanks for fixing it as well. Love it when that happens.

Since I just merged your fix, I'll go ahead and close this issue. Thank you!

[2018-01-02 14:12] #1188 closed, assigned to nobody

[2018-01-02 21:59] birengoodco commented on #1163
Updated my bootstrap-salt.sh with salt-cloud -u and tried re-running... Still getting the same error... Not sure how to update bootstrap-salt.sh to a non-release version?
[code]

[2018-01-03 18:47] rallytime commented on #1163
Hi @birengoodco - Thanks for being willing to test this! My apologies for not answering your question sooner. The fix hasn't been merged in yet, or released. So you'll need to test from the raw file of the PR itself. You can find the file here: https://raw.githubusercontent.com/rallytime/salt-bootstrap/7844bddffc348c6c45af101faa977d1f8f2cf80a/bootstrap-salt.sh

Let me know how it goes!

[2018-01-03 19:11] rallytime commented on #1158
Right. If you don't install via `git`, you won't even get the salt-api package. So we need to add that functionality. I'm keeping this ticket open to track that addition.

One thing to note, however, is that if you wanted to configure salt-api settings via the bootstrap-script only, you'd use the `-J` option to set the master config.

[2018-01-03 20:01] birengoodco commented on #1163
Hi @rallytime , great news, it appears to be working! I just ran a few test deployments, and no hiccups! I feel like the actual Salt Minion installation and overall time for salt-cloud to complete is taking a lot longer now, though...  I'm clocking in at about 15-20m per run for salt-cloud to return the prompt. I'd much rather have it complete without the hiccups, though, so I'm happy enough... ju

[2018-01-03 22:07] rallytime commented on #1163
@birengoodco Thanks for testing that! And that definitely seems a lot slower. I didn't time it when I was testing it. Originally my pr used `pgrep` to search for running processes and that seemed faster. I will update this to use pgrep if available, and then fall back to the other command if pgrep isn't available.

And for your side not question - you're totally right! I changed one variable and n

[2018-01-03 22:25] rallytime commented on #1163
@birengoodco I have updated the PR. Try this one: https://raw.githubusercontent.com/rallytime/salt-bootstrap/6d7788da0ebe9364ccf213c1d8e7d6b33927e4a4/bootstrap-salt.sh.

[2018-01-04 14:51] birengoodco commented on #1163
Hi @rallytime so I'm trying out the new script this morning, and it was MUCH faster this time... first iteration completed in just under 7m and the second iteration under 3m!

This new script appears to be outputting the process/pids from the pgrep (ex below), any chance that could be suppressed (or redirected to a log) for release? Perhaps that was your plan to begin with, but I thought I'd ask :

[2018-01-04 15:34] rallytime commented on #1163
@birengoodco Wonderful! That's great to hear. I'll look at getting that output redirected. Thanks again for testing and for your feedback. 👍

[2018-01-05 17:45] #1163 closed, assigned to rallytime

[2018-01-05 17:48] rallytime commented on #1163
@birengoodco I had to made one more change since the last time you tested, but the fix looks good and is merged into develop. This will be available in the next release of bootstrap.

[2018-01-12 22:09] meangrape opened #1192 "Installation on FreeBSD 11 broken"
### Description of Issue/Question
Salt-bootstrap relies on devel/swig13; as of the most recent quarterly build, this port is no longer available. It has been superseded by devel/swig30

Port:   devel/swig13
Moved:  devel/swig30
Date:   2017-12-20
Reason: swig 1.3 is not maintained, use swig 3.0

### Setup
Calling salt-bootstrap via packer

### Steps to Reproduce Issue

### Versions and Systems
Fre

[2018-01-12 22:13] meangrape commented on #1192
Aha! I see it's fixed. I just need to narrow down to the correct commit.

[2018-01-12 22:19] meangrape commented on #1192
Just in case anyone else comes looking for this, devel/swig30 started being used in commit 94b86f28df

[2018-01-13 00:35] ipsecguy commented on #1166
Looks like bootstrap on raspbian 9.3 also does not work. Seems that some GPG Key is not available. I also tried git method, fails with the same issue (GPG Key and repo not found).
[code]

[2018-01-16 17:08] meangrape commented on #1192
Targeting the git commit doesn't work:
[code]
Results
[code]

[2018-01-16 17:30] meangrape commented on #1192
Links to logfiles. https://gist.github.com/jayed/9b1251a8f389d171851f49c7585c1d33

[2018-01-16 17:31] meangrape commented on #1192
It's definitely running: `/usr/local/sbin/pkg install -r FreeBSD -y swig`

[2018-01-16 17:32] meangrape commented on #1192
This seems like it might be a packer interaction?

[2018-01-16 17:48] meangrape commented on #1192
Ah. Yes. Packer pulls from https://bootstrap.saltstack.com which still has an older version. Any timeline on an update? I'd prefer not to hack the packer source code to download the bootstrap script from somewhere else.

[2018-01-16 21:16] gtmanfred opened #1193 "gnupg2 is just a dummy translation package starting in ubuntu 17.04"
### Description of Issue/Question

With ubuntu >= 17.04 we need to just install gnupg, instead of gnupg2.

ref https://github.com/saltstack/salt-jenkins/issues/709

[2018-01-16 21:31] rallytime commented on #1193
To note, 17.04 just went EOL at the beginning of this month. However, Ubuntu 17.10 will still have this issue.

[2018-01-16 22:37] #1192 closed, assigned to nobody

[2018-01-19 09:31] nodakai opened #1194 "Doesn't work with Amazon Linux 2 ami-4f89f53"
### Description of Issue/Question

[code]

`bash -x` displays sth like this

[code]

Apparently the script picked up 2 from "2.0" and complained it's less than 2012.
* https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L1606

Given the new versioning scheme for Amazon Linux 2 series, maybe anything below 10 should pass the check?

### Versions and Systems
[code]

[code]

[2018-01-19 09:40] nodakai commented on #1194
Hmm, the RPM doesn't support Amazon Linux 2 yet after all... saltstack/salt#45154

[2018-01-22 08:00] tacf opened #1195 "Exit code on Windows minion"
### Description of Issue/Question
No exit code from `salt-call` on windows.

### Setup
salt-minion version 2017.7

### Steps to Reproduce Issue
Do a `salt-call state.sls some_state` where  `some_state` does not exist.
Execute this command on both windows 2016 server and Ubuntu 16.04.
Windows has exit code 0 and Ubuntu 127.

[2018-01-22 08:01] #1195 closed, assigned to nobody

[2018-01-22 08:02] tacf commented on #1195
Wrong repo. Opening on salt repo

[2018-01-22 17:39] rallytime commented on #1187
Thanks @whytewolf - I have marked this as a feature request.

[2018-01-22 18:37] rallytime commented on #1193
This should be fixed with #1196, however note that the PR removes support for 17.04 since it is EOL, but fixes support for 17.10.

[2018-01-22 20:32] #1193 closed, assigned to rallytime

[2018-02-08 22:39] rallytime commented on #1127
still relevant stale-bot

[2018-02-09 15:22] ignatk commented on #1172
Hit this problem again:
[code]

I don't see `arm64`/`aarch64` architecture on http://repo.saltstack.com/apt/debian/9/
So it seems the problem is not fixed.

[2018-03-05 21:28] rallytime opened #1202 "Fix tornado pip installs to be < 5.0"
Salt doesn't work with tornado 5.0, which was released today. The bootstrap script needs to be updated to handle installing tornado < 5.0 until salt has fixed support for tornado on their side.

[2018-03-07 20:23] rallytime commented on #1194
@nodakai my apologies for the late response here, but yeah, the packages for Amazon Linux 2 haven't been released yet. Once they are, we definitely should get the bootstrap script to support it.

[2018-03-07 23:03] #1202 closed, assigned to rallytime

[2018-03-09 20:46] rallytime opened #1207 "Move PR lint tests from old jenkins to new jenkins"
The lint checks are set up on a Jenkins master that doesn't do a lot of recent testing besides lint checks for bootstrap PRs. We need to move these checks to the new Jenkins. This will also help start prepping for #1180, as those tests, once created, should run in the new Jenkins, too.

@gtmanfred I just wanted to file this after what we discussed yesterday about moving these to new jenkins instea

[2018-03-09 20:49] gtmanfred commented on #1207
:+1: sounds good

[2018-03-14 06:01] xkktt opened #1208 "turbolinux"
### Description of Issue/Question

### Setup
(Please provide relevant configs (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible, `bootstrap-salt.sh -D`.)

### Versions and Systems
(`salt --versions-report`, `bootstrap-salt.sh -v`, system type and version,
cloud/VM provider as appropriate.)

[2018-03-14 20:13] pjcreath opened #1209 "Version argument ignored if saltstack.repo already exists"
### Description of Issue/Question
On RHEL and CentOS, bootstrap-salt.sh silently ignores the version specified as an argument if /etc/yum.repos.d/saltstack.repo already exists.

This is mostly a problem when using salt-cloud to set up a new minion from a base image that already has some version of salt installed. Since [minions newer than the master aren't guaranteed to work](https://docs.saltstac

[2018-03-15 15:09] rallytime commented on #1208
Hi @yatre - Can you fill in a little more information here? What is this issue about?

[2018-03-16 19:02] rallytime commented on #1209
@pjcreath Thanks for filing this issue and for submitting the fix. :)

[2018-03-21 18:25] EvaSDK commented on #1137
Testing again today, both stable & develop are still broken. Also, I cannot use stable as-is now as it does not know about 2017.7 which is the current release I use on my infra.

[2018-03-21 18:33] EvaSDK commented on #1137
Re-reading the PR, using -l is not acceptable as I don't want to get rid of SSL validations and making proxy transparent is not possible either as it comes with its own problems and this is not required by 100% of the rest of the infrastructure I manage. Can't we just go back to the old method as dirmngr is unlikely to be unbroken in the near future ?

[2018-03-26 13:39] #1209 closed, assigned to nobody

[2018-03-27 18:41] devinnasar opened #1212 "Salt-bootstrap on Amazon Linux does not have an option to specify version on Amazon Linux"
### Description of Issue/Question
I'm attempting to commission new minions without having to upgrade my infrastructure's salt version, for fear that a version upgrade will break my states. It seems that the commands available for specifying an older version with the bootstrap script do not properly work for amazon linux.

### Setup
(Please provide relevant configs (Be sure to remove sensitive info

[2018-03-28 14:38] rallytime commented on #1212
Hi @devinnasar - thanks for filing this issue. A couple of follow up questions:

- Can you tell me which version of the bootstrap script you're using?
- Does this also happen when you're running the bootstrap script directly on an Amazon Linux VM? (i.e. `sh bootstrap-salt.sh git v2017.7.2`)
- Can you please post your profile for `QAAP-C` (be sure to strip out any sensitive information)?

There are

[2018-03-28 14:39] rallytime commented on #1208
Closing since we haven't heard back here. Please feel free to reopen with the above questions answered. Thanks!

[2018-03-28 14:39] #1208 closed, assigned to nobody

[2018-03-30 15:21] Ch3LL opened #1213 "Kali Linux 2 labeled as EoL by bootstrap-salt.sh"
@d4t4king commented on [Thu Mar 29 2018](https://github.com/saltstack/salt/issues/46785)

### Description of Issue/Question
Kali Linux 2 (rolling) labeled as End of Life (EoL) by bootstrap-salt.sh.  bootstrap-salt.sh refuses to install specified version.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug lo

[2018-03-30 15:33] Ch3LL commented on #1213
Looks like we need to add some logic for Kali in this function: `__check_end_of_life_versions` or update the DISTRO_MAJOR_VERSION logic for kali.

In the meantime @d4t4king you can comment out the function call in the script if you need to get it working.

For more reference here is the relevant `bash -x` output:

[code]

[2018-03-30 19:33] d4t4king commented on #1213
Tried that.  It fails because the Kali package repository doesn't appear to contain 'gnupg-curl'.

[2018-04-06 17:37] nickgarber commented on #1106
Please leave this open. Time permitting I believe I could implement this
myself. The issue will let others know that an interest in the feature has
already been registered and that they can contribute or inquire about
status.

On Thu, Apr 5, 2018 at 9:21 PM stale[bot] <notifications@github.com> wrote:

[2018-04-06 22:33] aaronm-cloudtek opened #1215 "Installation on FreeBSD 10.4 broken"
### Description of Issue/Question
Fails with `No packages available to install matching 'swig'`

Appears to be the same problem described in #1192

### Steps to Reproduce Issue
Download bootstrap script from https://bootstrap.saltstack.com and run on FreeBSD 10.4

[2018-04-09 15:58] rallytime commented on #1215
@aaronm-cloudtek Thanks for the report. Can you try the develop version and confirm if this is fixed or not? If this is the same issue as #1192, then it should be fixed there.

https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh

[2018-04-09 18:00] devinnasar commented on #1212
Hello @rallytime. Thanks for responding. Here are the answers I could gather.

- I am using salt-bootstrap 2017.12.13.
- Yes this behavior happens even when calling the bootstrap script from a bare EC2 instance. Please keep in mind that I actually don't want to install it via git. I want to install it via package manager.
- profile for QAAP-C:
[code]

[2018-04-09 19:07] rallytime commented on #1212
@devinnasar Thanks for that extra information. What happens when you install with the `stable` keyword?

[code]

[2018-04-11 07:00] danielduduta opened #1216 "mysql_grants.present - extra invalid back ticks added when using ON '*.*' generating MySQL Error 1144: Illegal GRANT/REVOKE command"
### Description of Issue/Question
mysql_grants.present - cannot run query, mismatched between the actual executed query(Doing query) and reported as executed (Failed to execute).
It seems extra back ticks are added when using ON '*.*' making the query invalid:
Doing query - GRANT SELECT, REPLICATION SLAVE, REPLICATION CLIENT ON `*`.`*` TO %(user)s@%(host)s args: {u'host': u'%', u'user': u'repl'}
M

[2018-04-11 07:00] #1216 closed, assigned to nobody

[2018-04-11 15:14] jheidbrink opened #1217 "-b option causes bootstrap-salt.sh not to download git repository"
### Description of Issue/Question

When installation type ("$ITYPE") is "git", the "-b" switch prevents bootstrap-salt.sh from downloading the repository (contrary to the documentation). This breaks the installation.

### Steps to Reproduce Issue
Take an Ubuntu 16.04 system with git and python installed. Place the bootstrap-salt.sh somewhere and execute:
`sh bootstrap-salt.sh -D -b git`

### Expla

[2018-04-11 15:50] rallytime commented on #1217
@jheidbrink Just to be sure, do you still see that problem when you specify a specific git branch/sha/tag?

Something like:
[code]
or
[code]

[2018-04-11 17:07] jheidbrink commented on #1217
@rallytime Yes, I get the same problem when specifying a ref.

[2018-04-11 18:26] rallytime commented on #1217
@jheidbrink OK, thanks for filing and for confirming. :)

[2018-04-15 22:25] jirkadanek opened #1218 "RHEL 6 32bit error: /tmp/salt-gpg-8EyvlCXO.pub: key 1 not an armored public key."
### Description of Issue/Question
I get an error when installing salt.

[code]

Could be similar to https://github.com/saltstack/salt-pack/issues/220

### Setup
Install salt with `install_salt.sh -P -U -i workstation6i -A 10.x.x.x`

### Steps to Reproduce Issue
[code]
The line `qemu: Bad id for repo: rhel-6-Workstation-rhv-agent/4, byte = / 28` should be unrelated to this issue.

### Versions and

[2018-04-15 22:57] jirkadanek commented on #1218
Workaround: install previous salt version, that is 2017.7, if you use 32bit RHEL6. That is,

    sudo sh install_salt.sh -P -U -i server6i -A 10.x.x.x -X stable 2017.7

[2018-04-16 20:24] rach-sharp commented on #1106
As a couple of extra notes following the process above, I also had to install `python-xml` before I could install pip using `get-pip.py`. Once I'd cloned the main branch I also had to explicitly install dependencies from `requirements/base.txt` as well as run `setup.py`.

[2018-04-19 18:23] rallytime opened #1220 "Change Tornado Version to upstream again once 5.0 is supported in salt"
### Description of Issue/Question
Due to the discussion in https://github.com/saltstack/salt/issues/45790, the following changes was made to the bootstrap script: https://github.com/saltstack/salt-bootstrap/pull/1219

Once Tornado 5.0 is supported in SaltStack, we should revert #1219. This issue is just a reminder for that.

[2018-04-23 20:00] devinnasar commented on #1212
Hello @rallytime,

Sorry this took so long to get you. The same thing happens. Please see the following:

[code]

[2018-04-23 20:05] devinnasar commented on #1212
Furthermore, the issue seems to be that the deploy assets are just not where salt-boostrap is looking for them. There is nothing at [https://repo.saltstack.com/yum/amazon/latest/x86_64/2017.7.2/](https://repo.saltstack.com/yum/amazon/latest/x86_64/2017.7.2/), but there are assets at [http://repo.saltstack.com/yum/amazon/latest/x86_64/2017.7/](http://repo.saltstack.com/yum/amazon/latest/x86_64/2017

[2018-04-23 21:10] rallytime commented on #1212
@devinnasar Ah, those should be in the `archive` path, I think. http://repo.saltstack.com/yum/amazon/latest/x86_64/archive/2017.7.2/

I have not looked at the code specifically here, but it looks like we have a bug somewhere in the logic that's not switching over to the `archive` option when we should be, I think.

[2018-04-24 14:42] rallytime commented on #1218
Hi @jdanekrh - Salt no longer supports Python 2.6 starting with the 2017.7.x releases, which is likely why you're running into this issue. There's an option in the bootstrap script now to install Python 2.7 as a workaround: `sh bootstrap.sh -P -y -x python2.7 git v2017.7.2`.

[2018-04-26 17:20] rallytime commented on #1215
The PR listed above has now been released with the latest stable. Since I never heard back here, I am going to close this. If the issue persists on the latest stable release, please leave a comment with updated information and I am happy to open this up again.

[2018-04-26 17:20] #1215 closed, assigned to nobody

[2018-04-27 19:18] rallytime opened #1225 "Add Ubuntu 18.04 Support"
Ubuntu 18 recently dropped, but support for it hasn't been added yet.

[2018-04-27 19:54] #1149 closed, assigned to nobody

[2018-05-02 13:05] piersf commented on #1194
@rallytime is there any date where those packages are going to be made available?

Thanks,

[2018-05-02 13:57] rallytime commented on #1194
@piersf That's a good question - I am not sure what the plans are for that presently, but I can check.

In the mean time, if someone wants to take a stab at adding git install support for this, that would be a good way to get this working for people until the packages are available.

[2018-05-02 14:42] stv-io commented on #1194
If it's any help (I can't quote the details, stating solely on memory, based on a quick and dirty test) a `pip install salt` worked without any hiccups for the more recently available AMI for Amazon Linux 2 a few weeks ago.

[2018-05-09 01:34] ketzacoatl commented on #1127
@ninja- do you have a fork somewhere with the updates to use python 3?

@rallytime do you have any comments/feedback on the proper way to implement support for python 3?

[2018-05-09 20:52] sfrazer opened #1227 "Salt-minion fails to install on fresh CentOS 7.5.1804 install"
### Description of Issue/Question

When attempting to install salt-minion on a fresh network install of CentOS 7.5.1804 (Core) yum will fail because the Salt package requires a previous version of systemd and glibc

### Steps to Reproduce Issue
Install CentOS from http://mirror.centos.org/centos/7/os/x86_64/

Add repo with:
`yum install https://repo.saltstack.com/yum/redhat/salt-repo-2018.3-1.el7.

[2018-05-09 20:57] sfrazer commented on #1227
Argh, wrong repo...  Feel free to close, I'll open this in the right place

[2018-05-09 20:57] #1227 closed, assigned to nobody

[2018-05-10 22:02] rallytime commented on #1127
@ketzacoatl I have started working on this today, but ran into some bugs. The approach I am using right now is to start with the stable PY3 packages that are now available at repo.saltstack.com.

I plan to continue working on this tomorrow.

The effort to support multiple distros will probably be a decent effort. I'm starting with Ubuntu 16.04 right now.

[2018-05-16 19:42] birengoodco commented on #1163
Hi @rallytime , was this ever released? I had been running with the version you supplied above ever since, and decided to update bootstrap-salt.sh today, to make sure I wasn't missing out on any other updates... and saw that it failed like above... I've reverted back to my other copy, but wondering if this was actually released, or if something else is up again?

[2018-05-16 21:14] rallytime commented on #1163
Hi @birengoodco - Yeah, it should be in the [latest release](https://github.com/saltstack/salt-bootstrap/releases/tag/v2018.04.25).

Can you post which version you're running and where it is failing?

[2018-05-16 21:27] birengoodco commented on #1163
The updated script shows `__ScriptVersion="2018.04.25"`

It's failing the same way as before:
[code]

[2018-05-17 14:46] rallytime commented on #1163
Perhaps there is a place in the script that needs the process check function that wasn't in the original fix. Can you post your debug logs please?

[2018-05-17 14:51] birengoodco commented on #1163
Sorry for being dense haha, but what debug logs? Happy to provide whatever you need, but wasn't sure where there might be additional information than what is coming to the screen (which is what I pasted above).

[2018-05-17 20:37] rallytime commented on #1163
Can you run the bootstrap script with `-D` and post the output? That will help narrow down where this might be hanging.

[2018-05-18 13:51] Artem261992 commented on #1225
Could you say please, on which version of python will the official release of salt for Ubuntu 18.04 work?