[2012-12-20 02:39] jorgeecardona opened #8 "Bootstrap fails in Debian Squeeze (stable)"
Hi,

I'm using the line:

[code]

but it fails in debian 6.0 stable with:

[code]

Checking in squeeze-backports there is no salt-minion, but there is one in Debian unstable.

Bye.

[2012-12-20 02:43] akoumjian commented on #8
I will get to this tonight, sorry for the delay!

[2012-12-20 03:46] jorgeecardona commented on #8
Hi, I was trying also using the "git" option:
     ./bootstrap-salt-minion.sh git

but it fails also.

[2012-12-20 03:48] akoumjian commented on #8
Yes, this is because the git option uses the apt installation for installing dependencies, then installs over it. Since backports is frozen, they decided to phase out the out of date salt packages in there.

[2012-12-20 10:52] s0undt3ch commented on #8
Git installs should not depend on previous salt packages or any salt package for that matter, right @akoumjian?

[2012-12-20 17:31] akoumjian commented on #8
Correct, changing it to just grab the deps independently.

[2012-12-20 19:19] #8 closed, assigned to nobody

[2012-12-25 20:51] jorgeecardona opened #10 "minion.d path is not created in debian squeeze using git 0.11"
Hi,

I imagine this is pretty small issue, but I think the path /etc/salt/minion.d must be created by the oneliner, I'm currently using this:

[code]

and the path is not created, the rest works perfect.

Bye.

[2012-12-26 05:26] thatch45 commented on #10
I don't think that directory is required, and this would be a packaging question more than a bootstrap question I think, since the bootstrap relies on packages.
Are you seeing errors wrt /etc/salt/minion.d ?

[2012-12-26 05:30] jorgeecardona commented on #10
No it works perfect, but the "one-liner" is not working as a "one-liner"
since I still have to do an extra mkdir /etc/salt/minion.d to have a
working environment. Is just that.

Bye.

On Wed, Dec 26, 2012 at 12:26 AM, Thomas S Hatch
notifications@github.comwrote:

##

Jorge Eduardo Cardona

jorgeecardona@gmail.com
jorge@cardona.co

cardona.co
github.com/jorgeecardona

[2012-12-26 05:32] thatch45 commented on #10
I am confused, what part of the environment is not working? Is it just the fact that you need to make the directory before plopping files into it?

[2012-12-26 05:34] jorgeecardona commented on #10
Yes, is just that, is a small thing.

On Wed, Dec 26, 2012 at 12:32 AM, Thomas S Hatch
notifications@github.comwrote:

##

Jorge Eduardo Cardona

jorgeecardona@gmail.com
jorge@cardona.co

cardona.co
github.com/jorgeecardona

[2012-12-26 05:36] thatch45 commented on #10
Thanks for clarifying, I will talk it over with our packages to see what they think.

[2012-12-26 15:01] s0undt3ch commented on #10
This is not actually a packaging issue, at least it's not a packaging issue related to salt since @jorgeecardona is trying to install from git.

And @jorgeecardona, since you're installing from git, salt only touches your filesystem on the parts which it really requires it and `conf.d` is not one of those.

So, at most, this is not a bootstrap issue, if @thatch45 agrees, this is a salt issue, ie,

[2012-12-26 17:32] thatch45 commented on #10
hmm, that is a valid argument, maybe we should add it to the verify_env routines

[2013-01-05 16:14] VShell opened #12 "Debian packages broken"
The Debian Squeeze packages as installed by bootstrap are currently version 0.10.5, and suffer from the bug which has since been fixed by https://github.com/saltstack/salt/pull/2745. As a result, using the pkg module and pkg state is currently impossible without patching Salt after installation, which is obviously not desirable.

Could the package maintainer (@madduck?) either apply this patch to

[2013-01-05 17:23] akoumjian commented on #12
We are currently waiting for the sid maintainers to update salt there. Once it has been updated for unstable, madduck is willing to backport whichever version they've built.

[2013-01-05 17:58] VShell commented on #12
@akoumjian Is there currently a workaround for this, then, aside from manually patching Salt, or installing from git?

[2013-01-05 18:07] akoumjian commented on #12
The other current options for installing salt are:
1. building the debs using [this guide](https://salt.readthedocs.org/en/latest/topics/installation/debian.html?highlight=deb%20package#squeeze)
2. Using pip + installing dependencies separately
3. Installing form git, as you stated.

I do think installing from git is the most viable option at this point with the bootstrap script, which will still

[2013-01-05 18:31] VShell commented on #12
Alright, thanks for that. I will install from git, until the package is fixed.

[2013-01-09 05:17] orientalperil opened #15 "Does this script work offline?"
What's the recommended way using Salt to configure a machine that has no network access?

[2013-01-09 06:08] akoumjian commented on #15
Well, I'm guessing you want to run a masterless minion. This means that your formulas are going to live directly on the minion. It also means you will issue commands to the minion on the machine directly using `salt-call --local [cmd]` instead of the usual targetting `salt '\*' [cmd]`. See http://docs.saltstack.org/en/latest/topics/tutorials/quickstart.html

As far as installing salt itself, it wo

[2013-01-09 09:52] orientalperil commented on #15
The goal is probably best achieved by exporting the virtual machine :).

[2013-01-09 09:52] #15 closed, assigned to nobody

[2013-01-10 09:00] ghost commented on #10
I agree with @jorgeecardona that bootstrap should mkdir -p /etc/salt/minion.d if it needs to put files there on the git based setup. I'm not sure if all platforms' packages create the directory for you.

[2013-01-10 18:39] s0undt3ch commented on #10
We could add that directory to salt's `verify_env` routine and maybe on git bootstraps create it ourselves?

Everyone agrees?

[2013-01-10 18:50] akoumjian commented on #10
I agree it belongs in salt's verify_env routine, doesn't belong in bootstrap script.

[2013-01-10 20:21] techhat opened #17 "salt-cloud configs in /tmp/ not copied over for Ubuntu"
I was testing salt-cloud with an older version of salt-bootstrap (sorry, I don't know which one) and was able to successfully spin up an Ubuntu box on the HP cloud service, and have the configs copied over for me. Then, realizing I was running an older version, I updated to the latest git. Now it still installs salt properly, but does not copy over the config files.

Looking at the source, I'm not

[2013-01-10 20:29] akoumjian commented on #17
Is it not running the config_minion() function? It should grab the default config_minion() function here: https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt-minion.sh#L914

As long as you pass the script the `--config-dir` option it should execute the config function and copies the files into place.

[2013-01-10 20:33] ghost commented on #10
Sure, I think that's perfect.  I was looking for the minimal-fix method with 'mkdir'. 8)

[2013-01-10 20:33] techhat commented on #17
Is the --config-dir option required for this?

[2013-01-10 20:35] akoumjian commented on #17
Yes, in fact it was added specifically with salt-cloud in mind. Normally when you are bootstrapping the default setting is to generate new keys & copy over the template minion config.

[2013-01-10 20:36] akoumjian commented on #17
Alternatively, when you are scping the keys/config over, you could just place them at whatever their final destination should be.

[2013-01-10 20:46] techhat commented on #17
Looks like I was previously using a version that was incorrectly using config-dir automatically. I have updated salt-cloud correctly, and it seems to work admirably.

[2013-01-10 20:46] #17 closed, assigned to nobody

[2013-01-10 22:19] s0undt3ch commented on #10
Yes, the routine should be present in salt itself, though, what if the user wishes to pre-populate that directory before salt is started :\

[2013-01-10 22:40] ghost commented on #10
That works great; I do that myself so when I upgrade salt every day I don't loose my config. I haven't (yet) looked at verify_env() but I'm pretty certain it's not going to delete existing .conf files there.

[2013-01-11 19:51] #10 closed, assigned to nobody

[2013-01-14 19:34] UtahDave opened #18 "Bootstrap git"
Would it be possible to have salt-bootstrap install git so it can clone and install a specific branch or commit hash?

Or is this functionality already included?

[2013-01-14 19:36] UtahDave commented on #18
I'm sorry. I got off my behind and actually took a cursory glance at the source, and git is already installed by salt-bootstrap.

Sorry for the noise.

[2013-01-14 19:36] #18 closed, assigned to nobody

[2013-01-14 19:37] akoumjian commented on #18
We should make it more clear in the docs what parameters you can pass to bootstrap.

[2013-01-15 00:21] s0undt3ch opened #19 "sudo ./salt-bootstrap.sh git <sha> fails"
Originally posted by @pitrou on saltstack/salt#3261

Apparently sudo ./salt-bootstrap.sh git develop is not enough to get an up-to-date version, so I tried to do sudo ./salt-bootstrap.sh git 80990fa8bead30b56d26ba16739b4aca865db2b9 and I got the following error:
- Running install_debian_git()
  fatal: reference is not a tree: 80990fa8bead30b56d26ba16739b4aca865db2b9

Should I try something else?

[2013-01-15 00:24] akoumjian commented on #19
How could git develop not get the most recent version of develop?

[2013-01-15 00:28] s0undt3ch commented on #19
@akoumjian I think @pitrou was trying to check from an un-merged pull request.

@pitrou

[code]

[2013-01-15 00:28] #19 closed, assigned to nobody

[2013-01-17 21:40] techhat opened #20 "FreeBSD seems to be broken on EC2"
Trying to spin up a VM on AWS EC2 using salt-cloud, using the following salt-cloud profile:

aws-freebsd:
    provider: aws
    image: ami-1d4c9874
    size: Micro Instance
    script: bootstrap-salt-minion
    ssh_username: root
    sudo: False

In this configuration, the script is uploaded as /tmp/deploy.sh, and executed with:

/tmp/deploy.sh -c /tmp

When it tries to run, I get:

/tmp/deploy.sh

[2013-01-17 21:53] akoumjian commented on #20
Not sure why it got switched to bash, should be sh at the top.

Don't know anything about freebsd packaging, unfortunately. Looks like @cedwards might know something.

[2013-01-17 22:03] s0undt3ch commented on #20
Yes, `sh` should be at the top.

[2013-01-17 22:04] s0undt3ch commented on #20
@techhat about the packages not found, look at @akoumjian's reply

[2013-01-17 23:00] ghost commented on #20
These should all be /bin/sh, not 'bash'.

[2013-01-17 23:03] akoumjian commented on #20
@seanchannel We were talking specifically about salt-bootstrap, but assuming the current salt-cloud scripts are bourne shell compliant that should work.

[2013-01-18 00:22] s0undt3ch commented on #20
I think I know why that changed to bash. Because it's useful on some distros and because the script I usually call it like `sh ./bootstrap-salt-minion.sh` meaning that the shebang won't have an effect.

Since the script has the execution bit set by salt-cloud and is executed directly, it expects a bash binary or a simlink from the `/bin/bash` to the system's chosen `sh`.

Either way, let's change

[2013-01-18 00:32] techhat commented on #20
We still need to do something about the second part of this issue. It would seem that the culprit may be the pkgbeta URL, which points to a server that was recently re-imaged, and may not have all of the packages that it used to. @cedwards has kindly offered his server, but I don't want him to get hammered by official Salt scripts. Is there another we could use?

[2013-01-18 00:40] s0undt3ch commented on #20
@techhat sorry, closed the script on the commit message.

[2013-01-18 00:42] techhat commented on #20
@s0undt3ch, no worries.

[2013-01-18 00:44] s0undt3ch commented on #20
@techhat I though we were already using @cedwards mirror, guess, not. I'm not that acquainted with FreeBSD so, I must allow a more familiar person to reply the your last question.

[2013-01-18 23:06] akoumjian opened #21 "Use Master Branch to point to last stable release"
Currently http://bootstrap.saltstack.org points to develop, and develop can be wildly unstable depending on what gets merged in. We should be cutting releases in tags and then pointing master to the most recent stable tab. Then have the url above point to master.

[2013-01-19 00:23] s0undt3ch opened #22 "No dependencies installation function found in bootstrap-salt-minion.sh"
This issue is being migrated from saltstack/salt-cloud#248, originally reported by @mafrosis

[code]

[2013-01-19 00:24] s0undt3ch commented on #21
I agree. I need to fix #22 and some other issues since we moved to plain `sh` and well for the master branch.
Agreed?

[2013-01-19 00:31] inthecloud247 commented on #22
reporting the same issue...

tried with:
`os: Ubuntu`

and

`os: python-bootstrap`

same errors.

[2013-01-19 00:48] s0undt3ch commented on #22
@mafrosis got an IRC nick so I can talk to you on IRC?

[2013-01-19 00:50] akoumjian commented on #21
Agreed. When #22 is fixed we can cut a  0.8.0

Sent from my mobile.

On Jan 18, 2013, at 4:24 PM, Pedro Algarvio notifications@github.com
wrote:

I agree. I need to fix
#22https://github.com/saltstack/salt-bootstrap/issues/22and some
other issues since we moved to plain
sh and well for the master branch.
Agreed?

—
Reply to this email directly or view it on
GitHubhttps://github.com/saltstack/salt-

[2013-01-19 00:52] s0undt3ch commented on #22
I seem to be unable to reproduce your issue with the latest brootstrap script:

[code]

[2013-01-19 00:52] s0undt3ch commented on #22
I know what this is:

[code]

[2013-01-19 00:54] s0undt3ch commented on #22
@mafrosis, can you please show me the shebang line in your deploy.sh script please?

[2013-01-19 01:00] s0undt3ch commented on #21
@akoumjian lol, script is now on 1.2, but I think your right, let's adapt versioning to salt's versioning

[2013-01-19 01:11] s0undt3ch commented on #22
This issue was fixed in cf118fa7f89f6873fb8bda2ae7cbe1cbfef755da

[2013-01-19 01:11] #22 closed, assigned to nobody

[2013-01-19 01:36] thatch45 commented on #21
Sounds good, when we cut the release I will redirect the url to hit the master branch

[2013-01-19 01:50] s0undt3ch commented on #21
How should we handle versioning of the script? Re-start from 0.8?
When a bug is fixed, 0.8.1?
And when we only add support for an additional distro? 0.9?

[2013-01-19 01:55] thatch45 commented on #21
This script is going to increment a LOT. Since we will need to re-release with a lot of changes, I would say to make the releases as lightweight as possible. so just one increment at a time every time it is stable, because we will need to do a lot of little fixes over time

[2013-01-21 10:24] inthecloud247 commented on #22
I tested https://github.com/saltstack/salt-bootstrap/commit/cf118fa7f89f6873fb8bda2ae7cbe1cbfef755da, and the issue still isn't fixed...

still get:

[code]

[2013-01-21 11:51] s0undt3ch commented on #22
@ydavid365, if you're reporting an issue today, please try to use latest available from the git repository unless totally impossible. If you don't, I'll first ask you to update.

So, @ydavid365, could you please update to latest git a report back again the output? Thanks!

[2013-01-21 19:56] s0undt3ch opened #25 "one liner installs are broken in current git"
one liner installs are broken in current git

It works until https://github.com/saltstack/salt-bootstrap/commit/61cf5d4e813f09f36b4276f7ae670e371743111f

[2013-01-21 20:02] s0undt3ch commented on #25
For now, I reverted last bashism.

[2013-01-21 21:44] inthecloud247 commented on #22
@s0undt3ch Sure... before I test, I just want to confirm that I'm correctly specifying the bootstrap script that I want to deploy.

If I want to use the python-bootstrap script, should I be doing the following?

[code]

and should the 'old'-style `os` lines still work?

[code]

Or is there a default and I don't really _need_ to specify anything at all?

[2013-01-21 21:52] techhat commented on #22
The default in salt-cloud is now bootstrap-salt-minion.

If you still need to specify one, please switch os to script. I should also note that salt-cloud-specific configuration should be taken over to the salt-cloud issue tracker.

[2013-01-21 22:30] inthecloud247 commented on #22
k. I just needed to know what config to use for testing here. You just committed the docs for the new script option a few mins ago. :-)

[2013-01-22 01:37] inthecloud247 commented on #22
still doesn't seem to work...

I set the flag to `script: python-bootstrap` fyi...

[code]

[2013-01-22 01:48] inthecloud247 commented on #22
I just confirmed that using the `script: Ubuntu` option does at least somewhat work... it downloads the packages etc. The ubuntu script doesn't finish properly, but I'll put that as an issue in the salt-cloud project...

this is on ubuntu 12.04-1 LTS:

[code]

[2013-01-22 01:55] s0undt3ch commented on #22
@ydavid365 It has been a huge day chasing [this](http://stackoverflow.com/questions/14447555/posix-compliant-way-to-see-if-a-function-is-defined-in-an-sh-script) down and still not having found a solution, so, please forgive me if I'm sounding rude, but, This Has Nothing To Do With Salt Bootstrap! You say it yourself!

[code]

Where in salt-bootstrap does one set that?

`salt-bootstrap` is a shell

[2013-01-22 01:57] inthecloud247 commented on #22
agreed! I'm just trying to present any information needed if you had difficulty reproducing the error. that's all.

[2013-01-22 15:59] s0undt3ch commented on #25
This is now fixed

[2013-01-22 15:59] #25 closed, assigned to s0undt3ch

[2013-01-22 16:13] akoumjian commented on #21
True, though hopefully less frequently going forward, only really changing for new distro support.

I think the three number release system could work. [major].[minor].[maintenance], where major is reserved for complete rewrites, minor for new distros or new logging mechanisms, and maintenance for minor bug fixes tweaks to distro specific functions. The maintenance may get above 10 sometimes, but

[2013-01-22 16:31] s0undt3ch commented on #21
Oops, we're now in 1.3, and with the latest bash'ism gone, there should be another bump in there. I'm fine with 1.3.1.

I'm running some final tests, right now on FreeBSD, to see if script execution works as supposed(not actual salt-minion install).

Of course where possible, a full install will be attempted.

[2013-01-22 17:13] s0undt3ch commented on #21
Script executes correctly in FreeBSD 9.1

[2013-01-22 17:22] s0undt3ch commented on #21
Oh, of course:
- Ubuntu 12.04: Executes & Installs
- Debian 6: Executes & Installs

[2013-01-22 17:44] s0undt3ch commented on #21
Arch users, we need a fix on [`install_arch_post()`](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt-minion.sh#L809):

[code]

Hit `CTRL-C` and:

[code]

The `WARNING: Master hostname: salt not found. Retrying in 30 seconds` is expected, the `not found`'s before are not right?

[2013-01-22 17:51] akoumjian commented on #21
awesome!

On Tue, Jan 22, 2013 at 9:13 AM, Pedro Algarvio notifications@github.comwrote:

[2013-01-22 18:50] thatch45 commented on #25
I am deeply impressed!

[2013-01-22 19:16] s0undt3ch commented on #25
@thatch45 We **no longer** have any bash'isms on our script, and it even works on FreeBSD ;)

[2013-01-22 19:17] s0undt3ch commented on #21
@thatch45 can I request your attention to the Arch issue shown above?

[2013-01-22 19:36] techhat commented on #21
@s0undt3ch this is probably on an Arch system that is using systemd.

[2013-01-22 19:37] techhat commented on #21
Sorry, I should explain better. Arch now uses systemd by default, which doesn't use the /etc/rc.d/ directory.

https://wiki.archlinux.org/index.php/Systemd#Using_units

[2013-01-22 21:27] s0undt3ch commented on #21
Arch: Executes and Installs.

Now tests for the presence of systemctl and uses that. In git installs, a salt binary package is not installed first anymore. `systemclt` is also handled in Arch git installs.

[2013-01-22 23:27] s0undt3ch commented on #21
Fedora 16: Executes & Installs

[2013-01-22 23:45] s0undt3ch commented on #21
CentoOS 6.2: Executes & Installs.

[2013-01-22 23:46] s0undt3ch commented on #21
Think we're ready for a master branch?

We start the master branch as 1.3.1? 1.4?

[2013-01-22 23:53] s0undt3ch commented on #21
@cedwards does http://intothesaltmine.org/archlinux provide any more packages other than salt itself?

[2013-01-23 00:04] cedwards commented on #21
Currently salt, salt-cloud, salt-api and depends. Let me know if you'd like
to see anything else.
On Jan 22, 2013 4:53 PM, "Pedro Algarvio" notifications@github.com wrote:

[2013-01-23 17:50] s0undt3ch commented on #21
@cedwards Thanks!

[2013-01-24 17:55] s0undt3ch commented on #21
Last chance to state your opinion :)

I'll be creating a master branch starting as 1.4 soon.

[2013-01-24 17:58] akoumjian commented on #21
Do it! :+1:

[2013-01-24 17:58] s0undt3ch commented on #21
Hmm, I actually think we can't make a master branch until we get a fix for the FreeBSD installation. That or comment it out.

[2013-01-24 18:00] cedwards commented on #21
Is the only solution for the FreeBSD issue to 1) wait for upstream to build packages or 2) provide them ourselves?

[2013-01-24 18:14] s0undt3ch commented on #21
@cedwards You might be the "best man" to answer that :)

So far I only started a FreeBSD vm to check that the script behaved correctly. Never got to the installation part because of the pkgbeta repo.

[2013-01-24 18:17] akoumjian commented on #21
I didn't realize freebsd was not ready. Sounds like we should wait on that? The whole put is to have some marker at a really stable release. It would be silly to release and then immediately after do a major increment.

[2013-01-24 18:20] s0undt3ch commented on #21
@akoumjian correct. I was precipitating things.

[2013-01-24 18:37] s0undt3ch commented on #21
@cedwards How do the FreeBSD users handle the missing pgkbeta repo? I haven't found that many info about this.

[2013-01-24 18:39] cedwards commented on #21
I can't speak for other users, but the pkg repos have always been flaky for me so I've either compiled on my own or created my own repos.

[2013-01-24 18:52] s0undt3ch commented on #21
So that leaves us with your 2 options.

1) Have the script build salt and all it's dependencies.
2) Create a repository with pre-built binaries of salt and it's deps.

[2013-01-24 19:00] cedwards commented on #21
It's trivial to create a repository, but I guess the question is who/where to host it. It sounds like the general consensus is we don't want to use a volunteer repo (such as mine). I can built and provide the packages if we can come up with a place to host them.

[2013-01-24 19:05] akoumjian commented on #21
I hate to drag @thatch45 back into this, but I agree that this looks like the best solution. While I understand saltstack may not currently have the internal manpower to maintenance all these repos, I do think it should be hosting them and then we need to give access to volunteers to keep them updated.

[2013-01-25 01:24] s0undt3ch opened #27 "Support master/syndic installations"
Carrying on the conversation from #26.
Support master/syndic installations

[2013-01-25 15:36] s0undt3ch opened #28 "Long options are broken"
[code]

[2013-01-25 16:48] s0undt3ch commented on #28
`getopts` is a `builtin` which does not support long options and is the most portable solution.

The alternative would be using `getopt`, though, there are 2 versions of `getopt` which we would need to test for in order to properly degrade functionality, etc.

Too much trouble and possible future bugs just to handle long options.

Further reading about this can be found [here](http://stackoverflow

[2013-01-25 17:58] #28 closed, assigned to nobody

[2013-01-25 23:58] thatch45 commented on #21
I agree, @UtahDave is working on the infra for our new website and we will have an upload section as well for packages and repos

[2013-01-26 00:59] s0undt3ch commented on #21
Cool! The bootstrap script will continue to be worked on to give master and syndic installs for any distro not yet "ported" to these new features. And when we have the FreeBSD repo working, it will also be ported, and we can make the master branch.

[2013-01-26 18:45] s0undt3ch commented on #27
The only distro we already support which still lacks master/syndic installs is FreeBSD. It will be taken care of when we have a repository for the salt packages and their dependencies.

[2013-01-26 18:57] s0undt3ch commented on #12
The bootstrap script now installs `0.12.1-1~bpo60+1~madduck.2`. So I'm closing this ticket. Please re-open if necessary.

[2013-01-26 18:57] #12 closed, assigned to nobody

[2013-01-28 19:05] akoumjian opened #33 "Allow No Install"
In some rare circumstances, we may not want to install any binaries but simply run the config() option. Option one involves silently accepting not installing anything, or if we are configuring but not installing anything. Option number two would be an additional flag of some kind.

The case in point is that not salty-vagrant uses bootstrap to copy config files over. However, we currently only run

[2013-01-28 19:17] techhat commented on #33
I like this, but not as much as I like the idea of images with Salt already being installed being the norm...

[2013-01-28 19:19] akoumjian commented on #33
@techhat Amen!

[2013-01-28 23:35] s0undt3ch commented on #33
I'll chew on this for a moment, all ideas will be taken into consideration ;)

[2013-01-31 16:58] techhat opened #35 "Support for Amazon Linux"
This is essentially RHEL/CentOS, but with different lipstick.

I've been using ami-1624987f for testing with salt-cloud, and saltstack/salt-cloud#302 will probably come in handy for testing.

[2013-02-01 17:29] s0undt3ch opened #38 "Unit Testing"
Provide some unit-testing to the script.

This is "hacked" in [.run-boostrap-tests.sh](https://github.com/saltstack/salt-bootstrap/blob/develop/.run-boostrap-tests.sh) but should be improved.

[2013-02-02 12:48] s0undt3ch opened #39 "Start Daemons"
I think we should have either an additional flag, or a function to start the installed daemons.

Some distributions start the daemons on their own, for example, Ubuntu. Others do not start their daemons, for example, RHEL/CentOS/Amazon Linux.

I'm in favor for having an optional function.

[2013-02-02 12:54] #35 closed, assigned to nobody

[2013-02-02 15:40] s0undt3ch commented on #39
A function which is only called, if defined(of course), and if any of master, minion or syndic are to be installed.(#33)

[2013-02-04 20:46] geoffgarside commented on #20
It's also probably worth noting that the sysutils/salt port has been renamed to sysutils/py-salt so when the pkgng servers get going again the package to install will be py-salt rather than salt. The name was changed to bring it in line with other python ports.

[2013-02-07 17:01] fxdgear opened #42 "One liners do not work"
On a **brand new** fresh 12.04 instance I tried the 2 curl and 2 wget one liners and each of them do not work:

[code]

[code]

[code]

[code]

[2013-02-07 19:12] PytoHost commented on #42
I too have this issue.

[2013-02-07 19:22] farrepa commented on #42
Ditto.  I presume the redirect for http://bootstrap.saltstack.org hasn't been updated yet to work with the script rename.

In the meantime this worked for me:

[code]

[2013-02-07 19:56] s0undt3ch commented on #42
Yes, I forgot about updating the dns to the new script name, sorry guys. It'll be taken care of.

[2013-02-07 19:58] fxdgear commented on #42
@s0undt3ch no worries!

just through you should know.

[2013-02-07 19:59] s0undt3ch commented on #42
Yes, I'm glad you warned me ;)

[2013-02-07 20:05] s0undt3ch commented on #38
This is now fixed in current git develop.

[2013-02-07 20:05] #38 closed, assigned to s0undt3ch

[2013-02-07 20:22] s0undt3ch commented on #42
This issue is now solved. Thanks for reporting this.

[2013-02-07 20:22] #42 closed, assigned to nobody

[2013-02-07 20:33] fxdgear commented on #42
:+1:

[2013-02-10 12:28] s0undt3ch commented on #39
Support for this is now in-place.

[2013-02-10 12:28] #39 closed, assigned to nobody

[2013-02-11 20:05] ghost commented on #39
Hey, could you please add a special case for Ubuntu 10.04? The package system there tries to launch salt before everything is done and it terminates right away on a completely unbootstrapped (Lucid) system.  `lsb_release` can tell you the Ubuntu name, e.g.:

[code]

[2013-02-11 20:48] s0undt3ch commented on #39
@seanchannel a new ticket please?

[2013-02-11 21:05] ghost opened #45 "start daemons for Ubuntu Lucid"
Please add a special case for Ubuntu 10.04. The package system there tries to launch salt before everything is done and it terminates right away on a completely unbootstrapped (Lucid) system. `lsb_release` can tell you the Ubuntu name, e.g. _after install is complete_:

[code]

[2013-02-11 21:21] s0undt3ch commented on #45
After asking you for creating a new ticket I started wondering, you're asking for a start daemon function for Lucid only?

[2013-02-11 21:33] s0undt3ch commented on #33
@akoumjian We should restart the daemons correct? Or at this stage the daemons are not running?

[2013-02-11 21:42] ghost commented on #45
Yes, sir, this is unique to Ubuntu 10.04 / Lucid. On that version the package install tries to start salt before the all the dependent packages are finished installing.  Alternatively you could first install all the deps in a separate step --that should work, but I haven't tested it.

[2013-02-11 21:55] akoumjian commented on #33
It was my impression that daemons are not running, but I suppose they could be. Can we do it without complains if the service is not installed?

[2013-02-11 22:06] s0undt3ch commented on #33
I think I should make the start daemons function aware if they should start or restart the daemons to avoid future problems.

[2013-02-11 23:46] s0undt3ch commented on #45
Ok. Thanks for the info!

[2013-02-12 00:20] thatch45 opened #46 "Fails on RHEL5"
RHEL 5 needs python 2.6 installed ad then needs to call python2.6 when running the setup.py, the deps also differ.

I will get this eventually if no one else does

[2013-02-12 01:56] dlindquist opened #48 "Specify version of salt to install"
Since the docs say that the master needs to be upgraded before the minions, it seems that always installing the latest stable minion isn't always what is needed.  Would it be possible to specify a specific salt-minion version to install?

[2013-02-12 14:45] s0undt3ch commented on #46
This is for the git install?

[2013-02-12 20:01] s0undt3ch commented on #46
[code]

This issue is now blocked by #37.

[2013-02-12 21:35] s0undt3ch commented on #46
We're now a little ahead:

[code]

[2013-02-12 21:38] s0undt3ch commented on #46
**HUH**!!!

[code]

Ok @thatch45, I now know what you mean.

[2013-02-12 21:46] s0undt3ch commented on #48
This is a reasonable request. We'll see what can be done.

##

Pedro Algarvio

----- Reply message -----
From: "David Lindquist" notifications@github.com
To: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Subject: [salt-bootstrap] Specify version of salt to install (#48)
Date: Tue, Feb 12, 2013 01:56
Since the docs say that the master needs to be upgraded before the minions, it seems

[2013-02-12 21:51] akoumjian commented on #48
Part of the problem is that most of the package managers don't even keep multiple versions at this point (I know this is a pain point for me on Ubuntu). So even if we could add it a uniform way to specify version, this kind of install couldn't be done through the various package managers.

Currently the only real way to consistently install a specific version is by using the git install and specif

[2013-02-12 22:06] s0undt3ch commented on #48
@akoumjian Thanks for stepping in, I did not though of that :)

[2013-02-12 22:47] #46 closed, assigned to nobody

[2013-02-12 22:48] thatch45 commented on #46
W00t! Thanks!

[2013-02-12 22:51] s0undt3ch commented on #46
Another down, some more to go ;)

[2013-02-13 12:13] s0undt3ch commented on #45
I think I need additional information.

With the current state of the script and stable ubuntu ppa salt packages:

[code]

Could you please try again and see if this issue is still happening?

[2013-02-13 16:10] ghost commented on #45
Did you check to see if it was actually running afterward with "pgrep -fl salt"? The above output is correct; a message is printed indicating that salt-minion has started, but what you do not see is that it is also immediately terminated.

[2013-02-13 16:20] s0undt3ch commented on #45
I did not check, however the bootstrap script does not exit abnormally. Re-running.

[2013-02-13 16:23] s0undt3ch commented on #45
I cannot confirm your issue:

[code]

No salt daemon is running.

Let's install:

[code]

Is it running?

[code]

It is...

[2013-02-13 16:25] s0undt3ch commented on #45
However, 89607dcddb166453159601e58298a922c87fb070 addresses your issue. Closing as fixed.

[2013-02-13 16:25] #45 closed, assigned to nobody

[2013-02-13 16:45] s0undt3ch commented on #48
Closing this since we seem to be unable to properly support this across distributions.

[2013-02-13 16:45] #48 closed, assigned to nobody

[2013-02-13 16:50] s0undt3ch commented on #27
The FreeBSD issues mentioned above were addressed in #47 by @geoffgarside. Closing.

[2013-02-13 16:50] #27 closed, assigned to nobody

[2013-02-13 16:51] #33 closed, assigned to nobody

[2013-02-13 17:14] ghost commented on #45
thank you @s0undt3ch ..that looks like the best solution! :)

[2013-02-13 17:19] s0undt3ch commented on #33
@akoumjian please report any issues you encounter.

[2013-02-13 17:43] s0undt3ch commented on #45
@seanchannel We actually **need** daemons restart support in order to allow #33

[2013-02-14 02:52] MarkuzK opened #52 "ERROR: The master failed to decrypt the random minion token"
There seems to be an issue with salt's bootstrapping process on Amazon Linux 64bit (tested with Amazon Linux AMI release 2012.09; Linux 3.2.30-49.59.amzn1.x86_64) with Script version 1.4.

I'm bootstrapping various salt master & minions automatically with AWS CloudFormation & salt-bootstrap. I noticed that the bootstrapping fails since the script version was upgraded from 1.3 to 1.4. I verified th

[2013-02-14 11:37] s0undt3ch commented on #52
Well this does seem more related to salt than salt-bootstrap, though, if you say that with 2 identical machines, only the one using the 1.4 version of the script fails, then this throws me a little off guard.

There were some significant changes lately, namely to support salt-master and salt-syndic installations, daemons reloading when only configuring daemons and some other minor stuff.

So, in o

[2013-02-14 14:22] MarkuzK commented on #52
Yes, I also suspected salt at first. However, after verifying this with two clean installs, the only difference was the version of salt-bootstrap.

Re q1: I've used salt-bootstrap v1.3 that I downloaded about 10 days ago; as for salt-bootstrap v1.4, my deployment scripts automatically download the latest stable script version from the git repo.

Re q2: No, I started new machines, applied all updat

[2013-02-14 15:19] s0undt3ch commented on #52
Ok. Thank You for the information. I will try to reproduce this erratic behavior.

One more question. You are passing a configuration directory which contains the master and minion config files correct? Also passing any keys around?

##

Pedro Algarvio

----- Reply message -----
De: "Markus" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Alga

[2013-02-15 03:03] MarkuzK commented on #52
I'm setting configs on the master and minion; I checked those as well. The master is set to accept all keys as I run this in a non-public / protected environment.

I created a simplified CloudFormation script that reproduces the erratic behaviour:

[code]

You can run the scripts via AWS CloudFormation Command Line tools (http://aws.amazon.com/developertools/AWS-CloudFormation/2555753788650372):

[2013-02-15 13:12] s0undt3ch commented on #52
Thanks for this additional information.

Just by reading it, I can give you some usage more pointers.
I've created a [gist](https://gist.github.com/s0undt3ch/4960167) with your json data so I can give you line numbers.

On line [108 and 109](https://gist.github.com/s0undt3ch/4960167#file-gistfile1-json-L108), you can substitute:

[code]

With:

[code]

What you do on line [111](https://gist.github

[2013-02-18 02:01] MarkuzK commented on #52
Thanks for the pointers. Based on your comments and my tests, there seem to be another issue with your bootstrap script:

re: service salt-master start / service salt-minion start

I have to call those explicitly as there are no salt-related processes active after executing the bootstrap script on either master nor minion.

However, 'chkconfig salt-master on' and 'chkconfig salt-minion on' are not

[2013-02-18 08:31] s0undt3ch commented on #52
Well, services (re)start were recently added, so, if using latest bootstrap script, you still need to add those calls, then it's a bug.

[2013-02-20 11:43] sivann opened #55 "bootstrap fails to recognize debian -"
Commit edd743070ea44c4db6fc08f4869ca14a508f3a93 broke debian 6 detection. Bootstrap script ends with " \* ERROR: No dependencies installation function found. Exiting..."

This also happens in all recent commits.

Please consider calling  lsb_release on linux instead of grepping various files to determine distro. It works in debian,ubuntu and redhat and maybe others.

[code]

I could provide a patc

[2013-02-20 11:59] s0undt3ch commented on #55
I did notice I had broken the distro's detection, I just did not realize it was **that** broken ;)
I'm already on the issue.

[2013-02-20 12:11] s0undt3ch opened #56 "SuSE support is not yet stable."
SuSE support is not yet stable.

This issue is being worked on in [this fix-suse-support](https://github.com/s0undt3ch/salt-bootstrap/tree/hotfix/fix-suse-support) branch.

[2013-02-20 12:25] s0undt3ch commented on #55
Regarding using `lsb_release`, that needs to be installed, and it ain't necessarily, and what it does, is parse files, which is what we do. :smile:

[2013-02-20 12:40] s0undt3ch commented on #55
You suggestion was not thrown in a bag though, see b66bc75d5f159c379f9e98b68626a4594232bb94.

[2013-02-20 12:55] sivann commented on #55
great! Thanks for the immediate response!

[2013-02-20 13:01] s0undt3ch commented on #55
No problem. Still not fixed though... One can always revert back, but ....

[2013-02-20 13:09] sivann commented on #55
It is fixed, I just tested it. Should I close it?

[2013-02-20 13:27] sivann opened #57 "libzmq3 packages for debian 6"
Debian 6 (and 7) comes with libzmq1, not libzmq3. This version doesn't support keepalive and is thus pretty worthless (we loose half our minions in a day). Ubuntu doesn't have this problem since it comes with libzmq3.

I have created 2 debian 6 packages:
libzmq3_3.2.2_amd64.deb
python-zmq_2.2.0.1_amd64.deb

After installing those, I run the bootstrap and the minion is successfully installed using

[2013-02-20 13:29] s0undt3ch commented on #55
Well, it's fixed if your system has `lsb-release` installed.
Not all Debian systems, even latest 6.0.6 does not install that package by default, if you have AWS access, check `ami-c4259aad`.

What I did was use the lsb_release` binary if found, which, in your case, solves the problem.

Let's leave it open.

[2013-02-20 16:34] s0undt3ch commented on #55
:smile: if only it was that simple....
- How do you know which distro is running before you try to install?
- Do all distros have a apt-get binary available? No.
- Does the lsb-release package exists for all distros?
- And the distros that do have that package, what's the exact name of the package?
- You cannot use `echo -e`, there are some `sh` implementation which don't support `-e`...

Don't th

[2013-02-21 09:41] sivann commented on #55
You're right amazon images are strange beasts! I have an ami-a2ded2d6  which is a debian 6.0.6 with a redhat kernel (cat /proc/platform) (!)

I suggest
1. try with lsb-release binary
2. try with python: python -c 'import platform;print platform.dist();'
3. try with guesswork. Some hints here: http://www.novell.com/coolsolutions/feature/11251.html (detects ubuntu as debian though)
for debian,ubuntu

[2013-02-21 11:09] sivann commented on #55
Unfortunately it seems to also fail for RHEL 6.3  with "No dependencies installation function found".
FYI: lsb_release -a reports:
LSB Version:    :core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID: RedHatEnterpriseServer
Description:    Red Hat Enterprise Linux Server release 6.3 (Santiago)
Release:    6.3
Codename:   Santi

[2013-02-21 20:40] UtahDave opened #58 "Installing Salt Master with bootstrap from git develop doesn't install init scripts"
Running CentOS 6.3.

Following the documentation, I attempted to install a salt-master from git develop using the following command:

[code]

Everything seemed to work fine, except that `service salt-master start` failed.

salt-master is indeed installed, but there is no salt-master init script in /etc/init.d/

Looking back at the install output I did notice one error:

[code]

I think it's lookin

[2013-02-21 20:53] UtahDave commented on #58
I manually ran the steps here: https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L1096

and salt then runs fine.

[2013-02-21 20:59] s0undt3ch commented on #58
@UtahDave Thanks! I'll investigate this in a few hours.

[2013-02-21 21:43] UtahDave commented on #58
This same thing happens when installing the minion on CentOS 6.3 from git develop

[2013-02-22 01:55] #55 closed, assigned to nobody

[2013-02-22 03:06] s0undt3ch commented on #21
@cedwards need a confirmation. Is `PACKAGESITE`, pointing to a repo url, a common environment variable usually found on FreeBSD?

Since my latest(serious) breakage, #55, the need for a stable branch became top priority.
I'm running the script against all supported distros once more. Afterwards, a stable branch will be created.
The stable branch will not have SuSE support since I think it really ne

[2013-02-22 04:34] #58 closed, assigned to nobody

[2013-02-22 04:41] s0undt3ch commented on #57
According to the [0MQ website](http://www.zeromq.org/distro:debian), one can find those packages in the [experimental repository](http://packages.debian.org/source/experimental/zeromq3).

We'll add support to the bootstrap script to install ZMQ from the experimental repository.

Opinions?

[2013-02-22 05:14] s0undt3ch commented on #57
Dam, we do not have python-zmq3 in debian's experimental...

[2013-02-22 05:56] cedwards commented on #21
`PACKAGESITE` is a common environment variable in releases >=9.1. `PACKAGESITE` is specific to the new pkgng package management system, which is optionally available previous to 9.1, but standard in 9.1.

We're still on-hold regarding the upstream pkg servers however. The official FreeBSD package servers still do not provide any packages due to a recent exploit. Still waiting on the security team

[2013-02-22 06:01] s0undt3ch commented on #57
@sivann We currently do not have any way to store and serve your packages. Also, your packages are only for AMD64, we would need to build against other arch'es too.

The solution being considered right now is shown on #59.

[2013-02-22 15:32] sivann opened #60 "running bootstrap may break apt sources on Debian 6.0"
[code]

The above adds multiple times the same source if it already exists or if running the bootstrap more than once. This has the side-effect of breaking apt-get update on some debian 6 systems. I haven't found out how. Removing the duplication fixes the problem.

[2013-02-22 15:50] arnisoph commented on #60
I can confirm, that the repository will be added without a check against its existence in the sources list(s). "apt-get update" displays an error message (but doesn't abort).

The bootstrap file adds backports.file, but the source exists already in /etc/apt/sources.list (on my systems).

[2013-02-22 17:45] s0undt3ch commented on #60
Yes, you are correct. Will be fixed.

[2013-02-22 18:53] #60 closed, assigned to nobody

[2013-02-23 05:41] s0undt3ch commented on #21
Ok, 2nd "loop" through supported systems. This time running the test-suite.
- Amazon-Linux-AMI-2012.09-64bit: OK
- Arch: OK
- Fedora 17: OK
- CentOS 5.7: OK
- CentOS 6.2: OK
- CentOS 6.3: OK
- Debian 6.0.6: OK
- Ubuntu: OK

[2013-02-23 19:28] s0undt3ch commented on #21
- FreeBSD 9.1: OK (using @cedwards repo for testing)

Should we still include the FreeBSD in stable showing a warning that the `PACKAGESITE` should be defined because installing from the main repository is impossible right now?

[2013-02-23 22:18] s0undt3ch commented on #21
- Red Hat Enterprise Server 5.6: OK
- Red Hat Enterprise Server 6.2: OK

[2013-02-24 03:37] s0undt3ch commented on #21
- SmartOS: OK (including tests suite!)

[2013-02-24 09:29] s0undt3ch commented on #21
This is now fixed.

The only distribution that is not in the stable branch is SLES. Current version 1.5

[2013-02-24 09:29] #21 closed, assigned to nobody

[2013-02-26 01:12] MarkuzK commented on #52
salt-bootstrap script version 1.5 (bootstrapping salt stack v.0.13.1) doesn't exhibit the reported error any more.

[2013-02-26 01:12] #52 closed, assigned to nobody

[2013-02-26 12:19] s0undt3ch commented on #52
Awesome!

[2013-02-26 18:18] tateeskew opened #61 "bootstrap-salt.sh fails to start salt-minion daemon on CentOS 6"
As stated in the subject, bootstrap-salt.sh fails to start salt-minion daemon on CentOS 6.

I've tested this by using python-bootstrap and bootstrap-salt.

Below you can see the output of spinning up an instance.

[code]

[2013-02-26 18:53] s0undt3ch commented on #61
Thanks @tateeskew! We'll have a look at this.

PS: Updated the ticket details so we can have a better formatting on the output.

[2013-02-26 19:21] s0undt3ch commented on #61
Fixed by da57d3627744fca1a97375106519cb90ef9ca898 on #62

[2013-02-26 19:21] #61 closed, assigned to s0undt3ch

[2013-02-26 23:33] s0undt3ch commented on #56
Current develop branch now has stable SuSE support.

[2013-02-26 23:33] #56 closed, assigned to nobody

[2013-02-27 13:34] s0undt3ch commented on #57
Closing this for now. Please re-open if need be.

[2013-02-27 13:34] #57 closed, assigned to nobody

[2013-02-28 11:17] sivann opened #65 "madduck repo seems abandoned"
madduck repo, used for debian, is still on 12.1.
Do we have any repo alternatives? Should I report this somewhere else?

[2013-02-28 12:40] s0undt3ch commented on #65
@madduck can I bring your attention to this ticket?

[2013-02-28 18:19] madduck commented on #65
I only backport what's in Debian unstable. The problem is that there aren't really any Salt maintainers for Debian right now. The people who have been doing it are overloaded (as am I). We need someone to step up and just do it.

I have been travelling the last couple of weeks, which is why I have also not been very responsive. Hopefully I can work through my backlog and get to Salt issues soon…

[2013-03-01 01:06] mafrosis opened #66 "Flag for aptitude full-upgrade?"
Some discussion at work raised the idea of running a full package upgrade on a newly minted server. (Amazon's AMIs are inevitably a little out of date at creation).

What do you think to adding a flag to the bootstrap script to do this?

This may well be classed as out of the scope of salt-bootstrap, but I thought I'd ask the question..

[2013-03-01 01:14] adminericjacobs opened #67 "Git port 9418 blocked"
At the company I work for outgoing 9418 is blocked.  I am probably not the only person that has this problem.

Maybe by default in "_git_clone_and _checkout()" git clone should use https:// instead of git:// or have the script fall back to https if git can't connect.

[2013-03-01 12:06] s0undt3ch commented on #65
@madduck Thanks for your input.

Yes, we need to find a way to automate this process and remove pressure from contributors like you, which can contribute, but not as often as sometimes needed because, of course, everyone has it's own priorities.

[2013-03-01 12:09] s0undt3ch commented on #66
Well, I do think that this is outside of the script's scope, and, once you have a minion running, you can always run a full upgrade through it.

Is there anything which will make the bootstrap script fail if the system is not fully upgraded?
If there is, then this falls into the script's scope because it should be able to properly install salt on supported distributions.

Am I not seeing a bigger

[2013-03-01 12:20] #67 closed, assigned to nobody

[2013-03-01 16:36] thatch45 opened #69 "Salt services not enabled?"
It does not appear that the salt services are being enabled to start at boot on non-debian based systems, anyone mind if I throw this in?

[2013-03-01 16:45] s0undt3ch commented on #69
Well, throw away, it's a bug.

Services should be enabled. What distro was this?

[2013-03-01 23:25] mafrosis commented on #66
No that's all there is to it really- I very nearly didn't post the above as I expected this to be your response. And I agree! We'll do a package upgrade via salt instead.

[2013-03-01 23:25] #66 closed, assigned to nobody

[2013-03-02 15:09] sivann commented on #65
I can also offer a script that creates the libzmq3 and python-zmq packages for debian 6 from source, to avoid using easy_install on the bootstrap.

[2013-03-04 16:40] anteaya opened #70 "Python 2.6+, one line bootstrap didn't work for me."
On Fedora 17, executed this code:

[code]

saw no indication that anything was installed.

Went to this page: http://docs.saltstack.org/en/latest/topics/installation/index.html
Executed this code:

[code]

got the following output:

[code]

[2013-03-04 17:03] s0undt3ch commented on #70
If I properly recall, Fedora 17 uses python 2.7, and the ticket also suggests that you're using `2.6+`.

As stated in the [`README.rst`](https://github.com/saltstack/salt-bootstrap/blob/develop/README.rst) file, and also on the [front page of the bootstrap-script github repository](https://github.com/saltstack/salt-bootstrap), the one liner which includes `-m urllib` is for python `2.6`, only.

If

[2013-03-04 17:03] #70 closed, assigned to nobody

[2013-03-04 17:12] bauer1j opened #71 "Install fails with unmet dependencies on debian."
Trying to run

[code]

gives me the following error:

[code]

[2013-03-04 17:19] s0undt3ch commented on #71
I see that you're running the stable version. Yes there's some debian issues, see #57.

You can test the following though(which is the upcoming debian fix):

[code]

[2013-03-04 17:45] bauer1j commented on #71
Thanks for the prompt response.  The command you suggested exits with the
following error:
- ERROR: pip based installations were not allowed. Retry using '-P'

---
-  INFO: PIPED THROUGH sh -- Version 1.5.1
-  WARN: Running the unstable version of bootstrap-salt.sh
-  INFO: System Information:
-  INFO:   CPU:          GenuineIntel
-  INFO:   CPU Arch:     x86_64
-  INFO:   OS Name:      Linux
-  I

[2013-03-04 18:06] s0undt3ch commented on #71
Ah, yes.

In order for the salt minions to have stable connections to the master, pyzmq needs to be compiled against ZMQ3.
Unfortunately, Debian packages move a bit slow compared to what we sometimes need and there ain't such a package for Debian(supported by Debian).

So, we added another argument `-P` which will allow the script to install the proper pyzmq using python's pypi. But since that's n

[2013-03-04 18:25] bauer1j commented on #71
Making some progress, but still ends in the following error and doesn't
seem to have salt installed anywhere that I know to look.

[code]

[code]

[2013-03-04 18:38] s0undt3ch commented on #71
Hmm, the latest debian stable package is 0.12, old, could you install from git, the latest stable 0.13.1?

[code]

[2013-03-05 16:09] bauer1j commented on #71
Looks like I ended up with salt-minion but no salt-master.

On Mon, Mar 4, 2013 at 1:38 PM, Pedro Algarvio notifications@github.comwrote:

[2013-03-05 18:18] s0undt3ch commented on #71
Using which command?

[2013-03-05 18:22] bauer1j commented on #71
wget -O - https://github.com/s0undt3ch/salt-bootstrap/raw/issues/57/bootstrap-salt.sh
| sudo sh -s -- -P git v0.13.1

On Tue, Mar 5, 2013 at 1:18 PM, Pedro Algarvio notifications@github.comwrote:

[2013-03-05 18:23] s0undt3ch commented on #71
That command should install you a minion, a master and a syndic.

[2013-03-05 18:23] s0undt3ch commented on #71
Can you paste the full output of:

[code]

[2013-03-06 12:14] s0undt3ch commented on #71
The Debian changes are now merged in our develop branch.

Can you paste the full output of:

[code]

[2013-03-06 12:29] s0undt3ch opened #73 "Script rename [bootstrap-salt.sh -> salt-bootstrap.sh]"
As see on saltstack/salt-cloud#406, the project name, **salt-bootstrap** versus the script name, **bootstrap-salt** is causing some confusion.

Should we rename the script to match? @saltstack?

[2013-03-06 13:31] benallard commented on #65
Can SaltStack provide some kind of hosting ? This way, we could setup a buildbot farm that automatically builds all the packages upon some kind of trigger ... @saltstack not having this kind of stuff is like the children of the shoemakers going barefoot ...

[2013-03-06 15:43] bauer1j commented on #71
Output from running command you requested.

https://gist.github.com/anonymous/5100178

Looks like I still don't quite have it.

$ salt
-bash: salt: command not found

Thanks for your help by the way.

-Steve

On Wed, Mar 6, 2013 at 7:14 AM, Pedro Algarvio notifications@github.comwrote:

[2013-03-06 16:49] s0undt3ch commented on #65
@benallard having such a build farm is already on our TODO list, yet, ASAP...

[2013-03-06 21:27] umeboshi2 commented on #65
I have packages built for wheezy, however I'm using fresh git version, instead of latest release, since I needed to report an issue recently.  The difference in these packages is that I am using zeromq 3.2.2 and pyzmq 13.0.0, as well as salt 0.13.2~ .  The debian tree is based on the source package in sid.  There are several problems with using the earlier 2.2 versions of zeromq and salt together,

[2013-03-06 21:38] s0undt3ch commented on #65
@umeboshi2 are you offering your time(time permitting, of course) and server to host the latest salt stable versions along with pyzmq compiled against ZMQ3 until we get the required infrastructure ready for @saltstack to build and host it's own packages?

[2013-03-07 20:26] umeboshi2 commented on #65
I'm offering to do the build.  It's going to be a bit more involved for squeeze, as I will have to backport debhelper, and put that in a separate builddep repository to keep it (and possibly cython) from interfering with the rest of a normal squeeze release.

As far as hosting, I'm willing to do so as long as it doesn't become costly.  If the bandwidth use gets too high, it will need to be mirrore

[2013-03-07 23:52] akoumjian opened #76 "Do not overwrite configs"
Sometimes people use bootstrap to upgrade a git install, or need to run boostrap for other reasons on an existing installation.

Currently we attempt to copy over configs regardless of whether or not they exist. I recommend we add some kind of force_config flag that will overwrite existing configs when true. The default behavior should be not overwriting existing files.

[2013-03-08 15:06] Pewpewarrows opened #79 "errexit and checking return codes don't work together"
The current head of the bootstrap script is using `set -e` (errexit), which will cause the whole script to stop running if any statement has a non-zero exit code, even if it's part of a pipeline or you intentionally want to check the return code later.

There are several places in the script where `$?` is checked. None of them will work because the script will exit early. See the `set -e` section

[2013-03-08 15:49] sivann commented on #65
well, I will include here instructions on how to build zmq3 and python-zmq packages for squeeze using [fpm](https://github.com/jordansissel/fpm/wiki) , since the debian-provided libzmq1 is pretty worthless. It may be useful to someone:

[code]

and for python-zmq:

[code]

Since writing this pyzmq jumped to version 13 but the rest is the same.

[2013-03-08 15:57] s0undt3ch commented on #79
Dam, yes, you are correct, I've removed that but it's still in my fork

[2013-03-09 09:45] madduck commented on #65
@umeboshi2 why do you need to backport debhelper? The packaging in Debian unstable works fine and can be trivially backported.

[2013-03-09 16:21] umeboshi2 commented on #65
Lol!  I just sent the zmq dscfile to the builder and pbuilder spit out depends problem and debhelper was at top of list.  I didn't even bother to look at it as I was just trying to guess, comment, and get back to work.  Sorry about that.

I turned out to be missing libpgm-dev.

I have often before had to backport debhelper to build a package more easily than messing with the code otherwise, and I

[2013-03-09 17:44] sivann commented on #65
Please when building, also have in mind that tags in debian/changelog are usually wrong: https://github.com/saltstack/salt/issues/3918

[2013-03-09 20:18] ghost commented on #65
backporting debhelper is madness. that's nothing to laugh at.  construct your packages to use the native debhelper version and associated hooks for the target system. it's OK to use debhelper from the distro's official backports/unstable/etc repos as @madduck points out. This is why we use what looks like old stuff in salt's debian directory: because we build on platforms as old as Ubuntu Lucid (1

[2013-03-09 20:37] umeboshi2 commented on #65
I don't need to backport debhelper, just assumed that by glancing at pbuilder's output.  What was really needed was libpgm, which isn't in squeeze.  I already backported that.  libzmq is also currently backported to squeeze.  The nontrivial part of all of this is pyzmq.  It requires cython 0.18.  My wheezy backport of this went flawlessly because the python3 packages on wheezy are more up to date.

[2013-03-09 20:56] ghost commented on #65
I can build salt packages on debian from the existing debian/ directory and would advise you to use that so we have a known common base to work from for officially supported packages. I welcome any adaptations there to make it work better & on more distros.

There are similar dependency issues for ubuntu and we also provide those in the PPA. most of them probably work unmodified on debian also, we

[2013-03-11 04:44] s0undt3ch commented on #79
This issue is now also fixed in the develop branch

[2013-03-11 04:44] #79 closed, assigned to nobody

[2013-03-11 11:39] geoffgarside opened #85 "Set master address via flag"
I'm wondering if it would be worthwhile to be able to specify the address/name of the master when bootstrapping a minion as the daemons are now started as part of the bootstrapping process.

When bootstrapping a master with a minion perhaps the address/name could be defaulted to "localhost".

Thoughts?

[2013-03-11 11:58] maru1034sk commented on #85
+1

Would be awesome.

[2013-03-11 12:04] maru1034sk opened #86 "Install fails when new pacman is available on archLinux."
The installer fails, if pacman needs to be upgraded.

Pacman is installed then, but the dependencies for salt are not.

[2013-03-11 18:18] s0undt3ch commented on #86
So pacman should be upgraded first, correct?

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Angelo Gründler" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Assunto: [salt-bootstrap] Install fails when new pacman is available on archLinux. (#86)
Data: seg, Mar 11, 2013 12:04
The installer fails, if pacman needs to be upgraded.

Pacman is ins

[2013-03-11 18:25] maru1034sk commented on #86
Right.

Pedro Algarvio notifications@github.com schrieb:

##

Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2013-03-11 20:55] s0undt3ch commented on #86
This is now fixed in the develop branch.

[2013-03-11 20:55] #86 closed, assigned to nobody

[2013-03-13 00:43] s0undt3ch commented on #65
@umeboshi2 You've been working on the Saltstack Debian repo right?
Let me know when you're finished, or please submit a pull request with the required changes to the bootstrap script.
I was unable to find the GnuPG key in the repository, you haven't uploaded it yet right?

[2013-03-13 04:28] umeboshi2 commented on #65
I uploaded it to a keyserver.

gpg --recv-keys EF031D06

[2013-03-13 04:38] s0undt3ch commented on #65
Ok, I'll see if update the script then. Thanks!
Oh, the repository is already usable, or you still need to some more stuff before we can start hammering the repo?

[2013-03-13 15:13] umeboshi2 commented on #65
Only the depends for salt are on the repository.  For squeeze, I still need to build pyzmq.  For wheezy, everything but salt is ready to go.  As far as salt is concerned, I was going to concentrate on pyzmq for squeeze first, then start setting the debian tree in the repository to use quilt, so that this tree can be prepatched to build for particular releases. (Example apply squeeze patch, build f

[2013-03-14 00:26] geoffgarside commented on #85
I'm thinking `-m` as the argument, I'll see if I can get this coded up at least at the weekend. Assuming the salt minion sample config is installed the same across all the supported operating systems it should be pretty easy to `sed` the `# master: salt` line, the fun will come with making the `sed` call portable due to the lovely differences between GNU and BSD sed :(

[2013-03-14 01:21] s0undt3ch commented on #85
I should have replied to this sooner.

We can already solve this problem by uploading a properly tweaked minion configuration file, no?

[2013-03-14 09:22] geoffgarside commented on #85
How would that be done? Is that a command line flag already?

[2013-03-14 17:05] s0undt3ch commented on #85
The bootstrap script is prepared for looking for the minion and master keys along with their configurations, have a look [here](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L1980).

This was added to improve support and functionality for [salt-cloud](https://github.com/saltstack/salt-cloud) and [salty-vagrant](https://github.com/saltstack/salty-vagrant).

In order to

[2013-03-15 04:28] josh-wrale opened #88 "Please add Trisquel distro support"
I am migrating to Trisquel 6.0, which is a free-as-in-freedom derivative of Ubuntu 12.04 LTS.

Here is the /etc/lsb-release file:

DISTRIB_ID=Trisquel
DISTRIB_RELEASE=6.0
DISTRIB_CODENAME=toutatis
DISTRIB_DESCRIPTION="Trisquel 6.0"

I was told today in Trisquel IRC that Ubuntu PPA's are usable with Trisquel.  I was able to run a 's/ubuntu/trisquel/g' on the bootstrap script, which worked, but seem

[2013-03-15 12:54] s0undt3ch commented on #88
@josh-wrale since you already have a Tristel instance running, could you paste the output of:

[code]

That way I can at least know if Tristel it's properly detected, the rest should be simple since it's Ubuntu based.

[2013-03-15 13:23] s0undt3ch commented on #65
Ok. Let' me know when I can make the changes to the script.

[2013-03-15 15:38] josh-at-knoesis commented on #88
@s0undt3ch, thanks for the quick reply.  Here is the output you requested

[code]

[2013-03-15 16:08] s0undt3ch commented on #88
That's the desired and expected output, Thanks!

[2013-03-15 16:30] geoffgarside commented on #85
Ah ok, so the files have to exist prior to running boostrap-salt.sh, might be nice to specify an FTP directory to fetch them from or even HTTP if the file names are known beforehand.

One thing I've noticed from that though is the SALT_DIR is coded to /etc/salt, on BSD installations the SALT_DIR should be /usr/local/etc/salt as thats where the port is configured to use. I might have a stab then at

[2013-03-15 16:42] s0undt3ch commented on #85
Yes, files must exist before hand.

About the remote directory, that would be cool, but note that it needs to be supported by all distros(this is the hard part).
Regarding having salt do it(`salt://`), this is the chicken and the egg question ;)

About the salt dir, we could fix that by allowing a user environment directory to be present, `BS_SALT_DIR`...

[2013-03-15 16:50] sivann commented on #65
@seanchannel about git tagging getting out of sync with changelog: it matters because if this happens the new debian packages created with the new tag will have the same minor version with the previous tag and thus they will not be upgraded with apt.

[2013-03-17 17:44] s0undt3ch commented on #88
If it's not asking for too much, could you please run the following 3 command lines and report it's success or not?

Stable install:

[code]

Daily install:

[code]

Git install:

[code]

[2013-03-17 18:52] josh-wrale commented on #88
Looks like success to me.  Thanks!  Please take a look and confirm:

cmd 1:
http://pastebin.com/raw.php?i=zgKs6VQq

cmd 2:
http://pastebin.com/raw.php?i=1c149Drx

cmd 3:
http://pastebin.com/raw.php?i=kEZJCZFV

-Joshua

[2013-03-17 23:05] s0undt3ch commented on #88
@josh-wrale not quite ;)

The 2nd command should also work, after all, Trisquel is still ubuntu.
And the 3rd showed some version issues, it should not(you had tried installing from git previously? or run the command more than once?)

[2013-03-17 23:52] s0undt3ch commented on #88
@josh-wrale ok, I've made some more changes. Could you please try and paste the output of the last 2 commands?

Thanks!

[2013-03-18 00:44] josh-wrale commented on #88
Right on.  Thanks for following up.  I have been running the commands consecutively, from a blank Trisquel 6.0 VM.  No uninstalls were done between commands.  Let me know if I should alter my testing procedure and re-run.

cmd 2, run 2:
http://pastebin.com/raw.php?i=UhbAhmEn

cmd 3, run 2:
http://pastebin.com/raw.php?i=MetTPFQw

Thanks,
Joshua

[2013-03-18 12:19] s0undt3ch commented on #88
Ok, since you've asked for it, and since the bootstrap script can really benefit from it, how about the following commands?

[code]

The commands above will run the existing testsuite, if all tests pass, we're good to merge.

[2013-03-18 12:40] s0undt3ch commented on #88
**ATTENTION**: The test suite is destructive! Forgot to mention that, run it in that VM you previously used.

[2013-03-18 17:06] s0undt3ch commented on #76
@akoumjian #95 should fix this issue.

[2013-03-18 17:42] s0undt3ch commented on #71
@bauer1j are you still having issues?

[2013-03-18 17:47] s0undt3ch commented on #85
@geoffgarside want me to keep this ticket open?

[2013-03-18 20:25] geoffgarside commented on #85
Yeah you can close it, I'll submit a pull request when I've got something useful :)

[2013-03-18 21:00] s0undt3ch commented on #85
Cool!
Closed.

[2013-03-18 21:00] #85 closed, assigned to nobody

[2013-03-18 21:13] bauer1j commented on #71
I haven't tried again since the last message I sent.  Output from the
suggested command was at the gist I included above.

I do have salt working great on Ubuntu boxes I own.  Just not able to get a
salt master going on the debian box.

On Mon, Mar 18, 2013 at 1:42 PM, Pedro Algarvio notifications@github.comwrote:

[2013-03-18 21:40] s0undt3ch commented on #71
Ok. I'm closing this then. When you try again, reopen or create a new ticket if need be.

[2013-03-18 21:40] #71 closed, assigned to nobody

[2013-03-19 03:19] josh-wrale commented on #88
https://gist.github.com/josh-wrale/5193451

## Excerpt:

Ran 14 tests in 727.551s

FAILED (failures=1, skipped=1)
root@trisquel-2:~/salt-bootstrap# exit
exit

Thanks,
Joshua

[2013-03-19 12:29] s0undt3ch commented on #88
One more run over the testsuite commands? You should only get one skip and then we can merge :smile:

[2013-03-19 21:26] josh-wrale commented on #88
https://gist.github.com/josh-wrale/5200282

## Excerpt:

Ran 14 tests in 1395.291s

OK (skipped=1)
root@trisquel-2:~/salt-bootstrap#

Looks good to me!

Thanks again!
Joshua

[2013-03-19 21:42] s0undt3ch commented on #88
Cool!!!

##

Pedro Algarvio @ phone

----- Reply message -----
De: "josh-wrale" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] Please add Trisquel distro support (#88)
Data: ter, Mar 19, 2013 21:26
https://gist.github.com/josh-wrale/5200282

Excerpt:

Ran 14 tests in 1395.291s

OK (skipped

[2013-03-19 21:57] #88 closed, assigned to nobody

[2013-03-19 22:00] #73 closed, assigned to nobody

[2013-03-19 22:01] s0undt3ch commented on #73
After some discussion, it was decided to add a symlink to the new name.

[2013-03-22 18:11] wiliamsouza opened #100 "Debian 7 installation error"
I can't install on debian 7 box using bootstrap more info here http://pastie.org/7082250
- DEBUG: Running salt-minion by hand outputs:
- DEBUG: /var/log/salt/minion does not exist. Can't cat its contents!
- DEBUG: Removing the logging pipe /tmp/bootstrap-salt.logpipe

[2013-03-23 11:59] s0undt3ch commented on #100
Current git develop branch is now aware of Debian 7.
Only git installations are currently supported since there no packages available for it, yet...

[code]

[2013-03-23 11:59] #100 closed, assigned to nobody

[2013-03-23 16:04] thatch45 commented on #69
Sorry, I was meaning to get this in, it was on Fedora and RHEL

[2013-03-23 16:10] s0undt3ch commented on #69
Thanks! I'll see if I take care of this ASAP.

[2013-03-27 10:31] joehealy commented on #65
Hey umeboshi2!, where are you up to with this?

Can I give you a hand?

Cheers,

Joe

[2013-03-27 21:19] umeboshi2 commented on #65
madduck suggested that I build a zeromq3 package, which will sit alongside the zeromq package.  I built the zeromq3 package on my littledebian.org repo, but I am having problems with pyzmq.  I have also been too busy last week and I have a decent sized job on the horizon that will take time away.  I would happily welcome any help or suggestions.

I am happy with the state of things now on the salt

[2013-03-27 22:14] joehealy commented on #65
Maybe it is just me, but I can't see any salt packages there.

Am I looking in the wrong places?

On Thu, Mar 28, 2013 at 8:19 AM, Joseph Rawson notifications@github.comwrote:

[2013-03-27 23:44] benallard commented on #65
They are here: http://debrepos.littledebian.org/paella/pool/main/s/salt/

On 27 mrt. 2013, at 23:14, joehealy notifications@github.com wrote:

[2013-03-28 00:00] ghost commented on #65
For building libzmq3 and/or pyzmq3 you may be able to recycle the ones
from the Ubuntu PPA on Debian (get there -> package details -> little
triangle next to the package -> download tar.gz).  In particular look at
the 'lucid' versions, I suggest. These just might work as-is, but could
probably be shined up or updated to use newer debhelper, etc.

FWIW,
_S.

On 03/27/2013 04:44 PM, Benoît Allard wr

[2013-03-28 04:05] joehealy commented on #65
Is there a reason they are not at debian.saltstack.com?

That seems to be the logical place for them.

On Thu, Mar 28, 2013 at 10:44 AM, Benoît Allard notifications@github.comwrote:

[2013-03-28 14:26] ixela opened #101 "salt-bootstrap broken against SLES 11"
At one point this was working, as I have a submitted copy that installs just fine. However, I can no longer install salt using the bootstrap script.

This is the output of the script:

[code]

This is on both SLES 11 SP 1 and SLES 11 SP 2.

This appears to be a regression from the previous versions.

[2013-03-28 14:34] s0undt3ch commented on #101
@ixela if you download the script and revert the changes done in https://github.com/saltstack/salt-bootstrap/commit/15ba544c7f6d4d64a7e26ffcbf4bc0671b627e85 do you still verify the same problem?

[2013-03-28 15:54] ixela commented on #101
Here is the output if I revert the changes to CPU_VENDOR_ID. None of the
other changes modified output.
-  INFO: /bin/sh /apps/bootstrap-salt.sh -- Version 1.5.2
  -  WARN: Running the unstable version of bootstrap-salt.sh
  -  INFO: System Information:
  -  INFO:   CPU:          AuthenticAMD
  -  INFO:   CPU Arch:     x86_64
  -  INFO:   OS Name:      Linux
  -  INFO:   OS Version:   2.6.32.59-0.

[2013-03-28 15:56] ixela commented on #101
-  INFO: /bin/sh /apps/bootstrap-salt.sh -- Version 1.5.2
  -  WARN: Running the unstable version of bootstrap-salt.sh
  -  INFO: System Information:
  -  INFO:   CPU:          AuthenticAMD
  -  INFO:   CPU Arch:     x86_64
  -  INFO:   OS Name:      Linux
  -  INFO:   OS Version:   2.6.32.59-0.7-default
  -  INFO:   Distribution: SUSE LINUX 11
  -  INFO: Installing minion
  -  INFO: Found functio

[2013-03-28 16:17] umeboshi2 commented on #65
The salt packages on littledebian are built from an arbitrary revision of the git repo.  At the time, the version number was subsequent to the current stable, although this is irrelevant today.  Also, I used the debian tree from the official debian sid package (more or less) instead of the debian tree already in salt.  I didn't want to build salt packages on debian.saltstack.com in the manner I bu

[2013-03-28 22:15] s0undt3ch commented on #101
Heh, I forgot to ask for your to use `-D` for extra debug output. Could you?

[2013-04-01 02:18] MarkuzK opened #103 "salt-bootstrap broken against Amazon Linux"
Hi,

It seems that salt-bootstrap is broken on Amazon Linux since late last week (I tested on the newly release Amazon Linux AMI image as well as the previous one):

[code]

Salt 0.13.1 can still be installed via 'sudo yum --enablerepo=epel install salt-minion'.

Would be great to have an option to specify which salt version to install (via the bootstrap script) ...

Cheers,

[code]

[2013-04-01 03:07] MarkuzK commented on #103
If I get python-zmq and python-msgpack from epel first, I can then run the bootstrap script without any issues.

[2013-04-02 09:16] ghost opened #104 "Set master address"
Hi,

It would be nice to have the option in the script to set the address of the master.
So to replace the default "master: salt".

example:
saltstack-bootstrap.sh -sm 192.168.0.11

or

wget -O - http://bootstrap.saltstack.org?sm=192.168.0.11 | sudo sh

[2013-04-02 12:06] s0undt3ch commented on #104
This is a duplicate of #85

[2013-04-02 12:06] #104 closed, assigned to nobody

[2013-04-05 22:25] melinath opened #105 "Doesn't ensure that python dev headers are installed."
Ran into an issue using bootstrapper - zmq couldn't build because python dev headers were missing. Specifically, got this error:

`buildutils/initlibzmq.c:10:20: fatal error: Python.h: No such file or directory`

[2013-04-05 22:26] melinath commented on #105
I was using -P.

[2013-04-05 23:05] s0undt3ch commented on #105
Could you show us the full output adding `-D` to the args?

On 05-04-2013 23:26, Stephen Burrows wrote:

[2013-04-05 23:28] melinath commented on #105
Unfortunately, I wrote this ticket as I was installing the python dev headers. The install worked fine after that. Would it still be useful to have the output?

[2013-04-06 00:01] s0undt3ch commented on #105
Well, since its no longer possible, what distro was this, it's version an which type of install; git, stable, etc....

That would already help out...

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Stephen Burrows" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] Doesn&apos;t ens

[2013-04-08 00:30] melinath commented on #105
git develop, debian 7.

[2013-04-09 02:17] MarkuzK commented on #103
salt, salt-minion, salt-master etc. have now all been moved from epel-testing to epel ... need to reflect those changes in the bootstrap script.

[2013-04-10 14:58] s0undt3ch commented on #103
Thanks @MarkuzK. Fixed in develop.

[2013-04-10 15:02] s0undt3ch commented on #105
Were you using the `http://bootstrap.saltstack.org` one liner? This seems to be fixed in the current develop branch.

[2013-04-10 15:48] melinath commented on #105
I was using that one liner, yes.

[2013-04-10 16:39] akoumjian commented on #105
@s0undt3ch Is it fixed in bootstrap stable?

[2013-04-10 17:25] s0undt3ch commented on #105
Not yet. It is in develop though.

[2013-04-10 17:56] akoumjian commented on #105
@melinath : To clarify, @s0undt3ch is saying that there was a bug in bootstrap script stable. To test the bootstrap script in develop, which has supposedly fixed this issue, use the same one liner except replace the url with something like this:

https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh

It would be useful for us to know if this solved the problem.

[2013-04-10 17:57] akoumjian commented on #105
...And literally as I posed this, @s0undt3ch updated stable branch. :-)

[2013-04-10 18:11] s0undt3ch commented on #105
Yep! This is now fixed! And tested on 2 different Debian 7 (EC2 AMI's)

Attention: Only git based installations are available.

[2013-04-10 18:11] #105 closed, assigned to nobody

[2013-04-10 18:26] s0undt3ch commented on #101
Do you still see this issue in latest stable?

[code]

[2013-04-10 18:38] ixela commented on #101
I haven't tested since every time I go to update salt something kills
integration with SLES. I got tired of attempting to back engineer solutions
so I haven't spent much time on it. I'll look into it in the next week.

On Wed, Apr 10, 2013 at 1:26 PM, Pedro Algarvio notifications@github.comwrote:

[2013-04-11 23:12] basepi opened #107 "Bootstrap broken on FreeBSD 9"
Spun up a fresh vps on Rackspace with FreeBSD 9.  Ran

[code]

The output:

[code]

[2013-04-12 10:31] s0undt3ch commented on #107
Although the error is not a explicit as it should, that's exactly what is supposed to happen if you don't have that variable set.

Closing it in favor of/as a duplicate of #20.

[2013-04-12 10:31] #107 closed, assigned to nobody

[2013-04-12 11:39] s0undt3ch commented on #107
This however, allowed for a bug to be found, see ee829cb60b411c50dfcf5aaebceb4d98eec46ccd. Thanks @basepi.

[2013-04-12 15:17] aboe76 commented on #101
@ixela, if there are problems with how salt installs itself on Suse and/or Opensuse please let me know.
I maintain the packages on build.opensuse.org in the python repo..

[2013-04-12 15:39] basepi commented on #107
Heh, don't thank me, thank the bug over on salt that made me boot a FreeBSD
VM.  It was not a good experience.  I couldn't get it to do ANYTHING.

So what should I have set that variable to?  I fell back on bootstrap when
I couldn't get `pkg_add` to install ANYTHING.

[2013-04-12 16:16] ixela commented on #101
We currently use SLES 11 SP 1 in production, which isn't an enabled build
target for the python repo listed in build.opensuse.org. Also, the boot
strap script still doesn't work. I've fixed it previously, but various
rewrites of the boot strap script have broken it again. Here is the output
of curl -L http://bootstrap.saltstack.org | sudo sh -s -- -D
-  INFO: PIPED THROUGH sh -- Version 1.5.3
  #!

[2013-04-12 16:19] aboe76 commented on #101
try my personal repo: these rpms you can put in your Suse Subscription Management server.
(smt custom repo)

https://build.opensuse.org/project/show?project=home%3Aaboe76

[2013-04-12 17:36] s0undt3ch commented on #101
@aboe76 Thanks for pitching in...

On 12-04-2013 17:16, Matthew Willson wrote:

@ixela  The multiple `AuthenticAMD` issue is fixed in my own repo. I'll
get it into salt-bootstrap soon.

I also need the output and contents of all files matching
`/etc/*release` and also the output of `lsb_release -si` if available.
Of course, if no sensitive data is involved.

So far, all the SuSE amazon AMI's I've

[2013-04-12 17:39] s0undt3ch commented on #107
Well, Salt Stack is supposed to provide FreeBSD hosting for it's FreeBSD packages and required dependencies in a "near" future. But it's on a TODO list which gets bigger and bigger. Some FreeBSD salt users have already said they'd create the packages.

[2013-04-12 17:50] ixela commented on #101
Ah, I didn't know I could do that with pip. That makes things a bit easier.

We have three files with the *-release name scheme.
ASC-release:
Thu Dec 22 13:58:27 CST 2011
lsb-release:
LSB_VERSION="core-2.0-noarch:core-3.2-noarch:core-4.0-noarch:core-2.0-x86_64:core-3.2-x86_64:core-4.0-x86_64"
SuSE-release:
SUSE Linux Enterprise Server 11 (x86_64)
VERSION = 11
PATCHLEVEL = 1

I wish I'd been able t

[2013-04-15 11:50] mulbc opened #110 "Fix bootstrap script for Raring Ringtail (Ubuntu)"
Please fix the saltStack installation for Raring Ringtail. There was a commit a few days ago which prevented the installation
https://github.com/saltstack/salt-bootstrap/commit/42c8980d7d54b8e689bf9f2a81a03728a00453a3

[2013-04-16 14:34] mulbc commented on #110
I removed the lines added by this commit and it went through just fine on Raring Ringtail :) Why did you put it there?

[2013-04-18 01:30] jrgifford commented on #110
and if it's "broken", then this needs to be addressed on launchpad.net ASAP, since release is by the end of the month.

[2013-04-18 01:53] s0undt3ch commented on #110
It was broken in the `ami-11b63578` on Amazon's EC2.

[2013-04-18 01:55] jrgifford commented on #110
What does "broken" mean? I'm not entirely sure I know what you mean, since
its working for me now. :-)

[2013-04-18 02:19] s0undt3ch commented on #110
[code]

This is what I mean...

[2013-04-18 08:16] mulbc commented on #110
The AMI you are talking about is for alpha1 http://d.pr/i/sCLY the current released version is beta2 (e.g. `ami-3634505f`).
You can find the recent version using the AMI Locator http://cloud-images.ubuntu.com/locator/ec2/ .
I for myself used vagrant with the beta2 iso and as I said, it went through just fine and we are deploying our salt states using this.
Could you please re-evaluate with a more

[2013-04-18 10:27] #110 closed, assigned to nobody

[2013-04-18 10:28] s0undt3ch commented on #110
@zeichenanonym Thanks!

The current develop branch of the bootstrap-script has 13.04 re-enabled.

[2013-04-18 10:29] s0undt3ch commented on #110
Using the one liners still does not work. It still needs to be merged to stable.

[2013-04-18 11:17] sivann opened #111 "debian 6 installation fails with "No installation function found" (regression)"
Tried with both stable and develop versions.
lsb_release -a reports:
Distributor ID: Debian
Description:    Debian GNU/Linux 6.0.7 (squeeze)
Release:    6.0.7
Codename:   squeeze

[code]

[2013-04-18 22:21] akoumjian opened #112 "Add Option for Preseeded Minion Keys"
See https://github.com/saltstack/salty-vagrant/pull/74#issuecomment-16612708

Essentially `--seed-master-w-minions` could point to a directory which then copies the files into the master's accepted minion list. The minion keys will need to be named by minion id, of course.

[2013-04-19 10:41] s0undt3ch commented on #112
Ok, first thing not possible, long opts :smile:

[2013-04-20 22:54] s0undt3ch opened #113 "Service Enabled Checking"
Add a function which should verify if the salt services are enabled or not upon execution.

[2013-04-22 06:45] ghost opened #114 "-y was used without --force-yes"
[code]

[2013-04-23 09:33] s0undt3ch commented on #114
If you could provide the fill output passing `-D` to the script, that would help a lot.

[2013-04-23 09:37] ghost commented on #114
Sorry already solved the problem by modifying the script:

[code]

If I come across the problem again, it will send more info.

[2013-04-23 10:30] s0undt3ch commented on #114
[code]

So, since we don't have any additional information, and since the option is really destructive, we're not implementing your fix for now.

[2013-04-23 10:30] #114 closed, assigned to nobody

[2013-04-23 11:29] #111 closed, assigned to nobody

[2013-04-23 11:29] #112 closed, assigned to nobody

[2013-05-09 12:38] s0undt3ch commented on #65
Closing this issue since we now depend on Salt Stacks Debian repository

[2013-05-09 12:38] #65 closed, assigned to nobody

[2013-05-09 13:29] aljosa opened #122 "bootstrap scipt doesn't work on ubuntu 13.04"
running bootstrap script on ubuntu 13.04 breaks on minion stop/start

[2013-05-09 13:29] aljosa commented on #122
script output:

[code]

[2013-05-09 14:31] s0undt3ch commented on #122
Thanks for the report. What command line arguments were you using? Just `-D`?

[2013-05-09 14:35] aljosa commented on #122
@s0undt3ch yes, i was reading http://docs.saltstack.com/topics/tutorials/quickstart.html and copied:
$ wget -O - http://bootstrap.saltstack.org | sudo sh

then added "-D" for this report

[2013-05-09 14:44] s0undt3ch commented on #122
Thanks! I'll see what's going on.

[2013-05-12 16:47] #122 closed, assigned to nobody

[2013-05-14 16:32] synotna opened #126 "Debian Squeeze"
I'm having trouble bootstrapping with a fresh debian squeeze install, trying with both default and with git develop and with -P git develop

[code]

or with:

[code]

[2013-05-14 16:59] s0undt3ch commented on #126
I think this issue is already solve but not yet in the stable branch.

Could you please try:

[code]

Or for ZM3 support:

[code]

Closing as invalid, please, **do** re-open if the above commands still fail for you.

[2013-05-14 16:59] #126 closed, assigned to nobody

[2013-05-14 17:10] s0undt3ch commented on #126
And it's on Wheezy not Squeeze, right? At least that's what your logs show...

[2013-05-14 17:12] synotna commented on #126
Apologies, it is wheezy. I'll test first thing tomorrow, thanks!

Best regards,
Antony

On 14 May 2013 19:10, Pedro Algarvio notifications@github.com wrote:

[2013-05-14 17:17] s0undt3ch commented on #126
No need for the apologies, was just trying to make sure ;)

[2013-05-15 12:09] synotna commented on #126
root@debian:~# wget -O - https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh | sh -s
--2013-05-15 14:09:27--  https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh
Resolving raw.github.com (raw.github.com)... 199.27.76.133
Connecting to raw.github.com (raw.github.com)|199.27.76.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9

[2013-05-15 12:22] s0undt3ch commented on #126
We're still having issues with both Debian 6 and 7 installations, though, this error is unfamiliar...

... Investigating.

##

Pedro Algarvio @ phone

----- Reply message -----
De: "synotna" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] Debian Squeeze (#126)
Data: qua, Mai 15, 2013 13:09

[2013-05-16 22:47] jedd opened #133 "chokes on Debian 7 / wheezy with madduck.net packages"
Experimentation so far suggests Debian 7 / wheezy is content with a sources.list.d fragment like this:

 deb http://debian.saltstack.com/debian unstable main

 I'm unsure how we feel about using packages with the appellation of unstable (though these do appear to be functionally stable, 0.15.x releases)

 Anyway,  output follows showing Rackspace salt-cloud 0.8.8 run, and updated salt-bootstrap sc

[2013-05-16 22:59] s0undt3ch commented on #133
@jedd `/usr/local/lib/python2.7/dist-packages/saltcloud/deploy/Debian.sh`?

Are you setting script in your cloud configuration? If so, remove it, you'll only use the bootstrap script then.

Still, the sable version of the script will also fail on Debian 7, the unstable though, should work.

[2013-05-16 23:01] s0undt3ch commented on #133
To get the unstable version, while it's not stable, into your salt cloud setup, either _hack_ it:

[code]

Or, which version of salt cloud are you running?

[2013-05-16 23:03] s0undt3ch commented on #133
Sorry, 0.8.8

[2013-05-16 23:06] s0undt3ch commented on #133
Ok, no need to hack it, 0.8.8 supports `cloud.deploy.d`, so:

[code]

And your cloud configuration should **not** have `script` set.

[2013-05-16 23:38] jedd commented on #133
If I use an Ubuntu script type, such as this:

[code]

... then it works.

Removing the **script: Debian** entry from my other profile:

[code]

 ... generates a different kind of problem:

[code]

 ... it was the last line there - the **No Installation function found** -- that led me to experiment with script: settings.

I'll play with the **cloud.deploy.d** stuff now -- I hadn't spotted that bef

[2013-05-17 00:00] jedd commented on #133
Btw, is the intention that **cloud.deploy.d/** files, if they exist, will also override the scripts located at (in my case) **/usr/local/lib/python2.7/dist-packages/saltcloud/deploy/** - specifically the **Debian.sh** script?

I've just hacked the one in dist-packages/saltcloud/deploy .. and it works fine now, but obviously it'll conflict with any subsequent git updates.

[2013-05-17 00:35] joehealy commented on #133
You can use:

deb http://debian.saltstack.com/debian wheezy-saltstack main

[2013-05-17 01:05] s0undt3ch commented on #133
@jedd, simply omit the script setting, the Debian, and Ubuntu and all other scripts still exist for those that have not yet migrated to the bootstrap script. Or extra/special needs with the older scripts. So:

[code]

Regarding `cloud.deploy.d/` is does not override but it's first in the search path. So, any scripts in there will be found first(in comparison to the packaged scripts).

[2013-05-17 01:06] s0undt3ch commented on #133
Also, for Debian 7, you need the dev version of the bootstrap script, will become the stable one in the next couple of days...

[code]

[2013-05-17 10:26] jedd commented on #133
Thank you both .. all working nicely over here now.

@s0undt3ch Could I cast a recommendation / vote that Debian 6 (squeeze) support remains in there, perhaps Debian6 and Debian7 deploy scripts being shipped concurrently?  The development branch of bootstrap-salt.sh seems to have dropped support for anything other than wheezy/sid, which a) goes against the spirit of Debian's 'long term support' po

[2013-05-17 10:47] joehealy commented on #133
I'll be supporting squeeze as long as I can. I expect that bootstrap
support will remain as long as it is realistic to be deploying new squeeze
machines...

On Fri, May 17, 2013 at 8:26 PM, Jedd Rashbrooke
notifications@github.comwrote:

[2013-05-17 11:28] #133 closed, assigned to nobody

[2013-05-17 11:43] s0undt3ch commented on #133
@jedd salt-cloud distribution deploy scripts like [Debian.sh](https://github.com/saltstack/salt-cloud/blob/develop/saltcloud/deploy/Debian.sh), [Ubuntu.sh](https://github.com/saltstack/salt-cloud/blob/develop/saltcloud/deploy/Ubuntu.sh) or [RHEL5.sh](https://github.com/saltstack/salt-cloud/blob/develop/saltcloud/deploy/RHEL5.sh), etc are deprecated and won't be further developed, unless there's a

[2013-05-20 11:15] marcinkuzminski opened #138 "Speed up git clone on bootstrap from git"
We've been working on optimizing speed of machine bootstrap and here are my proposals. Open fo discussion.

Instead of doing full history fetch when doing `git clone`, code should do a shallow clone with --depth=1 from my tests this increases the speed of whole operation a lot.

There's also the case when the repo is there bootstrap does git fetch, this can get a `--unshallow` flag which would upd

[2013-05-20 21:33] aljosa commented on #122
@s0undt3ch don't know why this issue was closed, it still doesn't work on ubuntu 13.04 for me:

[code]

[2013-05-20 22:22] s0undt3ch commented on #122
This should be fixed with the develop version of salt, try passing `-D git develop` to the bootstrap script.

[2013-05-22 04:32] techdragon opened #139 "salt boostrap on Arch Linux"
I think salt needs an override option of some kind "--skip-pgp" or something.

I need to manually do this in order to bypass the issues i find with a few of the AUR dependencies salt's bootstrap pulls in.

I can do it manually but I'm sure I'm not the only one who wouldnt mind an override to not have to do it manually.

[2013-05-22 06:36] s0undt3ch commented on #139
I noticed this issue yesterday while trying to bootstrap and Arch EC2 instance.
I though it could be a temporary repository issue.

Need to bring the big guns in, @thatch45, @techhat, what should be the proper approach to?

[code]

[2013-05-22 13:29] tomasfejfar opened #141 "Install script does not work on Debian 7"
[code]

The error message does not say much about what the problem might be, so let me know if you need more info.

[2013-05-22 13:32] tomasfejfar commented on #141
Also with:
`wget -O - http://bootstrap.saltstack.org | sudo sh`
it fails with:
`Nelze zapsat do „-“ (Roura přerušena (SIGPIPE)).` - transated as `Cannot write to "-" (Pipe interrupted (SIGPIPE))`

[2013-05-22 13:49] tomasfejfar commented on #141
Seems like a known issue: https://github.com/saltstack/salt-bootstrap/issues/100 but the error is different

[2013-05-22 23:39] #139 closed, assigned to nobody

[2013-05-22 23:41] s0undt3ch commented on #141
This issue is solved in the unstable version of the script, please try:

[code]

[2013-05-22 23:41] #141 closed, assigned to nobody

[2013-05-23 00:02] s0undt3ch commented on #139
This has been fixed in ce1cc43

[2013-05-23 00:06] s0undt3ch commented on #138
Sorry for the long time to reply.

I'm in favor of speeding up the salt cloning process, though, salt needs it's full tags to report proper versioning.
That said, `wget` or `curl` based downloads are inappropriate since you would only get salt to report it's version like `0.15.0` and not `0.15.0-686-g234c2bd` like a git based install.

Shallow clonning would need a second step to get all tags.
Wou

[2013-05-23 00:30] marcinkuzminski commented on #138
Ahh wasn't aware of version extracting based on a tags.

A quick test showed there's little benefit from that approach:

[code]

But i don't get why tags are needed ?

another (maybe little bit crazy) would be to use `curl https://api.github.com/repos/saltstack/salt/tags` somehow to speed up things

[2013-05-23 00:53] s0undt3ch commented on #138
Hmm...

I've been spinning up quite a few git based machines, and cloning isn't **that** slow that we need to curl tags or some other _black magic_. It should remain simple enough that it wont break easily.

So, I guess it will stay the same.
Cool?

[2013-05-23 00:56] marcinkuzminski commented on #138
agree, more complexity is not a better solution here. We're going to stick to a little modified version where it does a shallow clone. It's suits our needs (we're really fighting for every second in our deployment)

[2013-05-23 00:56] #138 closed, assigned to nobody

[2013-05-23 01:07] s0undt3ch commented on #138
Ok, but remember that salt's version reporting will be compromised.
You'll get away fine if your checking out specific version tag, ie `v0.15.1` for example.

[2013-05-23 08:45] marcinkuzminski commented on #138
Why is the versioning so important ?

[2013-05-23 13:36] tomasfejfar commented on #141
Thank you.

It would be nice to suggest this in docs - like "if this does not work for you, you can try the dev version of install script"...

[2013-05-23 14:43] synotna commented on #126
Looks like you fixed those issues!
-  INFO: Salt installed!

[2013-05-23 16:07] JannKleen opened #142 "Bootstrap fails on Debian 7.0"
I'm on the current version of Debian 7.0, using wheezy, wheezy security updates and wheezy-updates...

When running `root@debian:~# wget -O - http://bootstrap.saltstack.org | sh`:
https://gist.github.com/JannKleen/5637190

When running `python -c 'import urllib; print urllib.urlopen("http://bootstrap.saltstack.org").read()' | sh -s -- git develop`:
https://gist.github.com/JannKleen/5637208

And wh

[2013-05-23 16:10] JannKleen commented on #142
sorry, dupe of #100

[2013-05-23 16:10] #142 closed, assigned to nobody

[2013-05-23 17:11] s0undt3ch commented on #126
Nice!

[2013-05-23 17:12] s0undt3ch commented on #142
Yes, Debian 7 support is not in the stable branch. To get develop version of the string, please [look here](https://github.com/saltstack/salt-bootstrap#i-found-a-bug).

[2013-05-23 17:13] s0undt3ch commented on #141
Your suggestion has been accepted, please [look here](https://github.com/saltstack/salt-bootstrap#i-found-a-bug). :smile:

[2013-05-23 17:15] s0undt3ch commented on #138
In case you ran into trouble and you need to file an issue against salt, that's one of the things most important to us. That way we know what code you are running on your end. If the version you're reporting is not accurate, we might loose quite some time chasing ghosts.

[2013-05-23 17:20] marcinkuzminski commented on #138
Then it's not a problem, because actually we're doing cloning by hash only in the bootstrap script, and upgrade it always manually. It's to risky for us to have different versions across multiple servers.

Thanks for all the feedback.

[2013-05-23 17:25] s0undt3ch commented on #138
That's why I said you'd get away with shallow cloning a git tag, since the tag will be the version salt reports :)

[2013-05-23 17:25] s0undt3ch commented on #138
Well, you and us :smiley:

[2013-05-23 17:31] tomasfejfar commented on #141
That's nice :) Thank you.

[2013-05-26 09:58] techdragon opened #143 "arch linux bootstrap still broken"
Brand new Arch Linux 64bit install.
Bootstrap is still broken before. Tried the pgp keys stuff. And still broken. Still not sure if this is truly Arch or Salt to blame. But the bootstrap

[code]

[2013-05-26 10:24] techdragon commented on #143
Also fails from develop using
curl -L https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh | \
    sudo sh -s -- git develop

[2013-05-26 10:48] robinsmidsrod opened #144 "Support OmniOS (IllumOS derivative)"
It'd be nice if OmniOS could be supported in the installer. It is a Solaris-based system that uses IPS packaging, same as OpenIndiana.

See http://omnios.omniti.com/wiki.php/Packaging for more details on how to package for OmniOS.

I believe the information below is what you need to at least detect the distro correctly.

[code]

[2013-05-26 11:05] s0undt3ch commented on #143
Hmm, and the output of this last command? With `-D` please?

[2013-05-27 10:11] techdragon commented on #143
Success!

[code]

its truncated because I didnt pipe it or use tmux. But its successful.

[2013-05-27 10:11] #143 closed, assigned to nobody

[2013-05-27 11:07] s0undt3ch commented on #143
_"Told Ya!"_

[2013-05-31 03:15] davidblewett commented on #20
The real issue is in the middle of this output:

Installing pkg-1.0.2...pkg-1.0.2 already installed

The problem is that the freebsd-specific bits in the bootstrap script all try to unconditionally install pkg. If someone is already using pkgng, however, this command will fail:

[code]

If the assumption is that pkgng _must not_ be in use yet, that should be made explicit in the documentation.

Ag

[2013-05-31 10:52] geoffgarside commented on #20
FreeBSD 9.1 includes a pkg bootstrapper in `/usr/sbin/pkg`, if `/usr/local/sbin/pkg` doesn't exist then it prompts to install it, if it does exist then I think it uses exec(3) to load the full version. So what we could do is use `test ! -x /usr/local/sbin/pkg` to see if pkg has already been installed and then skip the `./pkg-static` stuff in that case.

[2013-05-31 11:01] s0undt3ch commented on #20
Guys! :raised_hands: You seem to know what you're doin' as opposed to me. I just wish we'd have FreeBSD bootstrappable... :smile:

[2013-05-31 12:06] geoffgarside commented on #20
This still doesn't solve the problem of the FreeBSD pkgng servers lacking anything besides pkg on them, but based on current reports from the ports infrastructure guys it sounds like we should have 9.1 on the PACKAGESITE in the _near_ future, though how near that actually is I've no idea.

[2013-05-31 12:38] s0undt3ch commented on #20
We can't still bootstrap salt without a custom `PACKAGESITE` right?
Can anyone point me to a valid `PACKAGESITE`, so I can add FreeBSD to out buildbot setup being hacked [here](http://bootstrap.bb.ufsoft.org/waterfall)?
It will only be used for testing, not for inclusion the the script since it might be on a personal server and we don't want to hammer it with requests ;)

[2013-05-31 12:40] geoffgarside commented on #20
You can use http://pkg.geoffgarside.co.uk/freebsd:9:x86:64 for FreeBSD 9.1 packages, salt is included, updated randomly, firewall is a bit hostile, let me know if you have any trouble with it.

[2013-05-31 13:05] s0undt3ch commented on #20
Thanks!!!

Will setup a buildbot slave for FreeBSD as soon as I get home.

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Geoff Garside" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] FreeBSD seems to be broken on EC2 (#20)
Data: sex, Mai 31, 2013 13:40
You can use http://pkg.g

[2013-05-31 13:12] davidblewett commented on #20
PC-BSD maintains a package repo for 9.1:

http://blog.pcbsd.org/2013/04/pc-bsd-announces-package-repository-for-pc-bsd-and-freebsd-9-1-release/

[2013-06-04 13:56] davidblewett commented on #20
This pull request fixes my problem: https://github.com/saltstack/salt-bootstrap/pull/151 . Now if only the PC-BSD repo would update the py-salt package  (0.14 is broken).

[2013-06-04 15:04] s0undt3ch commented on #20
@davidblewett Nice! You install from git, pass `git v0.15.3` for latest stable

[2013-06-17 00:36] teburd opened #163 "Archlinux bootstrap fails"
Bootstrapping archlinux with salt fails, the reason seems to be the boostrap script doesn't add a signing key for the package repo or disable package signing checking from the salt repo.

Either way would work, but signing and adding the signing key is probably the nicer way.

[2013-06-17 10:26] s0undt3ch commented on #163
This issue has been fixed, though the problem still exists if you're bootstrapping on a system which had the salt repository added previously.
Was that not the reason?

[2013-06-17 10:35] martinvich commented on #103
I cannot install salt-minion :

[code]

on Amazon Linux AMI release 2013.03

[2013-06-17 11:08] s0undt3ch commented on #103
@martinvich Thanks for the report, need to try that 2013.03 AMI

[2013-06-17 11:17] s0undt3ch commented on #103
@martinvich you were using the latest bootstrap script? Can we see the full output of the bootstrap process, preferably also passing `-D`?

[2013-06-17 11:31] martinvich commented on #103
I was trying to install it this way :

[code]

and when I use latest bootstrap script:

[ec2-user@ip-XXX-XXX-XXX-XXX ~]$ sudo ./bootstrap-salt.sh -D
-  INFO: /bin/sh ./bootstrap-salt.sh -- Version 1.5.5
  -  INFO: System Information:
  -  INFO:   CPU:          GenuineIntel
  -  INFO:   CPU Arch:     x86_64
  -  INFO:   OS Name:      Linux
  -  INFO:   OS Version:   3.4.43-43.43.amzn1.x86_64
  -  I

[2013-06-17 14:15] teburd commented on #163
It wasn't, I was using the salt vagrant plugin, like...

vagrant plugin install salt

On Mon, Jun 17, 2013 at 5:26 AM, Pedro Algarvio notifications@github.comwrote:

[2013-06-17 15:20] s0undt3ch commented on #163
And what was the version of the bootstrap script? Shows up on the bootstrapping logs

[2013-06-17 21:31] s0undt3ch commented on #103
The issue is not missing deps, its Amazon Linux not being properly detected.

Oh and salt is now on epel not epel-testing.

[2013-06-18 03:41] teburd commented on #163
It was using 1.5.2, I told it to use a newer version so now it bootstraps but my config file is now moved.

Pacman will move files that exist and don't belong to a package to pacorig if a package your installing uses that file path.

salty vagrant, the boot strap, and a custom minion config for masterless operation seems to be problematic because of this atm.

[2013-06-18 10:34] s0undt3ch commented on #163
The problem is that your pacman config already includes a salt entry, right? Remove it and run the bootstrap script again.

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Tom Burdick" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] Archlinux bootstrap fails (#163)
Data: ter, Jun

[2013-06-18 11:33] s0undt3ch commented on #103
@martinvich I failed to trigger your issue since the AMI I used, `ami-05355a6c`, was properly identified:

[code]

Which AMI are you using?

[2013-06-18 11:53] mickours opened #165 "Salt needs `pciutils` package to work on Debian"
The bootstrap works perfectly on Debian but when I run salt-minion I have a warning message about `lspci`.

After an `apt-get install pciutils` there is no more complaint. Maybe this dependency should be add in the Debian part of the script .

[2013-06-18 11:59] s0undt3ch commented on #165
Which install type was this? A git install? a stable install?

[2013-06-18 14:35] mickours commented on #165
I use the git version exactly as it is describe here https://github.com/saltstack/salt-bootstrap#i-found-a-bug.
By the way, my system install is a custom install using debootstrap. That's why `pciutils` was not installed, unlike a classical install.

[2013-06-18 15:55] teburd commented on #163
Its not a problem with the arch packaging or my pacman config, its a problem with the order in which things happen.

Docs about what happens in this case with archlinux package management, https://wiki.archlinux.org/index.php/Pacnew_and_Pacsave_Files#.pacorig

The order needs to be
- Install salt package
- Copy configs to proper location
- Start salt daemons

According to the salty-vagrant maintai

[2013-06-18 16:56] s0undt3ch commented on #165
Ok, and what's the error that salt gives you?

[2013-06-18 16:59] s0undt3ch commented on #163
Yes, this issue belongs in the bootstrap script. I'll see what we can do.

[2013-06-19 07:20] mickours commented on #165
when I run `salt-minion`I got this message:
`[WARNING ] Error loading grains, unexpected linux_gpu_data output, check that you have a valid shell configured and permissions to run lspci command`

The program does not stop. When I kill it with <Ctr-c> it shows this:
  Traceback (most recent call last):
  File "/usr/bin/salt-minion", line 14, in <module>
    salt_minion()
  File "/usr/lib/python2.7/

[2013-06-19 12:55] s0undt3ch commented on #165
Well, `pciutils`, which provides `lspci` is only listed as recommends in the the debian packaging, so, I'm not going to add this as a dependency for git installs, sorry.

I will however, open a ticket to see if we can better handle that warning. That traceback is not related to salt bootstrap though, it's a salt issue, could you please open a ticket regarding that in https://github.com/saltstack/s

[2013-06-19 12:55] #165 closed, assigned to nobody

[2013-06-19 13:06] s0undt3ch commented on #144
Is there any cloud service providing an image of OmniOS?

[2013-06-19 14:45] s0undt3ch commented on #163
This is not the proper fix. Sorry @bfrog. This is now handled in #168.

[2013-06-19 14:49] #163 closed, assigned to nobody

[2013-06-19 14:51] s0undt3ch commented on #163
@bfrog could you please test the latest development branch?

For example:

[code]

[2013-06-19 19:59] robinsmidsrod commented on #144
@s0undt3ch Yes, I believe there are EC2 AMIs available. Details here: http://omnios.omniti.com/wiki.php/Installation#IntheCloud

[2013-06-19 21:16] s0undt3ch commented on #144
Cool!!! I'll see if I spin one up to at least have the script properly detect OmniOs.

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Robin Smidsrød" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] Support OmniOS (IllumOS derivative) (#144)
Data: qua, Jun 19, 2013 20:59
@s0undt3

[2013-06-21 14:37] s0undt3ch commented on #144
Quoting @robinsmidsrod on #169 so the comment does not get lost.

---

@s0undt3ch Well, technically it's using the same system as OpenIndiana (and traditional Solaris I guess), which are IPS packages. More details here: http://omnios.omniti.com/wiki.php/Packaging

It can also run any traditional Solaris 10 binary, so if you already have that in your script, I believe you should be able to point it

[2013-06-21 20:34] teburd opened #170 "Archlinux Salt Old"
The bootstrap script installs a semi-old version of salt (0.13.1) where as the newer version solves some bugs that I found with pecl.installed

Would be nice to have up to date archlinux salt packages or use the aur.archlinux.org package build files as described on the saltstack site.

[2013-06-21 20:37] techhat commented on #170
We'll want to ping @cedwards, who manages both intothesaltmine.org and the AUR packages.

[2013-06-23 10:49] robinsmidsrod commented on #144
@s0undt3ch Actually, using the method mentioned in http://docs.saltstack.com/topics/installation/solaris.html does work for OmniOS as well. I've managed to install salt using pkgutil -i py_salt. Switching OpenCSW from testing to unstable made it install a bunch of other services on the system, which I'm not sure how will affect the system, but things _seem_ to still work as expected.

Though my ef

[2013-06-23 11:15] robinsmidsrod commented on #144
@s0undt3ch This is the output from runnin truss on kstat -p. https://gist.github.com/robinsmidsrod/5844493 I've sent an email to the OmniOS discuss mailing-list about the issue. Let's see what they have to say first. Preliminary findings suggest that kstat -p doesn't segfault on a default install of r151006, but it seems like it happens once you install iSCSI target system and enable it (in some w

[2013-06-23 11:47] s0undt3ch commented on #144
@robinsmidsrod you kept digging into this! Thanks!! You do seem to at least know a bit more than me about the subject ;)

The `IndexError` is taken care of in current development branch, a regex is used instead, [see here](https://github.com/saltstack/salt/blob/develop/salt/grains/core.py#L302).

The code triggering the `NameError` has also changed.

What version of salt was installed?

[2013-06-23 14:01] robinsmidsrod commented on #144
@s0undt3ch According to http://www.opencsw.org/packages/CSWpy-salt/ it seems 0.14.0.

But the core problem was that the kstat command failed with a segfault, and because of that you didn't get the output you expected during kstat_info, right? Maybe the kstat_info call should account for an unexpected exit code from kstat and bail out if one occurs?

About the segfault, I got this preliminary feedb

[2013-06-23 15:52] s0undt3ch commented on #144
0.14 is old :)
Don't know which but at least 0.15.90(0.16.0 rc) handles a misbehaving call of kstat.

[2013-06-23 15:59] robinsmidsrod commented on #144
I've had a chat with a developer for OmniOS, and he's given me a patched version of kstat that actually doesn't segfault. So that fix should arrive soonish. According to http://docs.saltstack.com/topics/installation/solaris.html Romeo Theriault romeot@hawaii.edu is the maintainer of the OpenCSW package of salt. Maybe it's possible to poke him to get an updated version out?

[2013-06-23 17:06] s0undt3ch commented on #144
@romeotheriault Think you can help out regarding the issues being discussed here?

[2013-06-23 20:28] rrtj3 commented on #144
Sure, I can work on getting the latest version on early this week. Does the latest stable version have the fix?

[2013-06-23 21:51] robinsmidsrod commented on #144
@romeotheriault Maybe a coordinated push to get 0.16.0 out into opencsw when it's ready for release would be the best thing, since 0.15.90 is technically an RC and should probably not be released to a stable repo? Then again, py_salt is in the unstable OpenCSW repo, so maybe it doesn't really matter that much. What do you think, @s0undt3ch ? What's the ETA on 0.16.0?

[2013-06-23 22:32] s0undt3ch commented on #144
@thatch45 what's the ETA on 0.16.0?

[2013-06-30 20:02] s0undt3ch opened #173 "Create deb and rpm packages"

[2013-07-02 14:09] chadhs opened #174 "FreeBSD 9.1 salt-bootstrap error"
I tried with the development version as well and it errors out on the package repository since the pkgng FreeBSD package mirror does not contain any packages other than pkg.

https://gist.github.com/chadhs/07d3c4d3d68ab9043b5e#file-freebsd-9-1-salt-bootstrap-error

[2013-07-02 15:10] s0undt3ch commented on #174
Yes, this is expected, notice the warning line:

[code]

You have to provide your own `PACKAGESITE` environment variable while the pkgbeta repo is not fixed.

You can try ftp://ftp.pcbsd.org/pub/mirror/packages/9.1-RELEASE/amd64

[2013-07-02 16:12] chadhs commented on #174
10-4, i'll make part of our FreeBSD bootstrap process to inject our PACKAGESITE into pkg.conf once I have our package repo built.

[2013-07-02 16:12] #174 closed, assigned to nobody

[2013-07-02 16:41] s0undt3ch commented on #174
You can also do, for example:

[code]

The script [will do that for you](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2096) :)

[2013-07-02 19:19] chadhs commented on #174
awesome!

s0undt3ch, if we wanted to be lame — for now — could we also alter it to use pkg_\* legacy pkg tools vs pkgng?  on my existing "fleet" I'm not read to do the irreversible `pkg2ng`

[2013-07-02 19:45] s0undt3ch commented on #174
Well, I'm not a FreeBSD user, most FreeBSD code was submitted by others. That said, I think that an effort was made to use pkg and not pkgng if the first is found on the system. But I also think that a migration is done.

Anyway, we accept pull requests :)
Meaning, clone our repo, change the code to do what you need without breaking existing code and we'll gladly accept it.

Let me know if you nee

[2013-07-02 20:10] chadhs commented on #174
excellent thanks!  =)

[2013-07-02 20:23] s0undt3ch commented on #174
Anytime!!!

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Chad Stovern" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] FreeBSD 9.1 salt-bootstrap error (#174)
Data: ter, Jul 2, 2013 21:10
excellent thanks!  =)

&mdash;
Reply to this email directly or view it on GitHub.

[2013-07-03 14:34] JeremieCharest opened #176 "Installing with for a different Python version than the one used by the OS"
How can we install salt for a different Python version than the one used by the OS. I'm on CentOs 6.4 which use Python 2.6 by default but I need Python 2.7 without changing the python2 or python symlink.

I looked in the bootstrap-salt.sh, under the CentOs section, the following commands can be use "yum -y install PyYAML m2crypto python-crypto...." or "python2 setup.py install" which in my case wo

[2013-07-03 15:15] s0undt3ch commented on #176
Well, salt requires a minimum of python 2.6. Aside from that, there's currently no way to specify an alternative python version to the script. We accept pull requests though... So, if you can implement what you need without breaking existing functionality, we'll gladly merge your changes.

##

Pedro Algarvio @ phone

----- Reply message -----
De: "evilNullPointer" notifications@github.com
Para: "s

[2013-07-03 16:33] chadhs commented on #85
for your bootstrap one–liner in your environment try adding this on:
`&& echo "master: yoursaltmaster.yourdomain.ext" >> /your/salt/config/path/minion && service salt_minion restart`

edit: once you do that you've got connectivity with the master and you can replace the minion file if you have/need other stuff in there and don't want the master definition to be at the bottom.  FYI

[2013-07-03 16:56] chadhs commented on #174
The ultimate of laziness er uh efficiency–related shenanigans:

## Bootstrapping my Bootstrap — FreeBSD

91bootstrap.sh script sitting at the root of my poudriere pkgng repo:

[code]

from a brand new box

[code]

Then I can just go accept my key on the master and I'm all set!

[2013-07-03 19:59] s0undt3ch commented on #85
Could also work :smile:

[2013-07-03 20:20] s0undt3ch commented on #174
You know that you can upload a configuration file to a temporary directory, set the bootstrap script to look at that directory and the minion and/or master will configured with that(those) file(s)?

You can even point to the bootstrap script to an [URL](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L159) of a compressed file which it will extract to a temporary directo

[2013-07-05 13:07] JeremieCharest opened #177 "Install script choose EPEL package instead of PyPi even when using the -P parameter"
When using the following command on a CentOs 6.4, the installer prefer the Epel version which is not the latest and didn't use the pip artifact.

 wget -O - http://bootstrap.saltstack.org | sh -s -- -P
//INFO: Running install_centos_stable()

pip search salt
...
 INSTALLED: 0.15.3
 LATEST:    0.16.0

salt-call --version  # salt-call 0.15.3

How can we force to use latest version?

[2013-07-05 16:23] s0undt3ch commented on #177
The pip flag does not force the pypi version to be installed. It allows the pip version to be installed if that's required by the install function.

And if you're after the bleeding edge, pass 'git develop' as arguments to the script. Note that you can also pass a git tag, for example v0.16.0
This will install from git as opposed to install using system packages.

Anyway, I'll look into it as soon

[2013-07-05 18:40] JeremieCharest commented on #176
Thanks for the answer. We will downgrade our requirements to 2.6 to unified our environments because we are time and budget limited.

[2013-07-05 18:40] #176 closed, assigned to nobody

[2013-07-06 19:30] robinsmidsrod commented on #144
@s0undt3ch I just want to inform you that the kstat segfault issue was fixed in version r151006i of OmniOS, which was released to stable branch on 28 June 2013, so that should no longer give us any issues.

[2013-07-07 20:20] chadhs opened #178 "salt-bootstrap installation from git on FreeBSD installs some files to the "wrong" location"
salt-bootstrap installation from git on FreeBSD installs some files to the "wrong" location.

i made sure to run the development bootstrap script against the development git tree of salt as per the issue instructions.

when installing a minion or a master the pki stuff is created under /etc/salt/ and the master or minion configs are placed under /usr/local/etc/salt/ (as they should be).

anything

[2013-07-07 20:23] chadhs commented on #174
fantastic.  just grabbed the dev version of the bootstrap script and was looking at the args this weekend.

[2013-07-07 20:51] s0undt3ch commented on #178
Well, I have all the information necessary.
The bootstrap script does not configure the salt master and/or minion. It only places the configurations/keys provided by the user(if any) on the right place.

Are you also providing the minion keys to the script?

[2013-07-07 20:52] s0undt3ch commented on #178
Hmm, I think I found a bug, which should have been catch already.

Still, need the info above :)

[2013-07-07 21:09] s0undt3ch commented on #178
#179 has made some changes on how the PKI_DIR setting is handled, could you re-try the dev script?

[2013-07-07 21:42] chadhs commented on #178
s0undt3ch i was merely running the bootstrap script with no additional options and also with the -M & -N to install a "master" — not providing any keys etc to the script.

I have two VMs on my Mac that I have snapshot'd just after a virgin FreeBSD 9.1-RELEASE-p4 build.  Vanilla install with only the root user, no other packages etc.  These are my perpetual test subjects for testing bootstrap deplo

[2013-07-07 21:46] chadhs commented on #178
just retried it for minion and master

`fetch -o - https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh | sh -s -- git v0.16.0`

`fetch -o - https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh | sh -s -- -M -N git v0.16.0`

the /usr/local/etc/salt/pki paths are created in both instances but the /etc/salt/pki path is as well and the actual files get popula

[2013-07-07 22:15] s0undt3ch commented on #178
Ok.
It will fail though. We don't touch the configuration file, not the default ones, nor the user provided one's. This means that the pki setting will pointing to salt's default which are not proper for FreeBSD.

Your only alternative is to provide a configuration file to the script.

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Chad Stovern" notifications@github.com
Para: "saltstac

[2013-07-07 22:19] chadhs commented on #178
Passing in a master config that defines the appropriate paths for FreeBSD?
On Jul 7, 2013 5:15 PM, "Pedro Algarvio" notifications@github.com wrote:

[2013-07-07 22:19] s0undt3ch commented on #178
Yes, just read your last comment... As supposed, it failed.

[2013-07-07 22:19] s0undt3ch commented on #178
Exactly.

[2013-07-07 22:20] s0undt3ch commented on #178
Since no configuration file is passed, and none exists, at least properly configured, salt default settings are used, which aren't proper for FreeBSD

[2013-07-08 01:55] chadhs commented on #178
I'll do some more tinkering tonight, report back, then close this ticket.  once i get it working as expected would it warrant an example in the readme?  at a minimum i'll post a gist or something in this ticket — thanks man.

[2013-07-08 03:49] chadhs commented on #178
@s0undt3ch forgive my combination of failure to parse & tiredness? but I'm not understanding what optarg allows me to pass in the config option.

I've also been studying the ports tree build and it appears they're achieving what I'm looking for by altering the setup.py for salt.

screenshot: http://orbt.io/Q5pC.png

EDIT:
patch file screenshot (from the 0.15.3 FreeBSD port):
http://orbt.io/Q6TB.pn

[2013-07-08 21:43] s0undt3ch commented on #144
Cool! 0.16.0 is also out already.

[2013-07-08 21:48] s0undt3ch commented on #178
Yep. I also started thinking on applying the patch from the ports tree but that would still not be enough.
We might still need to add an extra patch to the source code to update the default configuration to the proper paths...

I'll see what I can do ;)

[2013-07-09 13:16] chadhs commented on #178
I made a tarball of the current port dir that contains all the maintainers patches etc and uploaded to my app.net file storage if you or anyone else working on salt would care to look at what they are doing:

http://orbt.io/Q8hl.gz

[2013-07-09 21:42] s0undt3ch commented on #178
Thanks!

[2013-07-14 22:46] ghost commented on #122
I'm having the same problem.

First I fixed a problem with upstart like this (I googled it, I don't know the details, something about virtual machines):

[code]

This is the output:

[code]

[2013-07-16 15:03] techhat opened #182 "Allow user to keep files specified with -c option"
Refs saltstack/salt-cloud#680. Tagging @mafrosis.

Salt Cloud has a --keep-tmp option, which is designed to keep the files in /tmp/ in place after the bootstrap has finished. Now that the bootstrap script moves, instead of copying the files, this is broken. We need an option to copy, instead of move the files.

[2013-07-16 20:08] elyast opened #184 "Option -F is not recognized"
option -F is not being recognized when running bootstrap even tough it is printed in help message

[2013-07-16 20:20] s0undt3ch commented on #184
What version of the script are you running?

[2013-07-16 20:22] #182 closed, assigned to nobody

[2013-07-16 20:23] s0undt3ch commented on #184
You should be running the stable version. This issue is fixed in the development version.
Please re-open the ticket if need be.

[2013-07-16 20:23] #184 closed, assigned to nobody

[2013-07-17 19:32] josmardias commented on #76
It's still overwriting my config files (/etc/salt/master and minion).

I'm using Ubuntu 12.04 LTS

[2013-07-17 19:41] s0undt3ch commented on #76
Could you please provide a full execution output with debug enabled? ie pass `-D` to the script.

[2013-07-18 14:13] josmardias commented on #76
[code]

https://gist.github.com/josmardias/6029662

[2013-07-18 14:13] josmardias commented on #76
Only the master was overwritten, btw.

[2013-07-18 15:26] s0undt3ch commented on #76
Errr, you are correct. This is still a bug!

@josmardias Thanks!

[2013-07-18 15:56] #76 closed, assigned to nobody

[2013-07-18 15:57] s0undt3ch commented on #76
@josmardias If you use the development version, this issue should be fixed. Once again, Thanks!

[2013-07-18 16:24] josmardias commented on #76
@s0undt3ch Thanks man : )

[2013-07-18 16:57] s0undt3ch commented on #76
Sempre às ordens!

[2013-07-21 12:37] UtahDave opened #186 "Arch support is broken"
Using bootstrap to install salt on arch with the default options is broken. There's an error with some file not being available on intothesaltmine.com.

If you tell bootstrap to install salt from git on arch, then that works fine.

[2013-07-21 12:44] techhat commented on #186
Tagging @cedwards.

[2013-07-21 13:38] s0undt3ch commented on #186
Logs? :)

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Joseph Hall" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Assunto: [salt-bootstrap] Arch support is broken (#186)
Data: dom, Jul 21, 2013 13:44
Tagging @cedwards.

&mdash;
Reply to this email directly or view it on GitHub.

[2013-07-29 23:17] cwacek opened #189 "yum-based systems call 'yum update'"
The issue is that `yum update` isn't like `apt-get update`. It actually goes and upgrades packages. If there are updates pending, or some other package has a broken dependency, then the whole install fails because of elements unrelated to salt.

Unless I've missed something, the goal of that call is to make sure the EPEL repository is updated, for which `yum makecache` should be sufficient.

[2013-07-29 23:57] s0undt3ch commented on #189
Since I'm an Ubuntu guy, I need to call in a RH/Ferora expert.
@herlo, I'm about to switch from `yum update` to `yum makecache` because it seems the right thing to do and I believe @cwacek. Do you seen any future issues with this change?

[2013-07-30 15:54] herlo commented on #189
@s0undt3ch, what is the use case? I am not sure it makes sense unless you are just trying to make sure the latest metadata is available when doing an update/install.

[2013-07-30 16:13] cwacek commented on #189
@herlo @s0undt3ch I'm not actually sure it's necessary at all. I just assumed someone had put it in there because they thought it was necessary (ala `apt-get update`), and I didn't want to suggest completely removing it.

[2013-07-30 16:48] herlo commented on #189
AUIU, apt-get update does the same thing as yum update. They both check upstream repositories for upgradeable packages and then install said packages. Maybe I am not understanding your issue?

[2013-07-30 17:09] cwacek commented on #189
@herlo That's not correct. To quote the apt-get man page:

[code]

To quote the yum man page:

[code]

`apt-get upgrade` is the equivalent to `yum update`. Salt shouldn't be running `yum update` when it installs unless there's a very specific use case.

[2013-07-30 17:18] herlo commented on #189
@cwacek ahh, I see kind of what you are getting at here. My previous point still holds then, I wanted to understand the point of this use case. If you are saying that pkg.install should not use yum update, I'm with you, but I don't see how pkg.latest would be incorrect in using yum update <pkgname>, for instance.

Can you give me the use case you are using to argue this here? It's really what will

[2013-07-30 17:24] josmardias commented on #76
Can we get this on stable?
Valeu!

[2013-07-30 17:46] josmardias commented on #76
I just tested installing salt on my VirtualBox running Ubuntu and i get master and minion configs overwritten again : (

I used the last commit of salt-bootstrap devel:

[code]

https://gist.github.com/josmardias/a2048c234275dd0fdf07

[2013-07-30 17:47] josmardias commented on #76
Obs.: I tested twice. For some reason, both were overwritten in the first try, but only master was overwritten in the second try. This gist is about my second try.

[2013-07-30 18:50] cwacek commented on #189
@herlo I think we are too. I was specifically referring to the use of `yum update` in the salt-bootstrap.sh script. I just looked at yumpkg and it looks file (doesn't even use update).

[2013-08-01 21:51] vimalloc commented on #189
I would also like to see the yum update removed from bootstrap-salt.sh. I ran into a situation where trying to bootstrap salt upgraded a totally unrelated package which caused issues.

[2013-08-01 22:17] gravyboat opened #190 "Bootstrap.sh does not download the latest release if it hasn't been approved in EPEL."
Currently the bootstrap.sh script does not pull down the latest stable release if it hasn't completed all testing in EPEL and is available in the main repo. As an example the latest release was delayed until today (history for this latest release is [here](https://admin.fedoraproject.org/updates/salt-0.16.0-1.el6)). So the bootstrap script will pull the old version, and you can't update to the lat

[2013-08-01 22:19] SEJeff commented on #190
ie: `yum --enablerepo=epel-testing install salt{,-minion,master}`

[2013-08-01 22:23] gravyboat commented on #190
as an update to SEJeff's command:
<code> yum --enablerepo=epel-testing install salt{,-minion,-master,-api}</code>

[2013-08-01 23:56] atoponce commented on #189
It definitely should NOT be calling "-y" when doing the bootstrap. Let the administrator decide if the system should be upgraded.

[2013-08-01 23:59] techhat commented on #189
I would agree with @atoponce in some circumstances. In others, I want `-y` to be called. The bootstrap script should give the user the option to choose from the command line.

[2013-08-02 00:09] cwacek commented on #189
That's why I'm inclined to remove the update line entirely unless someone can think of a reason to keep it. The install lines need '-y' or they'll hang all the time.

I intend to test this change in a vm, but haven't had the time just yet.

On Aug 1, 2013, at 7:59 PM, Joseph Hall notifications@github.com wrote:

[2013-08-02 17:01] techhat opened #191 "Add support for Linaro distro"
Ref saltstack/salt#6496.

[2013-08-02 20:51] abemusic opened #193 "Remote execution of bootstrap-salt.sh hangs with "git develop" args"
When running `salt-cloud -ldebug -m foo.map` to launch a new machine it hangs while executing the remote /tmp/deploy.sh on the minion. Here's the last bit of the log I have:

[code]

I have to load a new shell and manually kill the salt-cloud process to get keyboard access to the shell that ran salt-cloud. The profile I'm using:

[code]

Removing the "git develop" args fixes the issue and salt-clo

[2013-08-04 10:00] s0undt3ch commented on #191
This is now included in the current stable release.

[2013-08-04 10:01] #191 closed, assigned to nobody

[2013-08-04 17:32] s0undt3ch commented on #190
@gravyboat have a chance to test bootstraping from https://raw.github.com/s0undt3ch/salt-bootstrap/develop/bootstrap-salt.sh

Passing `testing` should install from `epel-testing` instead of `epel`.

[code]

[2013-08-05 16:16] gravyboat opened #198 "Bootstrap fails to install properly on RHEL systems if optional repo is not enabled."
Currently when trying to run the bootstrap script (without additional options) on a rhel 6 64 bit machine salt as well as Jinja2 fail to install because the only package available in EPEL is [jinja2-26](http://dl.fedoraproject.org/pub/epel/6/x86_64/repoview/python-jinja2-26.html). This was previously brought up as a failure for the salt master to install [here](https://groups.google.com/forum/#!ms

[2013-08-05 16:27] s0undt3ch commented on #198
Thanks @gravyboat !

[2013-08-05 22:24] s0undt3ch commented on #189
In order not to break previous functionality, not upgrading the full system prior to installing salt will be an optional flag and not expected behavior.

@atoponce This is supposed to be an automated installation script, you run it and you should expect a system running salt in the end. Like such, **all**  system calls should **not** require user intervention. If that's required, it's a bug in the

[2013-08-05 22:31] vimalloc commented on #189
I would argue that it is a bug in the script to update packages unrelated to salt as well. If I run this script on a production box, I want to have salt installed, nothing more. I don't want new version of bind, apache, whatever that have nothing to do with salt upgraded. And I really don't want any of those daemons restarted.

[2013-08-05 22:33] s0undt3ch commented on #189
@vimalloc That's why I'm making that an optional flag.

[2013-08-05 22:38] vimalloc commented on #189
@s0undt3ch Ok that works fine then. Sorry, that wasn't clear to me on the closed pull request.

[2013-08-05 22:43] s0undt3ch commented on #189
@vimalloc No worries! See #199.

I'm still evaluating if we should break previous behavior and have `-U` run the system upgrade procedures instead of the opposite(not running the system upgrade procedures).

[2013-08-05 22:52] s0undt3ch commented on #189
Ok, I've decided.

No upgrades shall be done to the system unless `-U` is passed to the script.

[2013-08-05 22:53] s0undt3ch commented on #189
This **breaks** previous RedHat based distributions expectation of a fully upgraded system when salt was installed, which was the previous behavior.

[2013-08-05 22:54] vimalloc commented on #189
I think I like that way more, less chances of someone accidentally causing problems with their system while installing salt cause they didn't fully read the docs. But either way, as long as there is an option for not upgrading the system I am very happy!

Thanks @s0undt3ch :)

[2013-08-05 22:57] cwacek commented on #189
@s0undt3ch Thanks. I think that's a good solution.

[2013-08-06 10:05] #190 closed, assigned to nobody

[2013-08-06 10:10] #189 closed, assigned to nobody

[2013-08-06 10:21] s0undt3ch commented on #198
@herlo can you please tell us what you think should be done regarding this issue?

[2013-08-06 10:25] s0undt3ch commented on #177
Ok, so in order to answer your question and close this issue, to install the latest version, if that's not available from the packages repository, you can install using a git checkout. Current latest is `0.16.2` so:

[code]

[2013-08-06 10:25] #177 closed, assigned to nobody

[2013-08-06 10:27] s0undt3ch commented on #103
No response in a long time. Closing. Please reopen if need be.

[2013-08-06 16:02] herlo commented on #198
There are two problems with this suggestion. First, if I recall correctly, putting the package in as a Requires for salt would mean we'd be using the wrong jinja2 package. Secondly, enabling the repository seems like a good idea, except for the fact that some subscriptions do not include the optional repository.

I think the second one is more problematic. Maybe salt-bootstrap could have a distro/

[2013-08-06 16:59] s0undt3ch commented on #170
The latest version of salt, `0.16.2`, is in [AUR](https://aur.archlinux.org/packages/salt/) now. Closing. Please reopen if necessary.

[2013-08-06 20:08] gravyboat commented on #198
@herlo Yes I agree that putting the package in as a requires is a bad idea. The optional repo is also problematic, since then individuals who don't have an optional repo subscription are completely out of luck when it comes to installing salt via the bootstrap unless they decide to pull from git. Is there no way we can contact Thomas Moschny and request that he fix the package in EPEL? His email i

[2013-08-06 20:28] herlo commented on #198
I don't think the one is the same as the other, the jinja2-26 package is
the same as the jinja2 package. For one, the former is actually for EPEL5
only, since it supports python2.6 which EL5 doesn't have except in EPEL. I
think that's been the issue from the very beginning.

I'm pretty sure nothing in EL6 needs jinja2-26, though I'd have to look
again to tell you why.

Cheers,

herlo

On Tue, Aug

[2013-08-07 17:16] s0undt3ch commented on #170
And 0.16.2 is now also in http://intothesaltmine.org/archlinux/

So this is fixed.

[2013-08-07 17:16] #170 closed, assigned to nobody

[2013-08-07 17:49] s0undt3ch commented on #186
[code]

I see no issues. Closing.

[2013-08-08 15:03] tmessi opened #201 "unbound variable on Gentoo"
bootstrapping fails with the following error:

<pre>
/tmp/bootstrap_salt.sh: line 2712: __gentoo_use_binhost: unbound variable
</pre>

[2013-08-08 16:07] s0undt3ch commented on #201
Thanks for the report, we'll fix this asap.

[2013-08-08 20:03] s0undt3ch commented on #201
what version of the script is this?

[2013-08-08 20:04] s0undt3ch commented on #201
I'm unable to reproduce.
Are you using the latest available script?
The full output with `-D` would also help a lot.

[2013-08-08 20:27] tmessi commented on #201
I pulled the latest from develop today and got the error above. I'll get output with `-D` for you as soon as I can.

[2013-08-08 21:55] tmessi commented on #201
Here is the output after runing the following:

<pre>
curl -L https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh | sudo sh -s -- -D git develop
</pre>

(I trimmed out the long emerge --sync output)

<pre>
*  INFO: PIPED THROUGH sh -- Version 1.5.7
*  WARN: Running the unstable version of bootstrap-salt.sh
*  INFO: System Information:
*  INFO:   CPU:          GenuineIntel
*

[2013-08-08 22:03] s0undt3ch commented on #201
Hmm. Thanks! I'll spin up a VM as soon as I can and debug this issue.

[2013-08-08 22:24] tmessi commented on #201
Looks like the issue is with calling a function as a variable. A quick script shows this doesn't seem to work.

For example the following:

<pre>
#!/bin/sh -
__foo(){
    return "bar"
}
echo ${__foo}
</pre>

Does not actually echo `"bar"`, it just prints a new line.

and if you add `set - o nounset` like so:

<pre>
#!/bin/sh -
set -o nounset
__foo(){
    return "bar"
}
echo ${__foo}
</pre>

You ge

[2013-08-08 22:58] s0undt3ch commented on #201
How did that work in the first place :)

[2013-08-08 23:07] s0undt3ch commented on #201
Could you please run:

[code]

Does this solve the issue?

[2013-08-09 00:21] tmessi commented on #201
seems to have done the trick. thanks

[2013-08-09 10:14] s0undt3ch commented on #201
Nice!

[2013-08-09 10:41] #201 closed, assigned to nobody

[2013-08-09 18:17] gravyboat commented on #198
@herlo So I guess we didn't really come to a conclusion here, what sort of action should be taken regarding this issue?

[2013-08-09 18:21] herlo commented on #198
My conclusion hasn't really changed. The jinja2-26 package is not needed.
It's impossible to expect someone to turn on the optional repository (or
pay to subscribe to it), but it's also not going to be something we
package. The only real option I can see we have is to deal with the issues
as they come in.

On Fri, Aug 9, 2013 at 12:17 PM, Forrest notifications@github.com wrote:

[2013-08-09 20:21] gravyboat commented on #198
@herlo Maybe I'm misunderstanding you or am confused in some fashion, but you're stating that the jinja2-26 package is not needed in the EPEL repository right? If so, is the best course of action to now contact Thomas Moschny and request he re-package jinja2 with the correct name in EPEL?

[2013-08-09 20:26] herlo commented on #198
Not quite what I'm saying. That package is for el5 only iirc. I don't
include it because epel isn't supposed to conflict with rhel. Thus, there
should not be any conflict. I'm still not clear how there is a conflict
with that package.
On Aug 9, 2013 2:21 PM, "Forrest" notifications@github.com wrote:

[2013-08-09 20:53] gravyboat commented on #198
The issue is not that there is a conflict, it's that you can't install from the bootstrap script on RHEL 6 because EPEL has the wrong jinja2 package (which is provided by optionals for RHEL).

The [jinja2-26](http://dl.fedoraproject.org/pub/epel/6/x86_64/repoview/python-jinja2-26.html) package from EPEL is for RHEL 6, 64 bit. There is no jinja2 package available other than that one. How is it acce

[2013-08-09 21:07] herlo commented on #198
Hi Forrest,

On Fri, Aug 9, 2013 at 2:53 PM, Forrest notifications@github.com wrote:

I agree that it's a bit annoying, but it's the way it is. If you are using
RHEL, you should be paying for optional to use salt. Either that, or salt
should package it and put it in its own repositories. I'm not really for
that idea, however, since there's already a maintainer.

I hope that clears things up.

herl

[2013-08-09 21:27] gravyboat commented on #198
Yea I'm agreeing with you that jinja2-26 should NEVER be part of any requires, package, bootstrap, etc. It is worthless.

Your answer clears things up, I don't like it, but that's not your fault, it's Red Hat's fault for deciding that package should live in optional.

I am still in favor of adding logic for trying to determine whether the optional repo is available in the bootstrap, and if so it w

[2013-08-09 21:46] herlo commented on #198
On Fri, Aug 9, 2013 at 3:27 PM, Forrest notifications@github.com wrote:

[2013-08-09 21:59] gravyboat commented on #198
Yep we're in agreement here then!

@s0undt3ch , I'l try to work on the RHEL portion of the bootstrap when I get some time, we just need to basically make a copy of the fedora/centos one with the rhn-channel content I posted earlier (and better logic for checking if it is available obviously), as well as a decent error message.

Thanks for the input Herlo.

[2013-08-09 22:26] s0undt3ch commented on #198
I'm glad we're in sync. Thanks @herlo!

@gravyboat I'll be waiting for your pull request ;)

[2013-08-12 13:33] s0undt3ch commented on #186
@cedwards, there are issues after all... From http://jenkins.saltstack.com:8080/job/Salt%20Rackspace%20Arch/3/console

[code]

[2013-08-16 15:12] cedwards commented on #186
@s0undt3ch - I believe I have fixed this. Please verify.

[2013-08-16 15:39] s0undt3ch commented on #186
The last failure is from 12 hours ago, [here](http://jenkins.saltstack.com/job/Salt%20Rackspace%20Arch/lastFailedBuild/). Have you fixed anything in this 12 hours time frame?

That VM is using 2013.08

I'm going to bootstrap a new Arch VM by hand in a few hours to see if I understand what's going on, but since you understand more about Arch than I do, if you beat me to it.... :smile:

[2013-08-16 15:41] s0undt3ch commented on #186
https://wiki.archlinux.org/index.php/Pacman-key#Adding_unofficial_keys ?

[2013-08-16 15:47] cedwards commented on #186
I fixed the issue this morning when I came into work (within the last hour), and successfully bootstrapped an Arch installation afterwards. I'm hoping you'll find the same result.

[2013-08-16 19:20] s0undt3ch commented on #186
Seems we are good to go...

http://jenkins.saltstack.com/job/Salt%20Rackspace%20Arch/9/console

Thanks!

[2013-08-16 19:21] #186 closed, assigned to nobody

[2013-08-16 20:17] s0undt3ch opened #206 "There's an error when passing BS_KEEP_TEMP_FILES=1"
[code]

That error is from [here](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L1020)

[2013-08-16 21:30] #206 closed, assigned to nobody

[2013-08-20 23:17] s0undt3ch commented on #198
RHEL 6 users are now warned about this issue. Closing as fixed.

[2013-08-20 23:17] #198 closed, assigned to nobody

[2013-08-29 20:39] jstrunk opened #216 "missings functions for testing install type."
I wanted to install packages from epel-testing on CentOS 6.

[code]

I have a fix and a pull request coming.

[2013-08-29 23:26] #216 closed, assigned to nobody

[2013-09-06 18:04] qqchose opened #222 "* ERROR: Failed to run install_ubuntu_git_deps()!!!"
Hi,

I tried to excute this line

curl --insecure -L http://bootstrap.saltstack.org | sudo sh -s -- git develop

and after I tried

curl -L https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh |     sudo sh -s -- git develop

But I always have this result:

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  U

[2013-09-06 21:39] gravyboat opened #223 "Update documentation with examples for pulling specific releases based on version."
It would be nice if the documentation examples had details on how to pull down a specific version from git, say 0.16, versus 0.16.3.

[2013-09-06 21:59] abemusic commented on #193
Attempted this again and found it to be working using "-D git develop" arguments to the bootstrap script.

[2013-09-06 21:59] #193 closed, assigned to nobody

[2013-09-09 17:49] gravyboat commented on #222
Maybe your keyring isn't getting updated? Try running <code>apt-key update</code> and then <code>apt-get update</code> as the root user. That seems more like an issue with where you're pulling the package from as opposed to a problem with the bootstrap script, but I'll spin up a VM and see if I can duplicate it later tonight if updating the keyring doesn't work for you.

[2013-09-09 18:01] qqchose commented on #222
Thanks, I did not try apt-key update. But I succeed to install following http://docs.saltstack.com/topics/installation/ubuntu.html

Then it's fine. Thanks

[2013-09-09 18:01] #222 closed, assigned to nobody

[2013-09-09 18:35] gravyboat commented on #222
The version from that repository won't get you the latest development release, it will be the latest stable release. If you're trying to use something from the development branch you need either pull it from github, or use the bootstrap. Let me know if you try the bootstrap again with the updated keyring command and it fails.

[2013-09-10 11:23] robinbowes opened #224 "broken on SmartOS"
I tried using salt-bootstrap on SmartOS with pkgin configured and found that it's broken.

I dug in and found a few issues:
1. There is no gcc-compiler package. Not sure why this is missing, or if it ever existed (presumably did?)
2. logic error when installing gcc47. This:

[code]

should be:

[code]
1. gcc47 doesn't leave gcc in the path, it installs to /opt/local/gcc47/bin/gcc
2. I added /opt/l

[2013-09-10 12:22] techhat commented on #224
Hi @robinbowes. Indeed there was a gcc-compiler package at one point. My first thought is that either the system that you're on isn't pointing to a repo with gcc-compiler, or it is but the package was removed from the repo. Do you know which pkgin repo your system is pointed to?

[2013-09-10 12:24] robinbowes commented on #224
I'm using the 2013Q2 repo:

http://pkgsrc.joyent.com/packages/SmartOS/2013Q2/x86_64/All

R.

[2013-09-10 12:59] techhat commented on #224
Thanks, @robinbowes, I'll take a look at it. Is it safe to assume this is a VM on JoyEnt? If so, can you tell me which image you spun up?

[2013-09-10 13:01] robinbowes commented on #224
Jo,

I am trying to install salt in the global zone of a SmartOS machine, version joyent_20130905T204057Z

Actually, I only need to install the minion.

R.

[2013-09-11 21:19] gravyboat commented on #178
@s0undt3ch Now that https://github.com/saltstack/salt/pull/6890 is done, can this issue be closed?

[2013-09-11 22:55] s0undt3ch commented on #178
Yep! For versions lower than 0.17 the source is patched, >= 0.17 the paths are properly passed to the setup script.

[2013-09-11 22:55] #178 closed, assigned to nobody

[2013-09-11 22:56] s0undt3ch commented on #178
This is still on the develop version of the bootstrap script.

[2013-09-12 20:48] sdelmas opened #225 "Ubuntu 11.04 bootstrap fails when adding repository."
The -y option for add-apt-repository isn't supported (at least not on my 11.04). I have a patch attempt attached. What's the best way to get that to you? I also added fixed the help text for the -U option, and added a -K option to set _KEEP_TEMP_FILES from the commandline.

[2013-09-12 21:01] terminalmage opened #226 "invoke-rc.d fails on fresh Ubuntu 12.04 LTS install"
The below was reported by @drdran on the salt issue tracker, copied it here because this is where it should go.

Hi after call the bootstrap I get that message:

[code]

Regards

Franco Tampieri

[2013-09-12 22:45] s0undt3ch commented on #226
Hmmm..... Ubuntu 12.x should not be using init.d ...

I'll investigate.

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Erik Johnson" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Assunto: [salt-bootstrap] invoke-rc.d fails on fresh Ubuntu 12.04 LTS install (#226)
Data: qui, Set 12, 2013 22:01
The below was reported by @drdran on the salt i

[2013-09-12 22:50] s0undt3ch commented on #225
The keep temp files setting was not added as a cli option on purpose, there is no support for long options so we can only has many options as the alphabet.

Is there any particular reason why you can't use the environment variable setting?

Regarding the -y option to apt, I though only apt from 10.x would not accept that option... Need to recheck.

As for the contribution, you can fork our reposit

[2013-09-13 10:06] FrancoTampieri commented on #226
Thank you very much

[2013-09-24 13:58] karlgrz opened #229 "msgpack-python failing in ubuntu 12.04 docker container"
Seeing the following output multiple runs, using the development and stable bootstrap:

[code]

This is a Ubuntu 12.04 docker container. I'd be happy to provide any more details necessary.

[2013-09-24 17:07] s0undt3ch commented on #229
Can you please confirm if you have the universe repository enabled?

[2013-09-24 17:20] s0undt3ch commented on #229
[code]

Can you please update your salt-bootstrap script to include the patch above and retry?

[2013-09-24 17:20] karlgrz commented on #229
Of course I don't have the universe repository enabled, why would I do such a silly thing?! :-)

Thank you for the help, closing!

[2013-09-24 17:25] s0undt3ch commented on #229
Are you explicitly disabling it? No right? So the script should enable it for you.

[2013-09-24 17:27] karlgrz commented on #229
The base image I was using for the docker container only had main repository in /etc/apt/sources.list. After adding that repo and running apt-get update the bootstrap worked just fine.

[2013-09-24 17:28] s0undt3ch commented on #229
Could you please try my diff above on a clean image? That would save me a lot of work :smile:

[2013-09-24 17:30] karlgrz commented on #229
Certainly! Hold please...

[2013-09-24 17:38] s0undt3ch commented on #226
@drdran Can you show me the full output of running the script with your arguments plus `-D` please?

[2013-09-24 17:56] karlgrz commented on #229
Script on a clean image did not run successfully. Still get the same error message.

[2013-09-24 18:04] s0undt3ch commented on #229
With the changes I pasted above?

[2013-09-24 18:10] karlgrz commented on #229
Yes.

What I did was:
- boot ubuntu base docker image
- apt-get install -y vim
- apt-get install -y curl
- curl https://raw.github.com/saltstack/salt-bootstrap/stable/bootstrap-salt.sh -o bootstrap-salt.sh
- manually applied your patch from above
- chmod 755 bootstrap-salt.sh
- (as root) ./bootstrap-salt.sh git develop

[2013-09-24 18:39] s0undt3ch commented on #229
Bummer!

Ok, Thank You. I need to get docker a test run.

[2013-09-24 18:41] karlgrz commented on #229
No problem. If it helps at all, when I look at /etc/apt/sources.list after running the script with your changes the universe repo is not listed, just main. It's almost like that add-apt-repository command never got executed.

[2013-09-24 19:32] s0undt3ch commented on #229
it should be under /etc/apt/sources.list.d/ in a separate file

[2013-09-24 20:27] karlgrz commented on #229
Hey, I went back and tried this again from a fresh image. This time I forked the repo and updated the script in that, and just referenced the entire repo in my docker container.

When I ran the script this way everything worked appropriately. I think my first attempt might have been marred by a typo or something else.

I repeated this twice, so I think it would be good to go. Thanks again for the

[2013-09-24 20:45] karlgrz commented on #229
Should I submit pull request? Or did you already commit your changes?

[2013-09-24 20:50] s0undt3ch commented on #229
I didn't commit my changes, so, you can submit a PR :smile:

[2013-09-24 21:07] #229 closed, assigned to nobody

[2013-09-24 22:20] sdelmas commented on #225
Sorry for the delayed response... didn't see your response.

Well, same reason why one would have a -U option, or any other commandline option I presume :-). I am running the bootstrap through ssh on a remote machine, so to set environment variables becomes tricky. Your call of course, but you currently have 7 capital letters used (plus around the same number of lower case letters), so it would se

[2013-09-25 00:06] sdelmas commented on #225
Hm, I tried the bootstrap on my Ubuntu 11.04 test machine, and that fails now due to the recently added http://archive.ubuntu.com dependency I believe. natty is not available from there as far as I can tell. I am getting my packages from:

deb http://old-releases.ubuntu.com/ubuntu/ natty main restricted universe multiverse
deb http://old-releases.ubuntu.com/ubuntu/ natty-updates main restricted un

[2013-09-25 09:24] ranl opened #232 "RHEL does not install the latest salt"
Hi

I've installed salt with the bootstrap script today and I've noticed that it installed salt 0.16.3 instead of 0.16.4.
I saw that 0.16.4 is in epel-testing so I've installed it manually after

RHEL 6.4 64bit

Thanks

[2013-09-25 09:43] s0undt3ch commented on #232
This is not a bootstrap issue, it's just how peel works...

Still, if you want to install from testing, there's a way, please read the script's help message, and be sure to use the develop branch of the script... Sorry I'm on my phone which prevents me from giving you the specific information. I think that passing "testing" to the script might do it...

[2013-09-25 09:43] s0undt3ch commented on #232
Please read epel on the above peel...

[2013-09-25 09:54] s0undt3ch commented on #225
I'll try not to forget having a look at this repo location and daily issues.

[2013-09-25 09:56] s0undt3ch opened #233 "Ubuntu daily installs don't enable the universe repository"

[2013-09-25 09:57] s0undt3ch opened #234 "Ubuntu universe repo location is wrong for older versions"

[2013-09-25 09:58] s0undt3ch commented on #233
Tagging @sdelmas

[2013-09-25 09:58] s0undt3ch commented on #234
Tagging @sdelmas

[2013-09-25 15:17] ranl commented on #232
I figured its not a bug just wanted to make sure
Thanks for clarifying this :-)

[2013-09-25 15:17] #232 closed, assigned to nobody

[2013-09-25 16:03] mguegan commented on #224
Hi !
Since 2013Q2 is available, it's no more necessary to compile some packages with gcc. Currently I'm using pkgin to install salt directly, I've done some modification on my github repo, but it would require more testing before merging.
You can see the whole thing here :

https://github.com/virtua-network/salt-bootstrap/blob/develop/bootstrap-salt.sh

Beware that I'm using a custom repo (with 0.

[2013-09-25 16:31] mguegan commented on #224
Please, can you try with this version ?

https://github.com/virtua-network/salt-bootstrap/blob/fix_smartos/bootstrap-salt.sh

The stable install seems to work.

You will need 2013Q2 pkgin on your GZ.

[2013-09-25 17:38] s0undt3ch commented on #234
Fixed in #235

[2013-09-25 17:38] #234 closed, assigned to s0undt3ch

[2013-09-25 17:38] s0undt3ch commented on #233
Fixed in #235

[2013-09-25 17:38] #233 closed, assigned to s0undt3ch

[2013-09-25 17:48] quinnypig commented on #225
Launchpad won't keep packages or PPAs for EOL'd releases, unfortunately.

[2013-09-25 18:25] gravyboat commented on #223
Pull Request #227 resolves this, closing.

[2013-09-25 18:25] #223 closed, assigned to nobody

[2013-09-25 19:17] s0undt3ch commented on #20
The current develop version of the bootstrap script has a greatly improved FreeBSD support.
It installs pacakges from the PCB repository if no other is defined under `PACKAGESITE`.
Salt packages are installed from http://freebsd.saltstack.com/

The develop version will be the current stable pretty soon, so, I'm closing this ticket. Please reopen if necessary.

[2013-09-25 19:17] #20 closed, assigned to nobody

[2013-09-25 19:39] s0undt3ch commented on #225
The only solution is to install the desired salt version from git.

[2013-09-25 20:04] aboe76 commented on #101
I think this one can be closed??

[2013-09-25 20:19] s0undt3ch commented on #101
SLES 11 reached it's end of life?

[2013-09-25 20:21] aboe76 commented on #101
No but the issue is 6 months old
Op 25 sep. 2013 22:20 schreef "Pedro Algarvio" notifications@github.com
het volgende:

[2013-09-25 20:31] s0undt3ch commented on #101
True. Closing. Please reopen if necessary.

[2013-09-25 20:31] #101 closed, assigned to nobody

[2013-09-25 20:54] s0undt3ch commented on #225
Ok, in order not to make the script unmaintainable in the future, all EOL distributions will not be supported.

[2013-09-25 20:54] #225 closed, assigned to s0undt3ch

[2013-09-26 03:21] hamgua commented on #114
@DDarko

[code]

I use salt in debian,find this problem!google for this so many time!
can you tell me which file i changes for this problem?

[2013-09-26 06:51] ghost commented on #114
p1.patch
"""
**\* salt-bootstrap.sh   2013-09-26 08:30:07.529921627 +0200
--- salt-bootstrap.sh   2013-09-26 08:30:38.362157258 +0200

---

**\* 932,938 ****
  #   DESCRIPTION:  (DRY) apt-get install with noinput options
  #-------------------------------------------------------------------------------
  __apt_get_noinput() {
!     apt-get install -y -o DPkg::Options::=--force-confold $@; return $

[2013-09-26 22:20] s0undt3ch commented on #224
Fixed by #239

[2013-09-26 22:20] #224 closed, assigned to nobody

[2013-09-27 06:04] sdelmas commented on #225
Ouch... Interesting. I guess 11.04 is rather old.

[2013-09-27 10:02] s0undt3ch commented on #225
You always have the manual installation route,or you can upgrade to an LTS?

[2013-09-27 21:59] zxwing opened #243 "Failed to install master on ubuntu 12.04"
I was installing master using "curl -L http://bootstrap.saltstack.org | sudo sh -s -- -M -N", it failed with below error

Hit http://us.archive.ubuntu.com precise-updates/multiverse i386 Packages
Hit http://us.archive.ubuntu.com precise-updates/main TranslationIndex
Hit http://us.archive.ubuntu.com precise-updates/multiverse TranslationIndex
Hit http://us.archive.ubuntu.com precise-updates/restric

[2013-09-27 22:23] s0undt3ch commented on #243
Released 1.5.8 which fixes this issue

[2013-09-27 22:23] #243 closed, assigned to nobody

[2013-09-28 20:19] cameron opened #244 "fails on ubuntu 12.04"
[code]

quick-fix: `sudo apt-get install python-software-properties`

will take a crack at a patch if i catch a breather today :) love this software!

[2013-09-28 20:31] s0undt3ch commented on #244
This was already fixed yesterday though I didn't push the changes to this repository. Can you try again please?

[2013-09-28 22:55] s0undt3ch commented on #244
Our [testing system](http://jenkins.saltstack.com) was able to properly bootstrap on Ubuntu 12.04, closing. Please reopen if necessary.

[2013-09-28 22:55] #244 closed, assigned to nobody

[2013-09-29 16:33] sdelmas commented on #225
Yeah... but bootstrap is sooooo nice :-).

[2013-09-29 17:24] s0undt3ch commented on #225
Thanks! :smile:

[2013-09-30 18:15] gravyboat opened #245 "Bootstrap does not install git-core (on stable), or gitpython (on stable or git)."
It was noted by xuru in the IRC today that the bootstrap script is not installing git-core/gitpython when performing an installation using the stable option (or no option), this makes it so you are unable to use gitfs. If calling the script using the git option it does install git-core, however gitpython is still not installed. Is this by design?

[2013-09-30 18:22] xuru commented on #245
When using the install type of 'stable' I have to do the following in order to have gitfs working (from the vagrant file):
  config.vm.provision :shell, :inline => "sudo apt-get install git-core"
  config.vm.provision :shell, :inline => "sudo apt-get install python-setuptools"
  config.vm.provision :shell, :inline => "sudo easy_install GitPython"

Seems like we can can install these packages by de

[2013-10-02 12:44] s0undt3ch commented on #245
The bootstrap script only installs what's required for salt to run, ie, it's hard dependencies.
- Git, although it's not a hard dependency to install Salt, it **is** required if you're trying to install salt from git
- Git Python is not a hard dependency to Salt, as such, it won't be installed

I know it's not what you were after but, you can install those packages once salt is installed using sal

[2013-10-02 12:44] #245 closed, assigned to nobody

[2013-10-02 22:50] ifnull opened #247 "Missing GitFS dependencies"
Salt silently fails to load gitfs_remotes when GitPython is not installed.

[2013-10-09 12:43] FrancoTampieri commented on #226
@s0undt3ch

this is the complete log:

[code]

[2013-10-09 17:15] s0undt3ch commented on #226
This is now a different error, and it's still weird. Can you get your `bootstrap-salt.sh` uploaded to a [gist](https://gist.github.com/) or another paste service please?

[2013-10-10 05:43] FrancoTampieri commented on #226
I download bootstrap with wget on http://bootstrap.saltstack.org.
But I think that was a package problem, if I install the .deb file I obtain the same error. But @terminalmage put the issue here, i think that was a packaging related issue.

Do u agree?

[2013-10-10 06:04] s0undt3ch commented on #226
Well, it seems like a possible mixed case of problems.

[code]

That error......

[2013-10-10 06:26] s0undt3ch commented on #226
@drdran can you please try but use `https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh` instead of `http://bootstrap.saltstack.org`?

[2013-10-10 06:29] FrancoTampieri commented on #226
Sure! this is the output:

[code]

[2013-10-10 06:37] s0undt3ch commented on #226
So!

The script had in-fact a bug which is now solved, and the other issue does seem to be a packaging issue, @joehealy, does this ring any bells?

[2013-10-10 14:55] joehealy commented on #226
definitely odd, I'll chase it up tomorrow.

I'm surprised we haven't seen more of these?

[2013-10-16 09:24] pille opened #250 "fails on ubuntu 12.04 LTS"
<pre>
wget -O - http://bootstrap.saltstack.org | sudo sh

*  INFO: PIPED THROUGH sh -- Version 1.5.8

 *  INFO: System Information:
 *  INFO:   CPU:          GenuineIntel
 *  INFO:   CPU Arch:     x86_64
 *  INFO:   OS Name:      Linux
 *  INFO:   OS Version:   3.8.0-31-generic
 *  INFO:   Distribution: Ubuntu 12.04

 *  INFO: Installing minion
100%[================================================

[2013-10-16 09:56] pille commented on #250
just FYI with debugging enabled.
turns out, that when i wanted to fix this, it already was in 7e1522863ec907f3ed53a3636e1be2ae87daf2e0 six days ago. please merge that into stable branch...

it also turned out that we see two different bugs here, where the second one is found in our hosters infrastructure:
they provide a non-signed mirror by default.

<pre>
Reading package lists...
+ [ 12 -gt 12 ]

[2013-10-16 11:37] s0undt3ch commented on #250
The stable branch get's merges from develop from time to time. If it's stable, and if enough fixes, or a major fix was made in develop.

It's just a matter of [running from the develop branch](https://github.com/saltstack/salt-bootstrap#i-found-a-bug) or wait a little longer for the stable merge.

Can we close the issue? Or you want it open for other reason?

[2013-10-17 12:40] pille commented on #250
ignore the second one, since it's tied to my infrastructure.

OT: i'm not sure if this is the best way to deal with bugs, since most people will probably report them against stable release. if you sit on a fix for over a week, why don't release it?
issue should be closed, when resolved in branch filed against.

[2013-10-21 21:22] Caustic opened #251 "Installation fails in docker Ubuntu 12.04 Guest with Ubuntu 13.04 Host"
When running the script inside a docker guest installation fails with a package not found error.  I isolated the problem to [here](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L1231) and worked around it by removing the logic in that function in exchange for just `add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu $(lsb_release -sc) universe"`.

The script wa

[2013-10-23 19:27] peterlandry opened #252 "Files removed from the repo are not removed with bootstrapping a new version from git over an old version"
I was running `v0.17.0` from the git tag. There was a regression that broke the creation of virtualenvs, which was fixed for 0.17.1 (https://github.com/saltstack/salt/commit/bd002f97da2d0819f732d8468f984b2b23740ee9). I updated to `v0.17.1` by running another bootstrap. This issue was caused by `salt/modules/virtualenv.py`, which was removed in `v0.17.1`. After bootstrapping `virtualenv.py` was not

[2013-10-23 19:46] s0undt3ch commented on #252
Honestly, the script just installs salt, if it was already installed or not, the script should not handle that, there are too many possibilities for the script to properly handle un-installations which is somewhat what you're after.

I'll leave the ticket open for a while for further discussion but I'm tagging it as _wontfix_.

[2013-10-23 19:52] techhat commented on #252
I'm going to agree with @s0undt3ch on this one. It's for bootstrapping, not maintaining a salt install.

[2013-10-26 01:25] s0undt3ch commented on #252
No further discussion happened. Closing.

[2013-10-26 01:25] #252 closed, assigned to nobody

[2013-10-29 16:30] Caustic commented on #251
This may have been a goof by me.  Doing the installation manually I found that the universe repository isn't a part of the base docker image.

Adding the universe repository then installing saltstack through `add-apt-repository ppa:saltstack/salt` worked fine.

Closing for now.

[2013-10-29 16:30] #251 closed, assigned to nobody

[2013-10-29 17:16] s0undt3ch commented on #251
Thank you for the update.

[2013-10-30 00:43] chrisblossom opened #254 "Version management via bootstrap & git-- /etc/salt/* being overwritten"
It would be great if we could use bootstrap to manage salt-versions installed via git. The biggest issue stopping this that I've found is that the bootstrap script overwrites all config files in /etc/salt/*.

If there was an option to either upgrade and not to overwrite these files, or some logic to see if the files already exist, or even to skip already-installed dependancies, that would make upg

[2013-10-30 11:25] s0undt3ch commented on #254
Well, let's start answering :smile:

The script does not overwrite any configuration files unless you pass `-F` to it, if it does, it's a bug.
However, your distribution's package manager might overwrite those files and there's nothing much we can do about that.

The script is a one time execution script, once executed, it no longer knows what it did, it can only do it again.
Tracking already inst

[2013-10-30 20:14] wunki opened #255 "[FreeBSD] Repository "salt" not always available"
In `install_freebsd_9_stable_deps` you are trying to install `swig` from the salt repository. See [line 2360](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2360).

But that repository is only setup when your box doesn't have pkg already installed. See [line 2343](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L2343).

I'm running on a vagra

[2013-10-30 22:38] UtahDave opened #257 "Fails on Ubuntu 13.04"
I ran the following:

[code]

And got the following error:

[code]

[2013-10-30 22:41] UtahDave commented on #257
Looks like the following installs add-apt-repository from Ubuntu 12.10 onwards:

sudo apt-get install software-properties-common

[2013-10-30 23:15] s0undt3ch commented on #257
Again!

[2013-10-30 23:27] s0undt3ch commented on #257
Heh! Fixed in develop version ;)

[2013-10-30 23:27] #257 closed, assigned to s0undt3ch

[2013-10-30 23:27] s0undt3ch commented on #257
Need to make a new stable release...

[2013-11-01 03:55] yishenggudou opened #258 "Get a Install Failed if I have installed `pyyaml`"
[code]

[2013-11-01 04:01] yishenggudou commented on #258
need uninstall `PyYaml`

[2013-11-01 10:18] s0undt3ch commented on #258
Could you please paste the full output of the script? Pass -D to the script too.

This will help me identify what the problem is a little faster.

Thanks!

##

Pedro Algarvio @ phone

----- Reply message -----
De: "timger" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Assunto: [salt-bootstrap] Get a Install Failed if I have installed `pyyaml` (#258)
Da

[2013-11-04 14:55] FrancoTampieri commented on #226
Finally I see the problem, installing a minimal ubuntu LTS iso, the system doesn't install all the jumpstart packages, so that causes that error.

I've re-installed with dpkg the upstart_1.5-0ubuntu7.2_amd64.deb and that take all the dependecies.

So the boostrap script execute the installatione without an error.

Regards

Franco

[2013-11-04 19:57] JeremieCharest opened #259 "Installation failed on Amazon with the linux aws ami"
Salt installation (aws linux ami) failed on a git pull. The same command work perfectly on our internal machine (CentOs 6.4).

Executed command :
wget -O - http://bootstrap.saltstack.org | sh -s -- -M -P git v0.16.4

Logs :

[code]

[2013-11-05 12:24] joehealy opened #260 "checking debian install steps"
Hi,

I've just had a quick look at the debian install process and it looks a little outdated. I'm not entirely sure what it is doing (it may be doing more than I think for good reasons).

but I don't think we need to add the unstable repo (around https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L1449 and the same at around https://github.com/saltstack/salt-bootstrap/blob/

[2013-11-06 17:28] JeremieCharest commented on #259
We temporary patched __git_clone_and_checkout method at ligne 948 to checkout instead of doing a "pull --rebase"

git checkout $GIT_REV || return 1

We observed something else in install_centos_git_post method; Salt service files are copied only when they are missing. So if we are on version 1.0.0 and someone change service script in 1.0.1 we will be stuck on the 1.0.0 version.

[2013-11-06 17:44] s0undt3ch commented on #259
Unless you force overwrites `-F`.

[2013-11-06 17:59] JeremieCharest commented on #259
The force overwrites parameter is validate inside copyfile which will never be call :

[code]

from what I think this condition will handle the force flag

[code]

[2013-11-07 18:31] s0undt3ch commented on #247
Your PR was closed and the explanation why is there. We will support a list of packages to install though. Closing.

[2013-11-07 18:31] #247 closed, assigned to nobody

[2013-11-07 18:33] s0undt3ch opened #262 "Support extra list of packages to install"
The script should accept an additional list of packages provided by the user which should be installed when bootstrapping.

[2013-11-07 18:34] s0undt3ch commented on #262
Tagging @ifnull, @gravyboat

[2013-11-11 20:18] pwaller opened #263 "bootstrap fails on Ubuntu 13.10 (AWS AMI): unknown job: salt-minion"
[code]

[2013-11-11 20:51] s0undt3ch commented on #263
Can you please provide the full script output while passing it additionally `-D`?

[2013-11-11 21:12] pwaller commented on #263
[code]

[2013-11-12 00:36] s0undt3ch commented on #263
Thank You!

[2013-11-12 00:45] s0undt3ch commented on #263
Should be fixed now, please re-open if necessary.

[2013-11-12 00:46] s0undt3ch commented on #260
Can assure those steps are no longer necessary?

[2013-11-12 00:47] s0undt3ch commented on #250
This should be fixed in current stable.

[2013-11-12 00:47] #250 closed, assigned to nobody

[2013-11-12 04:15] pwaller commented on #263
It appeared to work, but not reliably. The first time I ran it, nothing happened. Second time, it appeared to install but I got errors when I tried to stop or start the daemon. Subsequently it doesn't work at all. I've verified that I've got the script from 09b7d59.

## First time

[code]

## Second time

[code]

## Third time (keyboard interrupted the minion, but the script said it had failed and

[2013-11-12 04:17] pwaller commented on #263
Between the second and third times I did `sudo apt-get remove salt-minion` and  `rm /etc/init/salt-minion.conf.dpkg-dist`.

[2013-11-12 05:43] s0undt3ch commented on #263
Does that machine have upstart installed?

[2013-11-12 05:50] pwaller commented on #263
@s0undt3ch yes.

[2013-11-12 05:52] s0undt3ch opened #265 "Donload Git Tags"
The script should download the git tags from salt's repository when installing from git.

Refs saltstack/salt#8271.

[2013-11-12 06:05] s0undt3ch commented on #263
You're installing the stable releases, correct?

Ie, you're not passing a version string or installing from git?

[2013-11-12 06:06] pwaller commented on #263
Yes. I just run `wget -O bootstrap.sh http://bootstrap.saltstack.org && time sudo bash bootstrap.sh [-D]`.

[2013-11-12 06:31] s0undt3ch commented on #263
Then this should be a packaging issue.

@joehealy does this make any sense to you?

[2013-11-12 06:35] joehealy commented on #263
not yet - I'll have a look

[2013-11-12 06:40] s0undt3ch commented on #263
Thanks.

[2013-11-12 06:53] joehealy commented on #263
Could be one of two things:

1) saucy has 0.16.0 (derived from the debian packages) already. Maybe this does not support upstart (might do too - haven't checked) and the restart is failing for some reason because of that when it is replaced by 0.17.1
2) the package for saucy was not built specifically for saucy. It was built for raring then copied to saucy. The issue could be related to this. (I t

[2013-11-12 06:55] pwaller commented on #263
@joehealy Yes, Saucy's 0.16.0 does use upstart. It is [somewhat buggy](https://bugs.launchpad.net/ubuntu/+source/salt/+bug/1250208) -- [github issue](https://github.com/saltstack/salt/issues/2166#issuecomment-28231668).

[2013-11-12 06:56] pwaller commented on #263
(Hence why I'm trying to use the bootstrap by the way - stopping salt master that's shipped with Ubuntu seems to cause upstart to hang, which means that salt can't even be upgraded).

[2013-11-12 08:43] joehealy commented on #263
I think I understand the problem, debian packaging didn't get the upstart
fix and then Ubuntu has synced it in from debian.I'll get in touch with
Ubuntu tonight to see if I can upload a fixed package.with a bit if luck,
I'll be able to upload a 0.16.4, so it isn't so outdated.

Joe
On Nov 12, 2013 5:56 PM, "Peter Waller" notifications@github.com wrote:

[2013-11-13 00:17] s0undt3ch commented on #265
The script already does this.

[2013-11-13 00:17] #265 closed, assigned to nobody

[2013-11-13 09:36] joehealy commented on #263
I'm setting up a 13.10 vm to test this tonight.

It may take some time to get a fix through the ubuntu process, so we may
need a special case for 13.10.

I'll let you know how I go.

On Tue, Nov 12, 2013 at 7:43 PM, Joe Healy joehealy@gmail.com wrote:

[2013-11-13 09:37] s0undt3ch commented on #263
@joehealy Thank You!

[2013-11-13 10:56] joehealy commented on #263
Hey @pwaller I haven't managed to reproduce this yet. Is there anything you can think of that I would need to do?

Had you installed salt previously? Any other ideas?

I'm fairly certain there is a problem, but don't know how to trigger it...

Joe

[2013-11-13 11:15] pwaller commented on #263
Hi @joehealy the last deploy it didn't happen for me either. It seems to be intermittent, yuck :(

[2013-11-13 11:18] joehealy commented on #263
Is part of it that you have installed the version that comes with saucy
then running bootstrap?

the only dodgy behaviour I've been able to find so far has been apt-get
remove salt-master as you described. I'll start by fixing that and see
where I get to.

Joe

On Wed, Nov 13, 2013 at 10:15 PM, Peter Waller notifications@github.comwrote:

[2013-11-13 11:29] pwaller commented on #263
@joehealy I was starting with the "straight" 13.10 image from Amazon Web Services and _just_ running the bootstrap and it was failing. Without anything else on it. I was also having trouble before (on a separate instance) with salt installed from apt, which is what lead me to try a new machine and the salt bootstrap, which didn't work either.

[2013-11-13 11:32] joehealy commented on #263
Thanks for that, I'll try those scenarios.

On Wed, Nov 13, 2013 at 10:30 PM, Peter Waller notifications@github.comwrote:

[2013-11-13 13:13] joehealy commented on #263
Looks like if I remove the respawn (or replace the upstart file with the one from the more recent ubuntu packages), I have much more success.

Probably not that surprising...

[2013-11-15 21:19] stephen-mw commented on #114
I would like to encourage the addition of this option. I think it's silly not to include a "--force-yes" even though it's potentially dangerous. The force flag is there because of that reason, not despite it.

This is especially useful for testing when the gpg.key isn't readily available or is simply wrong.

[2013-11-16 14:15] pwaller opened #266 "-X doesn't work on ubuntu"
I passed `-X` to the bootstrap because I was installing into a docker container (where upstart is unable to run), so I needed the master to not be started. However, apt still attempted to start it and failed, preventing the installation from succeeding.

[code]

cc @holmboe

[2013-11-16 15:11] s0undt3ch commented on #266
This was installing Salt using packages? not git, right?

[2013-11-16 20:59] pwaller commented on #266
Well, this is what I did:

[code]

I was hoping that this wouldn't start the daemon, but it seems it is trying to (and failing).

[2013-11-17 07:43] holmboe commented on #266
I will have a look at this tomorrow.
Den 16 nov 2013 21:59 skrev "Peter Waller" notifications@github.com:

[2013-11-17 11:09] s0undt3ch commented on #266
Aren't deb's supposed to start daemons at install time? Can we override that with apt?

##

Pedro Algarvio @ phone

----- Reply message -----
De: "Henrik Holmboe" notifications@github.com
Para: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Cc: "Pedro Algarvio" pedro@algarvio.me
Assunto: [salt-bootstrap] -X doesn&apos;t work on ubuntu (#266)
Data: dom, Nov 17, 2013 07:43
I will have

[2013-11-19 09:30] mortn commented on #255
Thank you! That did the trick on FreeBSD 9.1 i386

[2013-11-20 21:55] holmboe commented on #266
@pwaller could you test the patch in holmboe/salt-bootstrap@a98664b0ca88a9a5dbc01863fab778652ca9b3c9?

Just so you know, I have not been able to test it myself yet (no access to Debian or Ubuntu at the moment) so feel free to review the changes before running it.

[2013-11-20 21:55] holmboe commented on #266
@s0undt3ch apparently policy-rc.d is the way to go in Debian and derivatives.

[2013-11-20 21:59] holmboe commented on #266
Note to self: If this does not work we can resort to installing `policyrcd-script-zg2` and creating a specific policy file. See http://lists.debian.org/debian-devel/2012/06/msg00046.html for more information.

[2013-11-20 22:17] holmboe opened #267 "Change bootstrap.saltstack.org to use salt-bootstrap.sh"
I assume here that `salt-bootstrap.sh` is the prefered name because of the reasoning in #73.

In order to remove legacy filenames of the bootstrap script the `Location` header at http://bootstrap.saltstack.org needs to be updated.

[code]

[2013-11-20 22:42] s0undt3ch commented on #267
Nope :)

`salt-bootstrap` is the project name, `bootstrap-salt` is the script name :smile:

[2013-11-20 22:43] s0undt3ch commented on #266
Awesome findings!!!

[2013-11-20 22:57] holmboe commented on #267
Ok so if it is intentional then please close this issue. :)

I just found it odd to have three similarly named files and two of them being a symlink.

[2013-11-20 23:03] s0undt3ch commented on #267
Yes, it is in fact odd. The symlinks exist in order to support the assumptions you just had...

The one that is not a symlink is the real deal :smile:

[2013-11-20 23:03] #267 closed, assigned to nobody

[2013-11-21 07:48] pwaller commented on #266
@holmboe it still seems to have tried to start it:

[code]

Here is a Dockerfile to reproduce with docker:

[code]

[2013-11-23 22:44] jasonkeene opened #269 "Enable SSL for bootstrap.saltstack.org"
I'm not quite sure where to post this.  The documentation on [docs.saltstack.com](http://docs.saltstack.com/topics/installation/index.html) currently has the user piping the bootstrap script into a root privileged shell over an insecure connection.  Obviously those that are concerned about such things have alternative ways of getting the script.  However, it would be nice if SSL was enabled for th

[2013-11-27 15:17] jbeda opened #270 "Race condition on deb based debian install"
I've seen this intermittently when running on Debian 7 Wheezy.

When running `wget -O - http://bootstrap.saltstack.org | sudo sh -s` I see buggy behavior.  Sometimes there are errors where the master sees duplicate keys from the minion.  Other times I'll see 2 minions running with confusing results.

Here is what I think is happening:
- The bootstrap script installs the deb.  This automatically st

[2013-12-03 20:13] thatch45 commented on #269
I agree, we are looking into getting the download behind a https connection and providing a checksum for verification

[2013-12-05 19:51] clintonb commented on #259
Are there any plans to fix this issue? It still occurs with the latest version:

[code]

[2013-12-08 16:23] galet opened #271 "Bootstrap fails on Oracle Linux 6"
It seems that _yum --enablerepo_ enables just the matched repository in exclusive mode and disables all the other repositories.

The result is that `python-crypto` and `python-jinja2` are not found and fail to install (log attached) whith this command: `yum -y install PyYAML m2crypto python-crypto python-msgpack python-zmq python-jinja2 --enablerepo=epel`

The installation however succeeds when ru

[2013-12-08 16:25] galet commented on #271
[code]

[2013-12-08 17:33] s0undt3ch commented on #271
Thank you for the report. We just need to better detect this Oracle distro.

[2013-12-15 00:40] #226 closed, assigned to nobody

[2013-12-18 22:50] UtahDave opened #274 "Salt Minion service not enabled by default on Fedora"
I used Salt Cloud to spin up some Fedora instances. The Fedora minions spun up just fine and Salt worked great.

Once I restarted the virtual machine, the salt-minion service did not start up. I had to ssh in and start it manually.

Once I run `salt fedora_minion service.enable salt-minion` the minion service starts up at system boot just fine.

Here's the profile I'm using:

[code]

This is causi

[2013-12-24 07:11] syphernl opened #277 "Failing bootstrap with -U and grub update"
Running this via Vagrant on a clean precise64 results in massive screen corruption and a stalling deploy.

[2013-12-24 09:59] s0undt3ch commented on #277
Full debug output(`-D`), possible?

[2013-12-24 10:19] syphernl commented on #277
Done ,but that doesn't show anything helpful. The updates may need to be tweaked a little to use non interactive, confdef & confold.

[2013-12-24 10:57] s0undt3ch commented on #277
Please include gere or paste the debug output somewhere and the link here.

[2013-12-24 12:08] syphernl commented on #277
Output is available here: http://pastebin.com/v3Dscp28

[2014-01-06 22:26] JasonSwindle opened #278 "2014.1.0 RC1 :: salt-cloud: error: salt-cloud requires >= libcloud 0.11.4"
Howdy,

When installing Salt 2014.1.0 RC1 from the bootstrap, libcloud is not getting installed.  Cross Ref to https://github.com/saltstack/salt/issues/9540

[code]

[code]

[code]

[code]

[2014-01-13 05:41] gravyboat commented on #274
Same issue as https://github.com/saltstack/salt-bootstrap/issues/69.

[2014-01-13 10:21] s0undt3ch commented on #274
True. Closing as duplicate.

[2014-01-13 10:21] #274 closed, assigned to nobody

[2014-01-13 15:28] pwaller opened #279 ""bootstrap-salt.sh git" - error: pathspec 'master' did not match any file(s) known to git."
I was trying to install the git version of salt and I got the following error.

[code]

It's apparent that /tmp/git/salt doesn't have a master branch and that trying to check it out gives the above error.

Workaround is to run `bootstrap-salt.sh git develop`.

Complete log:

[code]

[2014-01-15 16:02] #279 closed, assigned to nobody

[2014-01-15 16:02] s0undt3ch commented on #279
Thank You @pwaller! It's now fixed and should be included in the next stable tab.

[2014-01-17 10:47] tomasfejfar opened #281 "Changing version does not work"
Bootstrap script fetches only one branch into `/tmp/git/salt`. It does not cleanup after itself nor does it check if the branch is there. So if I bootstrap again with different version it fails. It needs to either:
- do `git fetch origin $version:$version` on the repo
- remove `/tmp/git/salt` after successful install

[2014-01-17 11:05] s0undt3ch commented on #281
The bootstrap process is supposed to be a one time action, though, code was added to handle these kind of issues.

However, I'm inclined to start deleting the cloned repository afterwards.

Pedro Algarvio @ Phone

----- Reply message -----
From: "Tomáš Fejfar" notifications@github.com
To: "saltstack/salt-bootstrap" salt-bootstrap@noreply.github.com
Subject: [salt-bootstrap] Changing version does n

[2014-01-17 11:09] tomasfejfar commented on #281
I installed develop version of saltmaster to test the `manage.bootstrap` and I failed to notice that it installs the dev version of minions too. So I needed to force the version parameter. And it broke because the repo was existing and it had only `develop` branch. I managed to fix it by deleting the folder using salt-ssh ;)

[2014-01-22 18:12] ryan-lane commented on #269
Also, the shell script itself uses  wget --no-check-certificate and curl --insecure. It pulls a number of resources that should additionally be signed and the signature should be checked when downloaded.

[2014-01-24 22:56] s0undt3ch commented on #269
@ryan-lane I've fixed the issue internally by defaulting to not ignoring security and additionally added a flag which allows insecure connections just how it was previously(for those who might need it)

[2014-01-24 23:19] #281 closed, assigned to nobody

[2014-01-25 00:13] ryan-lane commented on #269
I don't actually use the script, but this is a major problem for me pointing people to check out salt. It's like nerd kryptonite. Salt does remote execution and people are wary about that from a security perspective. When they see that as the install instructions their initial reaction is that salt itself is likely incredibly insecure. It's a very bad first impression.

[2014-01-25 23:30] howardroark opened #285 "Vagrant Salt plugin now fails with updates to bootstrap"
The salt plugin attempts to run this as root:

[code]

Which contains this:

[code]

I can see that it is the "-c /tmp" argument that makes it fail.

Here is the error that occurs:

[code]

This occurs on Debian 7 and Ubuntu 12.04

Appreciate any thoughts!

[2014-01-25 23:45] mafrosis opened #286 "sh: 206: __check_config_dir: not found"
When building a vagrant box, I've just run into this issue today - could any recent changes to bootstrap.sh have caused it?

It appears to be a shell script error where the function `__check_config_dir` cannot be found:

   sh: 206: __check_config_dir: not found

More output from Vagrant:

[code]

[2014-01-25 23:48] mafrosis commented on #286
Dupe of #285.. @brentsmyth beat me to it whilst I was on the phone :p

[2014-01-25 23:48] #286 closed, assigned to nobody

[2014-01-25 23:58] howardroark commented on #285
Edited my original comment...

[2014-01-26 00:30] phs commented on #285
The fix appears to be committed, but the bug still reproduces due to https://raw.github.com/saltstack/salt-bootstrap/stable/bootstrap-salt.sh not being updated yet (unless perhaps I have some local caching?)  When can we expect that to happen?

[2014-01-26 01:27] ajw0100 commented on #285
Doesn't look like caching. Looks like we're just waiting for 5340e62461aa3bb7e391591eb8356c798b808956 to be merged into stable.

[2014-01-26 01:53] howardroark commented on #285
@s0undt3ch  ...Because of the way this affects the vagrant salt integration it would be very helpful to have your fix in 1.5.11 released right away.  The issue sort of jams up the vagrant boot process, and in a lot of cases the tools are being used in teams where not everyone will have the proper knowledge to diagnose.

Thanks if you can help with this in any way!

[2014-01-26 02:30] ajw0100 commented on #285
This is also causing salt-cloud deployments to fail:

`Executing the command '/tmp/.saltcloud/deploy.sh -c /tmp/.saltcloud' failed`

[2014-01-26 15:45] mbj commented on #285
I use the following workaround in my vagrant setup:

[code]

My `bootstrap-salt.sh` file has the following contents:

[code]

I hope this helps others till stable was fixed. The URL I hardcoded references `bootstrap-salt.sh` at tag `1.5.9`.

[2014-01-26 17:57] s0undt3ch commented on #285
I've just released v1.5.11 hopefully solves everyone's problems.

Sorry for the breakage.

Please re-open if this is still a problem.

[2014-01-26 17:57] #285 closed, assigned to nobody

[2014-01-26 18:10] howardroark commented on #285
All is well!

Thanks for this!

[2014-01-26 18:13] ruimarinho opened #288 "Recommended upgrade strategy"
I've been executing a simple command re-run when I want to update salt to the latest git develop update. I've noticed that recent salt-bootstrap version make sure the git clone temporary dir is cleared out before attempting to do so again, but the question remains - what is the recommended way to upgrade the salt (master and/or minion) versions when using the git develop argument?

Thanks for the

[2014-01-26 18:44] s0undt3ch commented on #285
Anytime! Just wished I had seen the left behind commit initially...

[2014-01-26 21:49] scjudd opened #289 "__check_config_dir: not found"
I'm getting the following error when I try to provision Vagrant VMs with Salt:

[code]

I originally filed an issue at mitchellh/vagrant#2894, thinking it was a problem with Vagrant, but @mitchellh said this was an issue with Salt itself. Here is a [github repo](https://github.com/scjudd/salt-test) with the Vagrantfile and Salt root. Any help is greatly appreciated!

[2014-01-26 23:05] s0undt3ch commented on #289
This issue is now fixed in the latest salt-boostrap script, v1.5.11, which is now included into salt's repository, both in the develop and 2014.1 branches.
Sorry for the breakage.

[2014-01-26 23:05] #289 closed, assigned to nobody

[2014-01-31 02:05] m87carlson opened #290 "FreeBSD 10.0 - fetch fails due to SSL"
FreeBSD 10.0's fetch utility has changed from 9.x, it now defaults to check the ssl certificate, so this command fails:

[code]

Fetch can either have this flag passed:

[code]

Or, you can set the environment variable SSL_NO_VERIFY_PEER=1

[2014-01-31 02:19] s0undt3ch commented on #290
Ah! Yes! This makes sense.

[2014-01-31 03:25] #290 closed, assigned to nobody

[2014-01-31 03:29] s0undt3ch commented on #290
@m87carlson Think I can ask you to edit the bootstrap script locally, rename all of `_freebsd_9` occurrences to `_freebsd_10` and run the script to see if the minion get's installed?

If's it's all good, let me know, or, you could also create a pull request which could have the `*_freebsd_10*` just call the `*_freebsd_9*` functions? This way the credit goes to you, as it should.

[2014-01-31 04:04] m87carlson commented on #290
You bet, I've tested that out and it seems to work just fine (created new
freebsd_10 functions that just call freebsd_9)

I'll create a pull request

On Thu, Jan 30, 2014 at 8:29 PM, Pedro Algarvio notifications@github.comwrote:

[2014-01-31 04:24] s0undt3ch commented on #290
Awesome!

[2014-02-01 06:51] thatch45 commented on #69
LOL, I just spent 2 hours trying to bootstrap fedora in salt virt and it does not work because this bug is still open :)

[2014-02-01 08:03] s0undt3ch commented on #69
Well, 11 months for ASAP.... Still valid? :smile:

[2014-02-03 22:25] ConsoleCatzirl opened #294 "Configuration files are being deleted"
The usage says that files in `/etc/salt` should only be affected if the script is passed a `-F` and that you can pass a `-c /path` to use config files in `/path`.

However, on Ubuntu LTS, running (as root)

[code]

results in `/etc/salt` being deleted, the example config file put in place, and new pki keys being generated.

[2014-02-04 15:36] warmwaffles opened #295 "Archlinux salt-bootstrap issue"
This keeps happening to me when ever I try to bootstrap Arch in Vagrant. Here is my Vagrantfile for reference.

[code]

This is what happens when I try to just `vagrant up`

[code]

When I `vagrant ssh` in I ran the following `curl -L https://raw.github.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh | sudo sh -s -- git develop`

Here is the output:

[code]

[2014-02-05 03:59] warmwaffles commented on #295
For now, I just turned off package signing until this gets resolved.

[code]

[2014-02-08 05:31] s0undt3ch commented on #69
Fixed in 1aea3037740e25b23c7ec14e08171529fb625020

[2014-02-08 05:31] #69 closed, assigned to nobody

[2014-02-09 02:26] JasonSwindle commented on #278
Any update?

[2014-02-09 02:39] techhat commented on #278
@JasonSwindle, Salt doesn't install libcloud. When packages are built, the salt-cloud package should install it.

[2014-02-09 05:18] gtmanfred opened #298 "support for other git repositories"
I would love to be able to specify my git repository instead of only pulling from git://github.com/saltstack/salt.git

Thanks
Daniel Wallace

[2014-02-09 05:19] gtmanfred commented on #298
nm, i should have read the script instead of just the README.

[2014-02-09 05:19] #298 closed, assigned to nobody

[2014-02-09 09:07] s0undt3ch commented on #298
Yes, sorry, I really need to bring that into current README.

[2014-02-10 12:15] pwaller commented on #269
The SSL certificate for https://bootstrap.saltstack.com is bad and the instructions for using the bootstrap script are failing.

[code]

![image](https://f.cloud.github.com/assets/438648/2125190/dc3d0b1c-924c-11e3-80f3-1f8d12280513.png)

[2014-02-10 12:35] s0undt3ch commented on #269
![warning](https://f.cloud.github.com/assets/300048/2125323/69e93efc-924f-11e3-9d85-84c166ca735e.png)

As seen on the [`README.rst`](https://github.com/saltstack/salt-bootstrap/blob/develop/README.rst) file, the short URL is provided as a shortcut and is not supposed to work unless you ignore any arising certificate issues.

[2014-02-10 13:12] pwaller commented on #269
Sorry, I did find that later. Why not just remove that and suggest the github URL instead? Why advise users to ignore certificate issues for software which runs as root? :(

[2014-02-10 13:16] s0undt3ch commented on #269
We advise the opposite right on the top, on the message I showed you, the short URL is, as said, a helpful shortcut

[2014-02-10 15:53] jasonkeene commented on #269
Helpful insecure defaults are not helpful.

[2014-02-10 16:04] pwaller commented on #269
I agree with @jasonkeene and also I just went straight to the helpful relevant example I was after, and stopped looking upon seeing what I needed, so having some other text above is unhelpful, even if it does say "Attention!" (not in bold). I found `In case you found a bug, please read I found a bug first before submitting a new issue.` long before I saw `to complain about certificate issues. If t

[2014-02-11 11:41] drzero42 opened #301 "Bootstrap fails on Ubuntu 12.04"
Here is the output when debugging is enabled:

[code]

[2014-02-11 11:56] drzero42 commented on #301
Logfile also available, in more readable form, here: http://pastebin.com/35cftPGp

[2014-02-11 13:06] s0undt3ch commented on #301
[code]

Fixing the problem above does not solve this?

[2014-02-11 13:16] drzero42 commented on #301
_DOH_
Since this problem appeared when salt was being installed by salty vagrant during provisioning of a VM with Vagrant, and salt in there is being used as standalone to develop states, I did not think that the master rejecting the key was of any consequence. But once I went and deleted the entry for the vagrant machines hostname on our salt-master, it now bootstraps fine. Sorry for this useless

[2014-02-11 13:16] #301 closed, assigned to nobody

[2014-02-11 16:24] s0undt3ch commented on #301
No problem, I'm just glad that was the only issue :smile:

[2014-02-12 01:14] ghost opened #302 "minion Bootstrap fails on RHELS 6.5"
Installing salt-minion via bootstrap fails on RedHat Enterprise Linux Server v. 6.5:

[code]

python-jinja and python-jinja2-26 are available (and it still fails after installing python-jinja2-26):

[code]

[2014-02-12 17:24] s0undt3ch commented on #302
@graviboat can I ask you to take a look at that "unary operator expected" error from above?
It's related to the `rhn-channel` code which I believe was implemented by you?

If it's not possible, let me know and I'll dig in...

[2014-02-12 17:50] ghost opened #304 "minion Bootstrap fails on RHEL Workstation 6.5"
[code]

I've seen the same "No dependencies" error in a few other Issues that have since been closed (#22, #55 ) but thought it worth creating an issue because those were closed for other distros.

Installing EPEL and then running yum install salt-minion also fails, but with the same python-jinja2 error as is noted in Issue #302

[code]

[2014-02-12 18:18] s0undt3ch commented on #304
Can you please try using:

[code]

It will give me some additional information. Thanks.

[2014-02-12 20:54] ghost commented on #304
Not much more info to be had, but I hope it helps:

[code]

[2014-02-14 18:49] gravyboat commented on #302
@s0undt3ch This is related to https://github.com/saltstack/salt-bootstrap/issues/198. @alexthegraham did you make sure the RHEL optional repo was enabled for this system? If not it's going to fail every time.

[2014-02-14 18:50] gravyboat commented on #304
@alexthegraham Same questions as https://github.com/saltstack/salt-bootstrap/issues/302, is the RHEL optional repo installed?

[2014-02-14 19:55] pedropaulovc opened #305 "Install multiple minions in one machine"
I'm trying to install and run multiple minions independently in one machine. My goal is to have `/etc/salt` and `/etc/salt-2` config folders and and one daemon running for each configuration.
## Steps attempted

After the first minion is installed:

[code]

No `/etc/salt-2` folder is created. Only one daemon is running using the `/etc/salt` configs.

[code]

No `/etc/salt-2` folder is created. Onl

[2014-02-14 20:20] s0undt3ch commented on #304
The problem here is that we don't tread "Red Hat Enterprise Workstation" as "Red Hat Enterprise", so no functions will be found

[2014-02-14 20:23] ghost commented on #302
Nope. Missed that critical step in the RedHat specific instructions.

Since that's no less important in getting it to install than adding the EPEL repo, it might be worth calling that out in the instructions at the same level.
http://docs.saltstack.com/topics/installation/rhel.html

Any reason that step is not included in the bootstrap?

[2014-02-14 20:25] ghost commented on #304
Enabling the optional repo allows "yum install salt-minion" to work, but doesn't correct the OP "ERROR: No dependencies installation function found." problem.

[2014-02-14 20:36] s0undt3ch commented on #304
@alexthegraham can I ask you for a temporary ssh access to a workstation machine?

If not, does one of those have the `lsb_release` binary available?
What's the output of `lsb_release -si`?